= title_and_content_header("Confirmation Instructions")

%p.title_desc= "You will receive an email with the confirmation instructions."

= form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "main_form p_bottom" } do |f|

  .entry.email
    = f.label :email, "", class: "icon"
    = f.email_field :email, class: "text", placeholder: "Email", required: true

  .entry.continue= f.submit "Resend", class: 'submit blue_button'
  .spacer
