- @no_reply = true

%p Thank you for taking the time to evaluate SublimeVideo! We hope you're enjoying your trial.

%p
  = raw "We'd like to remind you that your #{BusinessModel.days_for_trial}-day free trial for the #{@billable_item.item.title} add-on"
  - if @site.hostname?
    = raw "(for #{link_to @site.hostname, url_with_protocol(@site.hostname)})"
  = raw "<strong>will expire on #{l(@site.trial_end_date_for_billable_item(@billable_item.item).tomorrow, format: :named_date)}</strong>."

- if @user.cc?
  %p= raw "Charging will start automatically on #{l(@site.trial_end_date_for_billable_item(@billable_item.item).next_month.beginning_of_month, format: :named_date)}."

- else
  %p= raw "Please make sure to #{link_to('provide valid credit card details', edit_billing_url)} to continue enjoying your #{@billable_item.item.title} addon."

  %p= raw "If you do not enter valid credit card details before #{l(@site.trial_end_date_for_billable_item(@billable_item.item).tomorrow, format: :named_date)} your addon will be <strong>disabled</strong>."

%p= raw "If you run into any issues or need additional help please visit our #{link_to('Help', page_url('help', subdomain: false))} page or reply to this email."

%p Thanks again for continuing to evaluate SublimeVideo.
