<p>Your <%= @site.plan.name.titleize %> plan's <strong><%= BusinessModel.days_for_trial %>-day free</strong> trial for <%= @site.hostname %> has started.</p>

<% if @user.cc? %>

<p>You'll see your first bill of <%= display_amount(@site.plan.price(@site)) %><%= " (excl. VAT)" if @user.vat? %> on <%= l(@site.trial_end.tomorrow, format: :named_date) %>, when the trial is over. You can <%= link_to("downgrade", edit_site_plan_url(@site)) %> to our Free plan at any time before the end of the trial and we won't charge you anything.</p>

<p>Thank you for choosing SublimeVideo!</p>

<% else %>

<p>In order to continue enjoying all of your <%= @site.plan.name.titleize %> plan's features without any interruption after the trial ends, you'll need to provide valid credit card details within the next <%= BusinessModel.days_for_trial %> days via the following link:</p>

<p><%= link_to(edit_billing_url, edit_billing_url) %></p>

<p>We'll remind you about this again when your <%= BusinessModel.days_for_trial %>-day free trial is almost over.</p>

<p>Thank you for evaluating SublimeVideo!</p>

<% end %>
