%p
  = raw "Your <strong>#{BusinessModel.days_for_trial}-day free trial</strong>"
  - if @site.hostname?
    = raw "for #{link_to @site.hostname, url_with_protocol(@site.hostname)}"
  has started.

- if @user.cc?
  %p= raw "In order to continue enjoying all of SublimeVideo features without any interruptions after your trial ends, you'll need to #{link_to("choose a plan", edit_site_plan_url(@site))} for your site before #{l(@site.trial_end.tomorrow, format: :named_date)}."
- else
  %p= raw "In order to continue enjoying all of SublimeVideo features without any interruptions after your trial ends, you'll need to #{link_to('provide valid credit card details', edit_billing_url)} and #{link_to("choose a plan", edit_site_plan_url(@site))} for your site before #{l(@site.trial_end.tomorrow, format: :named_date)}."

  %p= "We'll send you another reminder about this when your #{BusinessModel.days_for_trial}-day free trial is almost over."

  %p Thank you for evaluating SublimeVideo!
