%table.main#referrers
  %tr
    %th URL
    %th= link_to_sort :badge_hits, label: 'Clicks on badge', default_way: 'desc'
    %th= link_to_sort :contextual_hits, label: 'Clicks on HTML5/Flash toggle', default_way: 'desc'
    %th= link_to_sort :created_at, label: 'First activity', default_way: 'desc'
    %th= link_to_sort :updated_at, label: 'Latest activity', default_way: 'desc', default: true
  = render @referrers

.pagination_wrap
  = paginate @referrers, theme: 'admin'
  = page_entries_info @referrers
