%p= raw "The Stats export you requested for #{link_to @site.hostname, url_with_protocol(@site.hostname)} from <strong>#{@from_date}</strong> to <strong>#{@to_date}</strong> has been successfully processed. You can download it via the following link:"

%p= raw link_to(stats_export_url(@stats_export), stats_export_url(@stats_export))

%p Thank you for using SublimeVideo's Statistics!
