%table.main#tweets
  %tr
    %th= "Keywords"
    %th= "Fav"
    %th= "Tweet"
    -#%th= link_to_sort :retweets_count, label: "Retweets"
    %th= link_to_sort :date, default_way: 'desc', default: true, label: "Created at"
  = render @tweets

.pagination_wrap
  = paginate @tweets, theme: 'admin'
  = page_entries_info @tweets
