%tr[tailor_made_player_request]{ class: cycle("", "alt") }
  %td.id= tailor_made_player_request.id

  %td.name
    %small= link_to tailor_made_player_request.name, [:admin, tailor_made_player_request]

  %td.email
    %small= link_to tailor_made_player_request.email, [:admin, tailor_made_player_request]

  %td.job_title
    %small= link_to tailor_made_player_request.job_title.titleize, [:admin, tailor_made_player_request]

  %td.company
    %small= link_to(tailor_made_player_request.company.titleize, url_with_protocol(tailor_made_player_request.url), onclick: "window.open(this); return false")

  %td.topic
    %small= link_to tailor_made_player_request.topic.titleize, [:admin, tailor_made_player_request]

  %td.description
    %small= link_to simple_format(truncate(tailor_made_player_request.description, length: 250)), [:admin, tailor_made_player_request]

  %td.document
    %small= display_bool(tailor_made_player_request.document?)

  %td.created_at
    %small= display_date(tailor_made_player_request.created_at)
