= title_and_content_header "Tailor-made player request: ##{@tailor_made_player_request.id}"

%p
  %strong Received on:
  = display_date(@tailor_made_player_request.created_at)

%p
  %strong Name & email:
  = raw "#{@tailor_made_player_request.name} <#{mail_to @tailor_made_player_request.email, @tailor_made_player_request.email}>"

%p
  %strong Country:
  = Country[@tailor_made_player_request.country].name

%p
- if @tailor_made_player_request.job_title?
  %strong Company & position:
  = raw "#{@tailor_made_player_request.job_title.titleize} at #{@tailor_made_player_request.company.titleize}"
- else
  %strong Company:
  = @tailor_made_player_request.company.titleize

%p
  %strong Website URL:
  = link_to(@tailor_made_player_request.url, url_with_protocol(@tailor_made_player_request.url))

%p
  %strong Request type:
  = @tailor_made_player_request.topic.titleize
  = ", main agency: #{@tailor_made_player_request.topic_standalone_detail}" if @tailor_made_player_request.topic_standalone_detail?
  = ": #{@tailor_made_player_request.topic_other_detail}" if @tailor_made_player_request.topic_other_detail?

%p
  %strong Description:
  = simple_format(@tailor_made_player_request.description)

%p
  %strong Attached document:
  = @tailor_made_player_request.document? ? link_to('View document', @tailor_made_player_request.document[:url]) : 'N/A'

%p
  %strong Highrise case:
  = link_to "https://jilion.highrisehq.com/kases/#{@tailor_made_player_request.highrise_kase_id}", "https://jilion.highrisehq.com/kases/#{@tailor_made_player_request.highrise_kase_id}"

%br
%hr
%br

.delete= button_to('Delete', [:admin, @tailor_made_player_request], data: { confirm: 'Are you sure?' }, method: :delete)

%p= link_to "Back to requests", [:admin, :tailor_made_player_requests]
