%tr{ :class => cycle("", "alt") }
  %td.email
    = mail_to enthusiast.email
  %td.sites
    = raw enthusiast.sites.map{ |s| link_to(s.hostname, "http://#{s.hostname}") }.join(', ')
  %td.status
    - if enthusiast.user.present?
      - if [:invitation_sent_at, :encrypted_password].all? { |field| enthusiast.user.send(field).present? } && enthusiast.user.invitation_token.nil?
        = link_to "Registered (##{enthusiast.user.id})", admin_user_path(enthusiast.user)
      - elsif enthusiast.user.invited?
        = "Invited"
    - else
      = "Not invited"
      = form_for User.new(:email => enthusiast.email, :enthusiast_id => enthusiast.id), :as => :user, :url => invitation_path(:user), :html => { :method => :post } do |f|
        = f.hidden_field :email
        = f.hidden_field :enthusiast_id
        = f.submit "Invite now!", :confirm => "Are you sure?", :class => "submit small"