.pagination_wrap
  = page_entries_info @enthusiasts
  = paginate @enthusiasts, theme: 'admin'

%table.main#enthusiasts
  %tr
    %th= link_to_sort(:email)
    %th= "User"
    %th= "Sites"
    %th= "Comment"
    %th= link_to_sort(:date, reverse: true, default: true)
    %th= link_to_sort(:invited)

  = render @enthusiasts

.pagination_wrap
  = paginate @enthusiasts, theme: 'admin'
  = page_entries_info @enthusiasts
