- all_enthusiasts = Enthusiast.all

= link_to("#{all_enthusiasts.select { |e| e.starred? }.size} Starred", admin_enthusiasts_path(starred: true))
= " | "
= link_to("#{all_enthusiasts.select { |e| e.invited_at.present? }.size} Invited", admin_enthusiasts_path(invited: true))
= " | "
= link_to("#{all_enthusiasts.select { |e| e.interested_in_beta? }.size} Interested in beta", admin_enthusiasts_path(interested_in_beta: true))
= " | "
= link_to("#{all_enthusiasts.select { |e| e.confirmed? && e.interested_in_beta? }.size} Confirmed & Interested in beta", admin_enthusiasts_path(interested_in_beta: true, confirmed: true))
= " | "
= link_to("#{all_enthusiasts.select { |e| e.confirmed? && e.interested_in_beta? && e.invited_at.blank? }.size} Not Invited yet & Confirmed & Interested in beta", admin_enthusiasts_path(interested_in_beta: true, confirmed: true, not_invited: true))

%br

= link_to("#{all_enthusiasts.select { |e| e.confirmed? }.size} Confirmed", admin_enthusiasts_path(confirmed: true))
= " | "
= link_to("#{all_enthusiasts.select { |e| !e.confirmed? }.size} Not confirmed", admin_enthusiasts_path(not_confirmed: true))
= " | "
= link_to("All (#{all_enthusiasts.size})", admin_enthusiasts_path)