= title("Enthusiast ##{@enthusiast.id}")

.status
  %h3= "Status"
  -#%br
  -#.starred
  -#  %strong= "Starred:"
  -#  %span{ id: "star_enthusiast_#{@enthusiast.id}" }
  -#    = render "star_form", enthusiast: @enthusiast
  -#%br

  .invited
    - if @enthusiast.interested_in_beta && @enthusiast.confirmed? && @enthusiast.invited_at?
      = "Invited on #{display_time(@enthusiast.invited_at)}"
    - else
      = "Not interested in beta or not confirmed."

%br
%hr
%br

.info
  %h3= "Information"
  %br
  .confirmed
    %strong= "Confirmed:"
    = display_bool(@enthusiast.confirmed?)
  .interested_in_beta
    %strong= "Interested in beta:"
    = display_bool(@enthusiast.interested_in_beta)
  %br

  .email
    %strong= "Email:"
    = mail_to @enthusiast.email
  %br

  .user
    %strong= "Linked user:"
    - if @enthusiast.user
      = link_to(@enthusiast.user.name_or_email, admin_user_path(@enthusiast.user))
    - else
      = "No user"
  %br

  .free_text
    %strong= "Comment:"
    %p
      - if @enthusiast.free_text.present?
        = @enthusiast.free_text
      - else
        = "No comment."
  %br

  .remote_ip
    %strong= "IP:"
    = @enthusiast.remote_ip

%br
%hr
%br

.sites
  %h3= "Sites"
  %br
  - if @enthusiast.sites.present?
    = render 'admin/enthusiast_sites/enthusiast_sites', sites: @enthusiast.sites
  - else
    = "No sites."
%br

%p= link_to("Back to the list", admin_enthusiasts_path)