- title 'Add a site'
= content_header 'Setup assistant'

#site.new
  = render 'assistant/step_guide', current_step: 'new_site'
  = form_for @site, url: url_for, html: { class: 'full' } do |f|
    %h3.assistant_title On which site do you need a SublimeVideo player?
    = render 'sites/fields', site: @site, f: f
    = render 'assistant/next_box', display_exit: false
