- title "Create a player for #{hostname_or_token(@site)}"
= content_header 'Setup assistant'

= render 'assistant/step_guide', current_step: 'player'

#kit.edit.assistant
  %h3.assistant_title= "Create a player for #{hostname_or_token(@site)}"
  = form_for @kit, url: url_for, html: { class: 'kit_editor disableable' } do |f|
    = render 'kits/form', f: f, site: @site, kit: @kit, design: @design
    = render 'assistant/next_box', display_exit: true
