- title "Summary for #{hostname_or_token(@site)}"
= content_header 'Setup assistant'

= render 'assistant/step_guide', current_step: 'summary'

#summary.assistant
  %h3.assistant_title= "Summary for #{hostname_or_token(@site)}"
  %form
    .white_box
      %p= "Congratulations! You're now ready to use SublimeVideo on #{hostname_or_token(@site)}."

      %p You just need to put the following loader code in the header of your site:
      .embed_code.entry= text_area_tag '', sublimevideo_script_tag_for(@site), readonly: true, onclick: "this.focus();this.select();"

      - unless params[:lightbox_code_for_textarea].blank?
        %p Then insert the following Lightbox-opening trigger code in the page you want to publish it:
        .embed_code.entry= text_area_tag '', params[:lightbox_code_for_textarea], readonly: true, onclick: "this.focus();this.select();"

      - if params[:lightbox_code_for_textarea].blank?
        %p as well as the following video code in the page you want to publish it:
      - else
        %p as well as the following video code (anywhere in your page since it will be initially hidden):
      .video_code.entry= text_area_tag '', params[:video_code_for_textarea], readonly: true, onclick: "this.focus();this.select();"

      %p
        You can always access and change any setting from the
        = link_to 'My Sites', sites_path, class: 'hl'
        page.
    .actions.center
      = link_to 'Done', :sites, class: 'submit green_button'
