- title "Summary for #{hostname_or_token(@site)}"
= content_header 'Setup assistant'

= render 'assistant/step_guide', current_step: 'summary'

#summary.assistant
  %h3.assistant_title= "Summary for #{hostname_or_token(@site)}"
  %form
    .white_box
      %p= "Congratulations! You're now ready to use SublimeVideo on #{hostname_or_token(@site)}."

      %p You just need to put the following loader code in the header of your site:
      .entry
        %textarea
          Some code...

      %p as well as the following video code in the page you want to publish it:
      .entry
        %textarea
          Some code...

      %p You can always access and change any setting from the My Sites page.
    .actions.center
      = link_to 'Done', :sites, class: 'submit green_button'
