= title_and_content_header("Mail sent on #{l(@mail_log.created_at, :format => :short)} to #{pluralize(@mail_log.user_ids.size, 'users')} by #{@mail_log.admin.email}")

%p
  %strong= "Template used: "
  = "'#{@mail_log.snapshot[:title]}'"

%br

%h3= "Mail content"
%br

%p
  %strong= "Subject: "
  = @mail_log.snapshot[:subject]
%br

= raw @mail_log.snapshot[:body]

%br
%hr
%br

%h3= "Raw data"
%br

%ul
  %li= "Admin id: #{@mail_log.admin_id} (#{@mail_log.admin.email})"
  %li
    = "Template id: "
    = link_to(@mail_log.template_id, edit_admin_mail_template_path(@mail_log.template))
  %li= "Criteria: #{@mail_log.criteria.inspect}"

%br
%hr
%br

%p= link_to "Back to mails", admin_mails_path
