- if current_user.cc?
  #credit_card_summary.site{ style: site.in_free_plan? ? "display:none;" : "" }
    - if current_user.cc_expired?
      %p.warning
        = t "user.credit_card.expired"
        = t(:please_link, link: link_to("update it", [:edit, :billing])) + "."
    %h3.title Credit Card Information
    = render 'billings/summary'
    %p= link_to "Update credit card", [:edit, :billing]
- else
  - cc_errors = site.errors.find_all { |k,v| k.to_s =~ /user.cc_\w+/ }
  #credit_card
    - if cc_errors.present?
      .inline_errors
        %span= cc_errors

    %h3.title
      Credit Card Information
      = " (Optional)" if site.trial_not_started_or_in_trial?

    #credit_card_box
      = f.fields_for :user_attributes, site.user do |ff|
        = ff.hidden_field :cc_register, value: 0
        = render 'billings/fields', f: ff
