= content_for :title do
  = "Edit my account"

%h2= "Edit my account"

- @user ||= current_user

-#- if @user has credit_card

#credit_card_summary
  %h3.section_title= "Billing Info"
  %p.mastercard= "Mastercard ending in <strong>3746</strong> #{ link_to 'Update credit card', '/edit_credit_card_path' }".html_safe
  
-#- end

= form_for @user, :html => { :class => "main_form section" } do |f|
  %h3.section_title= "Full name"
  .entry.full_name
    = f.label :full_name, "", :class => "icon"
    = f.text_field :full_name, :class => "text", :placeholder => "Full name", :required => true
  
  .entry.update
    = f.submit "Update", :id => 'user_email_submit', :class => "small"
  
.spacer

- resource ||= current_user
- resource_name ||= :user

= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "main_form" } do |f|
  
  %h3.section_title= "Email & Password"
  .entry.email
    = f.label :email, "", :class => "icon"
    = f.email_field :email, :class => "text", :placeholder => "Email", :required => true
  
  %p.note= "We need your current password to confirm your changes"
  .entry.password
    = f.label :current_password, "", :class => "icon"
    = f.password_field :current_password, :class => "text show_password", :placeholder => "Current password", :required => true
  
  %p.note= "Leave blank if you don't want to change it"
  .entry.password
    = f.label :password, "", :class => "icon"
    = f.password_field :password, :class => "text show_password", :placeholder => "New password", :required => true
  
  .entry.update
    = f.submit "Update", :class => "small"

-# %h3 Cancel my account
-# 
-# %p
-#   = "Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}."