= content_for :title do
  Edit my account

%h2 Edit my account

- @user ||= current_user
= form_for @user do |f|
  %p= f.label :full_name
  %p= f.text_field :full_name
  %p= f.submit 'Update', :id => 'user_email_submit'

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  
  %p= f.label :email
  %p= f.text_field :email, :type => :email
  
  %p
    = f.label :current_password
    %i (we need your current password to confirm your changes)
  %p= f.password_field :current_password, :class => "show_password"
  
  %p
    = f.label :password
    %i (leave blank if you don't want to change it)
  %p= f.password_field :password, :class => "show_password"
  
  %p= f.submit "Update"
  
-# %h3 Cancel my account
-# 
-# %p
-#   = "Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}."

%p= link_to "Back", :back