
= content_for :title do
  = "Edit my account"

%h2= "Edit my account"

- if current_user.credit_card?
  #credit_card_summary
    %h3.section_title= "Billing Info"
    %p{ :class => current_user.cc_type }<
      = "#{current_user.credit_card_name} ending in <strong>#{current_user.cc_last_digits}</strong>".html_safe
      = link_to 'Change credit card', edit_credit_card_path

= render 'users/full_name_form'
.spacer

- resource ||= current_user
- resource_name ||= :user
= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "main_form section" } do |f|
  
  %h3.section_title= "Email & Password"
  .entry.email
    = f.label :email, "", :class => "icon"
    = f.email_field :email, :class => "text", :placeholder => "Email", :required => true
  
  %p.note= "Leave blank if you don't want to change it"
  .entry.password
    = f.label :password, "", :class => "icon"
    = f.password_field :password, :class => "text show_password", :placeholder => "New password"
  
  %p.note= "We need your current password to confirm your changes"
  .entry.password
    = f.label :current_password, "", :class => "icon"
    = f.password_field :current_password, :class => "text show_password", :placeholder => "Current password", :required => true
  
  .entry.update
    = f.submit "Update", :class => "submit small"
.spacer

= render 'users/email_notifications_form'


-# %h3 Cancel my account
-# 
-# %p
-#   = "Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}."
