- custom_logo = Addons::CustomLogo.new(kit)
- current_type = parameters[:settings].try(:[], :logo).try(:[], :type) || parameters[:addon_plan_settings][:type][:default]

.entry.custom_logo_fields{ style: current_type == 'sv' ? 'display:none' : nil }
  #preview_custom_logo= display_custom_logo(parameters[:value])
  #container{ data: { spinner: true } }
    .spacer
    %p.note Only PNG files are accepted. Double the size of the image (@2x) to allow optimal rendering on Retina® displays.
    #dragdrop
      Drag & drop your logo here or
      %a#pickfiles.hl{ href: '#' } select a file from your computer...
    #notices
    #spinner
  .spacer

  :coffee
    MySublimeVideo.uploader = new MySublimeVideo.Helpers.Uploaders.CustomLogoUploader
      url: '#{process_custom_logo_site_kit_path(kit.site, kit)}'
      extensions: 'png'
      title: 'Custom logo'
      multipart_parameters:
        old_custom_logo_path: '#{cdn_path_from_full_url(parameters[:value])}'
  = hidden_field_tag kit_setting_input_field_name(parameters), parameters[:value], id: kit_setting_input_field_id(parameters), class: 'previewable', data: kit_setting_data(parameters)

.entry= parameters[:presenter].render_input_field(setting_key: 'position', show_title: true, partial: 'logo/corners_position_radios')

.entry
  = parameters[:presenter].render_input_field(setting_key: 'visibility', show_title: true)

.entry.custom_logo_fields{ style: current_type == 'sv' ? 'display:none' : nil }
  = parameters[:presenter].render_input_field(setting_key: 'link_url')
.spacer
