- custom_logo = Addons::CustomLogo.new(kit)
- current_type = params[:settings].try(:[], :logo).try(:[], :type) || params[:settings_template][:type][:default]

.entry.custom_logo_fields{ style: current_type == 'sv' ? 'display:none' : nil }
  #preview_custom_logo= display_custom_logo(params[:value])
  #container{ data: { spinner: true } }
    .spacer
    %p.note Only PNG files are accepted. Double the size of the image (@2x) to allow optimal rendering on Retina® displays.
    #dragdrop
      Drag & drop your logo here or
      %a#pickfiles.hl{ href: '#' } select a file from your computer...
    #notices
    #spinner
  .spacer

  :coffeescript
    MySublimeVideo.uploader = new MySublimeVideo.Helpers.Uploaders.CustomLogoUploader
      url: '#{process_custom_logo_site_kit_path(kit.site, kit)}'
      extensions: 'png'
      title: 'Custom logo'
      multipart_params:
        old_custom_logo_path: '#{cdn_path_from_full_url(params[:value])}'
  = hidden_field_tag kit_setting_input_field_name(params), params[:value], id: kit_setting_input_field_id(params), class: 'previewable', data: kit_setting_data(params)

.entry= params[:presenter].render_input_field(setting_key: :position, show_title: true, partial: 'logo/corners_position_radios')

.entry= params[:presenter].render_input_field(setting_key: :visibility, translation_key: :visibility_custom, show_title: true)

.entry.custom_logo_fields{ style: current_type == 'sv' ? 'display:none' : nil }
  = params[:presenter].render_input_field(setting_key: :link_url)
.spacer
