%table#detail
  %tr
    %th.left= "Item"
    %th.left= "Period"
    %th= "Amount (US $)"
  - invoice.invoice_items.each do |invoice_item|
    %tr
      %td.title
        %h3= invoice_item_title(invoice_item)
      %td
        %p.period
          = invoice_item_dates(invoice_item)
          - if invoice_item.discounted_percentage?
            - if invoice_item.deal
              = "(-#{number_to_percentage(invoice_item.discounted_percentage * 100.0, precision: 0)} promotional discount)"
            - else
              = "(-#{number_to_percentage(invoice_item.discounted_percentage * 100.0, precision: 0)} beta discount)"
      %td.total= display_amount(invoice_item.amount, decimals: 2)

  %tr.pre_total
    %td.right{ colspan: 2 }= "VAT #{display_percentage(invoice.vat_rate)}:"
    %td.total= display_amount(invoice.vat_amount, decimals: 2)

  - if invoice.balance_deduction_amount > 0
    %tr.pre_total
      %td.right{ colspan: 2 }= "From your balance:"
      %td.total= "-#{display_amount(invoice.balance_deduction_amount, decimals: 2)}"

  %tr.final_total
    %td.right{ colspan: 2 }
      %strong Total
    %td.total
      %strong= display_amount(invoice.amount, decimals: 2)
