%tr.break
  %td{ :colspan => 4 }
%tr{ :class => cycle("", "alt") + (invoice.current? ? "current" : "") }
  %td.id= invoice.current? ? "— —" : "A0OIL173H7"
  %td.date
    - case invoice.state
    - when 'current'
      %strong= "Current usage"
    - when 'pending'
    
    - when 'charged'
      %em= "Charged on"
      %strong=l invoice.charged_at, :format => :date
  %td.usage
    .row.player
      %h4= "Player"
      .right
        %strong.price= cents_to_dollars(invoice.sites_amount)
        = link_to "/show_player_hits_details", :class => "view_details" do
          %span= "View player details"
    .row.videos
      %h4= "Videos"
      .right
        %strong.price= cents_to_dollars(invoice.videos_amount)
        = link_to "/show_video_details", :class => "view_details" do
          %span= "View video details"
  %td.total
    %strong= cents_to_dollars(invoice.amount)
