%table.billing#invoices
  %colgroup
    - 2.times do
      %col.odd
      %col.even
  %tr
    %th.id= "#"
    %th.date= "Date"
    %th.usage= "Usage"
    %th.total= "Total"
  = render Invoice.current(current_user)
  = render @invoices
  %tr.break
    %td{ :colspan => 4 }