%h4= "Plan - #{plan_invoice_item.item.name.humanize}"
%table{ :border => 1 }
  %tr
    %td.date
      %span= invoice_item_dates(plan_invoice_item)
    %td.calculation
      %span= "#{display_amount(plan_invoice_item.price)} per month x #{display_percentage(plan_invoice_item.percentage)} ="
    %td.amount
      %span= display_amount(plan_invoice_item.amount)