%table#detail
  %tr
    %th.left= "Plan"
    %th.left= "Details"
    %th= "Amount (US $)"
  - invoice.invoice_items.each do |invoice_item|
    %tr
      %td.title
        %h3= invoice_item.item.title(always_with_cycle: true)
      = render "/invoices/plan_invoice_item", :plan_invoice_item => invoice_item

  = render "/invoices/total", :invoice => invoice
