%table#detail
  %tr
    %th.left= "Site"
    %th.left= "Details"
    %th= "Amount (US $)"
  - invoice_items_grouped_by_site(invoice).each do |site, invoice_items|
    - plan_invoice_item = get_plan_invoice_item(invoice_items)
    %tr
      %td.title
        %h3= site.hostname

      = render "/invoices/plan_invoice_item", :plan_invoice_item => plan_invoice_item
    -# %tr.subtotal
    -#   %td.right{ :colspan => 2 }
    -#     = "Subtotal for"
    -#     %strong= site.hostname
    -#   %td.total= display_amount(plan_invoice_item.amount)
  = render "/invoices/total", :invoice => invoice
