= content_for :title do
  = "Billing reports"
  
= content_for :content_header do
  %h2= "Billing reports"
  %p.title_desc= "This page shows your service usage charges report. The first row indicate your current usage. We will be charge you only when your usage reach $5.00 in the current month."
  .spacer_border
  
= render 'invoices'