= title_and_content_header(truncate_middle(@site.hostname.present? ? @site.hostname : "Edit site", :length => 23))

#site.edit
  %ul.segmented_menu
    %li.first= link_to "Settings", edit_site_path(@site), :onclick => "MySublimeVideo.makeSticky(this, '.segmented_menu')"
    %li= link_to "Change plan", edit_site_plan_path(@site), :onclick => "MySublimeVideo.makeSticky(this, '.segmented_menu')"
    %li.last.active= link_to "Invoices", site_invoices_path(@site), :onclick => "MySublimeVideo.makeSticky(this, '.segmented_menu')"

  #invoices
    - if @site.in_paid_plan? || (@site.next_cycle_plan_id? && @site.next_cycle_plan.paid_plan?)
      %h3.section_title= "Next invoice"
      - next_invoice = Invoice.build_next(site: @site)
      %p= raw "#{content_tag(:strong, display_amount(next_invoice.amount))} on #{invoice_dates(next_invoice)}."

    %h3.section_title= "Past invoices"
    - if @invoices.present?
      %ul
        - @invoices.by_date.each do |invoice|
          %li
            %p= raw "#{content_tag(:strong, display_amount(invoice.amount))} on #{invoice_dates(invoice)}."
            %p{ :class => "status " + (invoice.failed? ? "failed" : "") }= "Status: #{charging_status(invoice)}."
            .right
              = link_to("view details", invoice_path(invoice), :onclick => "window.open(this); return false", :class => "details")
    - else
      %p= 'None.'
    .spacer
