= content_for :title do
  = "Billing reports"
  
= content_for :content_header do
  %h2= "Billing reports"
  %p.title_desc= "This page currently shows your service usage charges report. The first row indicate your current usage."
  .spacer_border
  
= render "invoices"