= title_and_content_header(truncate_middle(@site.hostname.present? ? @site.hostname : "Edit site", :length => 23))

#site.edit
  = render '/layouts/segmented_menu'
  #invoices
    - if @site.in_paid_plan? || (@site.next_cycle_plan_id? && @site.next_cycle_plan.paid_plan?)
      %h3.section_title= "Next invoice"
      - next_invoice = Invoice.build_next(site: @site)
      %p= raw "#{content_tag(:strong, display_amount(next_invoice.amount))} on #{invoice_dates(next_invoice)}."

    %h3.section_title= "Past invoices"
    - if @invoices.present?
      %ul
        - @invoices.by_date.each do |invoice|
          %li
            = render 'invoice_row', :invoice => invoice
    - else
      %p= 'None.'
    .spacer
