= title(@site.hostname? ? "Invoices for #{truncate_middle(@site.hostname || "##{@site.token}", length: 23)}" : "Site invoices")
= content_header(site_quick_switch_trigger(@site))

#site.edit
  = render '/layouts/site_quick_switch'
  = render '/layouts/segmented_menu'

  - if @invoices.empty?
    #no_invoices
      %p= "No invoices"

  - else
    #invoices_summary
      - if @site.invoices_failed? || @site.invoices_open?
        .failed_invoices
          - if @site.invoices_failed?
            - failed_invoices = @invoices.select { |invoice| invoice.failed? }
            %p.desc
              = raw t('site.invoices.count_failed_invoices_with_total_amount', count: failed_invoices.count, total_amount: display_amount(failed_invoices.sum(&:amount)))

          - if @site.invoices_open?
            - open_invoices = @invoices.select { |invoice| invoice.open? }
            %p.desc
              = raw t('site.invoices.count_open_invoices_with_total_amount', count: open_invoices.count, total_amount: display_amount(open_invoices.sum(&:amount)))

          - if !current_user.cc?
            %p
              = "Please"
              = link_to "add a valid credit card", edit_credit_card_path, class: "hl"
              = t('user.payment.retry_here')
          - elsif current_user.cc_expired?
            %p
              = t('user.credit_card.expired')
              = raw t("please_link", link: link_to("update your credit card", edit_credit_card_path, class: "hl"))
              = t('user.payment.retry_here')
          - else
            %p
              = "If necessary"
              = link_to "update your credit card", edit_credit_card_path, class: "hl"
              = "and then retry the payment via the button below."

            = form_for @site, url: retry_site_invoices_path(site_id: @site.to_param), html: { method: 'put' } do |f|
              .entry= f.submit t('site.invoices.retry_invoices'), class: "submit_dynamic_button"

      - if @site.in_paid_plan? && (!@site.next_cycle_plan_id? || @site.next_cycle_plan.paid_plan?)
        .next_invoice
          %h3.section_title= "Next invoice"
          - next_plan = @site.next_cycle_plan || @site.plan
          %p
            = raw "#{content_tag(:strong, display_amount(next_plan.price))}"
            = "(excl. VAT)" if current_user.vat?
            = " on #{l(@invoices.first.paid_plan_invoice_item.ended_at.tomorrow, format: :d_b_Y)}."
      .past_invoices
        %h3.section_title= "Past invoices"
        %ul
          - @invoices.each do |invoice|
            %li= render 'invoice_row', invoice: invoice
  .spacer
