= title("Invoices for #{truncate_middle(@site.hostname || "##{@site.token}", :length => 23)}")
= content_header(truncate_middle(@site.hostname.present? ? @site.hostname : "Edit site", :length => 23))

#site.edit
  = render '/layouts/segmented_menu'

  - if @invoices.empty?
    #no_invoices
      %p= "No invoices"

  - else
    #invoices_summary
      - failed_invoices = @invoices.select { |invoice| invoice.failed? }
      - if failed_invoices.present?
        .failed_invoices
          %p.desc
            = raw t('site.invoices.count_failed_invoices_with_total_amount', count: failed_invoices.count, total_amount: display_amount(failed_invoices.sum(&:amount)))
            - if current_user.cc_expired?
              = t('user.credit_card.expired')
              = link_to t('user.credit_card.please_update'), edit_credit_card_path, :class => "hl"
          - unless current_user.cc_expired?
            = form_for @site, :url => retry_site_invoices_path(site_id: @site.to_param), :html => { :method => 'put' } do |f|
              .entry= f.submit t('site.invoices.retry_failed_invoices'), :class => "submit_dynamic_button"

      - if @site.in_paid_plan? || (@site.next_cycle_plan_id? && @site.next_cycle_plan.paid_plan?)
        .next_invoice
          %h3.section_title= "Next invoice"
          - next_plan = @site.next_cycle_plan || @site.pending_plan || @site.plan
          %p= raw "#{content_tag(:strong, display_amount(next_plan.price))} on #{l(@site.plan_cycle_ended_at.tomorrow, :format => :d_b_Y)}."
      .past_invoices
        %h3.section_title= "Past invoices"
        %ul
          - @invoices.by_date.each do |invoice|
            %li= render 'invoice_row', :invoice => invoice
  .spacer
