- title(@site.hostname? ? "Invoices for #{hostname_or_token(@site)}" : "Site invoices")
= render '/layouts/sites_select_title'

#site.invoices
  = render '/layouts/segmented_menu'

  - if @invoices.empty?
    #no_invoices
      %p= "No invoices"

  - else
    #invoices_summary.content_left
      - if @site.invoices_failed?
        .failed_invoices
          - failed_invoices = @invoices.select { |invoice| invoice.failed? }
          %p.top.desc
            = raw t('invoice.count_failed_invoices_with_total_amount', count: failed_invoices.size, total_amount: display_amount(failed_invoices.sum(&:amount)))

          - if !current_user.cc?
            %p.desc
              = raw t("app.please_link", link: link_to("add a valid credit card", [:edit, :billing], class: "hl"))
              = t('user.payment.retry_here')
          - elsif current_user.cc_expired?
            %p.desc
              = t('user.credit_card.expired')
              = raw t("app.please_link", link: link_to("update your credit card", [:edit, :billing], class: "hl"))
              = t('user.payment.retry_here')
          - else
            -# - if @site.invoices_open?
            -#   = "Open invoices are automatically charged on your credit card, but you can still pay them manually if you prefer."
            -# - else
            %p.desc
              = "If necessary,"
              = link_to "update your credit card", [:edit, :billing], class: "hl"
              = "and then retry the payment via the button below."

            %h3.section_title Current credit card on file
            #credit_card_summary.dark_box
              = render 'billings/cc_summary', user: current_user

            = form_for @site, url: retry_site_invoices_path(site_id: @site.to_param), html: { method: 'put' } do |f|
              .entry.update= f.submit t('invoice.pay_invoices_above'), class: "blue_button"

      - if @site.in_paid_plan? && (!@site.next_cycle_plan_id? || @site.next_cycle_plan.paid_plan?)
        .next_invoice.dark_box
          %h3.section_title= "Next invoice"
          - next_plan = @site.next_cycle_plan || @site.plan
          %p
            = raw "#{content_tag(:strong, display_amount(next_plan.price))}"
            = "(excl. VAT)" if current_user.vat?
            = " on #{l(@invoices.first.paid_plan_invoice_item.ended_at.tomorrow, format: :d_b_Y)}."
      .past_invoices.dark_box
        %h3.section_title= "Past invoices"
        %ul
          - @invoices.each do |invoice|
            %li= render 'invoice_row', invoice: invoice
  .spacer
