- invoice ||= @invoice
= title_and_content_header("SublimeVideo Invoice: #{invoice_dates(invoice)}")

%h3.title= "For #{invoice.site_hostname}"

%table#header
  %tr
    %td.our_info
      = render "invoices/our_billing_info", invoice: invoice

      .invoice_info
        %p
          %strong= "Invoice ID:"
          = invoice.reference.upcase
        %p
          %strong= "Status: "
          = charging_status(invoice)
        %p
          %strong= "Site token: "
          = invoice.site.token
        %span.stamp{ class: stamp(invoice) }= stamp(invoice)
        - if invoice.last_transaction.present?
          %p
            %strong= "Payment info:"
          %p= "Card type: #{t("user.credit_card.type.#{invoice.last_transaction.cc_type}")}"
          %p= "Card no.: XXXXXXXXXXXX-#{invoice.last_transaction.cc_last_digits}"

    %td.user_info
      %h4= "Bill To"
      = render "invoices/customer_billing_info", invoice: invoice

= render "invoices/details", invoice: invoice
