- invoice ||= @invoice
= title_and_content_header("Invoice: #{invoice_dates(invoice)}")

%table{ :border => 1 }
  %tr
    %td= render "/invoices/user_billing_info", :user => invoice.user
    %td= render "/invoices/our_billing_info", :invoice => invoice
%hr

= render "/invoices/sites", :invoice => invoice

= render "/invoices/total", :invoice => invoice

%hr
= charging_status(invoice)