- invoice ||= @invoice
= title_and_content_header("SublimeVideo Invoice: #{invoice_dates(invoice)}")

%table#header
  %tr
    %td.our_info
      = render "/invoices/our_billing_info", :invoice => invoice
      .invoice_info
        %p
          %strong= "Invoice ID:"
          = invoice.reference.upcase
        %p
          %strong= "Invoice status: "
          = charging_status(invoice)
        %span.stamp{ :class => invoice.state }= invoice.state
      %h4= "Payment info:"
      = render "/invoices/payment_info", :invoice => invoice
    %td.user_info
      %h4= "Bill to:"
      = render "/invoices/customer_billing_info", :invoice => invoice

= render "/invoices/details", :invoice => invoice
