= title_and_content_header("Usage statement")

%table{ :border => 1 }
  %tr
    %td
      = render 'user_billing_info', :user => @invoice.user
    %td
      = invoice_dates(@invoice)
%hr

= render "sites", :invoice => @invoice

%strong Total:
= number_to_currency(@invoice.amount/100.0)

#notes= "This is a statement of current usage, not an invoice. It is provided for your reference; at the end of the month, your usage statement will be snapshotted into an invoice."