= title_and_content_header("Usage statement")

%table
  %tr
    %td
      = render 'user_billing_info', :user => @invoice.user
    %td
      = invoice_dates(@invoice)
      
= render "sites", :invoice => @invoice

%strong Total:
= number_to_currency(@invoice.amount/100.0)