= title_and_content_header("Login")

= form_for resource, :as => resource_name, :url => user_session_path, :html => { :method => :post, :class => "main_form" } do |f|
  .entry.email
    = f.label :email, "", :class => "icon"
    = f.email_field :email, :class => "text", :placeholder => "Email", :required => true
    
  .entry.password
    = f.label :password, "", :class => "icon"
    = f.password_field :password, :class => "text", :placeholder => "Password", :required => true
    
    - if devise_mapping.rememberable?
      .checkbox_wrap
        = f.check_box :remember_me
        = f.label :remember_me
        
  .entry.submit
    = f.submit "Login"
    = render :partial => "devise/shared/links"
  .spacer

#get_an_invitation
  .wrap
    %h3= "Don't have an account yet?"
    = link_to "Get an invitation", "http://sublimevideo.net/notify", :class => "button"