= content_for :javascript do
  = sublimevideo_include_tag(request.ssl?, :my).html_safe
  = javascript_include_tag 'https://d3dy5gmtp8yhk7.cloudfront.net/1.11/pusher.min.js', 'stats'

- if demo_stats_page?
  - @body_class = 'stats_demo'
  = content_for :header do
    %h2= "Universal Real-Time Statistics Demo"
    %p.sub= "Get the complete picture, in real-time."

  %span.stats_icon

  .com_text
    %p
      = "SublimeVideo's new statistics platform is the first to offer a truly comprehensive, real-time picture of your site’s video traffic from any device, whether generated from mobile or desktop, HTML5 or Flash."
      = raw "#{link_to "Read more", "http://blog.jilion.com/2012/02/15/a-closer-look-at-sublimevideo-s-universal-real-time-statistics", onclick: 'window.open(this); return false'}."
    %p= raw "This demo page displays the actual video statistics for our own sublimevideo.net domain. Watch any video on #{link_to "sublimevideo.net", "http://sublimevideo.net"} from any device and see your activity logged in real-time on this page. Enjoy!"

.stats
  %span.beta_badge
  :coffeescript
    jQuery(document).ready ->
      # Enable pusher logging - don't include this in production
      # Pusher.log = (message) ->
      #  window.console.log(message) if (window.console && window.console.log)
      # Flash fallback logging - don't include this in production
      # WEB_SOCKET_DEBUG = true

      window.MSVStats.pusher = new Pusher("#{PusherConfig.key}", encrypted: true)
      # window.MSVStats.pusherKey = "#{PusherConfig.key}"
      # MSVStats.pusher.connection.bind 'connected', ->
      #   console.log 'Pusher connection connected'
      # MSVStats.pusher.connection.bind 'failed', ->
      #   console.log 'Pusher connection failed'

      window.MSVStats.sites = new MSVStats.Collections.Sites(#{@sites.to_backbone_json})
      window.MSVStats.statsRouter = new MSVStats.Routers.StatsRouter()
      Backbone.history.start(pushState: true, root: "/sites/stats/")

  #trial

  #sites_select_title

  #notices

  %ul#period_selectors
    %li.days365
    %li.days30
    %li.hours
    %li.minutes
    %li.seconds

  .spacer
  %p.days_period_note * Day periods are in UTC
  #dates_range
    %h3#time_range_title
    #date_pickers
  %ul#vv_chart_legend
  .spacer
  #vv
    #vv_content
      #vv_chart
      %p.note Note: Plays and visits from embeds are not considered.

  .spacer

  #top_videos
    %h3.title#top_videos_title Most played videos
    #top_videos_content
    #playable_video
  #top_videos_posterframe_cache{ style: "display: none" }

  #bp.graph_box
    %h3.title Browser + OS
    %h5.sub_title Based on page visits
    #bp_content.content

  #md.graph_box
    %h3.title HTML5 / Flash
    %h5.sub_title Based on video loads
    #md_content.content
      #md_legend
      #md_pie_chart

  .spacer
  
  #csv_export_wrap
    .big_break
    #csv_export.tooltip
      %button
        %span.icon CSV Export
      %span.content
        %span.arrow
        %span.p= "Export is only available for days period"
    %p.desc= "It will generate a CSV export for the selected period."
  .spacer
  #plan_usage

