- if demo_site?
  - @body_class = @body_class.to_s + ' stats_demo'
  - title('Universal Real-Time Statistics', prefix: 'SublimeVideo')
  = content_for :header do
    %h2= "Universal Real-Time Statistics"
    %p.sub= "Get the complete picture, in real-time."

  %span.stats_icon

  .com_text
    %p
      = "SublimeVideo's statistics add-on offers a truly comprehensive, real-time picture of your site’s video traffic from any device, whether generated from mobile or desktop, HTML5 or Flash."
      = link_to 'Read more', docs_url('addons/stats')
      or
      = link_to 'Get the Real-Time Statistics add-on', addon_path('stats', p: 'realtime')
      for your site.
    %p
      This demo page displays the actual video statistics for our own sublimevideo.net domain. Watch any video on
      = link_to 'sublimevideo.net', layout_url('')
      from any device and see your activity logged in real-time on this page. Enjoy!

- else
  - title("Stats for #{hostname_or_token(@site)}")

  = render '/layouts/site_header'
  .big_break

#stats.stats{ data: { pusher_channel: pusher_channel } }
  - if demo_site?
    = content_header("Stats for #{hostname_or_token(@site)}")

  #last_stats_by_minute= render 'stats/last_stats_by_minute', site: @site, stats_presenter: @stats_presenter
  .spacer

  #last_stats_by_hour_or_day= render 'stats/last_stats_by_hour_or_day', site: @site, video_tag: nil, stats_presenter: @stats_presenter
