= content_for :title, "About"
= content_for :header do
  %h2= "About SublimeVideo"
  %p.sub= "SublimeVideo is the world's first cloud-based HTML5 video player; a unique solution that delivers all of the benefits of HTML5 video with none of the associated complexity."

%section.box
  %h3.title= "Our Vision"

  %p= "We care deeply about the Web and are committed to making contributions that push it forwards."

  %p= "The HTML5 standard is no longer the future. We developed SublimeVideo’s cloud-based platform from the ground-up to turn the promises of HTML5 Video into a practical reality, today."

  %p= "Our goal is to provide Web publishers with a fast, reliable and pain-free way to migrate from Flash to HTML5 Video, and to give their audiences a player that truly 'just works'."
.big_break
%section.box
  %h3.title= "Our Story"

  %p= "SublimeVideo was completely accidental. It began as a side project in January 2010, demoing the first functional, multi-browser HTML5 Video Player."

  %p= "We never expected the huge positive response we received on Twitter and from leading web publications, including Daring Fireball, Wired, ReadWriteWeb and Mashable."

  %p= "We decided to develop SublimeVideo into the World's First Cloud-Based HTML5 Video Player: Today, SublimeVideo serves millions of video player pages a month and continues to evolve - most recently with the introduction of a free and unlimited version of its player, giving more sites the benefit of a high-quality, HTML5 Video experience."