= content_for :title, "Customer Showcase"
= content_for :header do
  %h2= "We're proud to have great customers."
  %p.sub
    = link_to "View all showcases", "http://blog.jilion.com/tags/sublimevideo-showcase"
    -# = link_to "Join them today", root_url(host: request.domain, p: 'signup'), onclick: "return SublimeVideo.showPopup('signup')"

%section.showcase
  %ul.quotes
    %li
      %h2.title= link_to "CSS-Tricks", "http://blog.jilion.com/2011/11/09/customer-showcase-css-tricks"
      = link_to "Read showcase", "http://blog.jilion.com/2011/11/09/customer-showcase-css-tricks", class: "read_showcase"
      %blockquote
        = image_tag "www/showcase/avatars/chris_coyier_css_tricks.jpg", alt: "Chris Coyier - CSS-Tricks", class: "avatar"
        = image_tag "www/home/logos/css_tricks.png", alt: "CSS-Tricks", class: "logo"
        %p= "“I’m a fan of any service that helps make Front End Developers lives easier. In the case of CSS-Tricks, I have a whole archive of videos that are essentially self-hosted. I want those videos to be watchable by anybody on any browser. But because different browsers need different things to make that happen, it’s not trivially easy. There are some great free projects that do similar things, but the value for me in SublimeVideo is that I don’t have to worry about upgrading to new versions or troubleshooting for the browser landscape. Even though I’m the kind of guy who keeps up on HTML5 stuff, I still love it that I don’t have to worry about it."
        %p= "Another part of making sure videos are watchable by anyone is making sure the videos fit and look good in any browser. For my design, that means the videos need to be fluid with. I’m happy that SublimeVideo provides the necessary things to make that possible.”"
      %p.author= "—Chris Coyier, Founder of CSS-Tricks."
    %li
      %h2.title= link_to "Bredbandsbolaget", "http://blog.jilion.com/2011/09/27/customer-showcase-bredbandsbolaget"
      = link_to "Read showcase", "http://blog.jilion.com/2011/09/27/customer-showcase-bredbandsbolaget", class: "read_showcase"
      %blockquote
        = image_tag "www/showcase/avatars/david_thunman_telenor_sweden.jpg", alt: "David Thunman - Telenor Sweden", class: "avatar"
        = image_tag "www/home/logos/bredbandsbolaget.png", alt: "Bredbandsbolaget", class: "logo"
        %p= "“Since the launch of our updated TV service back in 2010 we have strived to offer our customers new channels, with a high quality of service. The SublimeVideo Player has helped us to showcase the latest and upcoming TV-shows. Thanks to the support offered by SublimeVideo, the implementation into our CMS was made simple."
        %p= "Our editors can quickly add a video player as part of the website or as a lightbox. We love the fact that the player automatically chose the best format for each visitor and that it works in all browsers.”"
      %p.author= "—David Thunman, Online Business Developer at Telenor Sweden."
    %li
      %h2.title= link_to "Camera +", "http://blog.jilion.com/2011/06/01/customer-showcase-camera-plus"
      = link_to "Read showcase", "http://blog.jilion.com/2011/06/01/customer-showcase-camera-plus", class: "read_showcase"
      %blockquote
        = image_tag "www/showcase/avatars/scott_meinzer_tap_tap_tap.jpg", alt: "Scott Meinzer - Camera +", class: "avatar"
        = image_tag "www/home/logos/taptaptap.png", alt: "tap tap tap", class: "logo"
        %p= "“HTML5 video can be a bag of hurt if you implement it on your own. The fact that SublimeVideo makes it so we can just drop in a line of JavaScript and it works consistently across all the browsers is amazing. The great design and thoughtful user experience just make it even better.”"
      %p.author= "—Scott Meinzer, Co-founder of tap tap tap, developer of Camera+."
    %li
      %h2.title= link_to "Big Cartel", "http://blog.jilion.com/2011/04/26/customer-showcase-big-cartel"
      = link_to "Read showcase", "http://blog.jilion.com/2011/04/26/customer-showcase-big-cartel", class: "read_showcase"
      %blockquote
        = image_tag "www/showcase/avatars/matt_wigham_big_cartel.jpg", alt: "Matt Wigham - Big Cartel", class: "avatar"
        = image_tag "www/home/logos/bigcartel.png", alt: "Big Cartel", class: "logo"
        %p= "“We’ve tried a number of different video players, but none of them have satisfied our craving for design perfection like SublimeVideo has. Not only does it look amazing, it also works everywhere we need it to, from desktop to mobile. Plus, with its flexible JavaScript API, we’re able to wire it up with our internal stats tracking and keep tabs on every video it plays. It feels like it was made just for us.”"
      %p.author= "—Matt Wigham, Co-Founder of Big Cartel."
    %li
      %h2.title= link_to "LittleBigPlanet", "http://blog.jilion.com/2011/04/15/customer-showcase-media-molecule-littlebigplanet2"
      = link_to "Read showcase", "http://blog.jilion.com/2011/04/15/customer-showcase-media-molecule-littlebigplanet2", class: "read_showcase"
      %blockquote
        = image_tag "www/showcase/avatars/tom_kiss_mediamolecule.jpg", alt: "Tom Kiss - MediaMolecule", class: "avatar"
        = image_tag "www/home/logos/littlebigplanet.png", alt: "Little Big Planet", class: "logo"
        %p= "“The SublimeVideo player has set a real benchmark for high quality HTML5 video players. By using it on littlebigplanet.com, it’s allowed us to deliver our videos across a broad spectrum of devices and operating systems to a much wider audience, including the latest smartphone handsets – an ever increasing proportion of our site visitors. Additionally, the Jilion team have been really helpful and supportive, allowing us to deliver the best experience for our users.”"
      %p.author= "—Tom Kiss, Designer at Media Molecule."

  %p.view_all= link_to "View all showcases", "http://blog.jilion.com/tags/sublimevideo-showcase", class: "showcase"

%section.twitter_love
  %h3.title= "Twitter Love"
  %ul.quotes
    - random_favorite_tweets(5).each do |tweet|
      %li
        %blockquote
          = clean_tweet_text(tweet, strip_cc: true, strip_urls: true)
          %span.arrow
        .left
          = link_to "http://twitter.com/#{tweet.user.screen_name}" do
            = image_tag tweet.bigger_profile_image, alt: clean_tweet_from_user(tweet), size: "48x48"
            %span.shadow
        .right
          %p.info
            %h4= link_to clean_tweet_from_user(tweet), "http://twitter.com/#{tweet.user.screen_name}"
            %em.date= link_to l(tweet.created_at, format: :tweet, ordinal_day: tweet.created_at.day.ordinalize), "http://twitter.com/#{tweet.user.screen_name}/status/#{tweet.id}"
        .spacer
  -# %p.view_all= link_to "View all tweets", "http://twitter.com/sublimevideo/favorites", class: "tweets"
.spacer
= render "www/sign_up_box"
