= content_for :head_before, javascript_include_tag((request.protocol =~ /^https/ ? "https://4076.voxcdn.com" : "http://cdn.sublimevideo.net") + "/js/ibvjcopp.js")

= content_for :title, "Demo"

= content_for :header do
  %h2= "Player Demo"
  %p.sub= raw "Here are a few examples of what you can achieve with SublimeVideo. Read our #{link_to "documentation", root_url(subdomain: 'docs')} to see how to implement these functionalities on your site."
  
%section#single
  .video_wrap
    %video#single_video.sublime{ width: "544", height: "306", poster: image_path("www/demo/midnight_sun_800.jpg"), preload: "none" }
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_360p.mp4" }/
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_720p.mp4", "data-quality"=>"hd" }/
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_360p.mp4" }/
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_720p.mp4", "data-quality"=>"hd" }/
  .right
    %h3.title= "Single video"
    %p.desc= "The most common and basic integration of SublimeVideo Player in a page. One of the best ways to display and highlight a video on your site."
    #mode_switcher
      = "SublimeVideo mode:"
      %span.html5
        %strong= "HTML5"
      %span.flash
        %strong= "Flash"
      %p
        %small><
          = "(Right-click on video to switch to "
          %em
          =")"
  .spacer
.big_break
%section#lightbox
  .left
    %h3.title= "Integrated lightbox"
    %p.desc= "SublimeVideo's integrated lightbox displays videos in a floating player. This is the easiest way to integrate videos into your existing layout."
  %ul.right
    %li
      %a.sublime{ href: "" }
        = image_tag("www/demo/midnight_sun1_800.jpg", alt: "", width: "192", height: "108")
        %span.icon
      %video.sublime.zoom{ style: "display:none", width: "704", height: "396", poster: image_path("www/demo/midnight_sun1_800.jpg"), preload: "none" }
        %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_1_450p.mp4" }/
        %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_1_450p.webm" }/
    %li
      %a.sublime{ href: "" }
        = image_tag("www/demo/midnight_sun2_800.jpg", alt: "", width: "192", height: "108")
        %span.icon
      %video.sublime.zoom{ style: "display:none", width: "704", height: "396", poster: image_path("www/demo/midnight_sun2_800.jpg"), preload: "none" }
        %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_2_450p.mp4" }/
        %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_2_450p.webm" }/
    %li
      %a.sublime{ href: "" }
        = image_tag("www/demo/midnight_sun3_800.jpg", alt: "", width: "192", height: "108")
        %span.icon
      %video.sublime.zoom{ style: "display:none", width: "704", height: "396", poster: image_path("www/demo/midnight_sun3_800.jpg"), preload: "none" }
        %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_3_450p.mp4" }/
        %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_3_450p.webm" }/
    %li
      %a.sublime{ href: "" }
        = image_tag("www/demo/midnight_sun4_800.jpg", alt: "", width: "192", height: "108")
        %span.icon
      %video.sublime.zoom{ style: "display:none", width: "704", height: "396", poster: image_path("www/demo/midnight_sun4_800.jpg"), preload: "none" }
        %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_4_450p.mp4" }/
        %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_4_450p.webm" }/
  .spacer
.big_break
%section#playlist
  %ul.thumbs
    %li#thumbnail_video1
      %a{ href: "" }
        = image_tag "www/demo/midnight_sun1_176.jpg", alt: "", width: "144", height: "81"
        %span.play
    %li#thumbnail_video2
      %a{ href: "" }
        = image_tag "www/demo/midnight_sun2_176.jpg", alt: "", width: "144", height: "81"
        %span.play
    %li#thumbnail_video3
      %a{ href: "" }
        = image_tag "www/demo/midnight_sun3_176.jpg", alt: "", width: "144", height: "81"
        %span.play
    %li#thumbnail_video4
      %a{ href: "" }
        = image_tag "www/demo/midnight_sun4_176.jpg", alt: "", width: "144", height: "81"
        %span.play
  .video_wrap.active
    %video#video1.sublime{ width: "768", height: "432", poster: image_path("www/demo/midnight_sun1_800.jpg"), preload: "none" }
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_1_450p.mp4" }/
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_1_270p.mp4" }/
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_1_450p.webm" }/
  .video_wrap
    %video#video2{ width: "768", height: "432", poster: image_path("www/demo/midnight_sun2_800.jpg"), preload: "none" }
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_2_450p.mp4" }/
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_2_270p.mp4" }/
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_2_450p.webm" }/
  .video_wrap
    %video#video3{ width: "768", height: "432", poster: image_path("www/demo/midnight_sun3_800.jpg"), preload: "none" }
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_3_450p.mp4" }/
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_3_270p.mp4" }/
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_3_450p.webm" }/
  .video_wrap
    %video#video4{ width: "768", height: "432", poster: image_path("www/demo/midnight_sun4_800.jpg"), preload: "none" }
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_4_450p.mp4" }/
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_4_270p.mp4" }/
      %source{ src: "http://media.jilion.com/videos/demo/midnight_sun_sv1_4_450p.webm" }/
  .spacer
  %h3.title= "Video Playlist"
  %p.desc=raw "SublimeVideo Player offers a simple yet powerful #{link_to("JavaScript API", "http://docs.sublimevideo.net/javascript-api/")} that allows all kinds of different integrations in your page. Here are 4 different videos with their clickable thumbnail: when a video finishes playing, the next one in the playlist is automatically started."
.big_break
%section#features
  %h3.title= "UI features"
  %ul
    %li
      %strong= "Seek ahead:"
      =raw "jump anywhere in the video and it will start buffering from that point"
    %li
      %strong= "Time display:"
      =raw "mouse over elapsed time to view remaining time with click to stick"
    %li
      %strong= "Volume controls:"
      =raw "saving audio level for each site (cookie-less HTML5/Flash local storage)"
    %li
      %strong= "Full-window mode:"
      %ul
        %li= "More advanced controls on a draggable pane"
        %li= "Live-resizing (when resizing the browser window)"
        %li= "Double-click video to enter full-window"
        %li= "Press spacebar to play/pause and Esc to exit full-window"
    %li
      %strong= "Full-screen mode:"
      = raw "hold down Command (Mac) or Ctrl (Windows/Linux) while entering full-window. Currently requires #{link_to("Safari 5", "http://www.apple.com/safari")}, #{link_to("Chrome 15", "http://www.google.com/chrome")}, #{link_to("Firefox 10", "http://www.mozilla.org/firefox")} or the Flash version of the player."
.big_break
%section#credits
  :textile
    p(desc). Credits: Video by *Joe Capra* - "scientifantastic.com":http://scientifantastic.com

