= content_for :head_before, javascript_include_tag("http://cdn.sublimevideo.net/js/#{SiteToken.www}.js")

= content_for :title, "Demo"

= content_for :header do
  %h2= "Demo"
  -# %p.sub= raw "Here are a few examples of what you can achieve with SublimeVideo. Read our #{link_to "documentation", root_url(subdomain: 'docs')} to see how to implement these functionalities on your site."
  %p.sub= raw "Here are a few examples of what you can achieve with SublimeVideo. You can also check out a live demo of our #{link_to "Universal Real-Time Statistics", site_stats_url('demo', subdomain: 'my')}."

%section#single
  .video_wrap
    %video#single_video.sublime{ width: "544", height: "306", poster: image_path("www/demo/midnight_sun_800.jpg"), preload: "none", "data-uid" => "demo-single", "data-name" => "Demo Single" }
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_360p.mp4" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_720p.mp4" data-quality="hd" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_360p.webm" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_720p.webm" data-quality="hd" />
  .right
    %h3.title= "Single video"
    %p.desc= "The most common and basic integration of SublimeVideo Player in a page. One of the best ways to display and highlight a video on your site."
    #mode_switcher
      = "SublimeVideo mode:"
      %span.html5
        %strong= "HTML5"
      %span.flash
        %strong= "Flash"
      %p
        %small><
          = "(Right-click on video to switch to "
          %em
          =")"
  .spacer
.big_break
%section#lightbox
  .left
    %h3.title= "Integrated lightbox"
    %p.desc= "SublimeVideo's integrated lightbox displays videos in a floating player. This is the easiest way to integrate videos into your existing layout."
  %ul.right
    %li
      %a.sublime{ href: "" }
        = image_tag("www/demo/midnight_sun1_800.jpg", alt: "", width: "192", height: "108")
        %span.icon
      %video.sublime.zoom{ style: "display:none", width: "704", height: "396", poster: image_path("www/demo/midnight_sun1_800.jpg"), preload: "none", "data-uid" => "demo-lightbox-1", "data-name" => "Demo Lightbox #1" }
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_1_450p.mp4" />
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_1_270p.mp4" />
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_1_450p.webm" />
    %li
      %a.sublime{ href: "" }
        = image_tag("www/demo/midnight_sun2_800.jpg", alt: "", width: "192", height: "108")
        %span.icon
      %video.sublime.zoom{ style: "display:none", width: "704", height: "396", poster: image_path("www/demo/midnight_sun2_800.jpg"), preload: "none", "data-uid" => "demo-lightbox-2", "data-name" => "Demo Lightbox #2" }
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_2_450p.mp4" />
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_2_270p.mp4" />
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_2_450p.webm" />
    %li
      %a.sublime{ href: "" }
        = image_tag("www/demo/midnight_sun3_800.jpg", alt: "", width: "192", height: "108")
        %span.icon
      %video.sublime.zoom{ style: "display:none", width: "704", height: "396", poster: image_path("www/demo/midnight_sun3_800.jpg"), preload: "none", "data-uid" => "demo-lightbox-3", "data-name" => "Demo Lightbox #3" }
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_3_450p.mp4" />
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_3_270p.mp4" />
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_3_450p.webm" />
    %li
      %a.sublime{ href: "" }
        = image_tag("www/demo/midnight_sun4_800.jpg", alt: "", width: "192", height: "108")
        %span.icon
      %video.sublime.zoom{ style: "display:none", width: "704", height: "396", poster: image_path("www/demo/midnight_sun4_800.jpg"), preload: "none", "data-uid" => "demo-lightbox-4", "data-name" => "Demo Lightbox #4" }
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_4_450p.mp4" />
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_4_270p.mp4" />
        == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_4_450p.webm" />
  .spacer
.big_break
%section#playlist
  %ul.thumbs
    %li#thumbnail_video1
      %a{ href: "" }
        = image_tag "www/demo/midnight_sun1_144.jpg", alt: "", width: "144", height: "81"
        %span.play
    %li#thumbnail_video2
      %a{ href: "" }
        = image_tag "www/demo/midnight_sun2_144.jpg", alt: "", width: "144", height: "81"
        %span.play
    %li#thumbnail_video3
      %a{ href: "" }
        = image_tag "www/demo/midnight_sun3_144.jpg", alt: "", width: "144", height: "81"
        %span.play
    %li#thumbnail_video4
      %a{ href: "" }
        = image_tag "www/demo/midnight_sun4_144.jpg", alt: "", width: "144", height: "81"
        %span.play
  .video_wrap.active
    %video#video1.sublime{ width: "768", height: "432", poster: image_path("www/demo/midnight_sun1_800.jpg"), preload: "none", "data-uid" => "demo-playlist-1", "data-name" => "Demo Playlist #1" }
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_1_450p.mp4" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_1_270p.mp4" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_1_450p.webm" />
  .video_wrap
    %video#video2{ width: "768", height: "432", poster: image_path("www/demo/midnight_sun2_800.jpg"), preload: "none", "data-uid" => "demo-playlist-2", "data-name" => "Demo Playlist #2" }
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_2_450p.mp4" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_2_270p.mp4" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_2_450p.webm" />
  .video_wrap
    %video#video3{ width: "768", height: "432", poster: image_path("www/demo/midnight_sun3_800.jpg"), preload: "none", "data-uid" => "demo-playlist-3", "data-name" => "Demo Playlist #3" }
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_3_450p.mp4" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_3_270p.mp4" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_3_450p.webm" />
  .video_wrap
    %video#video4{ width: "768", height: "432", poster: image_path("www/demo/midnight_sun4_800.jpg"), preload: "none", "data-uid" => "demo-playlist-4", "data-name" => "Demo Playlist #4" }
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_4_450p.mp4" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_4_270p.mp4" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_4_450p.webm" />
  .spacer
  %h3.title= "Video Playlist"
  %p.desc= raw "SublimeVideo Player offers a simple yet powerful #{link_to("JavaScript API", docs_page_url('javascript-api/usage', subdomain: 'docs'))} that allows all kinds of different integrations in your page. Here are 4 different videos with clickable thumbnails: when a video finishes playing, the next one in the playlist begins automatically."
.big_break
%section#stats_demo
  .left
    = link_to (image_tag "www/demo/stats_demo_screenshot.png", alt: "Universal Real-Time Statistics Screenshot Icon"), site_stats_url('demo', subdomain: 'my')
    = link_to site_stats_url('demo', subdomain: 'my'), class: "button" do
      %span= "Live demo"
  .right
    %a.sublime.watch{ href: "" }
      = image_tag "www/demo/stats_video_thumb.png", alt: "Universal Real-Time Statistics Demo Video"
      %span.play
    == <video class="sublime zoom" width="640" height="360" poster="http://media.jilion.com/videos/sublimevideo-real-time-statistics.jpg" preload="none" style="display:none" data-uid="real-time-stats" data-name="Real-Time Statistics">
    ==   <source src="http://media.jilion.com/videos/sublimevideo-real-time-statistics-720p.mp4" data-quality="hd" />
    ==   <source src="http://media.jilion.com/videos/sublimevideo-real-time-statistics-360p.mp4" />
    ==   <source src="http://media.jilion.com/videos/sublimevideo-real-time-statistics-720p.webm" data-quality="hd" />
    ==   <source src="http://media.jilion.com/videos/sublimevideo-real-time-statistics-360p.webm" />
    == </video>

    %h5= "Watch the video overview"
  %h3.title= "Universal Real-Time Statistics"
  %p.desc= raw "Check out the live demo of our Real-Time Statistics dashboard to see how you can get access to real-time video usage statistics, including video plays, browser and device statistics, HTML5 or Flash usage and more."
.big_break
%section#features
  %h3.title= "UI features"
  %ul
    %li
      %strong= "Seek ahead:"
      =raw "Jump anywhere in the video and it will start buffering from that point"
    %li
      %strong= "Time display:"
      =raw "Mouse over elapsed time to view remaining time with click to stick"
    %li
      %strong= "Volume controls:"
      =raw "Save audio levels for each site (cookie-less HTML5/Flash local storage)"
    %li
      %strong= "Full-window mode:"
      %ul
        %li= "More advanced controls on a draggable pane"
        %li= "Live-resizing (when resizing the browser window)"
        %li= "Double-click video to enter full-window"
        %li= "Press spacebar to play/pause and Esc to exit full-window"
    %li
      %strong= "Full-screen mode:"
      = raw "Hold down Command (Mac) or Ctrl (Windows/Linux) while entering full-window. Currently requires #{link_to("Safari 5", "http://www.apple.com/safari")}, #{link_to("Chrome 15", "http://www.google.com/chrome")}, #{link_to("Firefox 10", "http://www.mozilla.org/firefox")} or the Flash version of the player."
.big_break
%section#credits
  :textile
    p(desc). Video credits: Special edit of _Midnight Sun | Iceland_ by *Joe Capra* - "scientifantastic.com":http://scientifantastic.com
