= content_for :title, "Help"
= content_for :header do
  %h2= "Need some help?"
  %p.sub
    = raw "Have a look at our #{link_to "documentation", ""} or ask our #{link_to "community", ""}."
    = raw "And if you got a paid plan you can directly #{link_to "email",""} our support team."

%span.life_belt
= render 'layouts/help/documentation'
= render 'layouts/help/community_forum'
= render 'layouts/help/email_support'
