= content_for :title, "Help"
= content_for :header do
  %h2= "Need some help?"
  %p.sub
    = raw "Read the #{link_to "documentation", '#documentation'} or ask our #{link_to "community", '#community_forum'}. If you're a customer of our paid plans you can #{link_to "email", '#email_support'} our support team directly."

%span.life_belt
= render 'layouts/help/documentation'
= render 'layouts/help/community_forum'
= render 'layouts/help/email_support'
