= content_for :head, javascript_include_tag((request.protocol =~ /^https/ ? "https://4076.voxcdn.com" : "http://cdn.sublimevideo.net") + "/js/ibvjcopp.js")
= content_for :header do
  %h2= "The HTML5 Video Player Everyone Deserves"

  .video_wrap
    %video.sublime{ width: "544", height: "306", poster: image_path("www/home/poster_frame.jpg"), preload: "none", "data-sublime-settings" => "initial-overlay:none" }
      %source{ src: "http://zeno.name/@/videos/midnight_sun_sv_edit1_360p.mp4" }/
      %source{ src: "http://zeno.name/@/videos/midnight_sun_sv_edit1_720p.mp4", "data-quality" => "hd" }/
      %source{ src: "http://zeno.name/@/videos/midnight_sun_sv_edit1_360p.webm" }/
      %source{ src: "http://zeno.name/@/videos/midnight_sun_sv_edit1_720p.webm", "data-quality" => "hd" }/

  .right
    %ul.slides#features_slides
      %li.always_up_to_date.active
        %h3= "Always Up-To-Date"
        = link_to (image_tag "www/home/features/always_up_to_date.png", alt: "Always Up-To-Date"), page_path('features', anchor: 'always_up_to_date')
      %li.works_in_any_browsers
        %h3= "Works in any browsers"
        = link_to (image_tag "www/home/features/browsers/default.png", alt: "Works in any browsers"), page_path('features', anchor: 'works_everywhere'), id: "browsers_box"
      %li.works_on_any_devices
        %h3= "Works on any mobile devices"
        = link_to (image_tag "www/home/features/any_devices.png", alt: "Works on any mobile devices"), page_path('features', anchor: 'works_everywhere')
      %li.stats
        %h3= "Real-time Statistics"
        = link_to (image_tag "www/home/features/stats.png", alt: "Real-time Statistics"), page_path('features', anchor: 'real_time_stats')
      %li.instant_setup
        = link_to (image_tag "www/home/features/instant_setup.png", alt: "Instant Setup & Easy Integration"), page_path('features', anchor: 'instant_setup')
        %h3.t1= "Instant Setup"
        %h3.t2= "Easy Integration"
    .slides_nav
      = link_to "", class: "always_up_to_date active" do
        %span= "Always Up-To-Date"
      = link_to "", class: "works_in_any_browsers" do
        %span= "Works in any browsers"
      = link_to "", class: "works_on_any_devices" do
        %span= "Works on any devices"
      = link_to "", class: "stats" do
        %span= "Real-time Statistics"
      = link_to "", class: "instant_setup" do
        %span= "Instant Setup"
    = link_to "Feature Tour", page_path('features'), class: "feature_tour"

= content_for :middle do
  %section#get_it_now
    .texture
      .wrap
        %h3
          = "Now"
          %span= "Free & Unlimited"
        .button_wrap
          = link_to "Get It Now", root_path(p: 'signup'), onclick: "return SublimeVideo.showPopup('signup')", class: "big_button"
          = link_to "see all plans", page_path('plans'), class: "small"
        %em.never_look_back= "And never look back!"

%section.showcase
  %h4.custom_break= "They use SublimeVideo"
  %table.logos
    %tr
      %td= link_to (image_tag "www/home/logos/littlebigplanet.png", alt: "Little Big Planet"), ""
      %td= link_to (image_tag "www/home/logos/cloudapp.png", alt: "CloudApp"), ""
    %tr
      %td= link_to (image_tag "www/home/logos/taptaptap.png", alt: "Tap Tap Tap"), ""
      %td= link_to (image_tag "www/home/logos/tetrapak.png", alt: "Tetra Pak"), ""
    %tr
      %td= link_to (image_tag "www/home/logos/bigcartel.png", alt: "Big Cartel"), ""
      %td= link_to (image_tag "www/home/logos/bredbandsbolaget.png", alt: "Little Big Planet"), ""
    %tr
      %td= link_to (image_tag "www/home/logos/5by5.png", alt: "5By5"), ""
      %td= link_to (image_tag "www/home/logos/rock_am_ring.png", alt: "Rock Am Ring"), ""

  .quote
    = image_tag "www/home/showcases/tom_kiss.png", alt: "Tom Kiss"
    %blockquote= "“SublimeVideo allowed us to deliver our videos to a much wider audience”"
    %p.author
      = "Tom Kiss, Designer at "
      = link_to "MediaMolecule", "http://www.mediamolecule.com"
    = link_to page_path('customer-showcases'), class: "view_all_showcases" do
      %span= "View all showcases"
  .spacer
.big_break

%section.vision_tagline
  %h3
    = "HTML5 is the future of online video. Together with the SublimeVideo community,"
    = link_to "we've made it a reality today", page_path('about')