= content_for :head_before, javascript_include_tag("http://cdn.sublimevideo.net/js/#{SiteToken.www}.js")

= content_for :header do
  %h2= "The HTML5 Video Player Everyone Deserves"

  .video_wrap
    %video#home_video.sublime{ width: "544", height: "306", poster: image_path("www/home/poster_frame.jpg"), preload: "none", "data-sublime-settings" => "initial-overlay:none", "data-uid" => "home", "data-name" => "Home" }
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_360p.mp4" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_720p.mp4" data-quality="hd" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_360p.webm" />
      == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_720p.webm" data-quality="hd" />
    #video_credits{ style: "display:none" }
      = "Video by "
      = link_to "Joe Capra.", "http://scientifantastic.com", onclick: "window.open(this); return false"
  .right
    %ul.slides#features_slides
      %li.always_up_to_date.active{style: "z-index:2"}
        %h3= "Always Up-To-Date"
        = link_to (image_tag "www/home/features/always_up_to_date.png", alt: "Always Up-To-Date"), page_path('features', anchor: 'always_up_to_date')
      %li.html5_flash{style: "display:none"}
        %h3= "Universal compatibility"
        = link_to (image_tag "www/home/features/html5_flash.png", alt: "Universal compatibility"), page_path('features', anchor: 'consistent_ui')
      %li.works_in_any_browsers{style: "display:none"}
        %h3= "Works in any browser"
        = link_to (image_tag "www/home/features/browsers/default.png", alt: "Works in any browser"), page_path('features', anchor: 'works_everywhere'), id: "browsers_box"
      %li.works_on_any_devices{style: "display:none"}
        %h3= "Works on all mobile devices"
        = link_to (image_tag "www/home/features/any_devices.png", alt: "Works on all mobile devices"), page_path('features', anchor: 'works_everywhere')
      %li.stats{style: "display:none"}
        %h3= "Real-Time Statistics"
        = link_to (image_tag "www/home/features/stats.png", alt: "Real-Time Statistics"), page_path('features', anchor: 'real_time_stats')
      %li.instant_setup{style: "display:none"}
        = link_to (image_tag "www/home/features/instant_setup.png", alt: "Instant setup & easy integration"), page_path('features', anchor: 'instant_setup')
        %h3.t1= "Instant setup"
        %h3.t2= "Easy integration"
    .slides_nav
      = link_to "", class: "always_up_to_date active" do
        %span= "Always Up-To-Date"
      = link_to "", class: "html5_flash" do
        %span= "Universal compatibility"
      = link_to "", class: "works_in_any_browsers" do
        %span= "Works in any browsers"
      = link_to "", class: "works_on_any_devices" do
        %span= "Works on any devices"
      = link_to "", class: "stats" do
        %span= "Real-time Statistics"
      = link_to "", class: "instant_setup" do
        %span= "Instant Setup"
    = link_to "Feature Tour", page_path('features'), class: "feature_tour"

= content_for :middle do
  %section#get_it_now
    .texture
      .wrap
        %h3
          = "Now"
          %span= "Free & Unlimited"
        .button_wrap
          = link_to "Get It Now", root_url(host: request.domain, p: 'signup'), onclick: "return SublimeVideo.showPopup('signup')", class: "big_button"
          = link_to "see all plans", page_path('plans'), class: "small"
        %em.never_look_back= "And never look back!"

%section.showcase
  %h4.custom_break= "They use SublimeVideo"
  %table.logos
    %tr
      %td= link_to (image_tag "www/home/logos/littlebigplanet.png", alt: "Little Big Planet"), "http://blog.jilion.com/2011/04/15/customer-showcase-media-molecule-littlebigplanet2"
      %td= link_to (image_tag "www/home/logos/css_tricks.png", alt: "CSS-Tricks"), "http://blog.jilion.com/2011/11/09/customer-showcase-css-tricks"
    %tr
      %td= link_to (image_tag "www/home/logos/taptaptap.png", alt: "Tap Tap Tap"), "http://blog.jilion.com/2011/06/01/customer-showcase-camera-plus"
      %td= link_to (image_tag "www/home/logos/tetrapak.png", alt: "Tetra Pak"), "http://blog.jilion.com/2011/06/28/customer-showcase-tetra-pak"
    %tr
      %td= link_to (image_tag "www/home/logos/bigcartel.png", alt: "Big Cartel"), "http://blog.jilion.com/2011/04/26/customer-showcase-big-cartel"
      %td= link_to (image_tag "www/home/logos/bredbandsbolaget.png", alt: "Bredbandsbolaget"), "http://blog.jilion.com/2011/09/27/customer-showcase-bredbandsbolaget"
    %tr
      %td= link_to (image_tag "www/home/logos/method_and_craft.png", alt: "Method & Craft"), "http://blog.jilion.com/2011/04/18/customer-showcase-method-and-craft"
      %td= link_to (image_tag "www/home/logos/rock_am_ring.png", alt: "Rock Am Ring"), "http://blog.jilion.com/2011/07/22/customer-showcase-rock-am-ring"
  - active = rand(2)
  - case active
    - when 0
      .quote.mediamolecule
        = image_tag "www/home/showcase/tom_kiss.png", alt: "Tom Kiss"
        %blockquote= raw "&ldquo;SublimeVideo allowed us to deliver our videos to a much wider audience&rdquo;"
        %p.author
          = "Tom Kiss, Designer at"
          %br
          = "Media Molecule - part of Sony Computer Entertainment"
        = link_to page_path('customer-showcase'), class: "view_all_showcases" do
          %span= "View showcases"
    - when 1
      .quote.katabatic
        = image_tag "www/home/showcase/emery_wells.png", alt: "Emery Wells"
        %blockquote= raw "&ldquo;SublimeVideo ensures our videos look beautiful on any browser.&rdquo;"
        %p.author
          = "Emery Wells, Founder/CTO"
          %br
          = "Katabatic Digital"
        = link_to page_path('customer-showcase'), class: "view_all_showcases" do
          %span= "View showcases"
  .spacer
.big_break

%section.vision_tagline
  %h3
    = "HTML5 is the future of online video. Together with the SublimeVideo community,"
    = link_to "we've made it a reality today", page_path('about')