= content_for :title, "News"
= content_for :header do
  %h2= "News"
  %p.sub= raw "Find the latest SublimeVideo news, blog posts and press coverage here."

%section.content_left
  %h3.title= "Selected Articles"
  %ul.articles
    %li.techcrunch
      %span.icon
      = link_to "SublimeVideo's Cloud-Based HTML5 Player Goes Freemium", "http://techcrunch.com/2011/11/29/sublimevideos-cloud-based-html5-player-goes-freemium/"
      %em.date
        = "TechCrunch,"
        = l Time.parse("2011-11-29"), format: :date
    %li.rww
      %span.icon
      = link_to "Top Trends of 2011: HTML5", "http://www.readwriteweb.com/archives/top_trends_of_2011_html5.php"
      %em.date
        = "ReadWriteWeb,"
        = l Time.parse("2011-07-26"), format: :date
    %li.wired
      %span.icon
      = link_to "SublimeVideo Hopes to Simplify HTML5 Web Video", "http://www.webmonkey.com/2010/02/sublimevideo_hopes_to_simplify_html5_web_video/"
      %em.date
        = "Wired,"
        = l Time.parse("2010-02-02"), format: :date
    %li.rww
      %span.icon
      = link_to "SublimeVideo: Demoing the Future of HTML5 Video", "http://www.readwriteweb.com/archives/sublimevideo_demoing_the_future_of_html5_video.php"
      %em.date
        = "ReadWriteWeb,"
        = l Time.parse("2010-02-02"), format: :date
    %li.df
      %span.icon
      = link_to "Better in every single regard than any video player ever made with Flash.", "http://daringfireball.net/linked/2010/02/01/sublimevideo/"
      %em.date
        = "Daring Fireball,"
        = l Time.parse("2010-02-01"), format: :date
  .break
  %h3.title= "SublimeVideo News"
  %h4.title= "On the blog"
  %ul.news
    -# %li
    -#   = link_to "SublimeVideo Unleashed!", ""
    -#   %em.date= "November 29th, 2011"
    -# %li
    -#   = link_to "Nissan's 'Zen to Z' Web Campaign Powered by HTML5 and SublimeVideo", ""
    -#   %em.date= "November 29th, 2011"
    -# %li
    -#   = link_to "Introducing the Official SublimeVideo WordPress Plugin", ""
    -#   %em.date= "November 29th, 2011"
    - cached_latest_sublimevideo_news(3).each do |news|
      %li
        = link_to news.title, news.url
        %em.date= l news.date, format: :date
  .read_more
    = link_to "Read more", "http://blog.jilion.com/tags/sublimevideo"
  %h4.title= "Newsletters"
  %ul.news
    %li
      = link_to "SublimeVideo Newsletter #1", "http://email.jilion.com/t/ViewEmailArchive/r/602180142201C954/C67FD2F38AC4859C/"
      %em.date= "February 16, 2012"
  %h4.title= "Press releases"
  %ul.press_releases
    %li
      = link_to "SublimeVideo - The World's First Cloud-based HTML5 Video Player Launches Free and Unlimited Player, Alongside Enhanced Paid Plans and Universal, Real-Time Stats Platform", pr_url("2011-11-29")
      %em.date= l Time.parse("2011-11-29"), format: :date
    %li
      = link_to "Jilion Commercializes Highly Anticipated SublimeVideo Cloud-based HTML5 Player Service", pr_url("2011-03-30")
      %em.date= l Time.parse("2011-03-30"), format: :date
%aside.content_right
  .press_kit
    = link_to press_kit_url, class: "button" do
      %span= "Download the Press Pack"
    %p.desc= "Includes Jilion & SublimeVideo logos (vector & raster), promotional graphics and recent press release."

  %h4.title= "Press Contact"
  %p.desc= raw "Please use our #{link_to "contact form", "http://jilion.com/contact"}."
  
  %h4.title= "Also featured by"
  %ul.featured_by
    %li= link_to "Mashable", "http://mashable.com/2010/04/29/apple-flash-html5/"
    %li= link_to "The Next Web", "http://dev-timan.thenextweb.com/apps/2011/09/20/you-can-now-use-this-wordpress-plugin-to-play-html5-video-on-your-blog/"
    %li= link_to "The Guardian", "http://www.guardian.co.uk/technology/blog/2010/feb/02/flash-plugin-browser-apple-adobe"
    %li= link_to "Download Squad", "http://downloadsquad.switched.com/2010/04/10/sublimevideo-html5-video-player-adds-flash-support/"
    %li= link_to "Appstorm", "http://web.appstorm.net/how-to/sublimevideo-your-html5-video-solution/"
    %li= link_to "CSS-Tricks", "http://css-tricks.com/14497-making-sublimevideo-fluid-width/"
    %li= link_to "Beautiful Pixels", "http://beautifulpixels.com/web/sublimevideo-beauty-comes-with-this-html5-video-player/"
    %li= link_to "Designer Daily", "http://www.designer-daily.com/5-awesome-html5-demos-6715"
    %li= link_to "MacStories", "http://www.macstories.net/news/sublimevideo/"
    %li= link_to "Hivelogic", "http://hivelogic.com/articles/sublimevideo-html5-video-player/"
  
  %h4.title= "Related Articles"
  %ul.related
    %li
      = link_to "HTML5: The Technology Changing the Web", "http://online.wsj.com/article/SB10001424052970203537304577030033160849296.html?mod=WSJ_Tech_LEFTTopNews&utm_medium=referral&utm_source=pulsenews"
      %p.desc= "The Wall Street Journal"
      %em.date= l Time.parse("2011-11-11"), format: :date
    %li
      = link_to "Internet Video Traffic to Increase Massively", "http://informitv.com/news/2010/06/02/internetvideotraffic/"
      %p.desc= raw "&ldquo;Web video now exceeds 90% of all global consumer internet traffic&rdquo;"
      %em.date= l Time.parse("2011-06-02"), format: :date
    %li
      = link_to "Global Mobile Data Traffic Forecast Update, 2010–2015", "http://www.cisco.com/en/US/solutions/collateral/ns341/ns525/ns537/ns705/ns827/white_paper_c11-520862.html"
      %p.desc= "Mobile web usage is predicted to continue its explosive growth."
      %em.date= l Time.parse("2011-02-01"), format: :date
    %li
      = link_to "Mobile/Tablet Top Operating System Share Trend", "http://www.netmarketshare.com/operating-system-market-share.aspx?qprid=9&qpcustomb=1&qptimeframe=M&qpsp=130&qpnp=25"
      %p.desc= "Apple's iOS platform accounts for over 60% of all mobile web traffic in 2011."
      %em.date= "October 2011"
    %li
      = link_to "Thoughts on Flash", "http://www.apple.com/hotnews/thoughts-on-flash/"
      %p.desc= "Ex-Apple CEO Steve Jobs explains why Flash is an outdated technology unfit to serve the mobile web."
      %em.date= "April 2010"
.spacer