= content_for :head_before, javascript_include_tag("http://cdn.sublimevideo.net/js/t0cf1489.js")
-# THIS IS THE BADGED PLAYER!

= content_for :title, "Plans & Pricing".html_safe
= content_for :header do
  %h2= "All paid plans are free for the first 14 days."
  %p.sub= "No credit card required."

#plans
  %ul
    %li.free.box_0
      .wrapper
        .header
          %h3.title= "Free"
        %ul.features
          %li.plays
            %span.icon
            .right
              %h4= "Unlimited Plays"
              %p.small_desc= "With SublimeVideo badge"
            .spacer
          %li.stats
            %span.icon
            .right
              %h4= "Standard Stats"
              %p.value
                = "24h"
                %span="Data Retention"
            .spacer
          %li.support
            %span.icon
            .right
              %h4= "Forum Support"
            .spacer
        .sign_up_wrap
          = link_to "Sign Up", root_url(host: request.domain, p: 'signup'), onclick: "return SublimeVideo.showPopup('signup')", class: "big_button sign_up_btn"

      %li.plus.box_2
        .wrapper
          .header
            %h3.title= "Plus"
          %ul.features
            %li.plays
              %span.icon
              .right
                %h4= "200,000 Plays"
                %p.small_desc= "Per month"
              .spacer
            %li.stats
              %span.icon
              .right
                %h4= "Real-Time Stats"
                %p.value
                  = "365d"
                  %span= "Data Retention"
              .spacer
            %li.support
              %span.icon
              .right
                %h4= "Email Support"
              .spacer
            %li.ssl
              %span.icon
              .right
                %h4= "SSL Serving"
              .spacer
          .pricing
            .monthly.box
              %strong.price
                = "$9"
                %sup><= ".90"
              %span.details_label= "per site/month"
            .yearly.box
              %strong.price
                = "$99"
              %span.details_label= "per site/year"
              %span.save_label= "save 2 months"
            .spacer
          .sign_up_wrap
            = link_to "Sign Up", root_url(host: request.domain, p: 'signup'), onclick: "return SublimeVideo.showPopup('signup')", class: "big_button sign_up_btn"
  
      %li.premium.box_3
        .wrapper
          .header
            %h3.title= "Premium"
          %ul.features
            %li.plays
              %span.icon
              .right
                %h4= "1,000,000 Plays"
                %p.small_desc= "Per month"
              .spacer
            %li.stats
              %span.icon
              .right
                %h4= "Real-Time Stats"
                %p.value
                  = "Unlimited"
                  %span= "Data Retention"
              .spacer
            %li.support
              %span.icon
              .right
                %h4= "VIP Email Support"
              .spacer
            %li.ssl
              %span.icon
              .right
                %h4= "SSL Serving"
              .spacer
          .pricing
            .monthly.box
              %strong.price
                = "$49"
                %sup><= ".90"
              %span.details_label= "per site/month"
            .yearly.box
              %strong.price
                = "$499"
              %span.details_label= "per site/year"
              %span.save_label= "save 2 months"
          .spacer
          .sign_up_wrap
            = link_to "Sign Up", root_url(host: request.domain, p: 'signup'), onclick: "return SublimeVideo.showPopup('signup')", class: "big_button sign_up_btn"
  .spacer
  #need_more= raw "Need a custom integration with your site or have other enterprise-class requirements? Please #{mail_to t('mailer.sales.email_full'), "contact us"}."

.logos_banner
  %h4.custom_break= "They use SublimeVideo"
  %ul.logos
    %li= link_to (image_tag "www/home/logos/littlebigplanet.png", alt: "Little Big Planet"), "http://blog.jilion.com/2011/04/15/customer-showcase-media-molecule-littlebigplanet2"
    %li= link_to (image_tag "www/home/logos/taptaptap.png", alt: "Tap Tap Tap"), "http://blog.jilion.com/2011/06/01/customer-showcase-camera-plus"
    %li= link_to (image_tag "www/home/logos/tetrapak.png", alt: "Tetra Pak"), "http://blog.jilion.com/2011/06/28/customer-showcase-tetra-pak"
    %li= link_to (image_tag "www/home/logos/bredbandsbolaget.png", alt: "Bredbandsbolaget"), "http://blog.jilion.com/2011/09/27/customer-showcase-bredbandsbolaget"
    %li= link_to (image_tag "www/home/logos/bigcartel.png", alt: "Big Cartel"), "http://blog.jilion.com/2011/04/26/customer-showcase-big-cartel"
    %li= link_to (image_tag "www/home/logos/rock_am_ring.png", alt: "Rock Am Ring"), "http://blog.jilion.com/2011/07/22/customer-showcase-rock-am-ring"
  .spacer
.big_break

%section.faq
  .col_left
    .box
      %h4= "The free plan seems too good to be true, is it really free and unlimited?"
      %p
        = raw "Yes and yes, it's completely free and gives you unlimited video plays. Unlike the unbranded player offered with our paid plans, our free player will display a discreet"
        %a.sublime{ href: (image_path "www/plans/sv-badge-sample.jpg") }= "SublimeVideo badge"
        %video.sublime.zoom.sv_force_badge{ width: "576", height: "324", poster: image_path("www/demo/midnight_sun_800.jpg"), preload: "none", style: "display:none" }
          == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_360p.mp4" />
          == <source src="http://media.jilion.com/videos/demo/midnight_sun_sv1_360p.webm" />
        = "for a few seconds after video playback begins."
    .box
      %h4= "What does 'per-site' mean?"
      %p= raw "Each plan is per-site. However, simply use the wildcard option to extend your SublimeVideo player license to any subdomains of your main domain. Also, if you have multiple domains showing or pointing to the same content as your main domain, you can share the same plan across these via our Alias domains option. #{link_to "Read more", page_url('site-settings', subdomain: 'docs')}."
    .box
      %h4= "Advanced domain settings"
      %p= raw "All plans come with advanced domain settings, including the ability to specify staging domains and a wildcard option to extend your SublimeVideo license to subdomains of your main domain. #{link_to "Read more", page_url('site-settings', subdomain: 'docs')}."
  .col_right
    .box
      %h4= "How does the '14 days free' offer work?"
      %p= "We offer 14 days free for every new paid plan - no credit card required. When your 14 days are almost up we'll send you a reminder to enter your credit card details if you wish to continue your paid plan. Otherwise, you'll automatically be downgraded to our free plan."
    .box
      %h4= "Can I upgrade or downgrade my plan?"
      %p= "Absolutely. You can upgrade, downgrade or change monthly and yearly billing cycles at any time. In case of a downgrade or a change from a yearly to monthly cycle, the change will come into effect at the end of the current plan's cycle."
    .box
      %h4= "Forum & Support"
      %p= raw "All users have access to our extensive documentation and community forum. Additionally, we offer email support to customers of our paid plans. Customers of our Premium plan also benefit from VIP priority email support. Find out more on the #{link_to "help page", page_path('help')}."
    .box
      %h4= "What happens if I exceed my monthly limit?"
      %p= "All paid plans include Peak Insurance, a flexible feature that allows your site's videos or video embeds to exceed the monthly limit of video plays in the event of a temporary burst of traffic."
  .spacer