= content_for :title, "Press"
= content_for :header do
  %h2= "Press"
  %p.sub= raw "Find the latest SublimeVideo news and press coverage here. You can also find out more about SublimeVideo on our #{link_to "About", page_path('about')} page."


-# - cached_latest_sublimevideo_news(3).each do |news|
-#   %h3= news.title