%table.main#mail_logs
  %tr
    %th= link_to_sort :admin
    %th= link_to_sort :template
    %th= link_to_sort :users
    %th= link_to_sort :date, :default_way => 'desc', :default => true, :label => "Created at"
  = render :partial => 'admin/mails/logs/mail_log', :object => @mail_logs