= title_and_content_header("Send an email")

= form_for [:admin, @mail_log], :url => admin_mails_path do |f|
  .entry.template
    = f.label :template
    = f.select :template, Mail::Template.all.map { |t| [t.title, t.id] }
    
  .entry.criteria
    = f.label :criteria
    = "All users "
    = f.select :criteria, %w[with_activity].map{ |c| [c.gsub('_', ' '), c] }
    
  .entry.submit.send
    = f.submit "Send email"
    .spacer