= title_and_content_header("Send an email")

= form_tag admin_mails_path do
  .entry.template
    = label_tag 'mail_template_id', "Template"
    = select_tag 'mail[template_id]', options_from_collection_for_select(MailTemplate.all, :id, :title, @mail_template.id)

  .entry.criteria
    = label_tag 'mail_criteria', "Send this email to: "
    = select_tag 'mail[criteria]', mails_criteria

  %br

  .entry.submit.send
    = submit_tag "Send email", confirm: 'Are you sure?'
    .spacer