= title_and_content_header("Send an email")

= form_tag [:confirm, :admin, :mails] do
  .entry.template
    = label_tag 'mail_template_id', "Template"
    = select_tag 'mail[template_id]', options_from_collection_for_select(MailTemplate.all, :id, :title, @mail_template.id)

  .entry.criteria
    %h3= label_tag 'mail_criteria', 'Who should receive the email?'
    = select_tag 'mail[criteria]', mails_criteria

  %br

  .entry.submit.send
    = submit_tag 'Preview email', class: 'send_email'
    .spacer