= title_and_content_header("Send a mail")

= form_for [:admin, @mail_log], :url => admin_mails_path do |f|
  .entry.template
    = f.label :template_id, "Template"
    = f.select :template_id, MailTemplate.all.map { |t| [t.title, t.id] }, :selected => params[:template_id]
    
  .entry.criteria
    = f.label :criteria
    = "Users: "
    = f.select :criteria, [["dev team only", "dev"], ["invited after 2010-12-23", "invited_after_2010_12_23"], ["with activity", "with_activity"], ["all", "all"]]
    
  %br
  
  .entry.submit.send
    = f.submit "Send mail", :confirm => 'Are you sure?'
    .spacer