= title_and_content_header("Releases")

#player_releases
  .new_form
    = form_for [:admin, Release.new], :html => { :multipart => true } do |f|
      = f.label :zip, "Zip file"
      = f.file_field :zip
      .actions
        = f.submit 'Upload new dev release', :class => "add"

  %h3= "Current Releases"
  %table
    %tr
      %th= "Status"
      %th= "Release Date"
      %th= "Download"
      %th= "Actions"
    %tr
      %td= "Stable"
      - if stable_release = Release.stable_release
        %td= stable_release.date
        %td= link_to "zip archive", stable_release.zip.url
        %td
      - else
        %td{ :colspan => 3 }
          = "none"
    %tr.alt
      %td= "Beta"
      - if beta_release = Release.beta_release
        %td= beta_release.date
        %td= link_to "zip archive", beta_release.zip.url
        %td= button_to "flag as stable", [:admin, beta_release], :confirm => 'Are you REALLY sure?', :method => :put
      - else
        %td{ :colspan => 3 }= "none"
    %tr
      %td= "Dev"
      - if dev_release = Release.dev_release
        %td= dev_release.date
        %td= link_to "zip archive", dev_release.zip.url
        %td= button_to "flag as beta", [:admin, dev_release], :confirm => 'Are you sure?', :method => :put
      - else
        %td{ :colspan => 3 }= "none"

  %h3= "All releases"
  #releases_table_wrap= render 'releases'