#popup_password_checker.popup
  .popup_wrap
    .lights
      .content.password_checker
        %p.desc= password_description
        .entry.password
          = f.label :current_password, password_label, class: "icon"
          = f.password_field :current_password, placeholder: password_placeholder, class: "text", required: true

          .actions= f.submit "Done", class: "blue_button"
          .spacer
      = link_to cancel_url, class: 'close', onclick: "return SublimeVideo.UI.Utils.closePopup()", data: { skip_pjax: true } do
        %span Close
