.left
  - reset_credit_card_attributes(f.object)
  = f.hidden_field :cc_update, :value => true
  - if f.object.errors[:base].present?
    .global_errors
      - f.object.errors[:base].each do |error|
        %p= error

  .entry.card
    .radio_wrap
      = f.radio_button :cc_type, "visa"
      = f.label :cc_type, content_tag(:span, "Visa"), :class => "visa", :title => "Visa"
    .radio_wrap
      = f.radio_button :cc_type, "master"
      = f.label :cc_type, content_tag(:span, "MasterCard"), :class => "master", :title => "MasterCard"
    .spacer

  .entry.first_name
    = f.label :cc_full_name, nil, :class => "icon", :for => "user_cc_full_name"
    = f.text_field :cc_full_name, :class => "text", :placeholder => "Name on card", :autocomplete => :off, :id => "user_cc_full_name"

  .entry.card_number
    = f.label :cc_number, nil, :class => "icon", :for => "user_cc_number"
    = f.text_field :cc_number, :class => "text", :placeholder => "Card number", :size => 16+3, :autocomplete => :off, :id => "user_cc_number"

  .entry.select.float
    = f.label :cc_expire_on, :for => "user_cc_expire_on"
    = f.date_select :cc_expire_on, :discard_day => true, :use_month_names => %w[01 02 03 04 05 06 07 08 09 10 11 12], :start_year => Time.now.year, :end_year => Time.now.year + 20, :order => [:month, :year], :id => "user_cc_expire_on"

  .entry.small_field
    = f.label :cc_verification_value, "Security Code", :for => "user_cc_verification_value"
    = f.text_field :cc_verification_value, :class => "text", :placeholder => "CSC", :autocomplete => :off, :id => "user_cc_verification_value"

.right
  .billing_info
    %p
      -# = "Your credit card information is secure."
      = "Your credit card information is protected with secure socket layer (SSL) encryption."
      %br
      = link_to "Questions about billing?", new_ticket_path(:anchor => "billing")
.spacer
