= title_and_content_header("Update credit card")

#credit_card
  = form_for @user, :url => credit_card_path, :html => { :class => "full_form" } do |f|
    = render 'fields', :f => f
    .entry.update
      = f.submit "Update", :id => 'user_submit', :class => "submit small_button"
  %p.small_note= raw "If you have a #{link_to "3-D Secure VISA", "http://www.visa.com/3-dsecure", :onclick => "window.open(this); return false", :class => "hl"} or #{link_to "3-D Secure MasterCard", "http://www.mastercard.com/securecode/", :onclick => "window.open(this); return false", :class => "hl"} we will charge your credit card with a small amount ($1.00) that we will refund immediately in order to authorize your new credit card."