= content_for :title do
  = "Credit card"

%h2= "Credit card"

- @user ||= current_user
- reset_credit_card_attributes
= form_for @user, :url => credit_card_path, :html => { :class => "main_form" } do |f|
  = f.hidden_field :cc_update, :value => true
  - if @user.errors[:base].present?
    .global_errors
      %p= @user.errors[:base]
  
  .entry.card
    .radio_wrap
      = f.radio_button :cc_type, "visa"
      = f.label :cc_type, "<span>Visa</span>".html_safe, :class => "visa", :title => "Visa", :for => "user_cc_type_visa"
    .radio_wrap
      = f.radio_button :cc_type, "master"
      = f.label :cc_type, "<span>MasterCard</span>".html_safe, :class => "master", :title => "MasterCard", :for => "user_cc_type_master"
    .spacer
  .entry.full_name
    = f.label :cc_full_name, nil, :class => "icon"
    = f.text_field :cc_full_name, :class => "text", :placeholder => "Name on Card", :required => true
  .entry.card_number
    = f.label :cc_number, nil, :class => "icon"
    = f.text_field :cc_number, :class => "text", :placeholder => "Card number", :required => true, :size => 16+3
  .entry.select.float
    = f.label :cc_expire_on
    = f.date_select :cc_expire_on, :discard_day => true, :use_month_names => %w[01 02 03 04 05 06 07 08 09 10 11 12], :start_year => Time.now.year, :end_year => Time.now.year + 20, :order => [ :month, :year ], :required => true
    
  .entry.small_field
    = f.label :cc_verification_value, "Security Code"
    = f.text_field :cc_verification_value, :class => "text", :placeholder => "CSC", :required => true
  .spacer
  
  .entry.update
    = f.submit "Update", :id => 'user_full_name_submit', :class => "submit small"
  .entry.cancel
    = link_to "Cancel", :back
