= title_and_content_header("Request a refund")

- if @sites.empty?
  %p.title_desc= t('site.refund.no_refund_possible')

- else
  %p.title_desc= "We offer a 30 day money back guarantee on all paid plans. If for any reason you are unsatisfied with our service, you can request a refund using the form below."
  %p.title_desc
    = t 'site.refund.warning'
    = raw t 'site.edit.delete_site_info2'
  
  #sites.refund
    = form_tag refund_path, :html => { :id => "refund_form" } do |f|
      .entry.select
        = select_tag :site_id, options_from_collection_for_select(@sites, 'id', 'hostname')
      .entry
        = submit_tag t('site.refund.request'), class: "submit blue_button"
