.entry.text
  = f.label :name, 'Player name', class: 'icon'
  = f.text_field :name, placeholder: 'Player name', required: true, class: 'text no_icon'

#kit_preview.white_box
  %h4.title Preview
  #preview-standard
    %video#standard{ poster: image_path("players/default_poster.png"), width: 640, height: 360 }
      == <source src='//dehqkotcrv4fy.cloudfront.net/videos/demo/midnight_sun_sv1_1_360p.mp4' />
      == <source src='//dehqkotcrv4fy.cloudfront.net/videos/demo/midnight_sun_sv1_1_360p.webm' />

#kit_settings.white_box
  %h4.title Edit player settings

  .entry.design.select
    = f.label :app_design_id, 'Player design:'
    = f.select :app_design_id, app_designs_for_select(site, kit), {}, data: { addon: 'player', setting: 'kit' }

  #player_settings
    = render 'kits/player_settings', site: site, kit: kit, design: design

  -##sharing_settings.expandable_settings_box
  -#  %h4.expanding_handler
  -#    = link_to "#{t('addons.sharing')} settings", '', class: 'hl'
  -#  .left.expandable
  -#    = render 'kits/form_boxes/sharing_settings', site: site, kit: kit

  -##youtube_settings.expandable_settings_box
  -#  %h4.expanding_handler
  -#    = link_to 'YouTube settings', '', class: 'hl'
  -#  .left.expandable
  -#    = render 'kits/form_boxes/youtube_settings', site: site, kit: kit

  -##embed_settings.expandable_settings_box
  -#  %h4.expanding_handler
  -#    = link_to 'Embed settings', '', class: 'hl'
  -#  .left.expandable
  -#    = render 'kits/form_boxes/embed_settings', site: site, kit: kit
