- kit = exhibit(kit)
%li[kit]{ class: 'kit', data: { settings: mangled_kit_settings(kit) } }
  = kit.render_name_as_link(self, site)
  %div.preview
    %video{ id: "preview_kit_#{kit.id}", poster: '//media.jilion.com/images/midnight_sun_800.jpg', width: 368, height: 207 }
      == <source src='//media.jilion.com/videos/demo/midnight_sun_sv1_1_360p.mp4' />
      == <source src='//media.jilion.com/videos/demo/midnight_sun_sv1_1_360p.webm' />

  .action_links
    = link_to 'Edit', [:edit, site, kit], class: 'edit_kit'
    - unless kit.default?
      |
      = form_for [:set_as_default, site, kit], style: 'display:inline' do |f|
        = f.submit 'Set as default', class: 'button_link'
