- cache kit do
  - kit = exhibit(kit)
  %li[kit]{ class: 'kit', data: { settings: formatted_kit_settings(kit) } }
    = kit.render_name_as_link(self, site)
    %div.preview
      %video{ id: "preview_kit_#{kit.id}", poster: image_path("players/default_poster.png"), width: 368, height: 207 }
        == <source src='//dehqkotcrv4fy.cloudfront.net/videos/demo/midnight_sun_sv1_1_360p.mp4' />
        == <source src='//dehqkotcrv4fy.cloudfront.net/videos/demo/midnight_sun_sv1_1_360p.webm' />

    .action_links
      = link_to 'Edit', [:edit, site, kit], class: 'edit_kit'
      - unless kit.default?
        |
        = form_for [:set_as_default, site, kit], method: :put, style: 'display:inline' do |f|
          = f.submit 'Set as default', class: 'button_link'

    - if kit.default?
      %span.default{ title: "This player will be displayed if no player is specified in your <video> tag."}= "Default"