- kit = exhibit(kit)
%li[kit]{ class: ['kit', cycle('left', 'right')], data: { settings: kit.settings.to_json } }
  = kit.render_name_as_link(self, site)

  %div{ id: "preview_kit_#{kit.id}" }

  = link_to 'Edit', [:edit, site, kit], class: 'edit_kit'
  -#= form_for [site, kit], style: 'display:inline' do |f|
  -#  .actions= f.submit 'Duplicate', class: 'submit blue_button'
  - unless kit.default?
    = form_for [:set_as_default, site, kit], style: 'display:inline' do |f|
      .actions= f.submit 'Set as default', class: 'submit blue_button'
