= render 'kits/form_boxes/basic_player_settings', site: site, kit: kit, design: design

= render 'kits/form_boxes/lightbox_settings', site: site, kit: kit, design: design

= render 'kits/form_boxes/logo_settings', site: site, kit: kit, design: design

= render 'kits/form_boxes/social_sharing_settings', site: site, kit: kit, design: design

- if early_access?('embed_addon')
  = render 'kits/form_boxes/embed_settings', site: site, kit: kit, design: design
