- title('Configure your player')
= render '/layouts/site_header'

%h2 Stable version

%h2 Beta version
#kit.edit
  = form_for [@site, @kit] do |f|
    .entry.design.select
      = f.label :app_design_id, 'Select your player design:'
      = f.select :app_design_id, options_from_collection_for_select(@site.app_designs, :id, :title, @kit.app_design_id)

    .left
      - @site.addon_plans.order(:id).each do |addon_plan|
        = raw @kit.render_settings_input_fields(addon_plan, self)

    .actions.center
      = f.submit "Save settings", class: "submit blue_button"
