- title('Configure your player')
= render '/layouts/site_header'
.big_break

#kit.edit
  %h3.assistant_title#identifier
    = "Edit"
    %em= @kit.name
    = "(id: #{@kit.identifier})"
  = form_for [@site, @kit], html: { class: 'kit_editor' } do |f|
    = render 'kits/form', f: f, site: @site, kit: @kit, design: @design

    .actions.center
      = link_to 'Cancel', site_kits_path(@site), class: 'cancel'
      = f.submit 'Save', class: 'submit blue_button'
