= content_for :head do
  :javascript
    document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://4076.voxcdn.com" : "http://cdn.sublimevideo.net") + "/js/ibvjcopp.js' type='text/javascript'%3E%3C/script%3E"));

= title_and_content_header("Video tag generator")

- if user_signed_in?
  :coffeescript
    $ ->
      window.MSVVideoTagBuilder.loader = new MSVVideoTagBuilder.Models.Loader
      window.MSVVideoTagBuilder.sites = new MSV.Collections.Sites(#{@sites.to_json})
      if window.MSVVideoTagBuilder.sites.length
        window.MSVVideoTagBuilder.sites.select('#{@sites.first.token}')
        window.MSVVideoTagBuilder.loader.set(token: '#{@sites.first.token}')
        window.MSVVideoTagBuilder.loader.set(hostname: '#{@sites.first.hostname}')
      SublimeVideoSizeChecker.setRoot('/video-size-checker/')
      window.MSVVideoTagBuilder.builderRouter = new MSVVideoTagBuilder.Routers.BuilderRouter()
- else
  :coffeescript
    $ ->
      SublimeVideoSizeChecker.setRoot('/video-size-checker/')
      window.MSVVideoTagBuilder.builderRouter = new MSVVideoTagBuilder.Routers.BuilderRouter()

%ul
  %li http://remycoutable.fr/storage/rymai-tv/posters/day2.jpg
  %li http://remycoutable.fr/storage/rymai-tv/videos/day22.m4v
  %li http://remycoutable.fr/storage/rymai-tv/videos/day9.m4v
  %li http://remycoutable.fr/storage/rymai-tv/videos/day3.m4v
  %li http://medias.jilion.com/sublimevideo/dartmoor.webm
  %li http://medias.jilion.com/sublimevideo/dartmoor.ogv

= "This video will be inserted on:"
#site_selector

%ul#video_embed_type_selector
  %li.active= link_to "Standard", '', id: 'standard'
  %li= link_to "Lightbox", '', id: 'lightbox'
  %li= link_to "Iframe embed", '', id: 'iframe_embed'

#lightbox_attributes.specialized_video_embed_type_box{ style: 'display:none' }
  %p Lightbox!!

#iframe_embed_attributes.specialized_video_embed_type_box{ style: 'display:none' }
  %p Iframe embed!!

%h2 Poster frame
%p#poster
%br

%h2 Video sources
#sources
%br

%h2 Embed size
#embed_dimensions
%br

%h2 Preview
#preview
%br

%h2 Code to paste in your page
#code