= content_for :head do
  = stylesheet_link_tag 'video_tag_builder'
  :javascript
    document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://4076.voxcdn.com" : "http://cdn.sublimevideo.net") + "/js/ibvjcopp.js' type='text/javascript'%3E%3C/script%3E"));

= title_and_content_header("Video tag generator")

- if user_signed_in?
  :coffeescript
    $ ->
      window.MSVVideoTagBuilder.loader = new MSVVideoTagBuilder.Models.Loader
      window.MSVVideoTagBuilder.sites = new MSV.Collections.Sites(#{@sites.to_json})
      if window.MSVVideoTagBuilder.sites.length
        window.MSVVideoTagBuilder.sites.select('#{@sites.first.token}')
        window.MSVVideoTagBuilder.loader.set(token: '#{@sites.first.token}')
        window.MSVVideoTagBuilder.loader.set(hostname: '#{@sites.first.hostname}')
      SublimeVideoSizeChecker.setRoot('/video-size-checker/')
      window.MSVVideoTagBuilder.builderRouter = new MSVVideoTagBuilder.Routers.BuilderRouter()
- else
  :coffeescript
    $ ->
      SublimeVideoSizeChecker.setRoot('/video-size-checker/')
      window.MSVVideoTagBuilder.builderRouter = new MSVVideoTagBuilder.Routers.BuilderRouter()

%input{ type: "text", size: 60, value: "http://remycoutable.fr/storage/rymai-tv/posters/day2.jpg" }
%input{ type: "text", size: 60, value: "http://remycoutable.fr/storage/rymai-tv/videos/day22.m4v" }
%input{ type: "text", size: 60, value: "http://remycoutable.fr/storage/rymai-tv/videos/day9.m4v" }
%input{ type: "text", size: 60, value: "http://medias.jilion.com/sublimevideo/dartmoor.webm" }
%input{ type: "text", size: 60, value: "http://medias.jilion.com/sublimevideo/dartmoor.ogv" }

- if user_signed_in?
  %p
    = "This video will be embedded on: "
    %span#site_selector

%h2 Demo bootstrap
#demo_bootstrap
  %input{ type: "checkbox", name: "use_demo_assets", id: "use_demo_assets" }
  %label{ for: 'use_demo_assets' } Use demo assets

%ul#video_embed_type_selector
  %li.active= link_to "Standard", '', id: 'standard'
  %li= link_to "Lightbox", '', id: 'lightbox'
  %li= link_to "Iframe embed", '', id: 'iframe_embed'

#lightbox_attributes.specialized_video_embed_type_box{ style: 'display:none' }
  %p Lightbox!!

#iframe_embed_attributes.specialized_video_embed_type_box{ style: 'display:none' }
  %p Iframe embed!!

%h2 Poster frame
%p#poster
.spacer

%h2 Video sources
#sources
.spacer

%h2 Settings
#settings
.spacer

%h2 Preview
#preview
.spacer

%h2 Code to paste in your page
#code