- all_buttons = params[:settings_template][:buttons][:item][:values]

%h5= kit_setting_title(params)

#sharing_button_sort.sort
  %ul#social_sharing_active_buttons.drop_zone
    - params[:value].split(' ').each do |button|
      %li.enabled{ data: { value: button }, class: button.gsub('+', '_plus') }
        %span= button.titleize

  %div.spacer
  %p.drag_note= "Drag and drop buttons to enable and order them."

  %ul#social_sharing_inactive_buttons.drop_zone
    - (all_buttons - params[:value].split(' ')).each do |button|
      %li.disabled{ data: { value: button }, class: button.gsub('+', '_plus') }
        %span= button.titleize
  .arrow_up

= hidden_field_tag kit_setting_input_field_name(params), params[:value], id: kit_setting_input_field_id(params), class: 'previewable', data: kit_setting_data(params)

.spacer
