.entry
  .first_name.left_field
    = f.label :first_name, "First name", class: "icon"
    = f.text_field :first_name, class: "text", placeholder: "First name", required: true
  .last_name.right_field
    = f.label :last_name, "Last name", class: "icon"
    = f.text_field :last_name, class: "text no_icon", placeholder: "Last name", required: true
  .spacer

.entry.select
  .street_1.left_field
    = f.label :street_1, "Street #1", class: "icon"
    = f.text_field :street_1, class: "text no_icon", placeholder: "Street #1", required: true
  .street_2.right_field
    = f.label :street_2, "Street #2", class: "icon"
    = f.text_field :street_2, class: "text no_icon", placeholder: "Street #2"
  .city.left_field
    = f.label :city, class: "icon"
    = f.text_field :city, class: "text no_icon", placeholder: "City", required: true
  .postal_code.right_field
    = f.label :postal_code, "Zip or Postal Code", class: "icon"
    = f.text_field :postal_code, class: "text no_icon", placeholder: "Zip or Postal Code", required: true
  .region.left_field
    = f.label :region, class: "icon"
    = f.text_field :region, class: "text no_icon", placeholder: "Region"
  .country.right_field
    = f.label :country, class: "icon"
    = f.country_select :country, options_for_select("Country", selected: "Country")
  .spacer