%h3.section_title Email & Password
.entry.email
  = f.label :email, "Email", class: "icon"
  = f.email_field :email, class: "text", placeholder: "Email", required: true
%p.note= "Leave blank if you don't want to change it"
.entry.password
  = f.label :password, "New password", class: "icon"
  = f.password_field :password, class: "text show_password", placeholder: "New password", autocomplete: "off", value: params[:user] && params[:user][:password]
