.entry
  .name
    = f.label :name, "Name", class: "icon"
    = f.text_field :name, class: "text", placeholder: "Name"
  .spacer

.entry.select
  .postal_code.left_field
    = f.label :postal_code, "Zip or Postal Code", class: "icon"
    = f.text_field :postal_code, class: "text no_icon", placeholder: "Zip or Postal Code"

  .country.right_field
    = f.label :country, "Country", class: "icon"
    = f.country_select :country, [], iso_codes: true, include_blank: 'Country'
  .spacer

.entry.company_info
  .company_name.left_field
    = f.label :company_name, "Company name", class: "icon"
    = f.text_field :company_name, class: "text no_icon", placeholder: "Company name"
  .company_url.right_field
    = f.label :company_url, "Company url", class: "icon"
    = f.text_field :company_url, class: "text no_icon", placeholder: "Company url"
  .spacer

.entry.company_info.select
  .company_name.left_field
    = f.label :company_job_title, "Company job title", class: "icon"
    = f.text_field :company_job_title, class: "text no_icon", placeholder: "Company job title"
  .company_employees.right_field
    = f.label :company_employees, "Company size", class: "icon"
    = f.select :company_employees, options_for_select(["Company size", "1 employee", "2-5 employees", "6-20 employees", "21-100 employees", "101-1000 employees", ">1001 employees"], selected: f.object.company_employees)
  .spacer

.entry.use
  %label.main= "Use of SublimeVideo:"
  .checkbox_wrap
    = f.check_box :use_personal
    = f.label :use_personal, "Personal"
  .checkbox_wrap
    = f.check_box :use_company
    = f.label :use_company, "For my company"
  .checkbox_wrap
    = f.check_box :use_clients
    = f.label :use_clients, "For my clients"
