- @user ||= current_user
= form_for @user, :html => { :class => "main_form", :id => "edit_user_#{@user.id}_video_settings" } do |f|
  %h3#video_settings.section_title= "Video settings"
  -#.entry
  -#  .checkbox_wrap_dont_use_pretty_check_box
  -#    = label_tag "user[video_settings[webm]]", "Alpha feature! Encode your videos to Google's WebM, be aware that encoding is 10x longer than for MP4 files.", :class => "note"
  -#    = check_box_tag "user[video_settings[webm]]", "1", @user.use_webm?
  -#    = "Use WebM"
  .entry
    = label_tag "user[video_settings[default_video_embed_width]]", "Default width for embed video tag.", :class => "note"
    = text_field_tag "user[video_settings[default_video_embed_width]]", @user.default_video_embed_width, :class => "text small"
  .spacer
  .entry.update
    = f.submit "Update", :id => 'user_video_settings_submit', :class => "submit small"