= page_title "Supported browsers and platforms"

%table#supported_browsers
  %colgroup
    %col
    %col.alt
    %col
    %col.alt
    %col
  %tr.alt
    %th.platforms= "Platform"
    %th.browser= "Browser"
    %th.html5
      %table.formats
        %tr
          %th{ :colspan => 3 }= "HTML5 mode"
    %th.flash
      %table.formats
        %tr
          %th= "Flash mode"
    %th.notes= "Notes"
  %tr
    %td.platform
      %strong= "Windows"
    %td.browser= "IE 6"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes= "HTML5 mode possible if Google Chrome Frame installed"
  %tr.alt
    %td.platform.empty
    %td.browser= "IE 7"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes= "HTML5 mode possible if Google Chrome Frame installed"
  %tr
    %td.platform.empty
    %td.browser= "IE 8"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes= "HTML5 mode possible if Google Chrome Frame installed"
  %tr.alt
    %td.platform.empty
    %td.browser= "IE 9"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td= "webm*"
          %td
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
      = "* if VP8 codec installed"
  %tr
    %td.platform.empty
    %td.browser= "Firefox < 3.5"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Firefox 3.5, 3.6"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Firefox 4-9"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td= "webm"
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Chrome < 3"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Chrome 3, 4, 5"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Chrome 6-16"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td= "webm"
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Opera < 10.5"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Opera 10.5"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Opera 10.6, 11, 12"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td= "webm"
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Safari 3.1, 4, 5"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td
          %td
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform
      %strong= "Mac"
    %td.browser= "Safari < 3.1"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Safari 3.1, 4, 5"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td
          %td
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Firefox < 3.5"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Firefox 3.5, 3.6"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Firefox 4-9"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td= "webm"
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Chrome < 3"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Chrome 3, 4, 5"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Chrome 6-16"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td= "webm"
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Opera < 10.5"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Opera 10.5"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Opera 10.6, 11, 12"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td= "webm"
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform
      %strong= "Linux"
    %td.browser= "Firefox < 3.5"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Firefox 3.5, 3.6"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Firefox 4-9"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td= "webm"
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Chrome < 3"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Chrome 3, 4, 5"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Chrome 6-16"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td= "webm"
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Opera < 10.5"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Opera 10.5"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Opera 10.6, 11, 12"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td= "webm"
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform.empty
    %td.browser= "Konqueror < 4.4"
    %td.html5.no
      %span= "No"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr.alt
    %td.platform.empty
    %td.browser= "Konqueror 4.4+"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td
          %td
          %td= "ogg"
    %td.flash.yes
      %table.formats
        %tr
          %td.icon
            %span= "Yes"
        %tr.labels
          %td= "mp4"
    %td.notes
  %tr
    %td.platform
      %strong= "iOS"
    %td.browser= "iPhone 3, 4, 5"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td
          %td
    %td.flash.no
      %span= "No"
    %td.notes= "Previous versions (v1, v2) didn't support HTML5 video and are now deprecated (any iPhone model can be freely upgraded to OS 3)"
  %tr.alt
    %td.platform.empty
    %td.browser= "iPad 3.2, 4, 5"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td
          %td
    %td.flash.no
      %span= "No"
    %td.notes
  %tr
    %td.platform
      %strong= "Android"
    %td.browser= "Android 2.1, 2.2, 3"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td
          %td
    %td.flash.no
      %span= "No"
    %td.notes
  %tr.alt
    %td.platform
      %strong= "Windows Phone"
    %td.browser= "Windows Phone 7"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td
          %td
    %td.flash.no
      %span= "No"
    %td.notes
  %tr
    %td.platform
      %strong= "BlackBerry"
    %td.browser= "BlackBerry 6, 7"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td
          %td
    %td.flash.no
      %span= "No"
    %td.notes
  %tr.alt.last
    %td.platform
      %strong= "webOS"
    %td.browser= "webOS 1, 2"
    %td.html5.yes
      %table.formats
        %tr
          %td.icon{ :colspan => 3 }
            %span= "Yes"
        %tr.labels
          %td= "mp4"
          %td
          %td
    %td.flash.no
      %span= "No"
    %td.notes
