%p.filters
  = link_to "#{content_tag(:strong, Invoice.count)} All".html_safe, admin_invoices_path, remote: true, class: 'remote'
  |
  = link_to "#{content_tag(:strong, Invoice.paid.count)} Paid".html_safe, admin_invoices_path(paid: true), remote: true, class: 'remote'
  |
  = link_to "#{content_tag(:strong, Invoice.with_state('failed').count)} Failed".html_safe, admin_invoices_path(with_state: 'failed'), remote: true, class: 'remote'
  |
  = link_to "#{content_tag(:strong, Invoice.with_state('open').count)} Open".html_safe, admin_invoices_path(with_state: 'open'), remote: true, class: 'remote'
  |
  = link_to "#{content_tag(:strong, Invoice.with_state('waiting').count)} Waiting".html_safe, admin_invoices_path(with_state: 'waiting'), remote: true, class: 'remote'
