%tr[invoice]{ :class => cycle("", "alt") }
  %td.reference
    = link_to invoice.reference, [:admin, invoice]
  %td.user
    %small
      = link_to invoice.user.full_name, [:admin, invoice.user], :title => "#{invoice.user.full_name} <#{invoice.user.email}>"
  %td.period
    %small
      = l(invoice.created_at, :format => :d_b_Y)
      = ", Refund. #{l(invoice.site.refunded_at, :format => :d_b_Y)}" if invoice.refunded?
  %td.site
    = invoice.site.hostname
  %td.invoice_items_count
    = invoice.invoice_items.size
  %td.amount
    = display_amount(invoice.amount)
  %td.state
    %small= invoice.refunded? ? "refunded" : invoice.state
