%tr[invoice]{ class: cycle("", "alt") }
  %td.id
    %small= link_to "##{invoice.id}", [:admin, invoice]

  %td.reference
    %small= link_to invoice.reference, [:edit, :admin, invoice]

  %td.user
    %small
      = viped(invoice.user) do
        - link_to invoice.user.name_or_email, [:edit, :admin, invoice.user], title: invoice.user.email
      = " [#{invoice.user.state}]" unless invoice.user.active?

  %td.site
    %small
      = admin_links_to_hostnames(invoice.site)
      = " [#{invoice.site.state}]" unless invoice.site.active?

  %td.number
    %small= number_with_delimiter(invoice.site.last_30_days_billable_video_views)

  %td.period
    %small
      - if invoice.canceled?
        = "Canceled"
      - elsif invoice.paid_at?
        = "Paid: #{display_time(invoice.paid_at)}"
        = ", Refund. #{display_time(invoice.site.refunded_at)}" if invoice.refunded?
      - elsif invoice.last_failed_at?
        = "Failed: #{display_time(invoice.last_failed_at)}"
      - else
        = "Created: #{display_time(invoice.created_at)}"

  %td.amount
    %small= display_amount(invoice.amount)

  %td.state
    %small
      - case invoice.state
      - when "open", "waiting", "canceled", "refunded"
        %span{ style: "color:orange" }= invoice.state
      - when "failed"
        %strong{ style: "color:red" }= 'failed'
        = " (#{invoice.transactions.failed.size}/15)"
      - when "paid"
        %span{ style: "color:green" }= invoice.refunded? ? 'refunded' : 'paid'
