%tr[invoice]{ :class => cycle("", "alt") }
  %td.reference
    = link_to invoice.reference, [:admin, invoice]
  %td.user
    %small
      = link_to invoice.user.full_name, [:admin, invoice.user], :title => "#{invoice.user.full_name} <#{invoice.user.email}>"
      = "(beta)" if invoice.user.beta?
  %td.period
    %small
      = l(invoice.created_at, :format => :d_b_Y)
      = ", Refund. #{l(invoice.site.refunded_at, :format => :d_b_Y)}" if invoice.refunded?
  %td.site
    = link_to invoice.site.hostname, [:edit, :admin, invoice.site]
    = "(#{invoice.site.state})" unless invoice.site.active?
  %td.invoice_items_count
    - if invoice.invoice_items_count > 1
      = "upgrade"
    - elsif invoice.renew
      = "renewing"
    - else
      = "creation"
  %td.amount
    = display_amount(invoice.amount)
  %td.state
    %small= invoice.refunded? ? "refunded" : invoice.state
