%table.main#invoices
  %tr
    %th= link_to_sort :id, label: "ID", default_way: 'desc', default: true
    %th Reference
    %th= link_to_sort :user
    %th Site
    %th= link_to_sort :date
    %th= link_to_sort :invoice_items_count, label: "Type"
    %th= link_to_sort :amount
    %th State
  = render @invoices

.pagination_wrap
  = paginate @invoices, theme: 'admin'
  = page_entries_info @invoices
