%tr[feedback]{ class: cycle("", "alt") }
  %td.id= feedback.id

  %td.user
    %small
      = viped(feedback.user) do
        - link_to feedback.user.name_or_email, [:edit, :admin, feedback.user], title: feedback.user.email

  %td.kind
    %small= display_kind(feedback)

  %td.reason
    %small= t("feedback.reason.options_short.#{feedback.reason}")

  %td.comment
    %small= simple_format(feedback.comment || 'N/A')

  %td.next_player
    %small= simple_format(feedback.next_player || 'N/A')

  %td.created_at
    %small= display_date(feedback.created_at)
