= form_for @video, :as => :video, :url => videos_path, :html => { :multipart => true, :class => "video" } do |f|
  .entry.video
    = f.label :file, "", :class => "icon"
    = f.file_field :file, :required => true
    = f.hidden_field :file_cache
  .actions
    = f.submit 'Upload'