= content_for :header do
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'
  -#= javascript_include_tag '/panda_uploader/jquery.panda-uploader-0.6.min.js'
  = javascript_include_tag '/panda_uploader/swfobject.js'
  = javascript_include_tag '/panda_uploader/swfupload.js'
  = javascript_include_tag '/panda_uploader/jquery.swfupload.js'
  = javascript_include_tag '/panda_uploader/jquery.panda-uploader.js'
  == <script language="javascript" type="text/javascript">
  ==     $j = jQuery.noConflict();
  == </script>
  
= form_for @video, :as => :video, :url => videos_path, :html => { :multipart => true, :class => "video" }, :remote => true do |f|
  .entry.video
    = f.label :file, "Choose a file to upload"
    = f.file_field :file, :required => true
    = f.hidden_field :panda_video_id
    
    = f.submit 'Upload', :style => "display:none"
    %span#upload_button
    #upload_indicator
      #upload_progress.progress
      .info
        %em#upload_filename.filename
        %span#time_estimation
        %strong#percent_completed
        %a#cancel_upload{ :href => "" }
        
  %script= panda_uploader_js('video_panda_video_id')