- if @videos.present?
  .main_table_wrap
    .dark_rounded_corners
      %table.main
        %tr
          %th.video
            .wrap
              %strong
                = image_tag "/images/embed/small_spinner.gif", :class => "spinner", :id => "table_spinner", :style => "display:none"
                = "Video"
              - unless @videos.one?
                .sorting
                  = link_to_sort(:date, videos_path, :up => 'asc', :reverse => true, :default => true)
                  = link_to_sort(:name, videos_path, :up => 'asc')
          %th.code= "Code"
          %th.delete
          
        - @videos.each do |video|
          %tr{ :class => cycle("", "alt") }
            %td.video
              .wrap
                .thumbnail
                  .crop
                    = image_tag("http://s3.amazonaws.com/sublimevideo.panda/" + video.formats.first.panda_id + "_4.jpg") if video.formats.first# if video.thumbnail.url.present?
                    -#= image_tag "http://ats.vimeo.com/414/438/41443806_200.jpg"
                  %span.duration= seconds_to_duration(video.duration)
                .info
                  %h3.title{ :title => video.name }= truncate(video.name, :length => 28)
                  
                  .views
                    %strong= number_with_delimiter(rand(10000))
                    %em= "views"
                    
                  - if video.active?
                    .storage
                      %strong= number_to_human_size(video.total_size)
                      = link_to "", :class => "toggle_desc_box", :onclick => "next().toggle(); return false;" do
                        %span= "Toggle description box"
                      .desc_box{ :style => "display:none" }
                        %ul
                          %li
                            = "Original"
                            %span= number_to_human_size(video.size)
                          - video.formats.each do |format|
                            %li
                              = format.name 
                              %span= number_to_human_size(format.size)
                  .spacer
                  .upload_date= "Uploaded on #{video.created_at.strftime('%d/%m/%Y')}"
            %td.code
              - if video.active?
                = link_to "Embed code", "", :class => "embed_code", :onclick => "return MySublimeVideo.showVideoEmbedCode(#{video.id})"
              - else
                .in_progress
                  %em= "In progress"
                  %ul
                    - video.formats.pending.each do |format|
                      %li= link_to "Transcode #{format.name}", transcoded_video_url(format.panda_id)
                  
            %td.delete= button_to 'Delete', video_path(video), :confirm => 'Are you sure?', :method => :delete
            
  .pagination_wrap
    = will_paginate(:params => { :format => nil }, :renderer => 'WillPaginate::ViewHelpers::LinkRendererRemote')
    = page_entries_info @videos