- if @videos.present?
  .main_table_wrap
    .dark_rounded_corners
      %table.main
        %tr
          %th.video
            .wrap
              %strong
                = image_tag "/images/embed/small_spinner.gif", :class => "spinner", :id => "table_spinner", :style => "display:none"
                = "Video"
              - unless @videos.one?
                .sorting
                  = link_to_sort(:date, videos_path, :up => 'asc', :reverse => true, :default => true)
                  = link_to_sort(:title, videos_path, :up => 'asc')
          %th.code= "Code"
          %th.delete
        = render @videos
  .pagination_wrap
    = will_paginate(:params => { :format => nil }, :renderer => 'WillPaginate::ViewHelpers::LinkRendererRemote')
    = page_entries_info @videos