= content_for :title do
  Editing video

%h1 Editing video

= form_for @video do |f|
  .field
    = f.label :dev_hostnames
    = f.text_field :dev_hostnames
  .actions
    = f.submit 'Save'
    or 
    -#= link_to 'Show', @video
    -#\|
    = link_to 'cancel', videos_path