= content_for :title do
  = "My videos"

= content_for :introduction do
  %h2= "My videos"
  %p.title_desc= "Here are you SublimeVideo-optimized videos. Add as many as you want."
  
- @video ||= current_user.videos.build
= render "new"

#videos_table_wrap
  = render "videos"