= content_for :title do
  = "My videos"

= content_for :content_header do
  %h2= "My videos"
  %p.title_desc= "Start to upload your videos here. You will receive an email when your video will be ready to be embedded."
  
- if current_user.cc?
  - @video ||= current_user.videos.build
  = render "new"
  
  #videos_table_wrap
    = render "videos"