%p
  %b Name:
  = @video.name
%p
  %b File url:
  = @video.file.url
%p
  %b Thumbnail url:
  = @video.thumbnail.url
%p
  %b Size:
  = @video.size
%p
  %b Duration:
  = @video.duration
%p
  %b State:
  = @video.state
%p
  %b Type:
  = @video.type

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
