%tr{ :id => dom_id(profile), :class => cycle("", "alt") }
  %td.title
    = link_to profile.title, admin_profile_path(profile)
  %td.description
    = link_to truncate(profile.description, :length => 15), admin_profile_path(profile)
  %td.name
    = link_to profile.name, admin_profile_path(profile)
  %td.extname
    = link_to profile.extname, admin_profile_path(profile)
  %td.thumbnailable
    = link_to profile.thumbnailable.to_s, admin_profile_path(profile)
  %td.versions_count
    = link_to profile.versions.size, admin_profile_path(profile)
  %td.encodings_count
    = VideoEncoding.with_profile(profile).size
  %td.edit
    = link_to "Edit", edit_admin_profile_path(profile)