= title_and_content_header("New video profile")

= form_for [:admin, @profile], :url => admin_profiles_path, :html => { :class => "profile" } do |f|
  .entry.title
    = f.label :title
    = f.text_field :title, :class => "text", :placeholder => "HD", :required => true, :autocomplete => :off
  .entry.description
    = f.label :description
    = f.text_area :description, :class => "text", :autocomplete => :off, :rows => 10, :cols => 50
  .entry.name
    = f.label :name
    = f.text_field :name, :class => "text", :placeholder => "_hd", :autocomplete => :off
  .entry.extname
    = f.label :extname
    = f.text_field :extname, :class => "text", :placeholder => "mp4", :required => true, :autocomplete => :off
  .entry.min_width
    = f.label :min_width
    = f.text_field :min_width, :class => "text", :placeholder => "1280", :autocomplete => :off
  .entry.min_height
    = f.label :min_height
    = f.text_field :min_height, :class => "text", :placeholder => "720", :autocomplete => :off
  .entry.thumbnailable
    = f.label :thumbnailable
    = f.check_box :thumbnailable
  .actions
    = f.submit 'Create', :class => "submit small"
    = "or"
    = link_to "cancel", admin_profiles_path