= title_and_content_header("Video profile #{content_tag(:em, @profile.title)}")

.created_at
  %strong= "Creation date: "
  = l(@profile.created_at, :format => :full)
.title
  %strong= "Title: "
  = @profile.title
.description
  %strong= "Description: "
  = @profile.description
.name
  %strong= "Name: "
  = @profile.name
.extname
  %strong= "Extname: "
  = @profile.extname
.posterframeable
  %strong= "Posterframeable: "
  = @profile.posterframeable
.encodings_count
  %strong= "# of encodings: "
  = VideoEncoding.with_profile(@profile).size
  
%h3= "Versions"

= link_to "New version", new_admin_profile_version_path(@profile)

#video_profile_versions_table_wrap
  = render "/admin/video_profile_versions/video_profile_versions"
  
= link_to "Back to video profiles", admin_profiles_path