%nav
  %ul
    %li
      %ul.pages
        %li.title
          %h3 Getting Started
        = li_with_page_link "quickstart-guide", title: "Quickstart Guide"
        = li_with_page_link "write-proper-video-elements", title: "Write <video> elements"
        = li_with_page_link "encode-videos-for-the-web", title: "Video encoding"
        = li_with_page_link "create-poster-frame", title: "Create poster frame"
    %li
      %ul.pages
        %li.title
          %h3 How To
        = li_with_page_link "put-video-in-a-floating-lightbox", title: "Floating lightbox"
        = li_with_page_link "hd-switching", title: "HD switching"
        = li_with_page_link "playlists"
        = li_with_page_link "customizing-the-initial-play-button", title: "Custom play button"
        = li_with_page_link "autoplay-video-upon-page-load", title: "Autoplay a video"
        = li_with_page_link "loop-a-video"
        = li_with_page_link "returning-to-the-initial-state-once-video-playback-ends", title: "Back to initial state on end"
        = li_with_page_link "embeds"
        = li_with_page_link "optimize-for-stats", title: "Optimize <video> for stats"
        = li_with_page_link "ssl", title: "SSL Serving"
    %li
      %ul.pages
        %li.title
          %h3 JavaScript API
        = li_with_page_link "javascript-api/usage"
        = li_with_page_link "javascript-api/methods"
        = li_with_page_link "javascript-api/listeners"

    %li
      %ul.pages
        %li.title
          %h3 CMS Integration
        = li_with_page_link "wordpress", title: "WordPress plugin"
    %li
      %ul.pages
        %li.title
          %h3 Service
        = li_with_page_link "real-time-stats", title: "Real-Time Statistics"
        = li_with_page_link "peak-insurance", title: "Peak insurance"
        = li_with_page_link "site-settings", title: "Site settings"
    %li
      %ul.pages
        %li.title
          %h3 Other
        = li_with_page_link "faq", title: "FAQ"
        = li_with_page_link "troubleshooting"
        = li_with_page_link "supported-browsers-and-platforms", title: "Supported browsers"
        = li_with_page_link "releases", title: "Release Notes"