= content_for :head do
  = stylesheet_link_tag 'prettify/prettify', 'video_tag_builder'
  = javascript_include_tag 'prettify/prettify', 'video_tag_builder'
  :javascript
    document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://4076.voxcdn.com" : "http://cdn.sublimevideo.net") + "/js/#{SiteToken.my}.js' type='text/javascript'%3E%3C/script%3E"));

= title_and_content_header("Video code generator")

- if user_signed_in?
  - token = @site.try(:token) || @sites.first.token
  - hostname = @site.try(:hostname) || @sites.first.hostname
  :coffeescript
    $ ->
      window.MSVVideoTagBuilder.loader = new MSVVideoTagBuilder.Models.Loader
      window.MSVVideoTagBuilder.sites = new MSV.Collections.Sites(#{@sites.to_json})
      if window.MSVVideoTagBuilder.sites.length
        window.MSVVideoTagBuilder.sites.select('#{token}')
        window.MSVVideoTagBuilder.loader.set(token: '#{token}')
        window.MSVVideoTagBuilder.loader.set(hostname: '#{hostname}')
      SublimeVideoSizeChecker.setRoot('/video-size-checker/')
      window.MSVVideoTagBuilder.builderRouter = new MSVVideoTagBuilder.Routers.BuilderRouter()
- else
  :coffeescript
    $ ->
      window.MSVVideoTagBuilder.loader = new MSVVideoTagBuilder.Models.Loader
      SublimeVideoSizeChecker.setRoot('/video-size-checker/')
      window.MSVVideoTagBuilder.builderRouter = new MSVVideoTagBuilder.Routers.BuilderRouter()

-# %input{ type: "text", size: 60, value: "http://rymai.s3.amazonaws.com/rymai.tv/posters/day2.jpg" }
-# %input{ type: "text", size: 60, value: "http://rymai.s3.amazonaws.com/rymai.tv/videos/day22.m4v" }
-# %input{ type: "text", size: 60, value: "http://rymai.s3.amazonaws.com/rymai.tv/videos/day9.m4v" }
-# %input{ type: "text", size: 60, value: "http://medias.jilion.com/sublimevideo/dartmoor.webm" }
-# %input{ type: "text", size: 60, value: "http://medias.jilion.com/sublimevideo/dartmoor.ogv" }
-# 
-# %p.desc.help= raw "WordPress user? Check-out #{link_to 'our WordPress plugin', 'http://docs.sublimevideo.net/wordpress', onclick: "window.open(this); return false"} instead!"

- if user_signed_in?
  %p
    = "This video will be embedded on: "
    %span#site_selector

#video_embed_type_selector
  .radio_wrap
    = radio_button_tag "type", "standard", checked: true
    = label_tag "type_standard", "Standard"  
  .radio_wrap
    = radio_button_tag "type", "lightbox"
    = label_tag "type_lightbox", "Lightbox"  
  .radio_wrap
    = radio_button_tag "type", "embed"
    = label_tag "type_embed", "Iframe Embed"  

%a.green_button#demo_urls{ href: "" }= "Use demo videos urls"

-# #demo_bootstrap
-#   %input{ type: "checkbox", name: "use_demo_assets", id: "use_demo_assets" }
-#   %label{ for: 'use_demo_assets' } Use demo assets
  
.spacer

.big_break

%form#video_code_form
  #lightbox_attributes.specialized_video_embed_type_box{ style: 'display:none' }

  #iframe_embed_attributes.specialized_video_embed_type_box{ style: 'display:none' }

  #poster
  .spacer

  #sources
  .spacer

  -# %p.desc.help= raw "Need help on video encoding? Check-out our #{link_to '"Encode videos for the web and HTML5"', 'http://docs.sublimevideo.net/encode-videos-for-the-web', onclick: "window.open(this); return false"} documentation page!"
  
  .big_break

  -# %h4 Settings
  #settings
  .spacer
  
  .big_break

  %h4 Preview
  #preview
  .spacer

  %h4 Code to paste in your page
  #code