= title_and_content_header "Forgot your password?"

%p.title_desc= "Enter your email address to receive an email with instructions to reset your password."

= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "main_form p_bottom" } do |f|
  .entry.email
    = f.label :email, "", class: "icon"
    = f.email_field :email, class: "text", placeholder: "Email", required: true

  .entry.continue= f.submit "Send", class: 'submit blue_button'
  .spacer
