= title_and_content_header("Your account is suspended")

#credit_card_summary
  %h3.section_title= "Your Credit Card Info"
  - if current_user.cc_expired?
    %span{ :style => "color:red;" }= "This Credit Card is expired, please update it."
  %p{ :class => current_user.cc_type }
    = raw "#{t("user.credit_card.type.#{current_user.cc_type}")} ending in #{content_tag(:strong, current_user.cc_last_digits)}"
    = link_to edit_credit_card_path do
      %strong= "Update your Credit Card"
      
- failed_invoices = current_user.invoices.failed

- if failed_invoices.empty?
  %h3= "Your account should be re-activated in a few minutes, you will receive an email when it will be done."
- elsif failed_invoices.all? { |invoice| invoice.charging_delayed_job_id? }
  %h3= "Your failed invoices are being charged... You will receive an email when your account is re-activated."
- else
  #unpaid_invoices
    %h3.section_title= "Your Past Non-Paid Invoices"
    = "You have to pay the following invoice(s) in order to see your account re-activated:"
    %ul
      - failed_invoices.each do |invoice|
        %li
          = link_to "#{invoice_dates(invoice)} - #{charging_status(invoice)}", invoice_path(invoice)
          - unless current_user.cc_expired?
            = form_for invoice, :url => pay_invoice_path(invoice), :html => { :method => 'post', "data-password-protected" => true } do |f|
              .entry.update
                = f.submit "Pay the #{invoice_dates(invoice)} invoice"