= title_and_content_header("Your account is suspended")

#suspended
  - failed_invoices = current_user.invoices.failed

  %h3.section_title= "Suspension reason"
  - if failed_invoices.any?
    %p= "You currently have #{t('failed_invoices', :count => failed_invoices.count)}."

    = render 'users/credit_card_infos'

    %h3.section_title= "Your failed invoices"
    #failed_invoices
      = t("user.have_to_pay_following_invoices")
      %ul
        - failed_invoices.each do |invoice|
          %li
            = render '/invoices/invoice_row', :invoice => invoice
      - if !current_user.cc_expired?
        = form_tag retry_all_invoices_path, method: 'put' do
          .entry= submit_tag t('site.invoices.retry_invoices'), :class => "submit_dynamic_button"
  - else
    %p
      = "Unknown reason."
      = raw t("please_link_to_know_more_about_it", :link => link_to("contact us", new_ticket_path(anchor: "billing")))