= title_and_content_header("Your account is suspended")

#suspended
  - failed_invoices = current_user.invoices.failed
  - if failed_invoices.empty?
    %h3.section_title{ :style => "color:green" }= "Your account will be re-activated"
    %p= t("user.will_be_reactivated")
  -# - elsif failed_invoices.present? && failed_invoices.all? { |invoice| invoice.will_be_charged? }
  -#   %h3.section_title{ :style => "color:#d84d0a" }= "Charging in progress"
  -#   %p= t("user.failed_invoices_are_being_processed")

  %h3.section_title= "Suspension reason"
  - if failed_invoices.count > 0
   %p= "You currently have #{t('failed_invoices', :count => failed_invoices.count)}."
  - else
   %p
     = "Unknown reason."
     = raw t("please_link_to_know_more_about_it", :link => link_to("contact us", new_ticket_path(:anchor => "billing")))

  #credit_card_summary
    %h3.section_title= "Your credit card info"
    - if current_user.cc_expired?
      %span{ :style => "color:red;" }= t("user.credit_card.expired")
    %p.card{ :class => current_user.cc_type }
      = raw "#{t("user.credit_card.type.#{current_user.cc_type}")} ending in #{content_tag(:strong, current_user.cc_last_digits)}"
      = link_to edit_credit_card_path do
        %strong= "Update credit card"

  - if failed_invoices.present?
    %h3.section_title= "Your failed invoices"
    #failed_invoices
      = t("user.have_to_pay_following_invoices")
      %ul
        - failed_invoices.each do |invoice|
          %li
            = render '/invoices/invoice_row', :invoice => invoice
            - if !current_user.cc_expired?
              = form_for invoice, :url => pay_invoice_path(invoice), :html => { "data-password-protected" => true } do |f|
                .entry.update
                  = f.submit "Pay this invoice manually", :class => "submit_dynamic_button"
