= content_for :head do
  :javascript
    document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://4076.voxcdn.com" : "http://cdn.sublimevideo.net") + "/js/ibvjcopp.js' type='text/javascript'%3E%3C/script%3E"));

= title_and_content_header("Video tag generator")

:coffeescript
  $ ->
    if '#{user_signed_in?}' == 'true'
      window.MSVVideoTagBuilder.sites = new MSV.Collections.Sites(#{current_user.sites.order(:hostname).to_json(only: [:token, :hostname])})
      window.MSVVideoTagBuilder.sites.select('#{@site.try(:token)}') if '#{@site}' != ''
      window.MSVVideoTagBuilder.builderRouter = new MSVVideoTagBuilder.Routers.BuilderRouter()

#site_selector

%ul#video_embed_type_selector
  %li.active= link_to "Standard", '', id: 'standard'
  %li= link_to "Lightbox", '', id: 'lightbox'
  %li= link_to "Iframe embed", '', id: 'iframe_embed'

#lightbox_attributes.specialized_video_embed_type_box{ style: 'display:none' }
  %p Lightbox!!

#iframe_embed_attributes.specialized_video_embed_type_box{ style: 'display:none' }
  %p Iframe embed!!

#standard_attributes
  %h2 Poster frame
  %p#poster_box

  %h2 Video sources
  #sources_box
    / %p
    /   %label{ for: 'mp4_normal' } MP4
    /   %input#mp4_normal.video_source{ name: 'mp4_normal', type: 'text', size: 50, value: 'http://assets0.jilion.com/static/videos/SublimeVideo-WP-Plugin-Demo.mp4' }
    / 
    / %p
    /   %label{ for: 'mp4_mobile' } MP4 Mobile
    /   %input#mp4_mobile.video_source{ name: 'mp4_mobile', type: 'text', size: 50 }
    / 
    / %p
    /   %label{ for: 'webm_ogg' } WebM or Ogg
    /   %input#webm_ogg.video_source{ name: 'webm_ogg', type: 'text', size: 50 }
  / 
  / %p#original_dimensions
  /   Original dimensions
  /   %span#original_width{ name: 'original_width' }
  /   x
  /   %span#original_height{ name: 'original_height' }
  / 
  / %p#final_dimensions
  /   Final dimensions
  /   %input#final_width{ name: 'final_width', type: 'text' }
  /   x
  /   %input#final_height{ name: 'final_height', type: 'text' }
  / 
  /   %p#keep_ratio_box
  /     %label{ for: 'keep_ratio' } Keep original ratio
  /     %input#keep_video_ratio{ name: 'keep_ratio', type: 'checkbox', checked: true }


/ %h3 Live preview
/ #live_preview_wrap
/   .breakline
/   #live_preview_video_wrap

/ %h3 Code to paste in your page
/ %pre#video_tag_code