= title_and_content_header("Support")

%p.title_desc
  = "Use this form to send us bug reports, suggestions for improvement, feature requests, billing questions or any other comments."
  %br
  = "Thank you for helping us improve SublimeVideo."
  
= form_for @ticket, :url => ticket_path do |f|
  .entry.select.type
    = f.label :type, "", :class => "icon"
    = f.select :type, ticket_type_options
  .entry.feedback_subject
    = f.label :subject, "", :class => "icon"
    = f.text_field :subject, :class => "text", :placeholder => "Subject", :required => true
  .entry.message
    = f.label :message, "", :class => "icon"
    = f.text_area :message, :class => "text", :placeholder => "Message", :required => true
  .entry.update
    = f.submit 'Send', :class => "submit small"