= title_and_content_header("Support")

= form_for @ticket, :url => ticket_path do |f|
  .entry.type
    = f.label :type
    = select_tag "ticket[type]", ticket_type_options
  .entry.subject
    = f.label :subject, "", :class => "icon"
    = f.text_field :subject, :class => "text", :placeholder => "Subject", :required => true
  .entry.description
    = f.label :description, "", :class => "icon"
    = f.text_area :description, :class => "text", :placeholder => "Description", :required => true
  .entry.update
    = f.submit 'Send', :class => "submit small"