= title_and_content_header("Support")

%p.title_desc
  - if current_user.support == 'email'
    = raw "For bug reports and feature requests, please use our #{link_to "Community Forum", "http://getsatisfaction.com/sublimevideo", :class => "hl"}."
  %br
  = raw "For billing questions, please #{mail_to("billing@sublimevideo.net", "email us", :encode => "hex", :class => "hl")}."
  %br

  - if current_user.support == 'email'
    = raw "For any other question, please consult our #{link_to "Documentation", "http://docs.sublimevideo.net", :class => "hl"} and #{link_to "Community Forum", "http://getsatisfaction.com/sublimevideo", :class => "hl"} first."
  - else
    = raw "For bug reports, feature requests and any other questions, please use our #{link_to "Community Forum", "http://getsatisfaction.com/sublimevideo", :class => "hl"}."

  -# = "Use this form to send us bug reports, suggestions for improvement, feature requests, billing questions or any other comments."
  %br
  -#= raw "For any other question, please consult our #{link_to "Documentation", "http://docs.sublimevideo.net", :class => "hl"}, #{link_to "Community Forum", "http://getsatisfaction.com/sublimevideo", :class => "hl"}, #{link_to "FAQ", "http://docs.sublimevideo.net/faq", :class => "hl"} and #{link_to "Troubleshooting", "http://docs.sublimevideo.net/troubleshooting", :class => "hl"} pages first."

%p.title_desc
  - if current_user.support == 'email'
    = raw "If you can't find the answer you're looking for use the form below to submit your question and we'll personally get back to you as quickly as we can."
    %p.title_desc= raw "Our support team is available during central Europe business hours: 9am - 6pm #{link_to "CET"," http://en.wikipedia.org/wiki/Central_European_Time", :class => "hl"}."

    = form_for @ticket, :url => ticket_path do |f|
      -#.entry.select.type
      -#  = f.label :type, "", :class => "icon"
      -#  = f.select :type, ticket_type_options
      -#  :javascript
      -#    if (window.location.hash) {
      -#      var ell = $$('#ticket_type option').find(function(el) {
      -#        return "#" + el.value === window.location.hash;
      -#      });
      -#      ell.selected = true;
      -#    }
      .entry.select.site_token
        = f.label :site_token, "", :class => "icon"
        = f.select :site_token, ticket_site_token_options
        = "(if applicable)"

      .entry.feedback_subject
        = f.label :subject, "", :class => "icon"
        = f.text_field :subject, :class => "text", :placeholder => "Subject", :required => true
      .entry.message
        = f.label :message, "", :class => "icon"
        = f.text_area :message, :class => "text", :placeholder => "Message", :required => true
      .entry.update
        = f.submit 'Send', :class => "submit small_button"