= title_and_content_header("Beta Feedback")

= content_for :content_header do
  -#%p.title_desc= "Thank you to use this form to send us your feedback, including bug reports, feature requests or other comments."
  %p.title_desc
    = "Use this form to send us bug reports, suggestions for improvement, feature requests or any other comments."
    %br
    = "Thank you for helping us improve SublimeVideo."
    
= form_for @ticket, :url => ticket_path do |f|
  .entry.select.type
    = f.label :type, "", :class => "icon"
    = f.select :type, ticket_type_options
  .entry.feedback_subject
    = f.label :subject, "", :class => "icon"
    = f.text_field :subject, :class => "text", :placeholder => "Subject", :required => true
  .entry.description
    = f.label :description, "", :class => "icon"
    = f.text_area :description, :class => "text", :placeholder => "Message", :required => true
  .entry.update
    = f.submit 'Send', :class => "submit small"