= title("Feedback")

= content_for :content_header do
  %h2= "Feedback"
  %p.title_desc= "Give us your feedback."

= form_for @ticket, :url => ticket_path do |f|
  .entry.select.type
    = f.label :type, "", :class => "icon"
    = f.select :type, ticket_type_options
  .entry.subject
    = f.label :subject, "", :class => "icon"
    = f.text_field :subject, :class => "text", :placeholder => "Give your question a great title", :required => true
  .entry.description
    = f.label :description, "", :class => "icon"
    = f.text_area :description, :class => "text", :placeholder => "Explain the problem/question in detail", :required => true
  .entry.update
    = f.submit 'Send', :class => "submit small"