= title_and_content_header("Support")

%p.title_desc
  -# = "Use this form to send us bug reports, suggestions for improvement, feature requests, billing questions or any other comments."
  = raw "Please consult our #{link_to "Documentation", "http://docs.sublimevideo.net", :class => "hl"}, #{link_to "FAQ", "http://docs.sublimevideo.net/faq", :class => "hl"} and #{link_to "Troubleshooting", "http://docs.sublimevideo.net/troubleshooting", :class => "hl"} pages first. If you can't find the answer you're looking for use the form below to submit your question or bug report and we'll personally get back to you as quickly as we can."

= form_for @ticket, :url => ticket_path do |f|
  .entry.select.type
    = f.label :type, "", :class => "icon"
    = f.select :type, ticket_type_options
    :javascript
      if (window.location.hash) {
        var ell = $$('#ticket_type option').find(function(el) {
          return "#" + el.value === window.location.hash;
        });
        ell.selected = true;
      }
  .entry.feedback_subject
    = f.label :subject, "", :class => "icon"
    = f.text_field :subject, :class => "text", :placeholder => "Subject", :required => true
  .entry.message
    = f.label :message, "", :class => "icon"
    = f.text_area :message, :class => "text", :placeholder => "Message", :required => true
  .entry.update
    = f.submit 'Send', :class => "submit small_button"
