- addon_plans_available_for_subscription = addon.plans.includes(:addon).order(:price).select { |addon_plan| addon_plan.available_for_subscription?(site) }

- unless addon_plans_available_for_subscription.empty?
  %tr
    %th{ colspan: 3 }
      = link_to layout_url("modular-player##{addon.name}"), onclick: 'window.open(this); return false' do
        = t("addons.#{addon.name}")
        %span.icon-arrow

  - addon_plans_available_for_subscription.each do |addon_plan|
    = render 'addons/addon_plan', site: site, addon: addon, plan: addon_plan, addon_plans_available_for_subscription: addon_plans_available_for_subscription
