%table{ border: 1, style: 'text-align:left' }
  - @app_designs.each do |app_design|
    - if app_design.available?(site)
      %tr
        %td
          .radio_wrap
            = check_box_tag "app_designs[#{app_design.name}]", app_design.id, site.app_designs.include?(app_design), disabled: app_design.free?, data: { price: app_design.price }
            = label_tag "app_designs[#{app_design.name}]", t("app_designs.#{app_design.name}")
        %td= "(in beta)" if app_design.beta?
        %td= billable_item_price(app_design, 'Offered')

  - Addon.all.each do |addon|
    - visible_addon_plans = addon.plans.order(:price).select { |addon_plan| addon_plan.available?(site) }
    - unless visible_addon_plans.empty?
      %tr
        %th{ colspan: 3 }
          %h3= t("addons.#{addon.name}")
      - visible_addon_plans.each do |addon_plan|
        %tr
          %td
            - if visible_addon_plans.size > 1
              .radio_wrap
                = radio_button_tag "addon_plans[#{addon.name}]", addon_plan.id, site.addon_plans.include?(addon_plan), data: { price: addon_plan.price }
                = label_tag "addon_plans[#{addon.name}]", t("addon_plans.#{addon.name}.#{addon_plan.name}")
            - else
              .checkbox_wrap
                - free_addon_plan_id = addon.plans.where(price: 0).first.id
                = hidden_field_tag "addon_plans[#{addon.name}]", free_addon_plan_id, id: "addon_plans_#{addon.name}_#{free_addon_plan_id}"
                = check_box_tag "addon_plans[#{addon.name}]", addon_plan.id, site.addon_plans.include?(addon_plan), disabled: addon_plan.free?, id: "addon_plans_#{addon.name}_#{addon_plan.id}", data: { price: addon_plan.price }
                = label_tag "addon_plans[#{addon.name}]", t("addon_plans.#{addon.name}.#{addon_plan.name}")
          %td= trial_days_remaining(site, addon_plan)
          %td= billable_item_price(addon_plan)

-#%table{ border: 1, style: 'text-align:left' }
-#  %tr
-#    %th{ colspan: 4 }
-#      %h3= t("addons.categories.design")
-#  = render 'offered_addon', field_type: 'checkbox', addon_title: 'Classic player design'
-#  = render 'offered_addon', field_type: 'checkbox', addon_title: 'Light player design', note: '(beta)'
-#  = render 'offered_addon', field_type: 'checkbox', addon_title: 'Flat player design', note: '(beta)'
-#
-#  %tr
-#    %th{ colspan: 4 }
-#      %h3= t("addons.categories.logo")
-#  = render 'addon', addon: Addons::Addon.get('logo', 'sublime'), site: site, field_type: 'radio'
-#  = render 'addon', addon: Addons::Addon.get('logo', 'no-logo'), site: site, field_type: 'radio'
-#  = render 'addon', addon: Addons::Addon.get('logo', 'custom-logo'), site: site, field_type: 'radio', note: '(beta)'
-#
-#  %tr
-#    %th{ colspan: 4 }
-#      %h3= t("addons.categories.lightbox")
-#  = render 'offered_addon', field_type: 'radio', addon_title: 'Lightbox'
-#
-#  %tr
-#    %th{ colspan: 4 }
-#      %h3= t("addons.categories.api")
-#  = render 'offered_addon', field_type: 'radio', addon_title: 'SublimeVideo player basic JavaScript API'
-#
-#  %tr
-#    %th{ colspan: 4 }
-#      %h3= t("addons.categories.stats")
-#  = render 'addon', addon: Addons::Addon.get('stats', 'standard'), site: site, field_type: 'checkbox'
-#
-#  %tr
-#    %th{ colspan: 4 }
-#      %h3= t("addons.categories.support")
-#  = render 'addon', addon: Addons::Addon.get('support', 'standard'), site: site, field_type: 'radio'
-#  = render 'addon', addon: Addons::Addon.get('support', 'vip'), site: site, field_type: 'radio'
