%tr
  %td= addon_choice_tag(site, addon, field_type)
  %td= label_tag "site_addons[#{addon.category}]", "#{addon.title}#{'*' if title_note rescue ''}"
  %td.note
    %em= note rescue ''
  %td
    %strong= addon_price(addon)
