- if site.plan_id?
  #grandfather_plan{ style: 'display: none' }= render 'addons/grandfather_plan_text', site: site
%table
  %col
  %col.odd
  %col
  = render 'addons/addon', site: site, addon: Addon.get('logo')
  = render 'addons/addon', site: site, addon: Addon.get('cuezones')
  = render 'addons/addon', site: site, addon: Addon.get('social_sharing')
  = render 'addons/addon', site: site, addon: Addon.get('embed')
  = render 'addons/addon', site: site, addon: Addon.get('stats')
  = render 'addons/addon', site: site, addon: Addon.get('google_analytics')
  = render 'addons/addon', site: site, addon: Addon.get('support')
  %tr
    %td.break_box{ colspan: 3 }
  %tr
    %td
    %td.trial_notice
      %small
        Total per month
        = link_to content_tag(:sup, '1'), '#footnote-1', class: 'hl'
    %td.price
      %strong#addons_total= display_amount_with_sup(site.total_billable_items_price)
