- if site.plan_id?
  #grandfather_plan{ style: 'display: none' }= render 'addons/grandfather_plan_text', site: site
%table{ border: 0, style: 'text-align:left' }
  %col{ style: 'width:300px' }
  %col.odd{ style: 'width:300px' }
  %col{ style: 'width:200px' }
  %tr
    %th{ style: 'width:300px' }
    %th{ style: 'width:300px' }
    %th
  %tr
    %th{ colspan: 3 }
      %h3 Player designs
  = render 'addons/design', site: site, app_design: App::Design.get('classic')
  = render 'addons/design', site: site, app_design: App::Design.get('light')
  = render 'addons/design', site: site, app_design: App::Design.get('flat')
  - App::Design.custom.select { |app_design| app_design.available?(site) }.each do |custom_app_design|
    = render 'addons/design', site: site, app_design: custom_app_design

  = render 'addons/addon', site: site, addon: Addon.get('logo')
  = render 'addons/addon', site: site, addon: Addon.get('lightbox')
  = render 'addons/addon', site: site, addon: Addon.get('api')
  = render 'addons/addon', site: site, addon: Addon.get('stats')
  = render 'addons/addon', site: site, addon: Addon.get('support')
  %tr
    %td{ colspan: 3 }
      .big_break
  %tr
    %td{ colspan: 2 }= "Est. monthly cost (once all your #{BusinessModel.days_for_trial}-day free trials will be over)"
    %td
      %strong#addons_total= display_amount_with_sup(site.total_billable_items_price)
