- design_is_sponsored = site.app_design_is_sponsored?(design)
%tr{ class: highlighted_class(design) }
  %td
    - if design.free? || design_is_sponsored
      %h5.checked= design_label_content(design)
    - else
      .checkbox_wrap
        = hidden_field_tag "app_designs[#{design.name}]", '0'
        = check_box_tag "app_designs[#{design.name}]", design.id, site.app_designs.include?(design), id: "app_designs_#{design.name}", data: { price: design.price }
      = label_tag "app_designs_#{design.name}", design_label_content(design)
  %td.trial_notice
  %td.price
    - if design_is_sponsored
      = 'sponsored'
    - else
      = billable_item_price(design)
