- App::Design.all.each do |app_design|
  - if app_design.available?(site)
    - disabled = app_design.free? || addon_plan_is_sponsored
    %tr
      %td
        .checkbox_wrap{ class: "#{'disabled' if disabled}" }
          = check_box_tag "app_designs[#{app_design.name}]", app_design.id, site.app_designs.include?(app_design), disabled: disabled, data: { price: app_design.price }
          = label_tag "app_designs[#{app_design.name}]" do
            = t("app_designs.#{app_design.name}")
            = raw " <small>(beta player only)</small>" if app_design.required_stage == 'beta'
      %td= "(in beta)" if app_design.beta?
      %td= billable_item_price(app_design)
