- title("Add-ons for #{hostname_or_token(@site)}")
= render '/layouts/site_header'

- if @site.new_plans.present?
  #grandfather_plan
    %p Dear Customer,

    %p= "So far you had a monthly #{@site.plan.title} Plan with this site. As we have now moved to an “à la carte” pricing model, we have migrated automatically your account so you get even more value from SublimeVideo:"

    %p
      %ul
        %li your account is now unlimited in terms of video plays,
        %li you can still remove SublimeVideo logo badge,
        %li
          you have access to our Real-Time Statistics tool, with unlimited data retention
          = @site.plan.name == 'premium' ? ',' : '.'
        - if @site.plan.name == 'premium'
          %li you have access to our VIP email support, which guarantees an answer within one business day.

    %p= raw "All at the same monthly price of #{display_amount_with_sup(@site.plan.price)}."

    %p You can also test the new SublimeVideo player, currently in beta. We look forward reading your feedback about its new designs and add-ons.

    %p
      = "PS: In case you would prefer to switch to our new “à la carte” pricing, "
      = link_to("you can opt-out from your old #{@site.plan.title} Plan", opt_out_site_plan_path(@site)) + '.'

- else
  #site.addons
    #addons_table_wrap
      = form_for @site, url: update_all_site_addons_path, method: 'put', html: { id: 'edit_addons' } do |f|
        = render 'addons', site: @site, f: f
        %hr
        %small
          = "Est. monthly cost"
          = "(once all your #{BusinessModel.days_for_trial}-day free trials will be over)"
        %h3#addons_total= display_amount_with_sup(@site.addon_plans.sum(:price) + @site.app_designs.sum(:price))

        .actions.center= submit_tag 'Confirm selection', class: 'submit green_button', id: 'site_submit'
    .spacer

  %small
    Notes:
    %ol
      %li= "Beta add-ons are free of charge during the beta period. At the end of the beta period, you will be notified by email and will have #{BusinessModel.days_for_trial} days to cancel a given add-on in case you don't want to use it anymore."
      %li Add-on prices are pro-rated per day.
      %li Invoices are issued and charged at the beginning of each month for the previous month.
  .spacer
