- title("Add-ons for #{hostname_or_token(@site)}")
= render 'layouts/site_header'

#addons.assistant
  #addons_table_wrap
    = form_for @site, url: update_all_site_addons_path, method: 'put', html: { id: 'edit_addons' } do |f|
      = render 'addons/designs_and_addons', site: @site, f: f

      .actions.center= submit_tag 'Confirm selection', class: 'submit green_button', id: 'site_submit'
      .spacer
    = render 'addons/footnotes', site: @site
