- title("Subscribe to the #{content_tag(:em, @addon.title)} add-on for #{hostname_or_token(@site)}")
%h2= raw "Subscribe to the #{content_tag(:em, @addon.title)} add-on"
.big_break

#addons
  #addons_table_wrap
    = form_for @site, url: [:subscribe, @site, :addons], method: 'put', html: { id: 'edit_addons', class: 'disableable' } do |f|
      .site_chooser
        %p.desc= "You're about to subscribe to this add-in for the following domain:"
        %h2.hostname= hostname_or_token(@site, length: 30)

        - sites = @sites.select { |site| site.id != @site.id }
        - unless sites.empty?
          .site_select_wrap
            = link_to '', class: 'site_select' do
              %span Select the site to subscribe
            %ul.actions{ id: ['site_actions', @site.id], style: 'display:none' }
              - sites.each do |site|
                %li{ class: cycle('', 'alt') }= link_to hostname_or_token(site, length: 30), site_addon_path(site, @addon, p: params[:p])

      = render 'addons/subscribe_to_addon_table', site: @site, addon: @addon

      .actions.center= submit_tag 'Confirm subscription', class: 'submit green_button'
      .spacer
    = render 'addons/footnotes', site: @site
