#site_setup
  .entry
    = f.label :name
    = f.text_field :name, :placeholder => "Your Application"

  .entry
    = f.label :url
    = f.text_field :url, :placeholder => "http://yourapp.com"

  .entry
    = f.label :callback_url
    = f.text_field :callback_url, :placeholder => "http://yourapp.com/account"
