= title_and_content_header("API authorizations and applications")

- unless @authorizations.empty?
  %p The following applications have been authorized to access your datas in your behalf

  %table
    %tr
      %th Application Name
      %th Issued at
      %th &nbsp;
    - @authorizations.each do |authorization|
      = content_tag_for :tr, authorization do
        %td= link_to authorization.client_application.name, authorization.client_application.url
        %td= authorization.authorized_at
        %td
          = form_tag oauth_revoke_path, method: 'delete' do
            = hidden_field_tag 'token', authorization.token
            = submit_tag "Revoke!"

%h3 Your applications

- if @applications.empty?
  %p
    Do you have an application you would like to register for use with us using the <a href="http://oauth.net">OAuth</a> standard?
    You must register your web application before it can make OAuth requests to this service
- else
  %p
    You have the following client applications registered:

  %ul
    - @applications.each do |application|
      = div_for application do
        %li
          = link_to application.name, action: :show, id: application.id
          = "("
          = link_to 'Edit', edit_client_application_path(application)
          = " | "
          = form_for application, html: { method: :delete, "data-password-protected" => true } do |f|
            .entry.delete
              = f.submit "Delete", class: "submit link_looks delete"
          = ")"
%br
%h3
  = link_to "Register a new application", [:new, :client_application]
