%table.main#admins
  %tr
    %th.title
      .wrap
        %strong= "Email"
    %th= "Confirmed?"
    %th.delete
  = render @admins
  
.pagination_wrap
  = remote_will_paginate(@admins, :params => params.merge(:format => nil))
  = page_entries_info(@admins)