%h3.section_title= "Email & Password"
.entry.email
  = f.label :email, "", class: "icon"
  = f.email_field :email, class: "text", placeholder: "Email", required: true

- if f.object == current_admin
  %p.note= "Leave blank if you don't want to change it"
  .entry.password
    = f.label :password, "", class: "icon"
    = f.password_field :password, class: "text show_password", placeholder: "New password"

  %p.note= "We need your current password to confirm your changes"
  .entry.password
    = f.label :current_password, "", class: "icon"
    = f.password_field :current_password, class: "text show_password", placeholder: "Current password", required: !has_role?('god')

- if has_role?('god')
  %h3.section_title= "Roles"
  .entry.roles
    = f.label :roles, "", class: "icon"
    = f.select(:roles, Admin.roles, {}, multiple: true)

.entry.update
  = f.submit "Update", class: "submit small"
  or
  = link_to "cancel", has_role?('god') ? admin_admins_path : admin_sites_path
