#basic_player_settings.expandable_settings_box
  - kit_settings_expanding_handler('basic_player') do
    = link_to "#{t('addons.video_player')} settings", ''
  - kit_settings_expendable_block('basic_player') do
    = render 'kits/form_boxes/initial_settings', site: site, kit: kit, design: design
    = render 'kits/form_boxes/controls_settings', site: site, kit: kit, design: design
    = render 'kits/form_boxes/video_player_settings', site: site, kit: kit, design: design
