- if presenter = KitSettingPresenter.init(kit: kit, design: design, view: self)
  #logo_settings.expandable_settings_box
    - kit_settings_expanding_handler('logo') do
      = link_to t('kit.logo.title'), ''
    - kit_settings_expendable_block('logo') do
      - unless presenter.addon_plan.name == 'custom'
        = hidden_field_tag "kit[settings][logo][type]", presenter.addon_plan_settings[:type][:default], class: 'previewable', data: { addon: 'logo', setting: 'type' }
        = hidden_field_tag "kit[settings][logo][position]", presenter.addon_plan_settings[:position][:default], class: 'previewable', data: { addon: 'logo', setting: 'position' }

      - if presenter.addon_plan.name == 'sublime'
        = presenter.render_input_field(setting_key: 'visibility', show_title: true)

      - elsif presenter.addon_plan.name == 'disabled'
        = presenter.render_master_input_field(setting_key: 'enable') do
          = presenter.render_input_field(setting_key: 'visibility')

      - elsif presenter.addon_plan.name == 'custom'
        = presenter.render_master_input_field(setting_key: 'enable') do
          = presenter.render_input_field(setting_key: 'type')
          = presenter.render_input_field(setting_key: 'image_url', partial: 'logo/image_upload', presenter: presenter)
