.logo
  - addon_plan = site.addon_plan_for_addon_name('logo')
  - settings_template = addon_plan.settings_template_for(kit.design).template

  - if addon_plan.name == 'sublime'
    = kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :visibility, show_title: true)
  - elsif addon_plan.name == 'disabled'
    = kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :enable, data: { master: 'logo-enable' })
    .indent= kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :visibility, data: { dependant: 'logo-enable' })
  - elsif addon_plan.name == 'custom'
    = kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :enable, data: { master: 'logo-enable' }, translation_key: :enable_custom)
    .indent
      = kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :type, data: { dependant: 'logo-enable' })
      = kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :image_url, data: { dependant: 'logo-enable' }, partial: 'image_logo_custom')
      = kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :position, data: { dependant: 'logo-enable' }, show_title: true)
      = kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :visibility, data: { dependant: 'logo-enable' }, translation_key: :visibility_custom, show_title: true)
      = kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :link_url, data: { dependant: 'logo-enable' })
