.sharing
  - addon_plan = site.addon_plan_for_addon_name('sharing')
  - settings_template = addon_plan.settings_template_for(kit.design).template

  .link
    = kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :enable_link, data: { master: 'sharing-enable_link' })
    .indent= kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :link_url, data: { dependant: 'sharing-enable_link' })

  .twitter
    = kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :enable_twitter, data: { master: 'sharing-enable_twitter' })
    .indent= kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :twitter_url, data: { dependant: 'sharing-enable_twitter' })

  .facebook
    = kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :enable_facebook, data: { master: 'sharing-enable_facebook' })
    .indent= kit.render_input_field(self, addon: addon_plan.addon, settings_template: settings_template, setting_key: :facebook_url, data: { dependant: 'sharing-enable_facebook' })
