- @no_signature = true

%p It's been a week since you signed up to SublimeVideo and we thank you for your trust. Our statistics indicate that you have not yet configured any &lt;video&gt; tag nor had any video plays. We would like to understand if there's anything we can do to help you fully experience our solution.

-#%p= "- Everything is fine, you simply didn't have the time yet to really start your testing."

%p= raw "If you encountered a technical problem, we can probably #{link_to 'help you solve it', layout_url('help')}."

%p= raw "If SublimeVideo didn't meet your expectations in terms of features or services. We regret that but would you be so kind to tell us a bit more about what was missing or what we did wrong so we can improve our offer? If yes, please visit #{link_to 'this quick feedback form', my_url('feedback')}."

%p
  Thanks from the SublimeVideo team!
  %br
  –Rémy
  %br
  Customer support

%p= raw "PS: If you're not interested in SublimeVideo after all, #{link_to 'just let us know', cancel_account_url}."
