- @no_signature = true

%p It's been a week since you've signed up to SublimeVideo and we thank you for your trust. Our statistics indicate that you have not yet configured any &lt;video&gt; tag nor had any video plays. Is there anything we could do to help you fully experience our solution?

%p= raw "If you encountered a technical problem, we can probably #{link_to 'help you solve it', layout_url('help')}."

%p= raw "If SublimeVideo didn't meet your expectations in terms of features or services, would you be so kind #{link_to 'telling us a bit more', my_url('feedback')} about what was missing or what we did wrong so we can improve our offering?"

%p
  Thanks from the SublimeVideo team!
  %br
  –Rémy
  %br
  Customer support

%p= raw "PS: If you're not interested in SublimeVideo after all, #{link_to 'just let us know', account_cancellation_url}."
