- @no_intro, @no_signature = true, true, true

%table{ cellspacing: 0, cellpadding: 0, width: 520, border: 0, align: 'center' }
  %tr
    %td{ width: '100%' }
      %h2.welcome{ color: '#4e5a6c' } Welcome to SublimeVideo!
      %p.thank_you{ color: '#7e8ea7' } Thank you for choosing SublimeVideo - the Web's most reliable HTML5 Video Player.
      %h3.whats_next{ color: '#4e5a6c' } What’s next?
      %p{ color: '#7e8ea7' }= raw "Simply head over to the #{link_to "My Sites", sites_url} page to add and configure your site(s). You'll also find some tips on the next steps to get up and running with SublimeVideo."
  %tr
    %td{ width: '100%' }
      %table.inner_table{ cellspacing: 0, cellpadding: 0, width: 520, border: 0 }
        %tr
          %td{ width: 156, align: 'center' }
            = image_tag asset_url('emails/timer_icon.png')
          %td{ width: '364' }
            %p.bigger{ color: "#7e8ea7" }= raw "Get started with SublimeVideo in minutes! Read our #{link_to "Quickstart guide", page_url('quickstart-guide', subdomain: 'docs')} to learn more."
        %tr
          %td{ width: "156", height: "200" }
            = image_tag asset_url('emails/video_generator_icon.png')
          %td{ width: "364" }
            %p.bigger{ color: "#7e8ea7" }
              = "To make things even easier, you can use our"
              = link_to "Video Code Generator", video_code_generator_url
              = "to create <video> code for your site and optimized for SublimeVideo."
        %tr
          %td{ width: "156", align: "center" }
            = image_tag asset_url('emails/stats_icon.png')
          %td{ width: "364" }
            %p.bigger{ color: "#7e8ea7" }= raw "Once you've added SublimeVideo to your site you'll be able to see stats about your video traffic! Check out a #{link_to "live demo", site_stats_url('demo')} of SublimeVideo's Universal Real-Time Statistics to see for yourself right now."
  %tr
    %td{width:"100%"}
      %table.inner_table{ cellspacing: "0", cellpadding: "0", width: "520", border: "0" }
        %tr
          %td{ width: "126", align: "center" }
            = image_tag asset_url('emails/help_icon.png')
          %td{ width: "394" }
            %h3{ color: "#4e5a6c" }= "Need help?"
            %p.small{ color: "#7e8ea7" }= "Don't worry if you're having trouble; we're here to help."
  %tr
    %td{width:"100%"}
      %table.inner_table{ cellspacing: "0", cellpadding: "0", width: "520", border: "0" }
        %tr
          %td{ width: "100%" }
            %ul.small
              %li{ color: "#7e8ea7" }= raw "Visit our #{link_to "FAQ", page_url('faq', subdomain: 'docs')} & #{link_to "Troubleshooting", page_url('troubleshooting', subdomain: 'docs')} pages to find answers to common questions."
              %li{ color: "#7e8ea7" }= raw "Visit the #{link_to "Community forum", 'https://getsatisfaction.com/sublimevideo'} to ask our support team about a specific issue."
              %li{ color: "#7e8ea7" }= raw "You also have access for free to #{link_to "direct email support", layout_url('help')}."
              %li{ color: "#7e8ea7" }= raw "Subscribe to #{link_to "our blog", "http://blog.jilion.com"} to stay tuned about SublimeVideo news."

