= content_for :head do
  = javascript_include_tag 'https://d3ds63zw57jt09.cloudfront.net/1.9/pusher.min.js'
  :javascript
    document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://4076.voxcdn.com" : "http://cdn.sublimevideo.net") + "/js/ibvjcopp.js' type='text/javascript'%3E%3C/script%3E"));

.stats
  = title("Stats for #{@site.hostname_or_token}")

  :coffeescript
    $ ->
      # Enable pusher logging - don't include this in production
      # Pusher.log = (message) ->
      #   window.console.log(message) if (window.console && window.console.log)
      # Flash fallback logging - don't include this in production
      # WEB_SOCKET_DEBUG = true

      window.MSVStats.pusher = new Pusher('#{PusherConfig.key}', encrypted: true)
      window.MSVStats.sites = new MSVStats.Collections.Sites(#{current_user.sites.order(:hostname, :token).to_backbone_json})
      window.MSVStats.sites.select('#{@site.token}')
      window.MSVStats.statsRouter = new MSVStats.Routers.StatsRouter()
      Backbone.history.start({ pushState: true })

  #trial
  
  #sites_select_title
    

  %ul#period_selectors
    %li.days365
    %li.days30
    %li.hours
    %li.minutes
    %li.seconds

  .spacer
  %p.days_period_note * Days period are in UTC
  #dates_range
    %h3#time_range_title
    #date_pickers
  %ul#vv_chart_legend
  .spacer
  #vv
    #vv_content
      #vv_chart
      %p.note Note: Plays and visits from embeds are not considered.

  .spacer

  #top_videos
    %h3.title#top_videos_title Most played videos
    #top_videos_content
    #playable_video
  #top_videos_posterframe_cache{ style: "display: none" }

  #bp.graph_box
    %h3.title Browser + OS
    %h5.sub_title Based on page visits
    #bp_content.content

  #md.graph_box
    %h3.title HTML5 vs Flash
    %h5.sub_title Based on video loads
    #md_content.content
      #md_legend
      #md_pie_chart

  .spacer

  #plan_usage
