%h3.title Countries
#co_content.content
  .content_wrap
    - if stats.empty?
      %p.empty No plays.
    - else
      %ul
        - stats.each do |country_code, data|
          %li
            %span{ class: "bar percent_#{(data[:percent] * 100).to_i}", style: "width: #{data[:percent] * 100}%;"}
            %span.wrap
              %span.icon{ style: video_stats_country_style(country_code) }
              %span.title= truncate(video_stats_country_name(country_code), length: 23)
              %span.value
                %span.percent= display_percentage(data[:percent])
                %span.metric
                  = display_integer(data[:count])
                  plays
