- cache [site, video_tag, stats_presenter.options] do
  #dates_range_and_source
    = form_tag [site, video_tag, :stats], method: :get, remote: true, id: 'video_stats_dates_range_and_source_selector' do
      = select_tag 'hours', video_stats_options_for_date_range_select(stats_presenter.options[:hours]), id: 'video_stats_hours_select'
      for
      = select_tag 'source', video_stats_options_for_source_select(stats_presenter.options[:source]), id: 'video_stats_source_select'
    #date_pickers

  %ul#vv_chart_legend
    %li.page_visits
      = display_integer(stats_presenter.hourly_loads.sum { |a| a[1] })
      %span.title loads
    %li.video_plays
      = display_integer(stats_presenter.hourly_starts.sum { |a| a[1] })
      %span.title plays
  .spacer

  #vv
    #vv_content
      #video_loads_and_starts_chart
        :coffee
          MySublimeVideo.Helpers.VideoStatsChartsHelper.loadsAndStartsChart(
            #{stats_presenter.hourly_loads},
            #{stats_presenter.hourly_starts},
            #{stats_presenter.options[:hours]}
          )
  .spacer

  #bp.graph_box
    = render 'browsers_and_platforms', stats: stats_presenter.browsers_and_platforms_stats

  #co.graph_box
    = render 'countries', stats: stats_presenter.countries_stats

  #de.graph_box
    = render 'mobile_desktop', stats: stats_presenter.devices_stats

  .spacer
  .big_break
  #export
    = link_to url_for(format: 'csv'), id: 'csv_export' do
      %span.icon Export Data
  %p.desc
    Export "loads" and "plays" data for the last
    = stats_presenter.options[:hours] > 24 ? "#{stats_presenter.options[:hours] / 24} days" : "#{stats_presenter.options[:hours]} hours"
    in CSV format. The exported file includes "loads" and "plays" data that happened
    = succeed '.' do
      = video_stats_sources_for_export_text(stats_presenter.options[:source])
