- cache [site, video_tag, stats_presenter.options] do
  #dates_range_and_source
    = form_tag [site, video_tag, :stats], method: :get, remote: true, id: 'video_stats_dates_range_and_source_selector' do
      .entry.select.inline
        = select_tag 'hours', video_stats_options_for_date_range_select(stats_presenter.options[:hours]), id: 'video_stats_hours_select'
      for
      .entry.select.inline
        = select_tag 'source', video_stats_options_for_source_select(stats_presenter.options[:source]), id: 'video_stats_source_select'
    #date_pickers

  %ul#plays_and_loads_graph_legend
    %li.video_plays
      = display_integer(stats_presenter.hourly_plays.sum { |a| a[1] })
      %span.title plays
    %li.page_visits
      = display_integer(stats_presenter.hourly_loads.sum { |a| a[1] })
      %span.title loads
  .spacer

  #plays_and_loads{ data: { plays: stats_presenter.hourly_plays, loads: stats_presenter.hourly_loads, hours: stats_presenter.options[:hours] } }
    #plays_and_loads_graph
  .spacer

  #browsers_and_platforms.graph_box
    = render 'browsers_and_platforms', stats: stats_presenter.browsers_and_platforms_stats

  #countries.graph_box
    = render 'countries', stats: stats_presenter.countries_stats

  #mobile_desktop.graph_box
    = render 'mobile_desktop', stats: stats_presenter.devices_stats

  .spacer
  #export_wrap
    .big_break
    #export
      = link_to url_for(format: 'csv'), id: 'csv_export' do
        %span.icon Export Data
    %p.desc
      Export "loads" and "plays" data for the last
      = stats_presenter.options[:hours] > 24 ? "#{stats_presenter.options[:hours] / 24} days" : "#{stats_presenter.options[:hours]} hours"
      in CSV format. The exported file includes "loads" and "plays" data that happened
      = succeed '.' do
        = video_stats_sources_for_export_text(stats_presenter.options[:source])
