#dates_range_and_source
  = form_tag [site, video_tag, :stats], method: :get, remote: true, id: 'video_stats_dates_range_and_source_selector' do
    = select_tag 'hours', video_stats_options_for_date_range_select, id: 'video_stats_hours_select'
    for
    = select_tag 'source', video_stats_options_for_source_select, id: 'video_stats_source_select'
  %h3#time_range_title
  #date_pickers

- video_stats_hourly_loads_for_chart = video_stats_hourly_loads_for_chart(stats)
- video_stats_hourly_starts_for_chart = video_stats_hourly_starts_for_chart(stats)

%ul#vv_chart_legend
  %li.video_plays
    = video_stats_hourly_starts_for_chart.sum { |a| a[1] }
    %span.title video plays
  %li.page_visits
    = video_stats_hourly_loads_for_chart.sum { |a| a[1] }
    %span.title page visits
.spacer

#vv
  #vv_content
    #video_loads_and_starts_chart
      %p= video_stats_hourly_loads_for_chart.inspect
      %p= video_stats_hourly_starts_for_chart.inspect
      :coffee
        MySublimeVideo.Helpers.VideoStatsChartsHelper.loadsAndStartsChart(
          #{video_stats_hourly_loads_for_chart},
          #{video_stats_hourly_starts_for_chart},
          #{params[:hours]}
        )

.spacer

#bp.graph_box
  = render 'browsers_and_platforms', stats: video_stats_browsers_and_platforms_stats(stats, params[:source])

#co.graph_box
  = render 'countries', stats: video_stats_countries_stats(stats, params[:source])

#de.graph_box
  = render 'mobile_desktop', stats: video_stats_devices_stats(stats, params[:source])

.spacer
