- title("Video stats for '#{@video_tag.title}'")

= render 'video_codes/segmented_menu', site: @site, video_tag: @video_tag

.spacer

= render 'video_tags/header', site: @site, video_tag: @video_tag

.stats.video{ data: { pusher_channel: pusher_channel } }

  #last_stats_by_minute= render 'stats/last_stats_by_minute', site: @site, video_tag: @video_tag, stats_presenter: @stats_presenter

  .big_break

  #last_stats_by_hour_or_day= render 'stats/last_stats_by_hour_or_day', site: @site, video_tag: @video_tag, stats_presenter: @stats_presenter
