- title("Video stats for '#{@video_tag.title}'")

= render 'video_codes/segmented_menu', site: @site, video_tag: @video_tag

.spacer

= render 'video_tags/header', site: @site, video_tag: @video_tag

.stats.video{ data: { pusher_channel: pusher_channel } }

  #last_stats_by_minute= render 'last_stats_by_minute', site: @site, video_tag: @video_tag, stats_presenter: @stats_presenter
  .spacer

  #last_stats_by_hour= render 'last_stats_by_hour', site: @site, video_tag: @video_tag, stats_presenter: @stats_presenter
