- title("Video stats for '#{@video_tag.title}'")

= render 'video_codes/segmented_menu', site: @site, video_tag: @video_tag

.spacer

= render 'video_tags/header', site: @site, video_tag: @video_tag

.stats.video{ data: { 'pusher-channel' => pusher_channel } }

  #top_videos
    %h3.title#top_videos_title Last 60 minutes
    %p
      loads:
      = @last_stats.map { |s| s.loads }
      loads sum:
      = @last_stats.sum { |s| s.loads }
    %p
      starts:
      = @last_stats.map { |s| s.starts }
      starts sum:
      = @last_stats.sum { |s| s.starts }
    #top_videos_content

    #playable_video
  .spacer

  #timerange_stats
    - cache [@site, @video_tag, @stats, params] do
      = render 'timerange_stats', site: @site, video_tag: @video_tag, stats: @stats
