%table.main#addons
  %tr
    %th.name
      .wrap
        %strong= "Name"
    %th= "Price per month"
    %th= "# beta sites"
    %th= "# dev sites"
    %th= "# active sites"
    %th= "Estimated revenue"
  = render @addons