%tr[addon]{ :class => cycle("", "alt") }
  %td.name
    = addon.name.humanize
  %td.price
    = display_amount(addon.price)
  %td.used_in_beta
    = number_with_delimiter(addon.sites.beta.count)
  %td.used_in_dev
    = number_with_delimiter(addon.sites.dev.count)
  %td.used_in_active
    = number_with_delimiter(addon.sites.active.count)
  %td.estimated_revenue
    %strong= display_amount(addon.sites.active.count * addon.price)