%tr{ :id => dom_id(delayed_job), :class => cycle("", "alt ") + (recurring_job?(delayed_job) ? "recurring" : "") }
  %td.name.left
    = link_to job_name(delayed_job), admin_delayed_job_path(delayed_job)
  %td.priority
    = link_to delayed_job.priority, admin_delayed_job_path(delayed_job)
  %td.run_at
    = link_to l(delayed_job.run_at, :format => :semi_short), admin_delayed_job_path(delayed_job)
  %td.attempts
    = link_to delayed_job.attempts, admin_delayed_job_path(delayed_job)
  %td.last_error
    = link_to delayed_job.last_error.blank? ? "-" : truncate(delayed_job.last_error, :length => 20), admin_delayed_job_path(delayed_job)
  %td.locked_at
    = link_to delayed_job.locked_at.blank? ? "-" : l(delayed_job.locked_at, :format => :semi_short), admin_delayed_job_path(delayed_job)
  %td.locked_by
    = link_to delayed_job.locked_by.blank? ? "-" : delayed_job.locked_by, admin_delayed_job_path(delayed_job)
  %td.failed_at
    = link_to delayed_job.failed_at.blank? ? "-" : l(delayed_job.failed_at, :format => :semi_short), admin_delayed_job_path(delayed_job)
  %td.unlock
    = delayed_job.locked_at.blank? ? "-" : button_to('Unlock', admin_delayed_job_path(delayed_job), :method => :put)
  %td.delete
    = button_to('Delete', admin_delayed_job_path(delayed_job), :confirm => 'Are you sure?', :method => :delete)
    