%table.main#delayed_jobs
  %tr
    %th.name= "Name"
    %th.priority= link_to_sort :priority
    %th.run_at= link_to_sort :run_at, :default_way => 'desc', :default => true
    %th.attempts= link_to_sort :attempts, :default_way => 'desc'
    %th.last_error= "Last error"
    %th.locked_at= link_to_sort :locked_at, :default_way => 'desc'
    %th.locked_by= link_to_sort :locked_by
    %th.failed_at= link_to_sort :failed_at, :default_way => 'desc'
    %th.unlock= "Unlock"
    %th.delete= "Delete"
  = render partial: 'delayed_job', collection: @delayed_jobs

.pagination_wrap
  = paginate @delayed_jobs, theme: 'admin'
  = page_entries_info @delayed_jobs