= title_and_content_header("Delayed job #{content_tag(:em, @delayed_job.id)}")

%p= current_utc_time
%br

.created_at
  %strong= "Creation date: "
  = l(@delayed_job.created_at, :format => :seconds_timezone)
.priority
  %strong= "Priority: "
  = @delayed_job.priority
.run_at
  %strong= "Run at: "
  = l(@delayed_job.run_at, :format => :seconds_timezone)
.attempts
  %strong= "Attempts: "
  = @delayed_job.attempts
.handler
  %strong= "Handler: "
  %pre= @delayed_job.handler
.last_error
  %strong= "Last error: "
  %pre= @delayed_job.last_error.try(:gsub, /\\n/, "\n")
.locked_at
  %strong= "Locked at: "
  = @delayed_job.locked_at? ? l(@delayed_job.locked_at, :format => :seconds_timezone) : "Not yet"
.locked_by
  %strong= "Locked by: "
  = @delayed_job.locked_by
.failed_at
  %strong= "Failed at: "
  = @delayed_job.failed_at? ? l(@delayed_job.failed_at, :format => :seconds_timezone) : "Not yet"
%br

%p= link_to "Back to delayed jobs", admin_delayed_jobs_path