= title_and_content_header("Authorize access to your account")

.text
  %p.desc= raw "Would you like to authorize the application #{link_to content_tag(:strong, @client_application.name), @client_application.url} to access your account?"

  %p.desc><
    = "This application"
    %strong{ :style => "color:#2c8a14" }= "will be able to"
    = ":"
  %ul.desc
    %li Read your sites information and usage.

  %p.desc><
    = "This application"
    %strong{ :style => "color:#891619" }= "will not be able to"
    = ":"
  %ul.desc
    %li Edit your account.
    %li Create new sites.
    %li Update sites information.
    %li Get your user and credit card information.
  
= form_tag(oauth_authorize_url) do
  = hidden_field_tag "response_type", params[:response_type]
  = hidden_field_tag "client_id",     params[:client_id]
  = hidden_field_tag "redirect_uri",  params[:redirect_uri]
  = hidden_field_tag "state",         params[:state]
  = hidden_field_tag "scope",         params[:scope]
  = hidden_field_tag("authorize", "1")

  .entry
    = submit_tag "Authorize", :class => "submit_dynamic_button blue float"
  
    = link_to "Cancel", params[:redirect_uri], :class => "submit_dynamic_button float"