%h3.section_title Billing Email Address
%p.note All billing emails will be sent to this email address.

.entry
  .billing_email
    = f.label :billing_email, "Billing email address", class: "icon"
    = f.email_field :billing_email, class: "text no_icon", placeholder: "Billing email address"
  .spacer

%h3.section_title Billing Address
- if !user.billing_address_complete? && user.cc?
  - fields = billing_address_missing_fields(user)
  %p.alert= t("user.billing_address.incomplete_with_missing_fields", fields: fields.to_sentence, count: fields.size)

.entry
  .billing_name
    = f.label :billing_name, "Name", class: "icon"
    = f.text_field :billing_name, class: "text no_icon", placeholder: "Name", required: true
  .spacer

.entry
  .billing_address_1.left_field
    = f.label :billing_address_1, "Street 1", class: "icon"
    = f.text_field :billing_address_1, class: "text no_icon", placeholder: "Street 1", required: true

  .billing_address_2.right_field
    = f.label :billing_address_2, "Street 2", class: "icon"
    = f.text_field :billing_address_2, class: "text no_icon", placeholder: "Street 2"
  .spacer

.entry
  .billing_postal_code.left_field
    = f.label :billing_postal_code, "Zip or Postal Code", class: "icon"
    = f.text_field :billing_postal_code, class: "text no_icon", placeholder: "Zip or Postal Code", required: true

  .billing_city.right_field
    = f.label :billing_city, "City", class: "icon"
    = f.text_field :billing_city, class: "text no_icon", placeholder: "City", required: true
  .spacer

.entry.select
  .billing_region.left_field
    = f.label :billing_region, "Region", class: "icon"
    = f.text_field :billing_region, class: "text no_icon", placeholder: "Region"

  .billing_country.right_field
    = f.label :billing_country, "Country", class: "icon"
    = f.country_select :billing_country, [], iso_codes: true, include_blank: 'Country'
  .spacer
