- if !user.cc?
  %p.card No credit card.
- else
  - if current_user.cc_expire_this_month? || current_user.cc_expired?
    %p.alert
      - if current_user.cc_expired?
        = t("user.credit_card.expired")
      - elsif current_user.cc_expire_this_month?
        = t('user.credit_card.will_expire')
      %br
      = raw t('app.please_link_dot', link: link_to(t('user.credit_card.add'), [:edit, :billing]))

  %p.card{ class: user.cc_type }
    = raw "#{t("user.credit_card.type.#{user.cc_type}")} ending in #{content_tag(:strong, user.cc_last_digits)}."
  %p
    - if user.cc_expired?
      = "Expired."
    - else
      = raw "Expires on #{content_tag(:strong, l(user.cc_expire_on, format: :month_fullyear))}."
