= title_and_content_header("Update billing information")

.content_left
  - if !@user.billing_address_complete? && !@user.cc?
    = form_for @user, url: [:billing], html: { class: "full_form" } do |f|
      = render 'billing_address_fields', f: f, user: @user
      = render 'credit_card_fields', f: f, user: @user
      .entry.update
        = f.submit 'Update', id: 'billing_info_submit', class: "submit blue_button"

  - else
    = form_for @user, url: [:billing], html: { class: "full_form" } do |f|
      = render 'billing_address_fields', f: f, user: @user
      .entry.update
        = f.submit 'Update', id: 'billing_address_submit', class: "submit blue_button"
      .break

    = form_for @user, url: [:billing], html: { class: "full_form" } do |f|
      = render 'credit_card_fields', f: f, user: @user
      .entry.update
        = f.submit 'Update', id: 'credit_card_submit', class: "submit blue_button"

.content_right
  - if @user.cc?
    %h3.section_title Current credit card on file
    #credit_card_summary.dark_box= render 'cc_summary', user: @user

  .info_secure_note.dark_box
    %p
      = "Your credit card information is protected with secure socket layer (SSL) encryption."
      %br
      = mail_to(t("mailer.billing.email").html_safe, "Questions about billing?", class: "hl")

.spacer

.small_note
  .break
  %p= raw "If you have a #{link_to "3-D Secure VISA", "http://www.visa.com/3-dsecure", onclick: "window.open(this); return false", class: "hl"} or #{link_to "3-D Secure MasterCard", "http://www.mastercard.com/securecode/", onclick: "window.open(this); return false", class: "hl"} we will charge your credit card with a minimal amount of $0.01 that will be immediately refunded in order to authorize your new credit card."
