%tr[plan]{ :class => cycle("", "alt") }
  %td.name
    = plan.name.humanize
  %td.player_hits
    = number_with_delimiter(plan.player_hits)
  %td.price
    = number_to_currency(plan.price/100.0)
  %td.overage_price
    = number_to_currency(plan.overage_price/100.0)
  %td.used_in_beta
    = number_with_delimiter(plan.sites.beta.count)
  %td.used_in_dev
    = number_with_delimiter(plan.sites.dev.count)
  %td.used_in_active
    = number_with_delimiter(plan.sites.active.count)
  %td.estimated_revenue
    %strong= number_to_currency((plan.sites.active.count * plan.price)/100.0)