%tr[plan]{ :class => cycle("", "alt") }
  %td.name
    = plan.name.humanize
  %td.cycle
    = plan.cycle.humanize
  %td.player_hits
    = number_with_delimiter(plan.player_hits)
  %td.price
    = display_amount(plan.price)
  %td.used_in_beta
    = number_with_delimiter(plan.sites.beta.count)
  %td.used_in_dev
    = number_with_delimiter(plan.sites.dev.count)
  %td.used_in_active
    = number_with_delimiter(plan.sites.active.count)
  %td.estimated_revenue
    %strong= display_amount(plan.sites.active.count * plan.price)