%tr[plan]{ class: cycle("", "alt") }
  %td.name
    = plan.name.humanize
  %td.cycle
    - if plan.cycle != 'none'
      = plan.cycle.humanize
    - else
      = "-"
  %td.video_views
    - if plan.video_views > 0
      = number_with_delimiter(plan.video_views)
    - else
      = "-"
  %td.price
    - if plan.price > 0
      = display_amount(plan.price)
    - else
      = "-"
  %td.custom_token
    - if plan.custom_plan?
      = link_to plan.token, new_site_path(custom_plan: plan.token)
    - else
      = "-"
  %td.used_in_active
    = number_with_delimiter(plan.sites.active.count)
  -#%td.estimated_revenue
  -#  %strong= display_amount(plan.sites.active.count * plan.month_price)
