- @page_title = "Change Password"
%h2= "Change your password"

= form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "main_form" } do |f|

  = f.hidden_field :reset_password_token

  .entry.password
    = f.label :password, "", :class => "icon"
    = f.password_field :password, :class => "text show_password", :placeholder => "Password", :required => true

  .entry.submit
    = f.submit "Change"
  .spacer