%tr{ :id => dom_id(video_profile_version), :class => cycle("", "alt") }
  %td.id
    = link_to video_profile_version.id, admin_profile_version_path(@profile.id, video_profile_version.id)
  %td.created_at
    = link_to(l(video_profile_version.created_at, :format => :full), admin_profile_version_path(@profile, video_profile_version))
  %td.panda_profile_id
    = link_to video_profile_version.panda_profile_id, admin_profile_version_path(@profile.id, video_profile_version.id)
  %td.endogings_count
    = VideoEncoding.where(:video_profile_version_id => video_profile_version.id).count
  %td.state
    = link_to video_profile_version.state, admin_profile_version_path(@profile.id, video_profile_version.id)