.main_table_wrap
  .dark_rounded_corners
    %table.main#profile_versions
      %tr
        %th= "ID"
        %th= "Creation date"
        %th= "Panda profile ID"
        %th.encodings_count= "# Encodings"
        %th.delete= "State"
      = render @versions