= title_and_content_header("New version for video profile #{content_tag(:em, @profile.title)}")

= form_for [:admin, @profile, @version], :url => admin_profile_versions_path(@profile), :html => { :class => "version" } do |f|
  .entry.width
    = f.label :width
    = f.text_field :width, :class => "text", :placeholder => "640", :required => true, :autocomplete => :off
  .entry.height
    = f.label :height
    = f.text_field :height, :class => "text", :placeholder => "380", :required => true, :autocomplete => :off
  .entry.command
    = f.label :command
    = f.text_area :command, :class => "text", :required => true, :autocomplete => :off, :rows => 10, :cols => 50
  .actions
    = f.submit 'Create', :class => "submit small"
    = "or"
    = link_to "cancel", admin_profile_path(@profile)