= title_and_content_header("New version for video profile #{content_tag(:em, @profile.title)}")

= form_for [:admin, @profile, @version], :url => admin_profile_versions_path(@profile), :html => { :class => "version" } do |f|
  = f.hidden_field :width, :value => '0'
  = f.hidden_field :height, :value => '0'
  
  .entry.command
    = f.label :command
    = f.text_area :command, :class => "text", :required => true, :autocomplete => :off, :rows => 10, :cols => 50
  .actions
    = f.submit 'Create', :class => "submit small"
    = "or"
    = link_to "cancel", admin_profile_path(@profile)