= title_and_content_header("#{content_tag(:em, @profile.title)} video profile: #{@version.rank.ordinalize} version")

.created_at
  %strong= "Creation date: "
  = l(@version.created_at, :format => :full)
.panda_profile_id
  %strong= "Panda profile ID: "
  = @version.panda_profile_id
.state
  %strong= "State: "
  = @version.state
  
%br

%h3= "Panda information"

- @panda_profile_info.each do |k,v|
  %div
    %strong= "#{k.to_s.humanize}: "
    = raw v
    
- if @version.experimental?
  = form_for [:admin, @profile, @version], :url => admin_profile_version_path(@profile, @version), :html => { :method => :put } do |f|
    .entry.submit.signup
      = f.submit "Activate", :confirm => "Are you sure?", :class => "submit small"
      = "or"
      = link_to "Back to #{content_tag(:em, @profile.title)}".html_safe, admin_profile_path(@profile)