= title_and_content_header("#{content_tag(:em, @profile.title)} video profile: #{@version.rank.ordinalize} version")

.created_at
  %strong= "Creation date: "
  = l(@version.created_at, :format => :full)
.panda_profile_id
  %strong= "Panda profile ID: "
  = @version.panda_profile_id
.state
  %strong= "State: "
  = @version.state
  
%br

%h3= "Panda information"

- @panda_profile_info.each do |k,v|
  %div
    %strong= "#{k.to_s.humanize}: "
    = raw v
    
- if @version.experimental?
  = button_to "Activate", admin_profile_version_path(@profile, @version), :confirm => "Are you sure?", :method => :put
  
= link_to "Back to #{content_tag(:em, @profile.title)}".html_safe, admin_profile_path(@profile)