= title_and_content_header("Terms & Conditions")

%section.text
  %p= raw "THE FOLLOWING TERMS AND CONDITIONS SET FORTH THE RIGHTS BEING LICENSED TO YOU FOR USE OF THE SUBLIMEVIDEO VIDEO PLAYER SOFTWARE. IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU HAVE NO RIGHT TO USE THE SUBLIMEVIDEO PLAYER."

  %p= raw "These Terms and Conditions, together with any online order for Service (defined below) submitted by you (each, an &ldquo;Order&rdquo;) comprise the entire agreement (the &ldquo;Agreement&rdquo;) by and between Jilion SA (&ldquo;Jilion&rdquo; or &ldquo;us&rdquo;) and the entity or individual (&ldquo;you&rdquo; or &ldquo;User&rdquo; or &ldquo;Client&rdquo;) identified in your Order. If you are an individual and are entering into this Agreement on behalf of an entity, you represent that you have the authority to bind such entity to all of the terms and conditions of this Agreement."

  %ol
    %li
      %h3 1. Definitions
      %ol
        %li
          %span{ class: 'number' } 1.1
          %strong= raw "&ldquo;Content&rdquo;"
          = raw "means all User's content that is distributed, published, publicly represented or broadcasted by User while using the Service."
        %li
          %span{ class: 'number' } 1.2
          %strong= raw "&ldquo;License&rdquo;"
          = raw "means the rights granted to User by Jilion pursuant to Section 5 of these Terms and Conditions."
        %li
          %span{ class: 'number' } 1.3
          %strong= raw "&ldquo;Software&rdquo;"
          = raw "means Jilion's SublimeVideo video player software, scripts and programs together with any related documentation, and all version thereof. The Software can be embedded into User's website and web pages, and therefore automatically downloaded from Jilion's content delivery network when such web pages are loaded, pursuant to Client's use of the Service. The Content delivery network is administered by Jilion, its suppliers or agents, and hosted on Jilion's suppliers' servers."
        %li
          %span{ class: 'number' } 1.4
          %strong= raw "&ldquo;Service&rdquo;"
          = raw "means Jilion's SublimeVideo service that enables Client to Use the Software for the purpose of publishing, publicly representing, distributing and broadcasting Client's Content."
        %li
          %span{ class: 'number' } 1.5
          %strong= raw "&ldquo;Use&rdquo;"
          = raw "means any act of User, with respect to the Software or Service, which, if not authorized by these Terms and Conditions, would amount to an infringement of Jilion rights, including intellectual property rights."
        %li
          %span{ class: 'number' } 1.6
          %strong= raw "&ldquo;User Account&rdquo;"
          = raw "means a single point of entry into the Website through which User(s) registers and manages its profile, and access and use the Service."
        %li
          %span{ class: 'number' } 1.7
          %strong= raw "&ldquo;Website&rdquo;"
          = raw "means the website(s) administered by Jilion, its suppliers or agents, from which (i) User registers a User Account and place Orders, and (ii) Jilion delivers Services to Users, and includes Jilion's suppliers' servers hosting Jilion's content delivery network."

  %ol
    %li
      %h3 2. Acceptance and Modification of Terms and Conditions
      %ol
        %li
          %span{ class: 'number' } 2.1
          = raw "Your Use of the Website, Use of the Service and/or Use of the Software or of any other software or computer program developed and/or distributed by Jilion or its agents, is subject to these Terms and Conditions."
        %li
          %span{ class: 'number' } 2.2
          = raw "By clicking &ldquo;I agree&rdquo; below and by registering a User Account on the Website (&ldquo;#{content_tag(:strong, "User Account")}&rdquo;), you agree that (i) this Agreement is a legally binding and valid contract, (i) you have read, understood and accepted with no exception this Agreement either for yourself or on behalf of your employer or another entity, (ii) agree to abide by this Terms and Conditions and (iii) agree to take all necessary steps to ensure that no person or entity under your control or in your service violates these Terms and Conditions."
        %li
          %span{ class: 'number' } 2.3
          = raw "Jilion reserves the right to change these Terms and Conditions at any time by posting changes to this page of the Website. In the event of modifications of the Terms and Conditions, the version published on the Website is the only evidence. As a consequence, you are invited to frequently consult these Terms and Conditions in order to be informed about possible modifications."

  %ol
    %li
      %h3 3. Order and User Account
      %ol
        %li
          %span{ class: 'number' } 3.1
          = raw "You are entitled to register a User Account on the Website for the purpose of placing and managing Orders for Service."
        %li
          %span{ class: 'number' } 3.2
          = raw "Access to User's Account(s) shall be limited by use of name(s), first name(s), username(s) and password(s) (&ldquo;#{content_tag(:strong, "Credentials")}&rdquo;) selected by User. Except where Jilion has actual notice of loss, theft or unauthorized use of User's Credentials (i) Client is responsible for all activity occurring in User's Account(s) and (ii) Jilion shall have the right, without further inquiry, to rely on the provision of User's Credentials as sufficient to authenticate User's."
        %li
          %span{ class: 'number' } 3.3
          = raw "Each of your Order will become effective after (i) you have selected, on the &ldquo;My Sites&rdquo; section of the Website, a valid web page or web site managed by You as identified by its Internet Domain Name identifier (&ldquo;#{content_tag(:strong, "IDN")}&rdquo;), and (ii) you have received from Jilion a software code specific to the Service and IDN (&ldquo;#{content_tag(:strong, "Embedded Code")}&rdquo;) for use with the IDN only, and (iii) You have embedded the Embedded Code on the IDN page code. #{content_tag(:strong, "Each Order is limited to a single IDN")}, as identified by you on the &ldquo;Add your site&rdquo; section of the Website."
        %li
          %span{ class: 'number' } 3.4
          = raw "In the event of non-compliance with the instructions, with the License or with the restrictions of Use related to the Software or Services or in the event of non-compliance with any term of these Terms and Conditions, JILION RESERVES ITSELF THE RIGHT TO SUSPEND OR CLOSE ANY USER ACCOUNT, TO CLOSE ACCESS TO ITS WEBSITE AND TERMINATE ANY OF ITS SERVICES WITHOUT ANY PRIOR NOTICE NOR COMPENSATION."

  %ol
    %li
      %h3 4. Proprietary Rights
      %ol
        %li
          %span{ class: 'number' } 4.1
          = raw "JILION RIGHTS. Jilion owns all rights that may exist in the Software, Service and Website, in any other jurisdiction, whether foreign or domestic, under any law related to patent, copyright including moral rights, trade secret, trademark and competition or other similar protections, regardless of whether or not such rights or protections are registered or perfected (the &ldquo;#{content_tag(:strong, "Intellectual Property Rights")}&rdquo;). ALL INTELLECTUAL PROPERTY RIGHTS IN AND TO THE SOFTWARE ARE AND SHALL REMAIN IN JILION."
        %li
          %span{ class: 'number' } 4.2
          = raw "TRADEMARKS. &ldquo;Jilion&rdquo; and &ldquo;SublimeVideo&rdquo; are trademarks of Jilion and cannot be used without the expressed prior consent of Jilion."
        %li
          %span{ class: 'number' } 4.3
          = raw "USER CONTENT. As between the parties, it shall be presumed that User has valid rights, titles or interests in and to the Content, pursuant to User&rsquo;s representation laid out in paragraph 9.4 herein."

  %ol
    %li
      %h3 5. License
      %ol
        %li
          %span{ class: 'number' } 5.1
          = raw "LICENSE. Further to your Order for Service being effective, Jilion hereby grants to You a personal, limited, revocable (as set forth in this Agreement), non-transferable, non-assignable, non-exclusive, worldwide license to use the Software, allowing you to embed a script on each User's registered website and web pages, and to download the Software from the Website to any said web page, when loaded online."
        %li
          %span{ class: 'number' } 5.2
          = raw "NO ASSIGNMENT. The foregoing license (i) is solely provided to you on the condition that you adhere to these Terms and Conditions, (ii) is an express limited use license and not an assignment, sale, or other transfer of the Software or any Intellectual Property Rights of Jilion. All rights not expressly granted to You are reserved by Jilion."
        %li
          %span{ class: 'number' } 5.3
          RESTRICTIONS OF USE:
          %ol
            %li= raw "You are prohibited from using the Software for any purpose whatsoever, but your Use of the Service."
            %li= raw "You are prohibited from copying, modifying, merging, selling, leasing, redistributing, assigning, or transferring in any matter, the Software or any portion thereof."
            %li= raw "You are prohibited from reverse engineering, decompiling, translating, disassembling, deciphering, decrypting, or otherwise attempting to discover the source code of the Software. You may not otherwise modify, alter, adapt, port, or merge the Software."
            %li= raw "You may not remove, alter, deface, overprint or otherwise obscure Jilion patent, trademark, service mark or copyright notices."
            %li= raw "You may not publish or distribute in any form of electronic or printed communication the materials within or otherwise related to the Software, including but not limited to the script, object code and documentation."
        %li
          %span{ class: 'number' } 5.4
          = raw "REVOCATION. Your License and any rights granted to you by Jilion hereunder will be revoked with immediate effect and without prior notice of Jilion provided you have behaved in a manner that breaches any of the Restrictions of use above, or more generally, any of the terms of this Agreement."

  %ol
    %li
      %h3 6. Registration, Plans and Charges
      %ol
        %li
          %span{ class: 'number' } 6.1
          = raw "SERVICE PLANS. The Service is provided on a periodic (daily, monthly or annual) subscription basis (&ldquo;#{content_tag(:strong, "Period")}&rdquo;) and/or on a &ldquo;pay as you go&rdquo; basis which includes a defined number of hits or video page views on your IDN (&ldquo;#{content_tag(:strong, "Usage")}&rdquo;). From time to time, Jilion may offer one or more service plan to Users (each, a &ldquo;#{content_tag(:strong, "Plan")}&rdquo;). The Period and Usage entitlements, the features and the access fees or Usage fees for each Plan shall be described on the Website or otherwise communicated to you by Jilion."
          %ol
            %li= raw "#{content_tag(:strong, "Plan change by User")}. User can upgrade its Plan to a Plan offering a longer Period or a higher Usage basis (&ldquo;#{content_tag(:strong, "Upgrade")}&rdquo;) at any time. User can downgrade its Plan to a Plan offering a shorter Period or a lower Usage basis at any time (&ldquo;#{content_tag(:strong, "Downgrade")}&rdquo;), any such Downgrade shall become effective upon termination of the then current Plan Period."
            %li= raw "#{content_tag(:strong, "Automatic Plan Change")}. Excess of Usage limit will not affect the Service. However, Jilion may at any time in its sole discretion, in case Usage incurred by User exceeds Usage limit pursuant to User&rsquo;s Plan within any Period, either (i) request User to Upgrade its Plan or (ii) Upgrade a User&rsquo;s Plan directly (&ldquo;#{content_tag(:strong, "Automatic Plan Change")}&rdquo;). Any such Automatic Plan Change will be effective for the Periods under which the Usage excess occur."
            %li= raw "#{content_tag(:strong, "Peak Insurance")}. Jilion may offer at its sole discretion and at any time a &ldquo;Peak Insurance&rdquo; consisting of a limited Usage excess tolerance, before Automatic Plan change takes effects. Jilion may terminate any Peak Insurance at any time in its sole discretion."
        %li
          %span{ class: 'number' } 6.2
          = raw "TRIALS. Jilion may, from time to time, offer free-of-charge trial Plans that are limited by Usage and/or be effective for a period of time (&ldquo;#{content_tag(:strong, "Trials")}&rdquo;). Any Trial will be deactivated by Jilion when you reach the then defined Usage limit, unless You place an Order with Jilion. You will receive an Order offer and Trial termination notice by email once you reach your Usage limit. Jilion may terminate any free-of-charge Plan at any time in its sole discretion. NOTWITHSTANDING SECTION 10 OF THESE SERVICE TERMS, THE JILION SERVICE IS PROVIDED &ldquo;AS-IS&rdquo; AND WITHOUT ANY REPRESENTATION OR WARRANTY DURING USE OF FREE-OF-CHARGE PLAN."
        %li
          %span{ class: 'number' } 6.3
          = raw "CREDIT CARD CHARGES. By submitting an Order for a Plan using the &ldquo;Billing information&rdquo; section of the Website, User agrees that Jilion is and will continue to be authorized to charge a monthly usage fees to the credit card User provided in connection with its Order until this Agreement is terminated. User acknowledges and agrees that the amount charged may vary from month to month due to a Plan change by User or an Automatic Plan Change. User authorizes Jilion to charge User's credit card for such varying amounts. All fees are payable in US dollars or any other currency selected by User when available on the &ldquo;Billing information&rdquo; section of the Website."
          %ol
            %li= raw "#{content_tag(:strong, "Charges period")}. Jilion will charge User&rsquo;s credit card the applicable Service Usage fees identified in User&rsquo;s Order, once a Period and every calendar Period, on or around the day of the calendar Period following the same day of the month or year in which such service usage fees (i) are incurred by User or (ii) the Order becomes effective pursuant to paragraph 3.3 herein (&ldquo;#{content_tag(:strong, "Billing Period")}&rdquo;). Jilion does not guarantee that User's credit card will be charged by a specific day of the month."
            %li= raw "#{content_tag(:strong, "Fees Charged by User's Credit Card Issuer, Bank or Financial Institution")}. User is solely responsible for any and all fees charged to User's credit card by User's credit card issuer, bank or financial institution including, without limitation, membership, overdraft, insufficient funds and over-the-credit-limit fees."
            %li= raw "#{content_tag(:strong, "Changes to User's Plan")}. User may change to a different Plan, either by Upgrade, Downgrade or else at any time through the Website. Changes to User&rsquo;s Plan will be effective upon submission of the completed change request through the Website. User&rsquo;s credit card will, at the time the change request is completed, be billed the price difference between User&rsquo;s old Plan and its new Plan."
            %li= raw "#{content_tag(:strong, "Order Information")}. User agrees to provide Jilion with true, accurate and complete information in connection with its Order, including, without limitation, User's legal name, address, telephone number, email address and billing information (i.e., credit card number and expiration date) (&ldquo;#{content_tag(:strong, "Order Information")}&rdquo;). User agrees, throughout the Term, to maintain and promptly update User's Order Information and any other information User provides to Jilion in connection with its use of the Jilion Service."
            %li= raw "#{content_tag(:strong, "Change to Billing Information")}. User may change User's credit card information or its billing information by updating the &ldquo;Billing Information&rdquo; section within the Website. Only the User who initially provided the credit card information is entitled to access and change User's credit card information in the Website. User acknowledges and agrees that Jilion may (though is not required to) contact User from time to time to verify User's Order Information, including credit card expiration date, provided, however, that User remains solely responsible for providing accurate and current payment information to Jilion throughout the Term and if such information is not received by Jilion, Jilion may suspend User's use of the Jilion Service."
            %li= raw "#{content_tag(:strong, "Locked Accounts for Payment Failure")}. If Jilion is unable to charge User's credit card for any reason, Jilion may, in addition to any other rights Jilion may have, suspend User's use of the Service until such time as all applicable charges are successfully applied to User's credit card."
            %li= raw "#{content_tag(:strong, "Cancellations")}. The Period or Usage fees for User's Plan will continue unless and until this Agreement is terminated pursuant to Section 7 or cancelled pursuant to this section. For clarity and avoidance of doubt, if User is subject to more than one Order, any cancellation of an Order pursuant to this section shall terminate this Agreement with respect to such Order only."
            %li= raw "#{content_tag(:strong, "Cancellation by User")}. User may cancel any User Order at any time pursuant to the procedures described in the relevant section of the Website. User's cancellation must be finalized prior to 11:59 pm (Central European Time) on the last day of the then-current Billing Period in order to avoid charges for the following Billing Period. Any final charges that have not been charged to User's credit card prior to cancellation will be charged to User's credit card following cancellation. Jilion is not responsible for User's failure to properly cancel an Order, nor is Jilion responsible for any credit card charges and fees User may incur as a result of such failure."
            %li= raw "#{content_tag(:strong, "Cancellation by Jilion")}. In addition to any other termination right Jilion has under these Terms and Conditions, Jilion may, with at least 30 days prior notice to User, cancel User's Order at any time in its sole discretion. Any final charges that have not been charged to User's credit card prior to cancellation will be charged to User's credit card following cancellation."
            %li= raw "#{content_tag(:strong, "User's Credit Card Information")}. User agrees that Jilion may share User's Order Information with third-party credit card processing companies for the purpose of verifying the accuracy of User's Order Information and processing and charging User's credit card for User's Order."
            %li= raw "#{content_tag(:strong, "Changes to Fees and the Agreement")}. With at least 30 days prior notice to User, Jilion may, in its discretion, change the terms (including the fees) and/or Entitlements of User's Plan. If User does not agree to such changes, User will have an opportunity to cancel or change its Order prior to such changes going into effect. If User does not cancel or change its Order within such time, User hereby acknowledges and agrees that its failure to cancel or change its Order shall constitute User's affirmative acceptance of the changes."
            %li= raw "#{content_tag(:strong, "Penalty for late payments")}. Late payments may be subject to fees at the rate of 1.5% per month or, if lower, the maximum rate allowed by law. If User fails to pay applicable fees when payment is due, then in addition to any other rights Jilion may have, Jilion shall have the right to suspend delivery of all or a portion of any Service to User. If Jilion pursues collection efforts against User due to User's failure to pay fees due under this Agreement, User shall pay Jilion's reasonable costs of collection, including any attorneys' fees related thereto."
        %li
          %span{ class: 'number' } 6.4
          = raw "PRIVACY. Any data and information likely to personally identify corporate bodies or natural persons forwarded to the Website, are protected and processed under our Privacy Policy, available at #{link_to(page_url('privacy', subdomain: 'my'), page_url('privacy', subdomain: 'my'))}; please read it."

  %ol
    %li
      %h3 7. Term and Termination
      %ol
        %li
          %span{ class: 'number' } 7.1
          = raw "TERM. This Agreement shall become effective, with regard to each User Order, on the day such Order is validated and accepted by Jilion. and shall remain in effect until the Agreement is terminated by either User or Jilion in accordance with the provisions of the Agreement (&ldquo;#{content_tag(:strong, "Term")}&rdquo;)."
        %li
          %span{ class: 'number' } 7.2
          = raw "TERMINATION. Unless otherwise prohibited by law, either party may terminate this Agreement: (a) if the other party is adjudicated bankrupt or otherwise seeks to avoid its performance obligations under applicable bankruptcy or insolvency laws, (b) upon the occurrence of a material breach of this Agreement by the other party if such breach is not cured within 30 days after written notice identifying the matter constituting the material breach or (c) by following the cancellation instructions set forth herein. In the event of a termination of this Agreement, the License granted under this Agreement shall terminate automatically. Upon an early termination of this Agreement for any reason (other than a termination resulting from a material, uncured breach of this Agreement by Jilion), all fees and expenses payable under this Agreement shall become immediately due and payable unless otherwise indicated."
        %li
          %span{ class: 'number' } 7.3
          = raw "DESTRUCTION OF MATERIAL. Upon any termination, you agree to destroy all copies of the Software, any accompanying documentation, and all other associated materials."

  %ol
    %li
      %h3 8. Obligations of Jilion
      %ol
        %li
          %span{ class: 'number' } 8.1
          = raw "SERVICE. Jilion agrees to operate and make available the Service to User in accordance with User&rsquo;s Order and with this Agreement."
        %li
          %span{ class: 'number' } 8.2
          = raw "BEST EFFORT. Jilion agrees to ensure the availability of its Website and Service under a best effort basis and to the extent of its resources, programs and services at its disposal. Jilion cannot be held responsible for an interruption of the Service, even when extended, particularly in the field of support or capacity of downloading, access to its Website or any other activity requiring a connection with said Website."
        %li
          %span{ class: 'number' } 8.3
          = raw "GENERAL. Jilion agrees to perform any other obligations expressly identified in this Agreement."

  %ol
    %li
      %h3 9. User Obligations and Representations
      %ol
        %li
          %span{ class: 'number' } 9.1
          = "USE. You agree and represent that you will not (i) use the Service in any illegal or unlawful manner or for any illegal or unlawful purpose or (ii) perform any act which interferes with or disrupts the Website or Service."
          %ol
            %li= raw "Jilion will not review or screen Content used by User, for compliance with this Agreement or applicable law, and Jilion shall have no obligation to do so, provided, however, that in addition to any other right Jilion may have, Jilion reserves the right to suspend User&rsquo;s access to and/or Use of the Service to the extent that Jilion determines, in good faith, that such suspension is necessary to comply with applicable law or to prevent significant harm to any User, to any third-party which have been contacting Jilion, or to the Service; provided further, however, that in such event, Jilion shall only suspend that portion of the Service as is reasonably necessary to prevent the occurrence or continuation of such violation and/or harm."
        %li
          %span{ class: 'number' } 9.2
          = raw "OBLIGATION TO PAY. You agree to pay Jilion the Usage fees set forth in this Agreement, including any applicable Order, in accordance with the payment terms set forth herein. User shall be responsible for and shall pay any applicable sales, use or other taxes or duties, tariffs or the like applicable to User's Order (except for taxes on Jilion's income). All payments shall be made without deduction for withholding taxes."
        %li
          %span{ class: 'number' } 9.3
          = raw "COMPLIANCE WITH LAWS. You agree that in using of the Software and Service, you will abide by all applicable laws, including without limitation intellectual property laws,  export control laws, and statutory or regulatory laws related without limitations to copyrights, image rights or personality rights."
        %li
          %span{ class: 'number' } 9.4
          = raw "CONTENT. You represent and warrant that (i) you either own fully and outright or otherwise possess and have obtained all rights, approvals, licenses, consents and permissions as are necessary to use the Content and to perform your obligations hereunder, and (ii) the exercise of your rights hereunder, as enabled by User, directly or indirectly, does not, and shall not, infringe, violate or misappropriate any third party&rsquo;s rights and any statutory or regulatory laws."
        %li
          %span{ class: 'number' } 9.5
          = raw "INDEMNIFICATION. You agree to indemnify, defend and hold harmless Jilion and Jilion's officers, employees, directors, agents, affiliates, subsidiaries, successors and assigns from and against any and all third party claims, damages, liabilities, loss, government fines, costs and expenses (including reasonable attorney's fees and litigation expenses), arising out of or related to your use of any Content and to any alleged or actual breach of any representation, warranty or covenant made by User in this Agreement."

  %ol
    %li
      %h3 10. Warranties and Disclaimer
      %ol
        %li
          %span{ class: 'number' } 10.1
          = raw "EXCEPT AS EXPRESSLY SET FORTH HEREIN, AND TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SOFTWARE IS PROVIDED &ldquo;AS IS&rdquo; AND THE SERVICE IS PROVIDED ACCORDING TO THEIR AVAILABILITY, AND WITHOUT ANY GUARANTEE, EITHER EXPLICIT OR IMPLICIT. NO ADVICE OR INFORMATION OBTAINED BY CLIENT FROM JILION SHALL CREATE ANY REPRESENTATION OR WARRANTY NOT EXPRESSLY STATED IN THIS AGREEMENT."
        %li
          %span{ class: 'number' } 10.2
          = raw "JILION DOES NOT GUARANTEE THAT ITS WEBSITE WILL MEET YOUR EXPECTATIONS, WHETHER THEY ARE UNINTERRUPTED, CONVENIENT, SAFE OR ERROR-FREE. JILION DOESN'T ASSUME ANY RESPONSIBILITY FOR POSSIBLE INTERRUPTION OR SUSPENSION OF WHOLE OR PARTS OF THE FEATURES IN ITS WEBSITE RESULTING FROM ACTIONS OR OMISSIONS BY JILION OR A THIRD PARTY."
        %li
          %span{ class: 'number' } 10.3
          = raw "UNDER NO CIRCUMSTANCES SHALL JILION OR ITS AGENTS BE LIABLE TO CLIENT UNDER ANY THEORY OF LIABILITY FOR INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, PUNITIVE OR EXEMPLARY DAMAGES (INCLUDING SUCH DAMAGES INCURRED BY THIRD PARTIES) ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT, THE PERFORMANCE OF THE SOFTWARE OR JILION'S PERFORMANCE OF THE SERVICE OR OF ANY OTHER OBLIGATIONS RELATING TO THIS AGREEMENT OR TO THE SOFTWARE, WHETHER OR NOT JILION HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, SUCH AS, WITHOUT LIMITATION, ANY DAMAGES RESULTING FROM LOSS OF REVENUE OR ANTICIPATED PROFITS OR LOST BUSINESS, LOSS OF USE, LOSS OF DATA OR ANY OTHER COMMERCIAL OR ECONOMIC LOSS OF ANY KIND WHATSOEVER. UNDER NO CIRCUMSTANCES WILL JILION BE LIABLE TO CLIENT FOR DAMAGES IN EXCESS OF THE PRICE PAID BY CLIENT UNDER THE SERVICE."
        %li
          %span{ class: 'number' } 10.4
          = raw "SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY MAY LAST, SO THE LIMITATIONS ABOVE MAY NOT APPLY TO YOU OR MAY ONLY APPLY TO YOU IN PART. IF SWISS LAW IS NOT HELD TO APPLY TO THIS AGREEMENT FOR ANY REASON, THEN IN JURISDICTIONS WHERE WARRANTIES, GUARANTEES, REPRESENTATIONS, AND/OR CONDITIONS OF ANY TYPE MAY NOT BE DISCLAIMED, ANY SUCH WARRANTY, GUARANTEE, REPRESENTATION AND/OR CONDITION IS: (1) HEREBY LIMITED TO THE PERIOD OF EITHER (A) THIRTY (30) DAYS FROM DOWNLOADING THE SOFTWARE OR (B) THE SHORTEST PERIOD ALLOWED BY LAW IN THE APPLICABLE JURISDICTION IF A THIRTY (30) DAY LIMITATION WOULD BE UNENFORCEABLE; AND (2) LICENSOR'S SOLE LIABILITY FOR ANY BREACH OF ANY SUCH WARRANTY, GUARANTEE, REPRESENTATION, AND/OR CONDITION SHALL BE TO PROVIDE YOU WITH A NEW COPY OF THE SOFTWARE."

  %ol
    %li
      %h3 11. Miscellaneous
      %ol
        %li
          %span{ class: 'number' } 11.1
          = raw "ENTIRE AGREEMENT. This Agreement represents the totality of the agreement between you and Jilion with regard to your Use of the Software and Service. Any other measures taken by Jilion to manage its relations with you and particularly its provisions complement the Terms and Conditions; in case of contradiction between them, the priority is given to these Terms and Conditions."
        %li
          %span{ class: 'number' } 11.2
          = raw "SEVERABILITY. In the event any provision of this Terms and Conditions is found to be invalid, illegal or unenforceable, the validity, legality and enforceability of any of the remaining provisions shall not in any way be affected or impaired and a valid, legal and enforceable provision of similar intent and economic impact shall be substituted therefore."
        %li
          %span{ class: 'number' } 11.3
          = raw "TITLES. The headers and titles used for each section of these Terms and Conditions is indicative only and cannot be interpreted as to modify or diminish the effect of the substantive terms or conditions in any manner whatever."
        %li
          %span{ class: 'number' } 11.4
          = raw "APPLICABLE LAW. These Terms and Conditions of Use shall be governed by and construed in accordance with Swiss laws applicable at the place of jurisdiction of Jilion."
        %li
          %span{ class: 'number' } 11.5
          = raw "JURISDICTION. In case of dispute, you agree to be arbitrated by the exclusive jurisdiction of courts in the Canton of Vaud, Switzerland, except for the recourse to the Federal Tribunal."
        %li
          %span{ class: 'number' } 11.6
          = raw "EFFECT OF WAIVER. The fact for JILION of tolerating a breach of trust of one of its Users in these Terms and Conditions, or of not applying any right which is granted to them by the Agreement or by the law, cannot under no circumstances being interpreted as a renunciation of their ability to prevail themselves of their rights."

  %p
    Jilion SA
    %br
    EPFL Innovation Square
    %br
    PSE-D
    %br
    1015 Lausanne, Switzerland

  %p Last updated on November 29, 2011
