%h2= "SublimeVideo: notify me"

#signup_quotes
  %blockquote.wired
    = "A uniform, cross-browser, multiple-codec compatible, HTML5 video-embedding solution."
  %p.author.wired= "Webmonkey, Wired, 2010."
  %blockquote.oreilly
    = "Wow. Sublime Video HTML5 video player. Looks awesome."
  %p.author.oreilly= "Tim O'Reilly, 2010."
  
= form_for @enthusiast, :url => '/', :html => { :method => :post, :class => "main_form" } do |f|
  - if @enthusiast.errors[:base].present?
    .global_errors
      %p= @enthusiast.errors[:base]
      
  .entry.email
    = f.label :email, "Send my SublimeVideo invitation at:"
    = f.text_field :email, :class => "text", :placeholder => "Email", :required => true
  .entry.sites
    = "I would like to use SublimeVideo on:"
    .fields
      - @enthusiast_site ||= @enthusiast.sites.build if @enthusiast.sites.empty?
      = f.fields_for :sites do |site_f|
        = render "site_fields", :f => site_f
    .add_site
      = link_to_add_fields "Add a site", f, :sites
    
  .entry.free_text
    = f.label :free_text, "I want to tell how I badly can't wait for SublimeVideo:"
    = f.text_area :free_text, :class => "text", :placeholder => "Comments, additional information...", :rows => 5, :cols => 60
      
  .entry.submit.signup
    = f.submit "OK!", :class => "submit small"