= title_and_content_header("Invite an admin")

= form_for resource, as: resource_name, url: admin_invitation_path, html: { method: :post } do |f|
  .entry.email
    = f.label :email, "", class: "icon"
    = f.email_field :email, class: "text", placeholder: "Email", required: true

  .entry.send
    = f.submit "Send", class: "submit small"
    or
    = link_to "cancel", admin_admins_path
