%h2
  %select#component_select_name{ 'data-token' => @component.token }
    - @components.each do |component|
      %option{ value: component.token, selected: ('selected' if component == @component) }
        = "#{component.name} (#{component.token})"

%h3 Last Versions
- if @component.versions.present?
  %table
    %tr
      %th= "Version"
      %th= "Released at"
      %th= "Dependencies"
      %th= "Action"
    - @component.versions.all.sort.reverse.first(20).each do |version|
      %tr{ class: cycle('', 'alt') }
        %td
          = version.version
          = " (#{link_to 'download zip', admin_app_component_version_path(@component, version, format: :zip)})".html_safe
        %td= version.created_at
        %td= version.dependencies
        %td
          = button_to "delete version", admin_app_component_version_path(version.token, version), data: { confirm: 'Are you REALLY sure?' }, method: :delete

- else
  %p No versions yet.
