- value = params[:setting].presence || params[:setting_template][:default]

.entry
  - if params[:show_title]
    %span{ style: 'font-weight:600' }= t("kit.#{params[:addon].name}.settings.#{params[:translation_key] || params[:setting_key]}")
    %br
  %table#logo_position
    %tr
      - %w[top-left top-right].each do |choice|
        %td
          = render 'kits/inputs/radio', kit: kit, params: params, value: value, choice: choice
    %tr
      - %w[bottom-left bottom-right].each do |choice|
        %td
          = render 'kits/inputs/radio', kit: kit, params: params.merge(label_on_left: true), value: value, choice: choice

.spacer
