- value = settings[key] || default
.entry.card
  %span{ style: 'font-weight:600' }= t("kit.#{addon.name}.settings.#{key}")
  %br
  - choices.each do |choice|
    .radio_wrap
      = radio_button_tag "kit[addons][#{addon.id}][#{key}]", choice, value == choice
      = label_tag "kit[addons][#{addon.id}][#{key}]", t("kit.#{addon.name}.values.#{key}.#{choice}")
.spacer
