- value = settings[key] || default
.entry.card
  %span{ style: 'font-weight:600' }= t("kit.#{addon.name}.settings.#{key}")
  %br
  - choices.each do |choice|
    .radio_wrap
      = radio_button_tag "kit[addons][#{addon.name}][#{key}]", choice, value == choice, id: "kit_setting-#{addon.name}-#{key}", data: { addon: addon.name, default: value == choice }
      = label_tag "kit[addons][#{addon.name}][#{key}]", t("kit.#{addon.name}.values.#{key}.#{choice}")
.spacer
