- value = params[:settings].presence || params[:template_settings][:default]
- id = "kit_setting-#{params[:addon].name}-#{params[:setting_key]}"
.entry.range
  %span{ style: 'font-weight:600' }= label_tag "kit[addons][#{params[:addon].name}][#{params[:setting_key]}]", t("kit.#{params[:addon].name}.settings.#{params[:setting_key]}")
  %br
  = range_field_tag "kit[addons][#{params[:addon].name}][#{params[:setting_key]}]", value, in: params[:template_settings][:range], step: params[:template_settings][:step], style: 'display:inline', id: id, data: { addon: params[:addon].name, default: value }
  %span{ id: id + '_value' }= value
.spacer
