- height_key   = params[:setting_key].to_s.sub(/width/, 'height')
- width_value  = params[:setting] || params[:setting_template][:default] || 640
- height_value = (params[:setting][height_key] || params[:setting_template][height_key][:default]) rescue 360
- id = "kit_setting-#{params[:addon].name}-#{params[:setting_key]}"

.entry.size{ style: "margin-top:14px" }
  %span{ style: 'font-weight:600' }= label_tag id, t("kit.#{params[:addon].name}.settings.#{params[:setting_key]}")
  = text_field_tag "kit[addons][#{params[:addon].name}][#{params[:setting_key]}]", width_value, size: 4, maxlength: 4, id: id, class: 'text no_icon previewable', data: { addon: params[:addon].name, setting: params[:setting_key], default: width_value }
  x
  = text_field_tag "kit[addons][#{params[:addon].name}][#{height_key}]", height_value, size: 4, maxlength: 4, id: "kit_setting-#{params[:addon].name}-#{height_key}", class: 'text no_icon previewable', data: { addon: params[:addon].name, default: height_value }
.spacer
