- height_key = params[:setting_key].to_s.sub(/width/, 'height')
- width_value = params[:settings] || params[:template_settings][:default]
-# height_value = params[:settings][height_key] || default
- id = "kit_setting-#{params[:addon].name}-#{params[:setting_key]}"

.entry.size{ style: "margin-top:14px" }
  %span{ style: 'font-weight:600' }= label_tag id, t("kit.#{params[:addon].name}.settings.#{params[:setting_key]}")
  = text_field_tag "kit[addons][#{params[:addon].name}][#{params[:setting_key]}]", width_value, size: 4, maxlength: 4, id: id, data: { addon: params[:addon].name, setting: params[:setting_key], default: width_value }, class: 'text no_icon'
  x
  -#= text_field_tag "kit[addons][#{addon.name}][#{height_key}]", height_value, size: 4, maxlength: 4, id: "kit_setting-#{addon.name}-#{height_key}", data: { addon: addon.name, default: height_value }, class: 'text no_icon'
  -#%p
  -#  %a.hl.reset{ href: "" } Reset to original size
.spacer
