- value = params[:settings]#[key] || default
- id = "kit_setting-#{params[:addon].name}-#{params[:setting_key]}"

.entry
  %span{ style: 'font-weight:600' }= label_tag id, t("kit.#{params[:addon].name}.settings.#{params[:setting_key]}")
  = text_field_tag "kit[addons][#{params[:addon].name}][#{params[:setting_key]}]", value, id: id, data: (params[:data] || {}).merge(addon: params[:addon].name, default: value), class: 'text no_icon'
.spacer
