#header
  %h1
    = link_to "SublimeVideo", root_url(host: request.domain, protocol: 'http'), onclick: "window.open(this); return false"
    %em= "Admin"
  - if admin_signed_in?
    .popup_menu
      %h3= link_to "Sites", [:admin, :sites]
      %ul
        %li= link_to "All", [:admin, :sites]
        - if has_role?('god')
          %li= link_to "Plans", [:admin, :plans]
        %li= link_to "Referrers", [:admin, :referrers]

    .popup_menu
      %h3= link_to "Users", [:admin, :users]
      %ul
        %li= link_to "All", [:admin, :users]
        %li= link_to "Enthusiasts", [:admin, :enthusiasts]
        - if has_role?('god')
          %li= link_to "Admins", [:admin, :admins]

    - if has_role?('invoices')
      .popup_menu
        %h3= link_to "Invoices", [:admin, :invoices]
        %ul
          %li= link_to "All", [:admin, :invoices]
          %li= link_to "Monthly", [:monthly, :admin, :invoices]

    .popup_menu
      %h3= link_to "Stats", [:admin, :stats]
      %ul
        %li= link_to "Dashboard", [:admin, :stats]
        %li= link_to "Countries", single_admin_stats_path(page: 'countries')
        %li= link_to "Employees", single_admin_stats_path(page: 'employees')
        %li= link_to "Videos served", single_admin_stats_path(page: 'videos_served')
        %li= link_to "Tweets", [:admin, :tweets]
        %li= link_to "More...", [:more, :admin, :stats]

    - if has_role?('god')
      .popup_menu
        %h3= link_to "Other", [:admin, :delayed_jobs]
        %ul
          %li= link_to "DJs", [:admin, :delayed_jobs]
          %li= link_to "Deals", [:admin, :deals]
          %li= link_to "Deal activations", [:admin, :deal_activations]
          %li= link_to "Mails", [:admin, :mails]

    - if has_role?('player')
      %ul.favorite_links
        %li= link_to "Player", [:admin, :releases]

  .right
    %ul.extra_links
      - if admin_signed_in?
        %li= link_to "logout", destroy_admin_session_path
        %li= link_to current_admin.email, edit_admin_registration_path
      - else
        = link_to "Login", new_admin_session_path, class: "user"
  .spacer
