#header
  %h1
    - if admin_signed_in?
      = link_to [:admin, :dashboard] do
        = "#{"DEV" if Rails.env.development?} MySublimeVideo"
        %em= "Admin"
    - else
      = "MySublimeVideo"
      %em= "Admin"
  - if admin_signed_in?
    .popup_menu
      %h3= link_to "Menu", "", :onclick => "return false"
      %ul
        - [:plans, :referrers, :tweets, :mails, :admins, :enthusiasts].each do |name|
          = activable_menu_restful_item(:li, name, {}.reverse_merge!(:namespace => 'admin'))
    %ul#favorite_links
      - [:sites, :users, :invoices, [:releases, { :link_text => "Player" }], [:delayed_jobs, { :urls => %w[djs], :link_text => "DJs" }]].each do |r|
        - name = r.is_a?(Array) ? r[0] : r
        = activable_menu_restful_item(:li, name, (r.is_a?(Array) ? r[1] : {}).reverse_merge!(:namespace => 'admin'))

  .right
    %ul.extra_links
      - if admin_signed_in?
        %li= link_to "Logout", destroy_admin_session_path
        %li= link_to current_admin.email, edit_admin_registration_path
      - else
        = link_to "Login", new_admin_session_path, :class => "user"
  .spacer
