#header
  %h1
    = link_to "SublimeVideo", www_page_url(''), onclick: "window.open(this); return false"
    %em= "Admin"
  - if admin_signed_in?
    .popup_menu
      %h3= link_to "Sites", [:admin, :sites]
      %ul
        %li= link_to "All", [:admin, :sites]
        %li= link_to "Active pages", [:pages, :admin, :referrers]

    .popup_menu
      %h3= link_to "Users", [:admin, :users]
      %ul
        %li= link_to "SV users", [:admin, :users]
        %li= link_to "Beta requesters", [:admin, :enthusiasts]
        %li= link_to "Admins", [:admin, :admins] if has_role?('god')

    - if has_role?('invoices')
      .popup_menu
        %h3= link_to "Billing", [:admin, :invoices]
        %ul
          %li= link_to "All", [:admin, :invoices]
          %li= link_to "Total / month", [:monthly, :admin, :invoices]

    .popup_menu
      %h3= link_to "Stats", [:admin, :trends]
      %ul
        %li= link_to "Dashboard", [:admin, :trends]
        %li= link_to "Tweets", [:admin, :tweets]
        %li= link_to "Countries", admin_single_stat_path(page: 'countries')
        %li= link_to "Employees", admin_single_stat_path(page: 'employees')
        %li= link_to "Videos served", admin_single_stat_path(page: 'videos_served')
        -#%li= link_to "More...", [:more, :admin, :stats]

    - if has_role?('god')
      .popup_menu
        %h3= link_to "Entreprise", [:admin, :tailor_made_player_requests]
        %ul
          %li= link_to "Tailor-made player requests", [:admin, :tailor_made_player_requests]
          %li= link_to "Trial & Cancellation feedbacks", [:admin, :feedbacks]

    - if has_role?('god')
      .popup_menu
        %h3= link_to "Other", 'https://sidekiq.sublimevideo.net'
        %ul
          %li= link_to "Sidekiq", 'https://sidekiq.sublimevideo.net'
          %li= link_to "Mails", [:admin, :mails]
          %li= link_to "Deals", [:admin, :deals]
          %li= link_to "Deal activations", [:admin, :deal_activations]

    - if has_role?('player')
      %ul.favorite_links
        %li= link_to "Player", [:admin, :app]

  .right
    %ul.extra_links
      - if admin_signed_in?
        %li.logout
          = link_to destroy_admin_session_path do
            %span= 'Logout'
        %li= link_to current_admin.email, edit_admin_registration_path
      - else
        = link_to "Login", new_admin_session_path, class: "user"
  .spacer
