= title_and_content_header("Dashboard")

= render '/admin/shared/date_chooser'

#timeline.dashboard_timeline
  %h3 Usage
  - cache 'dashboard_timeline_usage', :expires_in => 1.hour do
    = render 'timeline_usage'

%h2= "Total revenue: #{display_amount(Invoice.total_revenue)}"

%h3 Sites
%p= "LaunchPad sites: #{Site.active.dev.count}"
%p= "Beta sites: #{Site.active.beta.count}"
%p= "Sponsored sites: #{Site.active.sponsored.count}"
%p= "Paying sites: #{Site.active.in_paid_plan.count}"
%p= "Custom sites: #{Site.active.custom.count}"
%br

-# #box_traffic.dashboard_box
%h3 Traffic
- player_hits = SiteUsage.between(31.days.ago.utc, Time.now.utc.yesterday).sum(:player_hits).to_i
%p= "Last 30 days traffic: #{number_to_human(player_hits, :significant => false, :precision => 2, :delimiter => "'")} video pageviews"
%p= "Last 30 days average daily traffic: #{number_to_human(player_hits / 30, :significant => false, :precision => 2, :delimiter => "'")} video pageviews"
%p= "All time traffic: #{number_to_human(SiteUsage.sum(:player_hits).to_i, :significant => false, :precision => 2, :delimiter => "'")} video pageviews"
%br

-# - cache 'dashboard_box_users', :expires_in => 10.minutes do
-#   = render 'users'

-# #box_users.dashboard_box
%h3 Users
- today_signups = User.active.where(:created_at.gte => Time.now.utc.midnight, :created_at.lt => Time.now.utc.tomorrow.midnight)
- yesterday_signups = User.active.where(:created_at.gte => Time.now.utc.yesterday.midnight, :created_at.lt => Time.now.utc.midnight)
%p= "Users signups: #{User.active.count} (#{today_signups.count} today, #{yesterday_signups.count} yesterday)"
%p= "Billable customers: #{User.select("DISTINCT users.id").billable.count}"
%br

- top_10_countries = User.active.select("country, COUNT(country) as country_count").group(:country).order("country_count DESC").all
- total_active_user = User.active.count
%h3= "Top 10 countries (by customers #):"
%ul
  - (0...[top_10_countries.size, 10].min).each do |i|
    %li= "#{Country[top_10_countries[i].country].name} (#{top_10_countries[i].country_count} - #{display_percentage(top_10_countries[i].country_count.to_f / total_active_user)})"
%br

-# - cache 'dashboard_box_users', :expires_in => 10.minutes do
-#   = render 'users'

-# #box_sites.dashboard_box

-# - cache 'dashboard_box_sites', :expires_in => 10.minutes do
-#   = render 'sites'

-# #box_usage.dashboard_box
-#   %h3 Usage
-#   - cache 'dashboard_box_usage', :expires_in => 10.minutes do
-#     = render 'usage'

.spacer

-# Sales : TOTAL SALES USD
-# Sales : # OF PLANS SOLD

-# Users : # of Users Signups
-# Users : # of Customers (ie with 1+ paid plan)

-# Users : Top 10 Customers' Country % and #

-# Sites : # of dev sites
-# Sites : # of paying sites

-# Traffic : Current daily traffic
-# Traffic : 30D moving average
-# Twitter : Last 5 tweets
