= title_and_content_header("Dashboard")

= render '/admin/shared/date_chooser'

#users.dashboard_box
  %h3 Users
  #users_data
    - cache 'dashboard_users', :expires_in => 1.minute do
      = render 'users'

#sites.dashboard_box
  %h3 Sites
  #sites_data
    - cache 'dashboard_sites', :expires_in => 1.minute do
      = render 'sites'

#usage.dashboard_box
  %h3 Usage
  #usage_data
    - cache 'dashboard_usage', :expires_in => 1.minute do
      = render 'usage'

.spacer
