= title_and_content_header("Dashboard")

= render '/admin/shared/date_chooser'

#timeline.dashboard_timeline
  %h3 Usage
  - cache 'dashboard_timeline_usage', :expires_in => 10.minutes do
    = render 'timeline_usage'

#box_users.dashboard_box
  %h3 Users
  - cache 'dashboard_box_users', :expires_in => 10.minutes do
    = render 'users'

#box_sites.dashboard_box
  %h3 Sites
  - cache 'dashboard_box_sites', :expires_in => 10.minutes do
    = render 'sites'

#box_usage.dashboard_box
  %h3 Usage
  - cache 'dashboard_box_usage', :expires_in => 10.minutes do
    = render 'usage'

.spacer
