%h3 Basic information

%p
  = "State:"
  %strong= user.state.humanize
  - if user.archived?
    = "since #{display_time(user.archived_at)}"
  - elsif user.confirmed?
    = "since #{display_time(user.confirmed_at)}"
  - unless user.confirmed?
    = "| Confirmation sent at: #{display_time(user.confirmation_sent_at)}"
  = "| Zendesk ID: #{user.zendesk_id? ? link_to(user.zendesk_id, "#{ENV['ZENDESK_BASE_URL']}/users/#{user.zendesk_id}") : "-"}".html_safe
  = "| Newsletter: #{display_bool(user.newsletter)}"
  = "| Hidden notices: #{user.hidden_notice_ids.inspect}"

%p
  = "Created #{time_ago_in_words(user.created_at)} ago"
  = "| Updated #{time_ago_in_words(user.updated_at)} ago"
  = "| Sign in count: #{user.sign_in_count}"
  = "| Failed login attempts: #{user.failed_attempts}"

%p
  = "Current sign in at: #{display_time(user.current_sign_in_at)}"
  = "| Last sign in at: #{display_time(user.last_sign_in_at)}"
  = "| Current sign in ip: #{user.current_sign_in_ip}"
  = "| Last sign in ip: #{user.last_sign_in_ip}"
