%table.left
  %tr
    %th
      %h3 Billing contact
    %th
      %h3 Billing address
    %th
      %h3 Credit card
    %th
      %h3 Current balance

  %tr
    %td
      %p
        = @user.billing_name.presence || 'No billing name provided'
        = surround '[', ']' do
          = @user.billing_email? ? mail_to(@user.billing_email) : 'No billing email provided'
    %td
      %p= simple_format(user.billing_address)
    %td
      %p
        Alias:
        %strong= "##{user.cc_alias}"

      - if user.cc?
        %h4 Credit card on file
        %p
          = "#{content_tag(:strong, user.cc_type.try(:titleize))} / #{content_tag(:strong, user.cc_last_digits)} / #{content_tag(:strong, display_time(user.cc_expire_on, format: :month_fullyear))}".html_safe
          = "(#{distance_of_time_in_words_to_now(user.cc_expire_on)})"
        %p= "Last update: #{display_time(user.cc_updated_at)}"
      - else
        %h4 No credit card on file.

      - if user.pending_cc?
        %h4 Pending credit card
        %p
          = "#{content_tag(:strong, user.pending_cc_type.try(:titleize))} / #{content_tag(:strong, user.pending_cc_last_digits)} / #{content_tag(:strong, display_time(user.pending_cc_expire_on, format: :month_fullyear))}".html_safe
          = "(#{distance_of_time_in_words_to_now(user.pending_cc_expire_on)})"
        %p= "Last update: #{display_time(user.pending_cc_updated_at)}"

      - if user.last_failed_cc_authorize_at?
        %p= "Last failed authorization: #{display_time(user.last_failed_cc_authorize_at)}"
        %p= "Last failed authorization status: #{user.last_failed_cc_authorize_status}"
        %p= "Last failed authorization error: #{user.last_failed_cc_authorize_error}"
    %td
      %p= display_amount(user.balance)
