%p
  - users = User.scoped
  = link_to "#{content_tag(:strong, users.count)} All".html_safe, admin_users_path
  |
  = link_to "#{content_tag(:strong, users.will_be_suspended.count)} Will be suspended".html_safe, admin_users_path(:will_be_suspended => true)
  |
  = link_to "#{content_tag(:strong, users.use_personal.count)} Personal usage".html_safe, admin_users_path(:use_personal => true)
  |
  = link_to "#{content_tag(:strong, users.use_company.count)} Company usage".html_safe, admin_users_path(:use_company => true)
  |
  = link_to "#{content_tag(:strong, users.use_clients.count)} Clients usage".html_safe, admin_users_path(:use_clients => true)