%p
  = link_to "#{content_tag(:strong, User.select("DISTINCT users.id").active_and_billable.count)} Billable".html_safe, admin_users_path
  |
  = link_to "#{content_tag(:strong, User.select("DISTINCT users.id").active_and_not_billable.count)} Not billable".html_safe, admin_users_path(active_and_not_billable: true)
  |
  = link_to "#{content_tag(:strong, User.with_state(:suspended).count)} Suspended".html_safe, admin_users_path(with_state: "suspended")
  |
  = link_to "#{content_tag(:strong, User.with_state(:archived).count)} Archived".html_safe, admin_users_path(with_state: "archived")
  |
  = link_to "#{content_tag(:strong, User.with_balance.count)} With a balance".html_safe, admin_users_path(with_balance: true)
