%ul
  %li
    = link_to "#{content_tag(:strong, User.active.count)} Active".html_safe, admin_users_path(with_state: 'active')
    %ul{ style: 'padding:5px 0 5px 18px;' }
      %li= link_to "#{content_tag(:strong, User.free.count)} Free".html_safe, admin_users_path(free: true)
      %li= link_to "#{content_tag(:strong, User.paying.count)} Paying".html_safe, admin_users_path(paying: true)
  %li= link_to "#{content_tag(:strong, User.with_state(:suspended).count)} Suspended".html_safe, admin_users_path(with_state: 'suspended')
  %li= link_to "#{content_tag(:strong, User.with_state(:archived).count)} Archived".html_safe, admin_users_path(with_state: 'archived')

= "-----------------------"

%p= link_to "#{content_tag(:strong, User.with_balance.count)} With a balance".html_safe, admin_users_path(with_balance: true)

= "-----------------------------------------------"

%p
  Tags:
  - @tags.each do |tag|
    = link_to tag.name, admin_users_path(tagged_with: tag.name)
    = "(#{tag.count})"
    |
