- paid_invoices = user.invoices.paid
- if paid_invoices.present?
  - total_invoiced = paid_invoices.sum(:amount)
  %p
    = "Total paid: "
    = link_to(content_tag(:strong, display_amount(total_invoiced)), admin_invoices_path(user_id: user.id))
    = "in #{content_tag(:strong, pluralize(paid_invoices.size, 'invoice'))}".html_safe
    = "(average #{content_tag(:strong, display_amount(total_invoiced / paid_invoices.size.to_f))} / invoice)".html_safe

- unpaid_invoices = user.invoices.where(invoices: { state: %w[open waiting failed] })
- if unpaid_invoices.present?
  - total_invoiced = unpaid_invoices.sum(:amount)
  %p
    = "Total still to be paid: "
    = link_to(content_tag(:strong, display_amount(total_invoiced)), admin_invoices_path(user_id: user.id))
    = "in #{content_tag(:strong, pluralize(unpaid_invoices.size, 'invoice'))}".html_safe
    = "(average #{content_tag(:strong, display_amount(total_invoiced / unpaid_invoices.size.to_f))} / invoice)".html_safe
