%li
  = site.hostname? ? link_to(site.hostname, "http://#{site.hostname}") : "##{site.token}"
  = raw "[#{render 'admin/sites/plan', site: site}]"
  = raw "(#{link_to "details", [:edit, :admin, site]})"
