%table.main#sites
  %tr
    %th ID
    %th Token
    %th Hostname
    %th State
    %th Last 30 days starts
    %th Last 30 days VideoTags
    %th Created at

  - sites.order(:created_at).each do |site|
    %tr[site]{ class: cycle("", "alt") }
      %td.id
        %small= link_to "##{site.id}", [:edit, :admin, site]

      %td.token
        %small= link_to site.token, [:edit, :admin, site]

      %td.hostname
        %small= admin_links_to_hostnames(site)

      %td.state
        %small= site.state.humanize

      %td.number
        %small= number_with_delimiter(site.last_30_days_admin_starts)

      %td.number
        %small= number_with_delimiter(site.last_30_days_video_tags)
      %td
        %small= display_time(site.created_at)
