%h3= "Tickets (#{user.tickets.count})"

%p= link_to('New ticket', new_ticket_admin_user_path(user), method: 'post', onclick: "window.open(this); return false")

%ul
  - user.tickets.reverse_each do |ticket|
    %li
      = link_to("##{ticket.nice_id} #{ticket.subject.humanize}", ZendeskConfig.base_url + "/tickets/#{ticket.nice_id}", onclick: "window.open(this); return false")
      - if ticket.solved_at
      = "(solved in #{display_integer(ticket.resolution_time/24)} days)"
      - else
        = "(opened #{time_ago_in_words(ticket.created_at)} ago)"