%tr{ :class => cycle("", "alt") }
  %td.full_name
    - if user.encrypted_password.present?
      = link_to user.full_name, admin_user_path(user)
    - else
      = link_to user.email, admin_user_path(user)
  %td.beta
    %small= display_bool(user.invitation_token.nil?)
  %td.beta
    %small= display_bool(user.use_personal)
  %td.beta
    %small= display_bool(user.use_company)
  %td.beta
    %small= display_bool(user.use_clients)
  %td.sites
    %small
      %ul.no_bullet
        - sites = user.sites.select { |u| u.state != 'archived' }
        - sites[0,1].each do |site|
          = content_tag :li do
            = link_to site.hostname, "http://#{site.hostname}"
            = "(#{link_to("details", edit_admin_site_path(site))})".html_safe
        - if sites.size > 2
          %li= link_to("#{sites.size-2} more", admin_user_path(user))
  %td.player_hits
    - player_hits = user.sites.inject(0) { |sum, site| sum += site.player_hits_cache }
    = number_with_delimiter(player_hits, :delimiter => "'")
  %td.traffic
    - traffic = user.sites.inject(0) { |sum, site| sum += (site.traffic_s3_cache + site.traffic_voxcast_cache) }
    = number_to_human_size(traffic, :precision => 4)
  %td
    %small= display_date(user.created_at)
