- sites = user.sites.not_archived.all
%tr[user]{ class: cycle("", "alt") }

  %td.name
    %small= link_to user.name_or_email, [:edit, :admin, user], title: user.email

  %td.state
    %small= user.state.titleize

  %td.sites
    %small
      - if sites.present?
        %ul.no_bullet
          - sites[0,2].each do |site|
            = content_tag :li, links_to_hostnames(site)
          %li= link_to("view all (#{sites.size-2} more)", admin_sites_path(user_id: user.id)) if sites.size > 2
      - else
        = '-'

  %td.left
    %small= link_to user.confirmation_comment? ? h(user.confirmation_comment) : "-", [:admin, user], title: h(user.confirmation_comment)

  %td.number
    %small= number_with_delimiter(sites.sum { |s| s.last_30_days_billable_video_views })

  %td.number
    %small
      - if user.last_invoice.present?
        = link_to display_amount(user.last_invoiced_amount), [:admin, user.last_invoice], title: "Invoice page"
      - else
        = '-'

  %td.number
    %small
      - if user.last_invoice.present?
        = link_to display_amount(user.total_invoiced_amount), admin_invoices_path(user_id: user.id), title: "See all user invoices"
      - else
        = '-'

  - if params[:with_balance] == "true"
    %td
      %small= display_amount(user.balance)

  %td
    %small= display_time(user.created_at)
