%table.main#users
  %tr
    %th= link_to_sort :name_or_email, :label => "Full name / email"
    %th State
    %th Sites
    %th= link_to_sort :sites_last_30_days_billable_player_hits_total_count, :default_way => 'desc', :label => "Last 30 days billable hits", :title => "Last 30 days billable (main+extra) hits (+cached) sum (of all sites)"
    %th= link_to_sort :last_invoiced_amount, :default_way => 'desc', :label => "Last invoiced amount"
    %th= link_to_sort :total_invoiced_amount, :default_way => 'desc', :label => "Total invoiced amount"
    %th= link_to_sort :date, :default_way => 'desc', :default => true, :label => "Created at"
  = render @users

.pagination_wrap
  = paginate @users
  = page_entries_info @users
