%tr{ :class => cycle("", "alt") }
  %td.email
    = mail_to user.email
  %td.trial
    = user.trial?
  %td.sites
    = user.sites.size
  %td.videos
    = user.videos.size
  %td.cc
    = user.cc? ? user.cc_type : "-"
  %td.confirmed
    = user.encrypted_password.present?