.pagination_wrap
  = page_entries_info @users
  = paginate @users, theme: 'admin'

%table.main#users
  %tr
    %th= link_to_sort :name_or_email, label: "Name / email"
    %th State
    %th Sites
    %th Comment
    %th Billable plays (Last 30 days)
    %th= link_to_sort :last_invoiced_amount, default_way: 'desc', label: "Last invoiced"
    %th= link_to_sort :total_invoiced_amount, default_way: 'desc', label: "Total invoiced"
    - if params[:with_balance] == "true"
      %th= "Balance"
    %th= link_to_sort :date, default_way: 'desc', label: "Created at"
  = render @users

.pagination_wrap
  = paginate @users, theme: 'admin'
  = page_entries_info @users
