%tr{ :class => cycle("", "alt") }
  %td.full_name
    - if user.encrypted_password.present?
      = link_to user.full_name, admin_user_path(user)
    - else
      = link_to user.email, admin_user_path(user)
  %td.status
    - if user.encrypted_password.present?
      = "#{user.suspended? ? "Suspended" : "Active"}"
    - else
      = "Invited"
  %td.sites
    = user.sites.size
  %td.player_hits
    = user.sites.inject(0) { |sum, site| sum += site.player_hits_cache }
