%table.main#users
  %tr
    %th= link_to_sort :name_or_email, :label => "Full name / email"
    %th= link_to_sort :beta, :default_way => 'desc', :label => "In beta"
    %th= link_to_sort :use_peronal, :default_way => 'desc', :label => "Personal"
    %th= link_to_sort :use_company, :default_way => 'desc', :label => "Company"
    %th= link_to_sort :use_clients, :default_way => 'desc', :label => "Clients"
    %th= "# Sites"
    %th= link_to_sort :player_hits, :default_way => 'desc'
    %th= link_to_sort :traffic, :default_way => 'desc'
    %th= link_to_sort :date, :default_way => 'desc', :default => true, :label => "Created at"
  = render @users
  
.pagination_wrap
  = will_paginate(:params => { :format => nil }, :renderer => 'WillPaginate::ViewHelpers::LinkRendererRemote')
  = page_entries_info @users