%tr{ :class => cycle("", "alt") }
  %td.full_name
    = link_to user.full_name, admin_user_path(user)
    = " - "
    = mail_to user.email
  %td.status
    - if user.encrypted_password.blank?
      = "Not confirmed"
    - elsif user.trial?
      = "#{number_with_delimiter(user.free_hits_left)} free hits left"
    - else
      = "#{user.suspended? ? "Suspended" : "Active"}, current usage: #{cents_to_dollars(Invoice.current(user).amount)}"
  %td.cc
    = user.cc? ? user.cc_type : "-"
  %td.sites
    = user.sites.size