%table.main#users
  %tr
    %th= "Full name / email"
    %th= "In beta"
    %th= "Personal"
    %th= "Company"
    %th= "Clients"
    %th= "# Sites"
    %th= "Player hits"
    %th= "Bandwidth"
    %th= "Bandwidth/Player hit"
    %th= "Created at"
  = render @users
  
.pagination_wrap
  = will_paginate(:params => { :format => nil }, :renderer => 'WillPaginate::ViewHelpers::LinkRendererRemote')
  = page_entries_info @users