- title "User: ##{@user.id} - #{@user.name_or_email}"
= content_header(viped(@user) { @user.name_or_email } + raw(" <#{mail_to @user.email}>"))

%p= link_to "Signin as #{@user.name_or_email}", become_admin_user_path(@user)

= render 'admin/shared/tags', object: @user
%br

- if @user.enthusiast
  = render 'enthusiast_info', user: @user
  %br

= render 'basic_info', user: @user
%br

= render 'billing_info', user: @user
%br

= render 'more_info', user: @user
%br
%hr

= render '/admin/shared/date_chooser'
= render partial: 'timeline_usage', locals: { user: @user }

= render 'feedbacks', user: @user

- cache "user_support_requests_#{@user.id}", expires_in: 15.minutes do
  = render 'support_requests', user: @user
%br

%table.left
  %tr
    %th
      %h3 Sites
    - if has_role?('invoices')
      %th
        %h3 Invoices
  %tr
    %td
      %h4= "Active (#{@user.sites.active.size})"
      %ul= render(partial: 'li_site', collection: @user.sites.active, as: :site)
      %h4= "Suspended (#{@user.sites.suspended.size})"
      %ul= render(partial: 'li_site', collection: @user.sites.suspended, as: :site)
      %h4= "Archived (#{@user.sites.archived.size})"
      %ul= render(partial: 'li_site', collection: @user.sites.archived, as: :site)
    - if has_role?('invoices')
      %td
        = render 'invoicing', user: @user
        %h4 All invoices
        = render 'admin/shared/invoices', object: @user

%br
%hr
%br

- if has_role?('marcom')
  %h3 VIP User?

  = form_for [:admin, @user] do |f|
    = f.check_box :vip
    = f.label :vip, 'VIP users will never be suspended because of non-payment.', style: 'display:inline'
    = f.submit 'Update'
  %br
  %hr
  %br

  %h3 Early Access

  = form_for [:admin, @user] do |f|
    = f.label :early_access, 'List of early access feature available to this user:'
    = f.select :early_access, EarlyAccess::LIST, {}, multiple: true
    = f.submit 'Update'
  %br
  %hr
  %br


%p= link_to "Back to users", admin_users_path
