- title "User: ##{@user.id} - #{@user.name_or_email}"
= content_header(viped(@user) { @user.name_or_email } + raw(" [#{mail_to @user.email}]"))

%p= link_to "Signin as #{@user.name_or_email}", become_admin_user_path(@user)

= render 'admin/shared/tags', object: @user
%br
%hr
%br

- if @user.enthusiast
  = render 'enthusiast_info', user: @user
  %br
  %hr
  %br

= render 'basic_info', user: @user
%br
%hr
%br

= render 'more_info', user: @user
%br
%hr
%br

= render 'feedbacks', user: @user
%br
%hr
%br

= render 'billing_info', user: @user
%br
%hr
%br

%h3 Sites
= render 'sites', user: @user
%br
%hr
%br

#stats
  %h3= link_to 'View stats graph', stats_admin_user_path(@user), data: { remote: true }
%br
%hr
%br

%span.expanding_handler
  %h3 OAuth authorizations
%ul.expandable= render 'shared/oauth_authorizations', authorizations: @oauth_authorizations, revoke_path: oauth_revoke_admin_user_path
%br
%hr
%br

#support_requests
  %h3= link_to 'View support requests', support_requests_admin_user_path(@user), data: { remote: true }
%br
%hr
%br

- if has_role?('invoices')
  #invoices
    %h3= link_to 'View invoices', invoices_admin_user_path(@user), data: { remote: true }
  %br
  %hr
  %br

- if has_role?('marcom')
  %h3 VIP User?

  = form_for [:admin, @user] do |f|
    = f.check_box :vip
    = f.label :vip, 'VIP users will never be suspended because of non-payment.', style: 'display:inline'
    = f.submit 'Update'
  %br
  %hr
  %br

  %h3 Early Access

  = form_for [:admin, @user] do |f|
    = f.label :early_access, 'List of early access feature available to this user:'
    = f.select :early_access, EarlyAccessControllerHelper.list, {}, multiple: true
    = f.submit 'Update'
  %br
  %hr
  %br

- if has_role?('god')
  %h3 Archive user

  = form_for [:admin, @user], method: 'delete' do |f|
    = f.submit 'Archive', data: { confirm: "Are you sure?" }
  %br
  %hr
  %br

%p= link_to "Back to users", admin_users_path
