-#= content_for :js do
-#  = javascript_include_tag("raphael/raphael-min", "raphael/g.raphael-min", "raphael/g.pie-min")
  
= title("Users")
= content_header(admin_users_page_title(@users))

= link_to "Invite a user", new_user_invitation_path, :class => "add"

= render "filter_links"

-#.summary{ :style => "display:block;"}
-#  .counts
-#    %p= "# In trial with credit card: #{User.in_trial.with_cc.size}"
-#    %p= "# In trial without credit card: #{User.in_trial.without_cc.size}"
-#    %p= "# Not in trial: #{User.not_in_trial.size}"
-#    %p= "# Total: #{User.all.size}"
-#  .sites_ratio= "Sites / User ratio: #{number_with_precision(Site.all.size / User.all.size.to_f)}"
-#  #users_count{ :style => "width:400px; height:120px;" }
  
#users_table_wrap
  = render "users"
  
-#%script{ :type => "text/javascript", :charset => "utf-8" }
-#  == window.onload = function () {
-#  ==     var r = Raphael("users_count");
-#  ==     r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";
-#  =     "var pie = r.g.piechart(280, 60, 50, [#{User.in_trial.with_cc.size}, #{User.in_trial.without_cc.size}, #{User.not_in_trial.size}],"
-#  =     "{ legend: ['%% (#{User.in_trial.with_cc.size}) – In trial with credit card', '%% (#{User.in_trial.without_cc.size}) – In trial without credit card', '%% (#{User.not_in_trial.size}) – Not in trial'], legendpos: 'west'});"
-#  ==     pie.hover(function () {
-#  ==         this.sector.stop();
-#  ==         this.sector.scale(1.1, 1.1, this.cx, this.cy);
-#  ==         if (this.label) {
-#  ==             this.label[0].stop();
-#  ==             this.label[0].scale(1.5);
-#  ==             this.label[1].attr({"font-weight": 800});
-#  ==         }
-#  ==     }, function () {
-#  ==         this.sector.animate({scale: [1, 1, this.cx, this.cy]}, 500, "bounce");
-#  ==         if (this.label) {
-#  ==             this.label[0].animate({scale: 1}, 500, "bounce");
-#  ==             this.label[1].attr({"font-weight": 400});
-#  ==         }
-#  ==     });
-#  == };  