= title_and_content_header("Users")

= link_to "Invite a user", new_user_invitation_path, :class => "add"

.summary
  %ul
    %li= "Total #:#{User.count}"
    %li= "Sites/User: #{number_with_precision(Site.count/User.count.to_f)}"
    
#users_table_wrap
  = render "users"