= title_and_content_header("Users")

= link_to "Invite a user", new_user_invitation_path, :class => "add"

%table.main#users
  %tr
    %th= "Full name & email"
    %th= "Status"
    %th= "CC?"
    %th= "# Sites"
  = render @users
  
= will_paginate @users