= title("Users")
= content_header(admin_users_page_title(@users), id: "users_title")

.search_form
  = form_tag [:admin, :users], method: :get, id: 'search_form' do
    = text_field_tag :search, '', value: params[:search], id: 'search_input', placeholder: "Search", type: "search", autofocus: true, autosave: "admin_search", results: "5"
.spacer

- cache 'users_filter_links', expires_in: 15.minutes do
  = render 'filter_links'

#users_table_wrap= render 'users'
