= title("User: #{@user.full_name}")

= content_header(raw "#{@user.full_name} <#{mail_to @user.email}>")

%h3 Infos

%ul
  %li= "Location: #{@user.country} (#{@user.postal_code})"
  - unless @user.confirmed?
    %li= "Confirmation sent at: " + display_date(@user.confirmation_sent_at)
    
%br

%ul
  %li= "Personal use: " + display_bool(@user.use_personal)
  %li= "Use for my company: " + display_bool(@user.use_company)
  - if @user.use_company
    %ul
      %li= "Company name: " + @user.company_name
      %li
        = "Company url: "
        = link_to(@user.company_url, "#{'http://' unless @user.company_url =~ %r(https?://)}#{@user.company_url}")
      %li= "Job title: " + @user.company_job_title
      %li= "Nbr. of employees: " + @user.company_employees
      %li= "Videos served: " + @user.company_videos_served
  %li= "Use for my clients: " + display_bool(@user.use_clients)

%br
%hr
%br

%h3= "Sites"

%ul
  - player_hits = user.sites.inject(0) { |sum, site| sum += site.usages.sum(:player_hits) }
  %li= "Total player hits: #{number_with_delimiter(player_hits, :delimiter => "'")}"
  - traffic = user.sites.inject(0) { |sum, site| sum += (site.usages.sum(:traffic_s3).to_i + site.usages.sum(:traffic_voxcast).to_i }
  %li= "Total traffic: #{number_to_human_size(traffic, :precision => 4)}"

%h4= "Active (#{@user.sites.not_archived.count})"
%ul
  - @user.sites.not_archived.each do |site|
    %li
      = link_to site.hostname, "http://#{site.hostname}"
      (
      = link_to "details", [:edit, :admin, site]
      )
%h4= "Archived (#{@user.sites.archived.count})"
%ul
  - @user.sites.archived.each do |site|
    %li
      = link_to site.hostname, "http://#{site.hostname}"
      (
      = link_to "details", [:edit, :admin, site]
      )
%br
%hr
%br

%h3 Details

%ul
  %li= "Created at: " + display_date(@user.created_at)
  %li= "Zendesk ID: " + @user.zendesk_id.to_s
  %li= "Enthusiast ID: " + @user.enthusiast_id.to_s
  %li= "State: " + @user.state
  %li= "Confirmed at: " + display_date(@user.confirmed_at)
  %li= "Sign in count: " + @user.sign_in_count.to_s
  %li= "Current sign in at: " + display_date(@user.current_sign_in_at)
  %li= "Current sign in ip: " + @user.current_sign_in_ip.to_s
  %li= "Last sign in at: " + display_date(@user.last_sign_in_at)
  %li= "Last sign in ip: " + @user.last_sign_in_ip.to_s
  %li= "Failed login attempts: " + @user.failed_attempts.to_s

%br
%hr
%br

%p= link_to "Back to users", admin_users_path