= title("User: #{@user.name_or_email}")

= content_header(raw "#{@user.name_or_email} <#{mail_to @user.email}>")

%p= link_to "Signin as #{@user.name_or_email}", become_admin_user_path(@user)

= render '/admin/shared/date_chooser'
%br.spacer

= render partial: 'timeline_usage', locals: { user: @user }
-#= render partial: 'timeline_invoices', locals: { user: @user }
%br

- if @user.enthusiast
  %h3 Enthusiast information

  .email
    %strong= "Enthusiast email: "
    = mail_to @user.enthusiast.email
    ="("
    - if @user.enthusiast.interested_in_beta && @user.enthusiast.confirmed? && @user.enthusiast.invited_at?
      = "invited on #{display_time(@user.enthusiast.invited_at)}"
    - else
      = "not interested in beta or not confirmed"
    = ")"

  .free_text
    %strong= "Comment: "
    %p
      - if @user.enthusiast.free_text.present?
        = h @user.enthusiast.free_text
      - else
        = "No comment."

  .sites
    %strong= "Registered sites at the time: "
    - if @user.enthusiast.sites.present?
      = render 'admin/enthusiast_sites/enthusiast_sites', sites: @user.enthusiast.sites
    - else
      %p= "No sites."
  %br.spacer

%h3 Basic information

%p
  = "State:"
  %strong= @user.state.humanize
  - if @user.archived?
    = "since " + display_time(@user.archived_at)
  - elsif @user.confirmed?
    = "since " + display_time(@user.confirmed_at)
  - unless @user.confirmed?
    = "| Confirmation sent at: " + display_time(@user.confirmation_sent_at)
  = "| Zendesk ID: #{@user.zendesk_id? ? link_to(@user.zendesk_id, Zendesk.base_url + "/users/#{@user.zendesk_id}") : "-"}".html_safe
  = "| Newsletter: " + display_bool(@user.newsletter)
  = "| Hidden notices: #{@user.hidden_notice_ids.inspect}"

%p
  = "Created #{time_ago_in_words(@user.created_at)} ago"
  = "| Updated #{time_ago_in_words(@user.updated_at)} ago"
  = "| Sign in count: #{@user.sign_in_count}"
  = "| Failed login attempts: #{@user.failed_attempts}"

%p
  = "Current sign in at: " + display_time(@user.current_sign_in_at)
  = "| Last sign in at: " + display_time(@user.last_sign_in_at)
  = "| Current sign in ip: #{@user.current_sign_in_ip}"
  = "| Last sign in ip: #{@user.last_sign_in_ip}"
%br

%h3 Billing information

%br
%h4 Billing address

%p= simple_format(@user.billing_address)

%br
%h4= "Credit card ##{@user.cc_alias}"
%p
  - if @user.cc?
    = "#{content_tag(:strong, @user.cc_type.try(:titleize))} ending in #{content_tag(:strong, @user.cc_last_digits)}, ".html_safe
    = "expires on #{content_tag(:strong, display_time(@user.cc_expire_on, format: :month_fullyear))}".html_safe
    = "| Last updated at #{display_time(@user.cc_updated_at)}"
  - else
    = "No credit card on file."

- if @user.pending_cc?
  %h4= "Pending credit card ##{@user.cc_alias}"
  %p
    = "#{content_tag(:strong, @user.pending_cc_type.try(:titleize))} ending in #{content_tag(:strong, @user.pending_cc_last_digits)}, ".html_safe
    = "expires on #{content_tag(:strong, display_time(@user.pending_cc_expire_on, format: :month_fullyear))}".html_safe
  %p= "Last updated at #{display_time(@user.pending_cc_updated_at)}"

- if @user.last_failed_cc_authorize_at?
  %p= "Last failed authorize at #{display_time(@user.last_failed_cc_authorize_at)}"
  %p= "Last failed authorize status: #{@user.last_failed_cc_authorize_status}"
  %p= "Last failed authorize error: #{@user.last_failed_cc_authorize_error}"

- if @user.balance > 0
  %br
  %h4= "Balance"
  %p
    Current balance:
    %strong= display_amount(@user.balance)
%br

%h3 More information

%p
  = "Personal use: " + display_bool(@user.use_personal)
  = "| Use for clients: " + display_bool(@user.use_clients)
  = "| Use for company: " + display_bool(@user.use_company)

%strong= "Confirmation comment:"
%p
  - if @user.confirmation_comment?
    = h @user.confirmation_comment
  - else
    = "No comment."

- if @user.use_company
  %strong= "Company:"
  %p= "#{@user.company_job_title || "Unknown job"} at #{@user.company_name || "Unknown company"} (#{link_to(@user.company_url, url_with_protocol(@user.company_url))}); #{pluralize(@user.company_employees, 'employee')}; #{pluralize(number_with_delimiter(@user.company_videos_served), 'video')} served".html_safe

%br
%hr
%br

%h3 Invoicing

%p= "Last invoiced amount: #{display_amount(@user.last_invoiced_amount)}"
%p= "Total invoiced amount: #{display_amount(@user.total_invoiced_amount)}"

- paid_invoices = @user.invoices.paid
- if paid_invoices.present?
  - total_invoiced = paid_invoices.sum(:amount)
  %p
    = "Total paid: "
    = link_to(content_tag(:strong, display_amount(total_invoiced)), admin_invoices_path(user_id: @user.id))
    = "in #{content_tag(:strong, pluralize(paid_invoices.size, 'invoice'))}".html_safe
    = "(average #{content_tag(:strong, display_amount(total_invoiced / paid_invoices.size.to_f))} / invoice)".html_safe

- refunded_invoices = @user.invoices.refunded
- if refunded_invoices.present?
  - total_invoiced = refunded_invoices.sum(:amount)
  %p
    = "Total refunded: "
    = link_to(content_tag(:strong, display_amount(total_invoiced)), admin_invoices_path(user_id: @user.id))
    = "in #{content_tag(:strong, pluralize(refunded_invoices.size, 'invoice'))}".html_safe
    = "(average #{content_tag(:strong, display_amount(total_invoiced / refunded_invoices.size.to_f))} / invoice)".html_safe

- unpaid_invoices = @user.invoices.where(invoices: { state: %w[open waiting failed] })
- if unpaid_invoices.present?
  - total_invoiced = unpaid_invoices.sum(:amount)
  %p
    = "Total still to be paid: "
    = link_to(content_tag(:strong, display_amount(total_invoiced)), admin_invoices_path(user_id: @user.id))
    = "in #{content_tag(:strong, pluralize(unpaid_invoices.size, 'invoice'))}".html_safe
    = "(average #{content_tag(:strong, display_amount(total_invoiced / unpaid_invoices.size.to_f))} / invoice)".html_safe

%br
%hr
%br

%h3 Sites

%table.crado
  %tr
    %td
      %h4= "Active (#{@user.sites.not_archived.count})"
      %ul
        - @user.sites.not_archived.each do |site|
          %li
            = site.hostname? ? link_to(site.hostname, "http://#{site.hostname}") : "##{site.token}"
            = raw "(#{link_to "details", [:edit, :admin, site]})"
      %h4= "Archived (#{@user.sites.archived.count})"
      %ul
        - @user.sites.archived.each do |site|
          %li
            = link_to site.hostname, "http://#{site.hostname}"
            (
            = link_to "details", [:edit, :admin, site]
            )

-# = render partial: '/admin/shared/usage_table', user: @user, from: range_start_date, to: range_end_date
= render partial: '/admin/shared/invoices_table', locals: { object: @user }

%br
%hr
%br

%p= link_to "Back to users", admin_users_path