= title("User: #{@user.full_name}")

= content_header(raw "#{@user.full_name} <#{mail_to @user.email}>")

= render '/admin/shared/date_chooser'
%br.spacer

= render partial: 'timeline_usage', locals: { user: @user }
-#= render partial: 'timeline_invoices', locals: { user: @user }

%p= link_to "Signin as #{@user.full_name}", become_admin_user_path(@user)

%p
  = "State:"
  %strong= @user.state.humanize
  - if @user.confirmed?
    = "since " + display_time(@user.confirmed_at)
  - unless @user.confirmed?
    = "| Confirmation sent at: " + display_time(@user.confirmation_sent_at)
  = "| Enthusiast ID: #{@user.enthusiast_id}"
  = "| Zendesk ID: #{@user.zendesk_id? ? link_to(@user.zendesk_id, Zendesk.base_url + "/users/#{@user.zendesk_id}") : "-"}".html_safe
  = "| Newsletter: " + display_bool(@user.newsletter)

%p
  = "Created #{time_ago_in_words(@user.created_at)} ago"
  = "| Updated #{time_ago_in_words(@user.updated_at)} ago"
  = "| Sign in count: #{@user.sign_in_count}"
  = "| Failed login attempts: #{@user.failed_attempts}"

%p
  = "Current sign in at: " + display_time(@user.current_sign_in_at)
  = "| Last sign in at: " + display_time(@user.last_sign_in_at)
  = "| Current sign in ip: #{@user.current_sign_in_ip}"
  = "| Last sign in ip: #{@user.last_sign_in_ip}"

%p
  = "Location: "
  = content_tag(:strong, "#{@user.country} (#{@user.postal_code})")
  = "| Personal use: " + display_bool(@user.use_personal)
  = "| Use for clients: " + display_bool(@user.use_clients)
  = "| Use for company: " + display_bool(@user.use_company)

- if @user.use_company
  %p= "#{@user.company_job_title} at #{@user.company_name} (#{link_to(@user.company_url, url_with_protocol(@user.company_url))}); #{pluralize(@user.company_employees, 'employee')}; #{pluralize(number_with_delimiter(@user.company_videos_served), 'video')} served".html_safe

%p
  = "Credit Card (#{content_tag(:strong, @user.cc_alias)}): ".html_safe
  - if @user.cc?
    = "#{content_tag(:strong, @user.cc_type.try(:titleize))} ending in #{content_tag(:strong, @user.cc_last_digits)}, ".html_safe
    = "expire on #{content_tag(:strong, display_time(@user.cc_expire_on, format: :month_fullyear))}".html_safe
    = "| Last update: #{display_time(@user.cc_updated_at)}"

- if @user.pending_cc?
  %p
    = "Pending Credit Card: #{content_tag(:strong, @user.pending_cc_type.try(:titleize))} ending in #{content_tag(:strong, @user.pending_cc_last_digits)}, ".html_safe
    = "expire on #{content_tag(:strong, display_time(@user.pending_cc_expire_on, format: :month_fullyear))}".html_safe
    = "| Last update: #{display_time(@user.pending_cc_updated_at)}"

%br
%hr
%br

- paid_invoices = @user.invoices.paid
- if paid_invoices.present?
  - total_invoiced = paid_invoices.sum(:amount)
  %p
    = "Total paid: "
    = link_to(content_tag(:strong, display_amount(total_invoiced)), admin_invoices_path(:user_id => @user.id))
    = "in #{content_tag(:strong, pluralize(paid_invoices.size, 'invoice'))}".html_safe
    = "(average #{content_tag(:strong, display_amount(total_invoiced / paid_invoices.size.to_f))} / invoice)".html_safe

- refunded_invoices = @user.invoices.refunded
- if refunded_invoices.present?
  - total_invoiced = refunded_invoices.sum(:amount)
  %p
    = "Total refunded: "
    = link_to(content_tag(:strong, display_amount(total_invoiced)), admin_invoices_path(:user_id => @user.id))
    = "in #{content_tag(:strong, pluralize(refunded_invoices.size, 'invoice'))}".html_safe
    = "(average #{content_tag(:strong, display_amount(total_invoiced / refunded_invoices.size.to_f))} / invoice)".html_safe

- unpaid_invoices = @user.invoices.where(invoices: { state: %w[open waiting failed] })
- if unpaid_invoices.present?
  - total_invoiced = unpaid_invoices.sum(:amount)
  %p
    = "Total still to be paid: "
    = link_to(content_tag(:strong, display_amount(total_invoiced)), admin_invoices_path(:user_id => @user.id))
    = "in #{content_tag(:strong, pluralize(unpaid_invoices.size, 'invoice'))}".html_safe
    = "(average #{content_tag(:strong, display_amount(total_invoiced / unpaid_invoices.size.to_f))} / invoice)".html_safe

%br
%hr
%br

%h3 Sites

%table.crado
  %tr
    %td
      %h4= "Active (#{@user.sites.not_archived.count})"
      %ul
        - @user.sites.not_archived.each do |site|
          %li
            = site.hostname? ? link_to(site.hostname, "http://#{site.hostname}") : "no hostname"
            (
            = link_to "details", [:edit, :admin, site]
            )
      %h4= "Archived (#{@user.sites.archived.count})"
      %ul
        - @user.sites.archived.each do |site|
          %li
            = link_to site.hostname, "http://#{site.hostname}"
            (
            = link_to "details", [:edit, :admin, site]
            )

-# = render partial: '/admin/shared/usage_table', locals: { object: @user, from: @date_range_from, to: @date_range_to }
= render partial: '/admin/shared/invoices_table', locals: { object: @user }

%br
%hr
%br

%p= link_to "Back to users", admin_users_path