:coffee
  $(document).ready ->
    SublimeVideoSizeChecker.setRoot('/video-size-checker/')
    window.MSVVideoCode.builderRouter = new MSVVideoCode.Routers.BuilderRouter
      sites: #{@sites.to_json}
      selectedSiteToken: '#{@site.token}'
      kits: #{@site.kits.to_json}
      defaultKitIdentifier: '#{@site.default_kit.identifier}'

.white_box
  %h4.title Preview
  #preview
  - if get_code_button
    .actions.center
      %button.blue_button.get_the_code Get the Code
.spacer

.white_box
  #kit_selection
    .entry.design.select= render 'video_codes/kit_selection', site: site

  #video_sources.expandable_settings_box
    %h4.expanding_handler.expanded
      = link_to "Video sources", ''
    .expandable.expanded
      #video_source_type
        .radio_wrap
          = radio_button_tag "video_origin", "test", checked: true
          = label_tag "video_origin_test", "Use test video files", title: "Will use sample SublimeVideo movies and images so you can easily test the player."
        .radio_wrap
          = radio_button_tag "video_origin", "own"
          = label_tag "video_origin_own", "I host my own video files"
        .radio_wrap
          = radio_button_tag "video_origin", "youtube"
          = label_tag "video_origin_youtube", "My video is on YouTube"
      .spacer
      #video_sources_fields

  #video_settings.expandable_settings_box
    %h4.expanding_handler
      = link_to "Video settings", ''
    #video_settings_fields.expandable

  #lightbox_settings.expandable_settings_box
    %h4.expanding_handler
      = link_to "#{t('addons.lightbox')} settings", ''
    #lightbox_settings_fields.expandable

  - if site.subscribed_to?(AddonPlan.get('social_sharing', 'standard'))
    #sharing_settings.expandable_settings_box
      %h4.expanding_handler
        = link_to "#{t('addons.social_sharing')} settings", ''
      #sharing_settings_fields.expandable

  #embed_settings.expandable_settings_box
    %h4.expanding_handler
      = link_to "#{t('addons.embed')} settings", ''
    #embed_settings_fields.expandable{ data: { plan: site.addon_plan_for_addon_name('embed').name } }
.spacer

.big_break

#kit_settings_form

- if get_code_button
  .actions.center
    %button.blue_button.get_the_code Get the Code
