- title("Edit Video Code for '#{@video_tag.title}'")

= render 'segmented_menu', site: @site, video_tag: @video_tag

.spacer

= render 'video_tags/header', site: @site, video_tag: @video_tag

= render 'layouts/hidable_notice', notice_id: 4, notice_content: t('notices.edit_video_tag')

#video_code
  = form_tag url_for, id: 'video_code_form' do
    = render 'form', site: @site, video_tag: @video_tag, get_code_button: true
