= content_for :javascript do
  = sublimevideo_include_tag(request.ssl?, :my).html_safe
  = javascript_include_tag 'video_code_generator'

- @page_title = "Video Code Generator"

:coffeescript
  jQuery(document).ready ->
    SublimeVideoSizeChecker.setRoot('/video-size-checker/')
    window.MSVVideoCodeGenerator.builderRouter = new MSVVideoCodeGenerator.Routers.BuilderRouter(logged_in: #{user_signed_in?}, sites: #{@sites.try(:to_json) || []})

.com_text
  - if user_signed_in?
    = content_header "Video Code Generator"
    .help_box
      %p
        = raw "SublimeVideo's Video Code Generator helps you easily generate properly configured <code>&lt;video&gt;</code> elements, avoiding common mistakes and ensuring the optimal viewing experience for your viewers."
        = raw "#{link_to 'Read more', docs_url('video-code-generator'), class: 'hl', onclick: 'window.open(this); return false'}."
    .big_break
  - else
    - @body_class = 'vcg'
    = content_for :header do
      %h2 Video Code Generator
      %p.sub= "Creating your <video> code has never been easier."
      %span.video_code_generator_icon

    %p= raw "SublimeVideo's Video Code Generator helps you easily generate properly configured <code>&lt;video&gt;</code> elements for use with SublimeVideo. It's also the easiest way to quickly test SublimeVideo player with your own video sources."

.video_code_generator
  #video_embed_type_selector
    .radio_wrap
      = radio_button_tag "type", "standard", checked: true
      = label_tag "type_standard", "Standard"
    .radio_wrap
      = radio_button_tag "type", "lightbox"
      = label_tag "type_lightbox", "Lightbox"
    .radio_wrap
      = radio_button_tag "type", "iframe_embed"
      = label_tag "type_iframe_embed", "Iframe Embed"

  #demo_bootstrap
    = tooltip_box class: "info" do
      %span.p Use our demo assets if you don't have your video assets yet, or just want to test-drive SublimeVideo.

    %button.green_button#use_demo_assets Use demo assets
    %a.reset.hl{ href: '' } Reset all fields

  .spacer
  .big_break

  %form#video_code_form
    #lightbox_attributes.specialized_video_embed_type_box{ style: 'display:none' }

    #iframe_embed_attributes.specialized_video_embed_type_box{ style: 'display:none' }

    #login_needed
      #poster
      .spacer
      .big_break

      #sources
      .spacer
      .big_break

      #settings
      .spacer
      .big_break

      #preview
      .spacer

      #code
        %button.blue_button#get_the_code{ style: "margin:auto" } Get the Code
  .spacer