- if !user_signed_in?
  - @body_class = @body_class.to_s + ' vcg'
  - title('Video Code Generator', prefix: 'SublimeVideo')
  = content_for :header do
    %h2 Video Code Generator
    %p.sub= "Creating your <video> code has never been easier."
    %span.video_code_generator_icon

  .com_text
    %p
      = raw "SublimeVideo's Video Code Generator helps you easily generate properly configured <code>&lt;video&gt;</code> elements for use with SublimeVideo. It's also the easiest way to quickly test SublimeVideo player with your own video sources."
      = raw "#{link_to 'Read more', 'http://blog.jilion.com/2012/04/17/introducing-the-sublimevideo-video-code-generator', onclick: 'window.open(this); return false'}."

- else
  - if early_access?('video')
    - title("Generate Video Code for #{hostname_or_token(@site)}")
    = render '/layouts/site_header'
  - else
    = title_and_content_header('Video Code Generator')
    .com_text
      .help_box
        %p
          = raw "SublimeVideo's Video Code Generator helps you easily generate properly configured <code>&lt;video&gt;</code> elements, avoiding common mistakes and ensuring the optimal viewing experience for your viewers."
          = raw "#{link_to 'Read more', docs_url('video-code-generator'), class: 'hl', onclick: 'window.open(this); return false'}."
      .big_break

:coffeescript
  jQuery(document).ready ->
    SublimeVideoSizeChecker.setRoot('/video-size-checker/')
    window.MSVVideoCodeGenerator.builderRouter = new MSVVideoCodeGenerator.Routers.BuilderRouter(user_signed_in: #{user_signed_in?}, sites: #{@sites.try(:to_json) || []})

.video_code_generator
  #video_embed_type_selector
    .radio_wrap
      = radio_button_tag "type", "standard", checked: true
      = label_tag "type_standard", "Standard"
    .radio_wrap
      = radio_button_tag "type", "lightbox"
      = label_tag "type_lightbox", "Lightbox"
    .radio_wrap
      = radio_button_tag "type", "iframe_embed"
      = label_tag "type_iframe_embed", "Iframe Embed"

  #demo_bootstrap
    = tooltip_box class: "info" do
      %span.p Use our demo assets if you don't have your video assets yet, or just want to test-drive SublimeVideo.

    %button.green_button#use_demo_assets Use demo assets
    %a.reset.hl{ href: '' } Reset all fields

  .spacer
  .big_break

  %form#video_code_form
    #lightbox_attributes.specialized_video_embed_type_box{ style: 'display:none' }

    #iframe_embed_attributes.specialized_video_embed_type_box{ style: 'display:none' }

    #login_needed
      #poster
      .spacer
      .big_break

      #sources
      .spacer
      .big_break

      #settings
      .spacer
      .big_break

      #preview
      .spacer

      #code
        %button.blue_button#get_the_code{ style: "margin:auto" } Get the Code
  .spacer
