- title("Publish a video on #{hostname_or_token(@site)}")
= render 'layouts/sites_select_title'
.big_break

#video_code.video_code_generator
  = beta_loader_required
  %h3.assistant_title Publish a video
  = form_tag url_for, id: 'video_code_form' do
    = render 'video_codes/form', site: @site, kit: @kit, get_code_button: true
