- title("Edit Video Code for '#{@video_tag.title}'")
= render 'segmented_menu', site: @site, video_tag: @video_tag
.spacer

.video_tag_header
  .poster
    = video_tag_thumbnail(@video_tag, size: '130x75')
    .duration= duration_string(@video_tag.duration)
  .name= @video_tag.title
  .site= link_to "See all <em>#{hostname_or_token(@site)}</em> videos".html_safe, site_video_tags_path(@site), class: 'hl'
  .spacer
.big_break

%p.notice
  This assistant will help you update your video's assets and settings. Once you're happy with the result,
  %strong
    make sure to replace the
    %code &lt;video&gt;
    element in your page with the one generated when you press the "Get the Code" button.

#video_code
  = form_tag url_for, id: 'video_code_form' do
    = render 'form', site: @site, video_tag: @video_tag, get_code_button: true
