- title("Edit Video Code for '#{@video_tag.title}'")
= render '/layouts/site_header'
.big_break

#video_code
  %h3= raw "Edit Video Code for &#8220;#{@video_tag.title}&#8221;"
  = form_tag url_for, id: 'video_code_form' do
    = render 'form', site: @site, video_tag: @video_tag, get_code_button: true
