- title("Edit Video Code for '#{@video_tag.title}'")
= render 'segmented_menu', site: @site, video_tag: @video_tag
.spacer

.wrap
  .duration
    %small= duration_string(@video_tag.duration)
  .thumbnail= video_tag_thumbnail(@video_tag, size: '96x54')
  %h3.name= @video_tag.title
  %p= link_to hostname_or_token(@site), site_video_tags_path(@site)

.big_break

#video_code
  = form_tag url_for, id: 'video_code_form' do
    = render 'form', site: @site, video_tag: @video_tag, get_code_button: true
