= content_for :head_before, javascript_include_tag((request.ssl? ? "https://4076.voxcdn.com" : "http://cdn.sublimevideo.net") + "/js/#{SiteToken.my}.js")
= content_for :head do
  = stylesheet_link_tag 'prettify/prettify', 'video_code_generator'
  = javascript_include_tag 'prettify/prettify', 'zeroclipboard/ZeroClipboard', 'video_code_generator'

= title_and_content_header "Video Code Generator"

:coffeescript
  $ ->
    SublimeVideoSizeChecker.setRoot('/video-size-checker/')
    window.MSVVideoCodeGenerator.builderRouter = new MSVVideoCodeGenerator.Routers.BuilderRouter(logged_in: #{user_signed_in?}, sites: #{@sites.try(:to_json)})

-# %p.desc.help= raw "WordPress user? Check-out our #{link_to "WordPress plugin", docs_page_url('wordpress', subdomain: 'docs'), onclick: "window.open(this); return false"} instead!"

#video_embed_type_selector
  .radio_wrap
    = radio_button_tag "type", "standard", checked: true
    = label_tag "type_standard", "Standard"
  .radio_wrap
    = radio_button_tag "type", "lightbox"
    = label_tag "type_lightbox", "Lightbox"
  .radio_wrap
    = radio_button_tag "type", "iframe_embed"
    = label_tag "type_iframe_embed", "Iframe Embed"

.login_needed
  #demo_bootstrap
    %button.green_button#use_demo_assets Use demo videos urls

  .spacer

  .big_break

  %form#video_code_form
    #lightbox_attributes.specialized_video_embed_type_box{ style: 'display:none' }

    #iframe_embed_attributes.specialized_video_embed_type_box{ style: 'display:none' }

    #poster
    .spacer

    #sources
    .spacer

    -# %p.desc.help= raw "Need help on video encoding? Check-out our #{link_to '"Encode videos for the web and HTML5"', 'http://docs.sublimevideo.net/encode-videos-for-the-web', onclick: "window.open(this); return false"} documentation page!"

    .big_break

    -# %h4 Settings
    #settings
    .spacer

    .big_break

  #preview
  .spacer

  #code
    %button.blue_button#get_the_code{ style: "margin:auto" } Get the Code

    #popup_code.popup{ style: "display:none" }
      .popup_wrap
        .lights
          .content#code_content
          = link_to "/", class: 'close', onclick: "MSVVideoCodeGenerator.codeView.popup.close(); return false" do
            %span Close
.spacer

#login_needed_for_iframe_embed{ style: "display:none" }= "Please #{link_to "Log In", login_url(subdomain: 'my', user_return_to: video_code_path)} or #{link_to "Sign Up", signup_url(subdomain: 'my')} to generate an iframe embed code.".html_safe