= title_and_content_header("Enter the Beta")
= content_for :header do
  :javascript
    function toggleCheckbox() {
      $('company_fields_box').toggle();    
    }
    document.observe("dom:loaded", function() {
      var companyCheckbox = $('user_use_company'), companyBox = $('company_fields_box');
      if (companyCheckbox.checked) {
        companyBox.show();
      }
      $('user_use_company').on('click', toggleCheckbox);
    });

-# f.errors.key?(:use)  => f.errors[:use] => message

= form_for resource, :as => resource_name, :url => "/invitation/accept", :html => { :method => :put, :class => "main_form" } do |f|
  = f.hidden_field :invitation_token
  
  .entry.email
    = f.label :email, "Email", :class => "icon"
    = f.text_field :email, :class => "text", :placeholder => "Email", :required => true

  .entry.password
    = f.label :password, "", :class => "icon"
    = f.password_field :password, :class => "text show_password", :placeholder => "Password", :required => true
    
  .entry
    .first_name.left_field
      = f.label :first_name, "First name", :class => "icon"
      = f.text_field :first_name, :class => "text", :placeholder => "First name", :required => true
    .last_name.right_field
      = f.label :last_name, "Last name", :class => "icon"
      = f.text_field :last_name, :class => "text no_icon", :placeholder => "Last name", :required => true
    .spacer
    
  .entry.select
    .country.left_field
      = f.label :country, "Country", :class => "icon"
      = f.country_select :country, options_for_select("Country", :selected => "Country")
    .last_name.right_field
      = f.label :postal_code, "Zip or Postal Code", :class => "icon"
      = f.text_field :postal_code, :class => "text no_icon", :placeholder => "Zip or Postal Code", :required => true
    .spacer
  
  .entry.use
    %label.main= "Use of SublimeVideo:"
    .checkbox_wrap
      - if resource.errors.key?(:use)
        .inline_errors
          %span= resource.errors[:use].first
      = f.check_box :use_personal
      = f.label :use_personal, "Personal use"
    .checkbox_wrap
      = f.check_box :use_company
      = f.label :use_company, "Use for my company"
    .checkbox_wrap
      = f.check_box :use_clients
      = f.label :use_clients, "Use for my clients"
  
  #company_fields_box{ :style => (resource.use_company ? "" : "display:none") }
    .entry
      .company_name.left_field
        = f.label :company_name, "Company/org name", :class => "icon"
        = f.text_field :company_name, :class => "text no_icon", :placeholder => "Company name"
      .company_url.right_field
        = f.label :company_url, "Company/org site", :class => "icon"
        = f.text_field :company_url, :class => "text no_icon", :placeholder => "Company site"
      .spacer
    .entry.company_job_title
      = f.label :company_job_title, "Job title", :class => "icon"
      = f.text_field :company_job_title, :class => "text no_icon", :placeholder => "Job title"
    .entry.select
      .company_job_title.left_field
        = f.label :company_employees, "Company size", :class => "icon"
        = f.select :company_employees, options_for_select(["Company size","1 employee", "2-5 employees", "6-20 employees", "21-100 employees", "101-1000 employees", ">1001 employees"], :disabled => "Company size")
      .company_videos_served.right_field
        = f.label :company_videos_served, "Nr. of videos served", :class => "icon"
        = f.select :company_videos_served, options_for_select(["Nr. of videos served", "0-1'000 videos/month", "1'000-10'000 videos/month", "10'000-100'000 videos/month", "100'000-1mio videos/month", ">1mio videos/month", "Don't know"], :disabled => "Nr. of videos served")
      .spacer
  .entry.terms
    .checkbox_wrap
      = f.check_box :terms_and_conditions
      = f.label :terms_and_conditions, "I accept to be contacted by email during the Beta with a small survey on the Pricing (thank very much, we count on you) and I agree to the #{link_to("Terms & Conditions", page_path("terms"), :onclick => "window.open(this); return false")}.".html_safe
    
  .entry.submit.signup
    = f.submit "Join"
    .spacer