- site = f.object
- plan = site.plan
- pending_plan = site.pending_plan
- next_cycle_plan = site.next_cycle_plan
- current_plan = pending_plan || next_cycle_plan || plan # current plan for the view (could be in case of rendering view with errors)

- if site.errors.key?(:plan)
  .inline_errors.plan
    %span= site.errors[:plan].first

- custom_plan = current_plan if current_plan && current_plan.custom_plan?
- custom_plan = Plan.custom_plans.find_by_token(params[:custom_plan]) if params[:custom_plan]
- if custom_plan
  #custom_plan
    .header
      .break_line
      %h3.title= content_tag(:strong, "Custom Plan")
      .break_line
    .content
      %h4.number= number_with_delimiter(custom_plan.player_hits)
      %h5.label= "Video pageviews per month"
    .entry
      .radio_wrap
        = f.radio_button :plan_id, custom_plan.token, radio_button_options(site, custom_plan, current_plan, :id => "plan_custom", :checked => current_plan && current_plan == custom_plan)
        = f.label :plan_id, raw("#{display_amount_with_sup(custom_plan.price)} (#{custom_plan.yearly? ? "per year" : "per month"})"), :for => "plan_custom"
    .spacer
  - if params[:custom_plan]
    %p
      %small= link_to "(See standard plan)", { :custom_plan => nil }, :class => "hl"
- else
  - if current_user.beta?
    #beta_discount_box= raw "As a Beta user you benefit from a #{content_tag :strong, "20% discount"} on all paid plans until #{content_tag :strong, "April 15, 2011"} (11:59pm UTC)"
  
  #plans
    - standard_plans = Plan.standard_plans.order(:player_hits.asc, :price.asc)
    %ul
      - i = 0
      - standard_plans.each do |standard_plan|
        - next if standard_plan.yearly?
        - standard_yearly_plan = standard_plans.find { |p| p.name == standard_plan.name && p.yearly? }
        - i += 1
        %li{ :class => "#{standard_plan.name} box_#{i}" + (current_user.get_discount? ? ' discount' : '') }
          .wrapper
            .header
              %h3.title= content_tag(:strong, standard_plan.name.titleize)
              %h4.number= number_with_delimiter(standard_plan.player_hits)
              %h5.label= "Video pageviews per month"
              %ul.features
                %li= plan_support(standard_plan)
                %li= "Peak Insurance"
                %li.last= "SSL Serving"
                
            .monthly.select_box{ :class => current_plan && current_plan == standard_plan ? 'active' : '' + (current_user.get_discount? && (site.plan.nil? || plan_change_discounted?(site.plan, standard_plan)) ? '' : ' no_discount') }
              = f.label :plan_id, raw(plan_label_content(standard_plan, site)), :for => "plan_#{standard_plan.name}_#{standard_plan.cycle}"
              .radio_wrap
                = f.radio_button :plan_id, standard_plan.id, radio_button_options(site, standard_plan, current_plan, :checked => current_plan && current_plan == standard_plan)
                %span.bg
              - if site.persisted? && plan && plan == standard_plan
                %span.current_label= "Current"

            .yearly.select_box{ :class => current_plan && current_plan == standard_yearly_plan ? 'active' : '' + (current_user.get_discount? && (site.plan.nil? || plan_change_discounted?(site.plan, standard_yearly_plan)) ? '' : ' no_discount') }
              = f.label :plan_id, raw(plan_label_content(standard_yearly_plan, site)), :for => "plan_#{standard_yearly_plan.name}_#{standard_yearly_plan.cycle}"
              .radio_wrap
                = f.radio_button :plan_id, standard_yearly_plan.id, radio_button_options(site, standard_yearly_plan, current_plan, :checked => current_plan && current_plan == standard_yearly_plan)
                %span.bg
              - if site.persisted? && plan && plan == standard_yearly_plan
                %span.current_label= "Current"
            .spacer
          .bottom
          %span.save_label= "2 months free"
    .spacer

    - dev_plan = Plan.dev_plan
    #dev_plan{ :class => current_plan && current_plan == dev_plan ? 'active' : '' }
      .radio_wrap
        = f.label :plan_id, raw("#{content_tag(:strong, 'Free LaunchPad plan')}: Unlimited usage on your local development domain. #{site.persisted? && plan && plan == dev_plan ? content_tag(:span, 'Current', :class => 'current_label') : ''}"), :for => "plan_#{dev_plan.name}", :class => "title"
        = f.radio_button :plan_id, dev_plan.id, radio_button_options(site, dev_plan, current_plan, :checked => current_plan && current_plan == dev_plan)
        %span.bg

    #need_more
      %p= raw "Need more pageviews, custom support or have other enterprise-class requirements? Please #{mail_to "sales@sublimevideo.net", "contact us"}."
