- if f.object.errors.key?(:plan)
  .inline_errors
    %span= f.object.errors[:plan].first

- paid_plans = Plan.paid_plans.order(:player_hits.asc, :price.asc)
- dev_plan   = Plan.dev_plan

#plans
  %ul
    - current_plan = f.object.plan || f.object.pending_plan
    - site = f.object
    - i = 0
    - paid_plans.each do |plan|
      - next if plan.yearly?
      - i += 1
      %li{ :class => "#{plan.name} box_#{i}" }
        .wrapper
          .header
            %h3.title= content_tag(:strong, plan.name.titleize)
            %h4.number= number_with_delimiter(plan.player_hits)
            %h5.label= "Video pageviews per month"
          .monthly.select_box{ :class => current_plan && plan == current_plan ? 'active' : '' }
            = f.label :plan_id, raw(plan_label_content(plan)), :for => "plan_#{plan.name}_#{plan.cycle}"
            .radio_wrap
              = f.radio_button :plan_id, plan.id, radio_button_options(site, plan, current_plan, :checked => current_plan && plan == current_plan)
              %span.bg
          - if yearly_plan = paid_plans.find { |p| p.name == plan.name && p.yearly? }
            .yearly.select_box{ :class => current_plan && yearly_plan == current_plan ? 'active' : '' }
              = f.label :plan_id, raw(plan_label_content(yearly_plan, :year => true)), :for => "plan_#{yearly_plan.name}_#{yearly_plan.cycle}"
              .radio_wrap
                = f.radio_button :plan_id, yearly_plan.id, radio_button_options(site, yearly_plan, current_plan, :checked => current_plan && yearly_plan == current_plan)
                %span.bg
        %span.save_label= "2 months free"

  .spacer

  #dev_plan{ :class => current_plan && dev_plan == current_plan ? 'active' : '' }
    .radio_wrap
      -#= f.label :plan_id, raw("We also offer an #{content_tag(:strong, 'unlimited free sandbox plan')} that allows you to test SublimeVideo in your local development domain for free."), :for => "plan_#{dev_plan.name}", :class => "title"
      = f.label :plan_id, raw("#{content_tag(:strong, 'Free Sandbox plan')}: Unlimited usage on your local development domain."), :for => "plan_#{dev_plan.name}", :class => "title"
      = f.radio_button :plan_id, dev_plan.id, radio_button_options(site, dev_plan, current_plan)
      %span.bg
  
  #need_more
    -#%p= raw "Need more pageviews, custom support, or more. Please #{mail_to "enterprise@sublimevideo.net", "contact us"}."
    %p= raw "Need more pageviews, custom support or have other enterprise-class requirements? Please #{mail_to "enterprise@sublimevideo.net", "contact us"}."
