- if f.object.errors.key?(:plan)
  .inline_errors
    %span= f.object.errors[:plan].first

- paid_plans = Plan.paid_plans.order(:player_hits.asc, :price.asc)
- dev_plan   = Plan.dev_plan

#plans
  %ul
    - current_plan = f.object.plan
    - site = f.object
    - i = 0
    - paid_plans.each do |plan|
      - next if plan.yearly?
      - i += 1
      %li{ :class => "#{plan.name} box_#{i}" }
        .wrapper
          .header
            %h3.title= content_tag(:strong, plan.name.titleize)
            %h4.number= number_with_delimiter(plan.player_hits)
            %h5.label= "Video pageviews per month"
          .monthly.select_box{ :class => current_plan && plan == current_plan ? 'active' : '' }
            = f.label :plan_id, raw(plan_label_content(plan)), :for => "plan_#{plan.name}_#{plan.cycle}"
            .radio_wrap
              = f.radio_button :plan_id, plan.id, :id => "plan_#{plan.name}_#{plan.cycle}", :class => "plan_radio",                                                                                                    |
                "data-plan_title" => plan.title(always_with_cycle: true),                                                                                                                                              |
                "data-plan_price" => display_amount(plan.price),                                                                                                                                                       |
                "data-plan_change_type" => current_plan && plan_change_type(current_plan, plan),                                                                                                                       |
                "data-plan_update_price" => display_amount(current_plan && current_plan.upgrade?(plan) ? plan.price - current_plan.price : plan.price),                                                                |
                "data-plan_update_date" => l((current_plan && current_plan.upgrade?(plan) ? site.plan_cycle_started_at || Time.now.utc.midnight : site.plan_cycle_ended_at.tomorrow.midnight), :format => :named_date) |
              %span.bg
          - if yearly_plan = paid_plans.find { |p| p.name == plan.name && p.yearly? }
            .yearly.select_box{ :class => current_plan && yearly_plan == current_plan ? 'active' : '' }
              = f.label :plan_id, raw(plan_label_content(yearly_plan, :year => true)), :for => "plan_#{yearly_plan.name}_#{yearly_plan.cycle}"
              .radio_wrap
                = f.radio_button :plan_id, yearly_plan.id, :id => "plan_#{yearly_plan.name}_#{yearly_plan.cycle}", :class => "plan_radio",                                                                                      |
                  "data-plan_title" => yearly_plan.title(always_with_cycle: true),                                                                                                                                              |
                  "data-plan_price" => display_amount(yearly_plan.price),                                                                                                                                                       |
                  "data-plan_change_type" => current_plan && plan_change_type(current_plan, yearly_plan),                                                                                                                       |
                  "data-plan_update_price" => display_amount(current_plan && current_plan.upgrade?(yearly_plan) ? yearly_plan.price - current_plan.price : yearly_plan.price ),                                                 |
                  "data-plan_update_date" => l((current_plan && current_plan.upgrade?(yearly_plan) ? site.plan_cycle_started_at || Time.now.utc.midnight : site.plan_cycle_ended_at.tomorrow.midnight), :format => :named_date) |
                %span.bg
        %span.save_label= "2 months free"

  .spacer

  #dev_plan{ :class => current_plan && dev_plan == current_plan ? 'active' : '' }
    .radio_wrap
      -#= f.label :plan_id, raw("We also offer an #{content_tag(:strong, 'unlimited free sandbox plan')} that allows you to test SublimeVideo in your local development domain for free."), :for => "plan_#{dev_plan.name}", :class => "title"
      = f.label :plan_id, raw("#{content_tag(:strong, 'Free Sandbox plan')}: Unlimited usage on your local development domain."), :for => "plan_#{dev_plan.name}", :class => "title"
      = f.radio_button :plan_id, dev_plan.id, :id => "plan_#{dev_plan.name}", :class => "plan_radio",                                |
        "data-plan_title" => dev_plan.title(always_with_cycle: true),                                                                |
        "data-plan_price" => "-",                                                                                                    |
        "data-plan_update_price" => "-",                                                                                             |
        "data-plan_change_type" => current_plan && plan_change_type(current_plan, dev_plan),                                         |
        "data-plan_update_date" => site.plan_cycle_ended_at && l(site.plan_cycle_ended_at.tomorrow.midnight, :format => :named_date) |
      %span.bg
  
  #need_more
    -#%p= raw "Need more pageviews, custom support, or more. Please #{mail_to "enterprise@sublimevideo.net", "contact us"}."
    %p= raw "Need more pageviews, custom support or have other enterprise-class requirements? Please #{mail_to "enterprise@sublimevideo.net", "contact us"}."
