= title("#{@site.in_beta_plan? ? "Choose plan" : (@site.in_custom_plan? ? "Plan" : "Change plan")} for #{truncate_middle(@site.hostname || "##{@site.token}", :length => 23)}")
= content_header(truncate_middle(@site.hostname.present? ? @site.hostname : "Edit site", :length => 23))

#site.edit
  = render '/layouts/segmented_menu'
  - if @site.hostname.blank?
    .info_message_box=raw "Please #{link_to "add a hostname", [:edit, @site]} before choosing a plan."
  - elsif @site.pending_plan_id? && !@site.pending_plan_id_changed?
    - if @site.invoices_failed?
      .info_message_box= raw t 'site.plan.upgrade_in_progress_failed_link', :link => link_to("your invoice", [@site, :invoices])
    - else
      .info_message_box= t 'site.plan.upgrade_in_progress'
  - elsif @site.in_sponsored_plan?
    .info_message_box
      %p= raw "Your plan is currently sponsored by Jilion. If you have any questions, please #{mail_to "sales@sublimevideo.net", "contact us"}."
  - else
    - if @site.errors.empty? && !@site.in_beta_plan? && @site.next_cycle_plan_id?
      #next_cycle_plan_box
        %p= raw "Your new plan #{content_tag :strong, @site.next_cycle_plan.title(always_with_cycle: true)} will automatically start on #{l @site.plan_cycle_ended_at.tomorrow.midnight, :format => :named_date}."
        = button_to "Cancel", [@site, :plan], :method => :delete, :class => "cancel_button submit_dynamic_button"

    #change_plan_box.section_box
      = form_for @site, :url => site_plan_path(@site), :html => { :id => "edit_site_plan", "data-password-protected" => @site.in_paid_plan? } do |f|
        - if @site.errors[:base] && @site.errors[:base].include?(t('activerecord.errors.models.site.attributes.base.current_password_needed'))
          = password_box :resource => @site, :f => f, :cancel_url => edit_site_plan_path(@site)
        = render 'fields', :f => f

        #plan_upgrade_info.update_plan_message_box{ style: "display:none;" }
          %p= raw "You will be immediately upgraded to the #{content_tag(:strong, "?", class: "plan_title")} plan. We will only charge you the difference of #{content_tag(:strong, "?", class: "plan_update_price")} for the upgrade, instead of the full price of #{content_tag(:span, "?", class: "plan_price")}."
          - if current_user.vat?
            %p= vat_price_info("plan_update_price_vat")
        #plan_upgrade_from_dev_info.update_plan_message_box{ style: "display:none;" }
          %p= raw "You will be immediately upgraded to the #{content_tag(:strong, "?", class: "plan_title")} plan. We will charge you #{content_tag(:strong, "?", class: "plan_update_price")}."
          - if current_user.vat?
            %p= vat_price_info("plan_update_price_vat")
        #plan_delayed_downgrade_info.update_plan_message_box{ style: "display:none;" }
          %p= raw "You will be downgraded to the #{content_tag(:strong, "?", class: "plan_title")} plan on #{content_tag(:span, "?", class: "plan_update_date")}. On the same day, we will charge you #{content_tag(:strong, "?", class: "plan_update_price")}."
          - if current_user.vat?
            %p= vat_price_info("plan_update_price_vat")
        #plan_delayed_upgrade_info.update_plan_message_box{ style: "display:none;" }
          %p= raw "You will be upgraded to the #{content_tag(:strong, "?", class: "plan_title")} plan on #{content_tag(:span, "?", class: "plan_update_date")}. On the same day, we will charge you #{content_tag(:strong, "?", class: "plan_update_price")}."
          - if current_user.vat?
            %p= vat_price_info("plan_update_price_vat")
        #plan_delayed_change_info.update_plan_message_box{ style: "display:none;" }
          %p= raw "Your plan cycle will be changed to monthly on #{content_tag(:span, "?", class: "plan_update_date")}. On the same day, we will charge you #{content_tag(:strong, "?", class: "plan_update_price")}."
          - if current_user.vat?
            %p= vat_price_info("plan_update_price_vat")
        #plan_delayed_downgrade_to_dev_info.update_plan_message_box{ style: "display:none;" }
          %p= raw "You will be downgraded to the #{content_tag(:strong, "?", class: "plan_title")} plan on #{content_tag(:span, "?", class: "plan_update_date")}."
        .spacer

        = render 'sites/cc_fields', :f => f, :site => @site
        .spacer

        .actions.center
          = f.submit 'Update plan', :class => "submit big" unless @site.in_custom_plan?
