= title_and_content_header("Edit #{content_tag(:strong, truncate_middle(@site.hostname, :length => 30))}")

#site.edit
  %ul.segmented_menu
    %li.first= link_to "Settings", edit_site_path(@site), :onclick => "MySublimeVideo.makeSticky(this, '.segmented_menu')"
    %li.last.active= link_to "Change plan", edit_site_plan_path(@site), :onclick => "MySublimeVideo.makeSticky(this, '.segmented_menu')"
    
  #change_plan_box.section_box
    = form_for @site, :url => site_plan_path(@site), :html => { :id => "edit_site_plan", "data-password-protected" => @site.active? } do |f|

      = render 'fields', :f => f
      = render 'sites/cc_fields', :f => f, :site => @site

      .spacer
      .actions.center
        = f.submit 'Update plan', :class => "submit big"
