= render '/layouts/site_header'
= title_and_content_header("Opt-out from your #{@site.plan.title}")

%section.text
  %p= "Are your sure your would like to opt-out from your old #{@site.plan.title} and switch to our new “à la carte” pricing?"

  %p= raw "Switching means that you will start a new “à la carte” plan, based on our new #{link_to 'standard price list', layout_url('plans'), onclick: 'window.open(this); return false'}. Every new add-on you choose will benefit from a #{BusinessModel.days_for_trial}-day free trial period."

  = form_tag confirm_opt_out_site_plan_path(@site) do
    .actions.center= submit_tag "Comfirm the opt-out from my old #{@site.plan.title}", class: 'submit blue_button', id: 'site_submit'
    or
    = link_to 'Cancel', sites_path
