= content_for :head do
  = stylesheet_link_tag 'prettify/prettify', 'video_code_generator'
  = javascript_include_tag 'prettify/prettify', 'video_code_generator'
  :javascript
    document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://4076.voxcdn.com" : "http://cdn.sublimevideo.net") + "/js/#{SiteToken.my}.js' type='text/javascript'%3E%3C/script%3E"));

= title_and_content_header("Video code generator")

- if user_signed_in?
  - token = @site.try(:token) || @sites.first.token
  - hostname = @site.try(:hostname) || @sites.first.hostname
  :coffeescript
    $ ->
      window.MSVVideoCodeGenerator.loader = new MSVVideoCodeGenerator.Models.Loader
      window.MSVVideoCodeGenerator.sites = new MSV.Collections.Sites(#{@sites.to_json})
      if window.MSVVideoCodeGenerator.sites.length
        window.MSVVideoCodeGenerator.sites.select('#{token}')
        window.MSVVideoCodeGenerator.loader.set(token: '#{token}')
        window.MSVVideoCodeGenerator.loader.set(hostname: '#{hostname}')
      SublimeVideoSizeChecker.setRoot('/video-size-checker/')
      window.MSVVideoCodeGenerator.builderRouter = new MSVVideoCodeGenerator.Routers.BuilderRouter()
- else
  :coffeescript
    $ ->
      window.MSVVideoCodeGenerator.loader = new MSVVideoCodeGenerator.Models.Loader
      SublimeVideoSizeChecker.setRoot('/video-size-checker/')
      window.MSVVideoCodeGenerator.builderRouter = new MSVVideoCodeGenerator.Routers.BuilderRouter()

-# %p.desc.help= raw "WordPress user? Check-out #{link_to 'our WordPress plugin', 'http://docs.sublimevideo.net/wordpress', onclick: "window.open(this); return false"} instead!"

- if user_signed_in?
  %p
    = "This video will be embedded on: "
    %span#site_selector

#video_embed_type_selector
  .radio_wrap
    = radio_button_tag "type", "standard", checked: true
    = label_tag "type_standard", "Standard"
  .radio_wrap
    = radio_button_tag "type", "lightbox"
    = label_tag "type_lightbox", "Lightbox"
  .radio_wrap
    = radio_button_tag "type", "iframe_embed"
    = label_tag "type_iframe_embed", "Iframe Embed"

#demo_bootstrap
  %button.green_button#use_demo_assets= "Use demo videos urls"

.spacer

.big_break

%form#video_code_form
  #lightbox_attributes.specialized_video_embed_type_box{ style: 'display:none' }

  #iframe_embed_attributes.specialized_video_embed_type_box{ style: 'display:none' }

  #poster
  .spacer

  #sources
  .spacer

  -# %p.desc.help= raw "Need help on video encoding? Check-out our #{link_to '"Encode videos for the web and HTML5"', 'http://docs.sublimevideo.net/encode-videos-for-the-web', onclick: "window.open(this); return false"} documentation page!"

  .big_break

  -# %h4 Settings
  #settings
  .spacer

  .big_break

  %h4 Preview
  #preview
  .spacer

  %h4 Code to paste in your page
  #code