- if !current_user.cc? || current_user.cc_expired?
  #site_credit_card{ :style => (!site.in_paid_plan? || (site.new_record? && site.in_dev_plan?)) ? "display:none;" : "" }
    .left
      %h3.title= "Credit Card Information"
      - if current_user.cc_expired?
        %p.warning Your credit card is expired. Please update it.

      - user ||= site.user
      = f.fields_for :user_attributes, user do |ff|
        = render 'credit_cards/fields', :f => ff
    .right
      .billing_info
        %p
          = "Your credit card information is secure."
          -#= "Your credit card information is protected with secure socket layer (SSL) encryption."
          %br
          = link_to "Questions about billing?", "todo"
    .spacer
