- if current_user.cc? && !current_user.cc_expired?
  #credit_card_summary.site{ style: site.in_free_plan? ? "display:none;" : "" }
    %h3.title Credit Card Information
    %p.card{ class: current_user.cc_type }<
      = raw "#{t("user.credit_card.type.#{current_user.cc_type}")} ending in #{content_tag(:strong, current_user.cc_last_digits)}"
    %p= link_to "Update credit card", edit_credit_card_path
- else
  - cc_errors = site.errors.find_all { |k,v| k.to_s =~ /user.cc_\w+/ }
  #credit_card
    - if cc_errors
      .inline_errors
        %span= cc_errors

    %h3.title
      Credit Card Information
      = " (Optional)" if site.trial_not_started_or_in_trial?
      = button_tag "V", onclick: "$('credit_card_toggle').toggle(); $('user_cc_register').value == 1 ? $('user_cc_register').value = 0 : $('user_cc_register').value = 1; return false;"

    #credit_card_toggle{ style: 'display:none' }
      - if current_user.cc_expired?
        %p.warning
          = t "user.credit_card.expired"
          = t(:please_link, link: link_to("update it", edit_credit_card_path)) + "."
      = f.fields_for :user_attributes, site.user do |ff|
        = ff.hidden_field :cc_register, value: 0
        = render 'credit_cards/fields', f: ff