- if current_user.cc? && !current_user.cc_expired?
  #credit_card_summary.site{ style: site.in_free_plan? ? "display:none;" : "" }
    %h3.title Credit Card Information
    %p.card{ class: current_user.cc_type }<
      = raw "#{t("user.credit_card.type.#{current_user.cc_type}")} ending in #{content_tag(:strong, current_user.cc_last_digits)}"
    %p= link_to "Update credit card", edit_credit_card_path
- else
  #credit_card{ style: site.in_free_plan? ? "display:none;" : "" }
    - if error = site.errors[:base].find { |error| error == t('activerecord.errors.models.site.attributes.base.credit_card_needed') }
      .inline_errors
        %span= error

    %h3.title
      Credit Card Information
      = " (Optional)" if site.trial_not_started_or_in_trial?
      = button_tag "V", onclick: "$('credit_card_toggle').toggle(); return false;"
    
    #credit_card_toggle{ style: 'display:none' }
      - if current_user.cc_expired?
        %p.warning
          = t "user.credit_card.expired"
          = t(:please_link, link: link_to("update it", edit_credit_card_path)) + "."
      = f.fields_for :user_attributes, site.user do |ff|
        = render 'credit_cards/fields', f: ff