- if current_user.cc?
  #credit_card_summary.site{ style: site.in_free_plan? ? "display:none;" : "" }
    - if current_user.cc_expired?
      %p.warning
        = t "user.credit_card.expired"
        = t(:please_link, link: link_to("update it", edit_credit_card_path)) + "."
    %h3.title Credit Card Information
    %p.card{ class: current_user.cc_type }<
      = render 'credit_cards/summary'
    %p= link_to "Update credit card", edit_credit_card_path
- else
  - cc_errors = site.errors.find_all { |k,v| k.to_s =~ /user.cc_\w+/ }
  #credit_card
    - if cc_errors.present?
      .inline_errors
        %span= cc_errors

    %h3.title
      Credit Card Information
      = " (Optional)" if site.trial_not_started_or_in_trial?
      = button_tag "V", id: "credit_card_form_toggle"

    #credit_card_box{ style: 'display:none' }
      = f.fields_for :user_attributes, site.user do |ff|
        = render 'credit_cards/fields', f: ff