%h3.title
  - if site.hostname?
    Loader code for
    %strong= truncate_middle(site.hostname, length: 40)
  - else
    Loader code
%p.desc= raw "Copy the code below and paste it into the pages on #{truncate_middle(site.hostname)} where the SublimeVideo player will be used. We #{link_to 'highly recommend', page_url('troubleshooting', subdomain: 'docs', anchor: 'old-browsers-compatibility'), class: 'hl', onclick: "window.open(this); return false"} you put it into the <code>&lt;head&gt;</code> tag."
%form
  .embed_code.entry= text_area_tag '', sublimevideo_script_tag_for(site), readonly: true, id: "embed_code_#{site.token}"

.dark_box
  %p= raw "If you're asked for your site's token, use this: #{content_tag(:code, site.token)}"
