%h3.title
  - if site.hostname?
    Loader code for
    %strong= truncate_middle(site.hostname, length: 40)
  - else
    Loader code
%p.desc= raw "Copy the code below and paste it in the pages on #{truncate_middle(site.hostname)} where the SublimeVideo player will be used. We #{link_to 'highly recommend', page_url('troubleshooting', subdomain: 'docs', anchor: 'old-browsers-compatibility'), class: 'hl', onclick: "window.open(this); return false"} you insert it into the <code>&lt;head&gt;</code> tag."

%p.desc Loader code for the stable SublimeVideo player:
%form
  .embed_code.entry= text_area_tag '', sublimevideo_script_tag_for(site), readonly: true, id: "embed_code_#{site.token}", onclick: "this.focus();this.select();"

%hr

%p.desc= raw "If you would like to test the new SublimeVideo player (in beta), you may copy the code below and paste it in the pages on #{truncate_middle(site.hostname)} where the player will be used."

%p.desc Loader code for the beta SublimeVideo player:
%form
  .embed_code.entry= text_area_tag '', sublimevideo_script_tag_for(site, 'beta'), readonly: true, id: "embed_code_#{site.token}_beta", onclick: "this.focus();this.select();"
