%h3.title
  - if site.hostname?
    Embed code for
    %strong= truncate_middle(site.hostname, length: 40)
  - else
    Embed code
%p.desc= "Copy the code below and paste it into the pages on #{truncate_middle(site.hostname)} where the SublimeVideo player will be used. We highly recommend you put it into the <code>&lt;head&gt;</code> tag.".html_safe
%form
  .embed_code.entry
    = text_area_tag '', sublimevideo_script_tag_for(site), readonly: true, onclick: "this.focus();this.select();"
    - if site.in_free_plan?
      = "SSL delivery for secure pages is "
      %strong= raw "included #{link_to("in all paid plans", [:edit, site, :plan], class: "hl")}"
      = "."
    - else
      .checkbox_wrap
        = check_box_tag :wildcard, '1', false, id: "toggle_embed_with_ssl_#{site.id}", onclick: "MySublimeVideo.showSiteEmbedCodeWithSSL(this);"
        = label_tag "toggle_embed_with_ssl_#{site.id}", 'Deliver with SSL for secure pages.'

      -#.radio_wrap{ id: "toggle_embed_with_ssl_#{site.token}" }
      -#  = label_tag "embed_with_ssl_switcher_#{site.token}", "SSL delivery switcher:"
      -#  = select_tag :ssl_serving, options_for_select([["Deliver without SSL", 'no'], ["Deliver with SSL for secure pages", 'yes'], ["Deliver with SSL or non-SSL depending on the page's protocol", 'mixed']]), onclick: "MySublimeVideo.showSiteEmbedCodeWithSSL(this, '#{site.token}');", id: "embed_with_ssl_switcher_#{site.token}"
      %p.learn_more= link_to "Learn more about SSL serving.", page_url('ssl', subdomain: 'docs'), class: "hl"

.dark_box
  -# %p= raw "Need help building your first #{content_tag(:code, '<video>')} elements? Read our #{link_to "documentation", page_url('write-proper-video-elements', subdomain: 'docs')}."
  -# = "Discover our #{link_to "video tag builder", video_tag_builder_path(site_id: site.token)}!"
  -# %p.note= raw "Please consult the #{link_to "documentation", "http://docs.sublimevideo.net"} to learn how to add videos to your page."
  -#%p= raw "If a plugin or service asks for your site's token, it is: #{content_tag(:code, site.token)}"
  %p= raw "If you're asked for your site's token, use this: #{content_tag(:code, site.token)}"