%h3
  = "Settings for"
  %strong= truncate_middle(@site.hostname, :length => 18)
  
= form_for @site, :remote => true, :html => { :class => "edit" } do |f|
  .entry
    = f.label :hostname
    %p.desc
      = "Be careful when editing main domain, player will no more working on old hostname."
    = f.text_field :hostname, :class => "text", :autocomplete => :off
  .entry
    = f.label :dev_hostnames
    %p.desc= "Add domains to use in development separated by a comma:"
    = f.text_field :dev_hostnames, :class => "text", :autocomplete => :off
  .entry
    = f.label :path, "Limit site to a certain path"
    %p.desc= "Path will be also added to alias & dev domains"
    %p
      = "#{@site.hostname}/"
      = f.text_field :path, :class => "text", :autocomplete => :off
  .entry
    = f.label :wildcard, "Wildcard (*.#{@site.hostname})"
    %p.desc= "Wildcard will be also added dev domains (but not to alias domains)"
    = f.check_box :wildcard
  .actions
    = f.submit 'Update', :class => "submit small"
