%h3
  = "Settings for"
  %strong= truncate_middle(@site.hostname, :length => 18)
  
= form_for @site, :remote => true, :html => { :class => "edit" } do |f|
  .entry
    = f.label :hostname
    %p.desc
      = "Be careful when updating this domain, player will not work anymore on the former domain."
    = f.text_field :hostname, :class => "text", :autocomplete => :off
    %p.desc.small
      = raw "If needed you can #{link_to "add staging or alias domains", "", :onclick => "$('extra_hostnames').toggle(); return false"} for this site."
  .entry#extra_hostnames{ :style => "display:none" }
    = f.label :extra_hostnames
    %p.desc
      = "Add extra domains separated by commas. Extra domains are meant to be used exclusively for:"
      %ul
        %li= "staging domains"
        %li= "alias domains (multiple domain names for the same content)"
    = f.text_field :extra_hostnames, :class => "text", :autocomplete => :off
  .entry
    = f.label :dev_hostnames
    %p.desc= "Add (local only) development domains separated by commas:"
    = f.text_field :dev_hostnames, :class => "text", :autocomplete => :off
  - if public?
    .entry
      = f.label :path, "Limit site to a certain path"
      %p.desc= "Path will be also added to dev domains"
      %p
        = "#{@site.hostname}/"
        = f.text_field :path, :class => "text", :autocomplete => :off
    .entry
      = f.label :wildcard, "Wildcard (*.#{@site.hostname})"
      %p.desc= "Wildcard will be also added dev domains"
      = f.check_box :wildcard
  .actions
    = f.submit 'Update', :class => "submit small"
