= form_for @site do |f|
  -if @site.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@site.errors.count, "error")} prohibited this site from being saved:"
      %ul
        - @site.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :hostname
    = f.text_field :hostname
  .field
    = f.label :dev_hostnames
    = f.text_field :dev_hostnames
  .field
    = f.label :token
    = f.text_field :token
  .field
    = f.label :state
    = f.text_field :state
  .actions
    = f.submit 'Save'
