- if site.hostname.present?
  = link_to [:edit, site], class: "domain", title: "Edit #{hostname_with_path(site)}" do
    %span.settings_icon
    = image_tag "https://getfavicon.appspot.com/http://#{hostname_with_path(site)}?defaulticon=https://my.sublimevideo.net/assets/sites/default_favicon.png", alt: "Favicon", size: "16x16", id: "site_favicon_#{site.id}"
    = truncate_middle(site.hostname, length: 35)
  - if need_path?(site)
    = tooltip_box href: edit_site_path(site), class: "warning" do
      %span.p= raw t 'site.status.need_path', hostname: site.hostname_with_path_needed
  - if need_subdomain?(site)
    = tooltip_box href: edit_site_path(site), class: "warning" do
      %span.p= raw t 'site.status.need_subdomain', hostname: site.hostname_with_subdomain_needed
- else
  = link_to [:edit, site], class: "domain" do
    %span.settings_icon
    = "add a hostname"
