#plans
  %h3 Plan
  - if f.object.errors.key?(:plan)
    .inline_errors
      %span= f.object.errors[:plan].first
      
  .entry.plan
    - plans = Plan.all
    %h4 Perso
    - perso_plan =  plans.detect { |p| p.name == 'perso' } 
    = f.label :plan_id, "Month", :for => "plan_id_perso"
    = f.radio_button :plan_id, perso_plan.id, :id => "plan_id_perso", :class => "plan_radio"
    %ul
      %li= "videopage views: #{perso_plan.player_hits} per month"
      %li= "price: #{number_to_currency(perso_plan.price / 100.0)} per month"
      %li= "overages: #{number_to_currency(perso_plan.overage_price / 100.0)} per block of #{Plan::OVERAGES_PLAYER_HITS_BLOCK} videopage views"
    
    %h4 Pro
    - pro_plan =  plans.detect { |p| p.name == 'pro' } 
    %ul
      %li= "videopage views: #{pro_plan.player_hits} per month"
      %li= "overages: #{number_to_currency(pro_plan.overage_price / 100.0)} per block of #{Plan::OVERAGES_PLAYER_HITS_BLOCK} videopage views"
    = f.label :plan_id, "Month", :for => "plan_id_pro"
    = f.radio_button :plan_id, pro_plan.id, :id => "plan_id_pro", :class => "plan_radio"
    %ul
      %li= "price: #{number_to_currency(pro_plan.price / 100.0)} per month"
      
    %h4 Enterprise
    - enterprise_plan =  plans.detect { |p| p.name == 'enterprise' } 
    %ul
      %li= "videopage views: #{enterprise_plan.player_hits} per month"
      %li= "overages: #{number_to_currency(enterprise_plan.overage_price / 100.0)} per block of #{Plan::OVERAGES_PLAYER_HITS_BLOCK} videopage views"
    = f.label :plan_id, "Month", :for => "plan_id_enterprise"
    = f.radio_button :plan_id, enterprise_plan.id, :id => "plan_id_enterprise", :class => "plan_radio"
    %ul
      %li= "price: #{number_to_currency(enterprise_plan.price / 100.0)} per month"