- if f.object.errors.key?(:plan)
  .inline_errors
    %span= f.object.errors[:plan].first

%ul#plans
  - Plan.where( :name => %w[perso pro enterprise]).each do |plan|
    %li{ :class => plan.name }
      .content
        = f.label :plan_id, content_tag(:strong, plan.name.titlecase), :for => "plan_id_#{plan.name}", :class => "title"
        %h4.number= number_with_delimiter(plan.player_hits)
        %h5.label= "Videopage views per month"
        .radio_wrap
          = f.radio_button :plan_id, plan.id, :id => "plan_id_#{plan.name}", :class => "plan_radio"
          %span.bg
        .pricing
          %h4.price= display_amount(plan.price)
          %p.label= "per month"
      .overages
        %p.desc= "Overages: #{display_amount(plan.overage_price)} per block of #{Plan::OVERAGES_PLAYER_HITS_BLOCK} videopage views"
.spacer