.popup{ :id => "embed_code_site_#{@site.id}" }
  .wrap
    .content.site
      %h3
        = "Embed code for"
        %strong= truncate_middle(@site.hostname, :length => 18)
      %p.desc= "Copy the code below, and paste it into the pages on #{truncate_middle(@site.hostname)} where the SublimeVideo player will be displayed. Make sure it goes into the <code>&lt;head&gt;</code> tag.".html_safe
      %form
        .embed_code
          %textarea{ :readonly => true, :onclick => "this.focus();this.select();" }= "<script type=\"text/javascript\" src=\"http://cdn.sublimevideo.net/js/#{@site.token}.js\"></script>"
  = link_to "", :class => "close", :onclick => "MySublimeVideo.closePopup(); return false;" do
    %span= "Close"