- if @sites.present?
  .main_table_wrap
    .dark_rounded_corners
      %table.main
        %tr
          %th.site
            .wrap
              = "Site"
              .sorting
                = link_to_sort(:date, sites_path, :reverse => true, :default => true)
                = link_to_sort(:hostname, sites_path)
          -#%th Dev hostnames
          %th.code= "Player Code"
          %th.hits= "Player Hits"
          %th.delete
          
        - @sites.each do |site|
          %tr{ :class => cycle("", "alt") }
            %td.site
              .wrap
                = link_to truncate_middle(site.hostname), "http://#{site.hostname}", :class => "external_link", :onclick => "window.open(this); return false", :title => site.hostname
                - if site.active?
                  = link_to edit_site_path(site), :class => "settings", :title => "Settings", :onclick => "new Ajax.Request('#{edit_site_path(site, :format => :js)}', { method: 'get' });return false" do
                    %span= "settings"
                - else
                  = link_to edit_site_path(site), :class => "settings disabled", :title => "Settings", :onclick => "return false" do
                    %span= "settings"
            %td.code
              - if site.active?
                = link_to "Embed code", site_path(site), :class => "embed_code", :onclick => "new Ajax.Request('#{site_path(site, :format => :js)}', { method: 'get' });return false"
              - else
                .in_progress
                  %em= "In progress"
                  
            %td.hits= rand(10000)
            %td.delete= button_to 'Delete', site, :confirm => 'Are you sure?', :method => :delete, :remote => true
            
  .pagination_wrap
    = will_paginate(:params => { :format => nil }, :renderer => 'WillPaginate::ViewHelpers::LinkRendererRemote')
    = page_entries_info @sites