- if @sites.present?
  .main_table_wrap
    .dark_rounded_corners
      %table.main#sites
        %tr
          %th.plan Plan
          %th.site
            .wrap
              %strong
                = image_tag "/images/embed/small_spinner.gif", :class => "spinner", :id => "table_spinner", :style => "display:none"
                Site
              - unless @sites.one?
                .sorting
                  = link_to_sort :date, :default_way => 'desc', :reverse => true, :default => true, :label => "latest"
                  = link_to_sort :hostname
          %th.stats
          %th.code Player Code
          %th.settings Edit
          
        = render @sites
        
  .pagination_wrap
    = remote_will_paginate(@sites, :params => params.merge(:format => nil))
    = page_entries_info(@sites)
