%tr{ :id => dom_id(site), :class => cycle("", "alt") }
  %td.site{ :class => site.hostname.present? ? "has_domain" : "empty"}
    .wrap
      - if site.hostname.present?
        -# TODO: Remove condition when no more site in beta state and remove if production on default icon for favicon
        = link_to([:edit, site], :class => "domain", :title => "Edit #{hostname_with_path(site)}") do
          %span.settings_icon
          = image_tag "https://getfavicon.appspot.com/http://#{hostname_with_path(site)}?defaulticon=http://#{hostname_with_path(site)}/favicon.ico", :onerror => "this.src='/images/embed/sites/default_favicon.png';", :alt => "Favicon", :size => "16x16", :id => "site_favicon_#{site.id}"
          = hostname_with_path_and_wildcard(site, :truncate => 30)
        - if site.need_path?
          .warning.box_hovering_zone
            = link_to [:edit, site], :class => "icon" do
              %span= "warning"
            = info_box do
              %p
                %em= "You should probably add a path to restrict the validity of the player to your site, not on the whole domain."
      - else
        = link_to [:edit, site], :class => "domain" do
          %span.settings_icon
          = "add a hostname"
      .plan
        = link_to [:edit, site, :plan] do
          = site.plan.title
          %span.disabled= site.next_cycle_plan_id? ? " => #{site.next_cycle_plan.title}" : ""
      .cycle
        - if site.in_paid_plan?
          = l(site.plan_cycle_started_at, :format => :d_b_Y) + ' - ' + l(site.plan_cycle_ended_at, :format => :d_b_Y)
      .spacer
  
  -# TODO: Ifized with real conditions
  -# %td.usage
  %td.usage{ :class => td_usage_class(site) }
    = render 'td_usage', site: site

  %td.code
    = link_to "Embed code", "", :class => "embed_code", :onclick => "return MySublimeVideo.showSiteEmbedCode('#{site.token}')"

  %td.status.box_hovering_zone
    .wrap
      - if !site.cdn_up_to_date?
        %span.icon.in_progress
        = info_box do
          %p= "Your player is being deployed..."
        %span.icon.ok{ style: "display:none;" }
        = info_box do
          %p= "Everything runs smoothly, it's ok!"
      - else
        %span.icon.ok
        = info_box do
          %p= "Everything runs smoothly, it's ok!"
