%tr{ :id => dom_id(site), :class => cycle("", "alt") }
  %td.site
    .wrap
      = link_to truncate_middle(site.hostname), "http://#{site.hostname}", :class => "external_link", :onclick => "window.open(this); return false", :title => site.hostname
      - if site.in_progress?
        = link_to "", :class => "settings disabled", :title => "Settings", :onclick => "return false" do
          %span= "settings"
      - else
        = link_to "", :class => "settings", :title => "Settings", :onclick => "return MySublimeVideo.showSiteSettings(#{site.id})" do
          %span= "settings"
      -#%em.date= l site.created_at.to_date, :format => :small
  %td.code
    - if site.in_progress?
      .in_progress
        %em= "Uploading to cloud"
    - else
      = link_to "Embed code", "", :class => "embed_code", :onclick => "return MySublimeVideo.showSiteEmbedCode(#{site.id})"
      
  %td.hits
    %strong= number_with_delimiter(site.player_hits_cache)
    -#%table
    -#  %tr
    -#    %th.requests
    -#      %h5= "Requests"
    -#    %td.requests= number_with_delimiter(site.loader_hits_cache)
    -#  %tr
    -#    %th.player_hits
    -#      %h5= "Player hits"
    -#    %td.player_hits= number_with_delimiter(site.player_hits_cache)
  %td.delete= button_to 'Delete', site, :confirm => 'Are you sure?', :method => :delete, :remote => true