%tr{ :id => dom_id(site), :class => cycle("", "alt") }
  %td.plan
    - if site.plan
      = site.plan.name.humanize
    - elsif site.beta?
      = "Beta"
    - else
      = "No plan"
  %td.site
    .wrap
      - if site.hostname.present?
        = link_to "http://#{hostname_with_path(site)}", :class => "external_link", :onclick => "window.open(this); return false", :title => hostname_with_path(site) do
          = hostname_with_path_and_wildcard(site, :truncate => 30)
      - else
        = link_to "add an hostname", [:edit, site]
        
      - if site.need_path?
        %span
          -# TODO: Update this text
          %em= "you should add a path"
          
      - unless site.cdn_up_to_date?
        %span.in_progress
          -# TODO: Update this text
          %em= "updating CDN..."
          
      -#%em.date= l site.created_at.to_date, :format => :small
      - if site.addons.present?
        = "Add-ons: #{site.addons.map { |a| a.name.humanize }.join(", ")}"
      - else
        No add-ons.
  %td.code
    - if site.beta?
      = link_to "Choose a plan", [:transition, site]
    - elsif site.active?
      = link_to "Usage", "", :onclick => "return MySublimeVideo.showSiteUsage('#{site.token}')"
    - elsif site.dev? && site.hostname.present?
      = form_for [:activate, site], :html => { "data-password-protected" => true } do |f|
        .actions
          = f.submit 'Activate', :class => "submit small", :id => "activate_site_#{site.id}"
          
  %td.code
    = link_to "Embed code", "", :class => "embed_code", :onclick => "return MySublimeVideo.showSiteEmbedCode('#{site.token}')"
    
  %td.edit
    .wrap
      - unless site.beta?
        = link_to content_tag(:span, "settings"), edit_site_path(site), :class => "settings", :title => "Settings"
