- site = exhibit(site)
%tr{ id: dom_id(site), data: { "site-token" => site.token }, class: cycle("", "alt") }
  = render 'sites/td_hostname', site: site
  = render 'sites/td_usage', site: site
  = render 'sites/td_videos', site: site

  %td.status{ data: { 'cdn-updated-at' => cdn_updated_at(site) } }
    .wrap
      - if site.billable_views.zero? && site.video_tags.count.zero?
        - last_visited_page = rand > 0.5 ? :player : :addons
        - current_step = 4

        - if last_visited_page == :addons
          - current_step = 3
        .finish
          = link_to 'Finish setup', '', class: 'finish_button'
          %span.steps= "step #{current_step} of 5"
      - else
        - if site.invoices_failed?
          = tooltip_box href: site_invoices_path(site), class: "payment_issue" do
            %span.p= t 'site.status.payment_issue'
        - elsif site.invoices_open?
          = tooltip_box href: site_invoices_path(site), class: "payment_waiting" do
            %span.p= t 'site.status.payment_open'
        - elsif site.invoices_waiting?
          = tooltip_box href: site_invoices_path(site), class: "payment_waiting" do
            %span.p= t 'site.status.payment_waiting'
        - elsif cdn_up_to_date?(site)
          = tooltip_box class: "ok" do
            %span.p= t 'site.status.ok'
        - else
          = tooltip_box class: "in_progress" do
            %span.p= t 'site.status.in_progress'
          .completed{ style: "display:none;" }
            = tooltip_box class: "ok" do
              %span.p= t 'site.status.ok'
