- if @sites.all.present?
  .main_table_wrap
    %table.main
      %col
      %col.usage
      %col
      %col.status
      %tr
        %th.site
          .wrap
            %strong
              = image_tag "small_spinner.gif", class: "spinner", id: "table_spinner", style: "display:none"
              Site
            - unless @sites.one?
              .sorting
                = link_to_sort :date, default_way: 'desc', reverse: true, default: true, label: "latest"
                = link_to_sort :hostname
        %th.usage
          .wrap
            - if @sites.one?
              Plays (Last 30 Days)
            - else
              .sorting= link_to_sort :last_30_days_billable_video_views, default_way: 'desc', label: "Plays (Last 30 Days)"
          -# = image_tag 'videos/info_icon.png'
          -# = info_box do
          -#   Views happening on your development domains are not taken into account.
        %th.code
          .wrap Player Code
        %th.status
          .wrap Status
      = render @sites

  .pagination_wrap
    = paginate @sites
    = page_entries_info @sites
