%tr{ :id => dom_id(site), :class => cycle("", "alt") }
  %td.site
    .wrap
      = link_to "http://#{hostname_with_path(site)}", :class => "external_link", :onclick => "window.open(this); return false", :title => hostname_with_path(site) do
        = hostname_with_path_and_wildcard(site, :truncate => 30)
        
      - if site.wildcard?
        %span
          %em= "wildcard support"
      - if site.need_path?
        %span
          -# TODO: Update this text
          %em= "you should add a path"
          
      -#%em.date= l site.created_at.to_date, :format => :small
  %td.code
    - if site.pending?
      .in_progress
        %em= "Uploading to cloud"
    - else
      = link_to "Embed code", "", :class => "embed_code", :onclick => "return MySublimeVideo.showSiteEmbedCode(#{site.id})"
      
  %td.hits= "42"
  %td.edit
    .wrap
      = link_to content_tag(:span, "settings"), edit_site_path(site), :class => "settings", :title => "Settings"