%tr{ :id => dom_id(site), :class => cycle("", "alt") }
  %td.site{ :class => site.hostname.present? ? "has_domain" : "empty"}
    .wrap
      - if site.hostname.present?
        = link_to [:edit, site], :class => "domain", :title => "Edit #{hostname_with_path(site)}" do
          %span.settings_icon
          = image_tag "https://getfavicon.appspot.com/http://#{hostname_with_path(site)}?defaulticon=http://#{hostname_with_path(site)}/favicon.ico", :onerror => "this.src='/sites/default_favicon.png';", :alt => "Favicon", :size => "16x16", :id => "site_favicon_#{site.id}"
          = truncate_middle(site.hostname, :length => 35)
        - if site.in_paid_plan? && (site.need_path? || site.need_subdomain?)
          .warning.box_hovering_zone
            = link_to [:edit, site], :class => "icon" do
              %span= "warning"
            - if site.need_path?
              = info_box do
                %p= raw t 'site.status.need_path', hostname: site.hostname_with_path_needed
            - if site.need_subdomain?
              = info_box do
                %p= raw t 'site.status.need_subdomain', hostname: site.hostname_with_subdomain_needed
      - else
        = link_to [:edit, site], :class => "domain" do
          %span.settings_icon
          = "add a hostname"
      .plan
        - if site.plan_id?
          = link_to [:edit, site, :plan] do
            = site.plan.title
            - if site.next_cycle_plan_id?
              %span.disabled= " => #{site.next_cycle_plan.title}"
      .cycle
        - if site.in_paid_plan?
          - if site.trial_not_started_or_in_trial?
            = "Your #{BusinessModel.days_for_trial - 1}-day free period will end on #{l(site.trial_started_at + BusinessModel.days_for_trial.days, :format => :d_b_Y)}."
          - else
            = l(site.plan_cycle_started_at, :format => :d_b_Y) + ' - ' + l(site.plan_cycle_ended_at, :format => :d_b_Y)
      .spacer

  %td.usage{ :class => td_usage_class(site) }
    - if site.plan_id?
      = render 'td_usage', site: site
    - else
      = "—"

  %td.code{ id: "code_#{site.token}" }
    - if site.plan_id?
      = link_to "Embed code", "", :class => "embed_code", :onclick => "return MySublimeVideo.showSiteEmbedCode('#{site.token}')"
    - else
      = "—"
    %div{ id: "embed_code_site_content_#{site.token}", style: 'display:none' }= render 'code', site: site

  %td.status.box_hovering_zone
    .wrap
      - if site.invoices_failed?
        = link_to [site, :invoices] do
          %span.icon.payment_issue
          = info_box(:class => "payment_issue") do
            %p=t 'site.status.payment_issue'
      - elsif site.invoices_open?
        = link_to [site, :invoices] do
          %span.icon.payment_waiting
          = info_box(:class => "payment_waiting") do
            %p=t 'site.status.payment_open'
      - elsif site.invoices_waiting?
        = link_to [site, :invoices] do
          %span.icon.payment_waiting
          = info_box(:class => "payment_waiting") do
            %p=t 'site.status.payment_waiting'
      - else
        - if site.cdn_up_to_date?
          %span.icon.ok
          = info_box do
            %p=t 'site.status.ok'
        - else
          %span.icon.in_progress
          = info_box do
            %p=t 'site.status.in_progress'
          .completed{ style: "display:none;" }
            %span.icon.ok
            = info_box do
              %p=t 'site.status.ok'
