%tr{ id: dom_id(site), data: { "site-token" => site.token }, class: cycle("", "alt") }
  %td.site{ class: site.hostname.present? ? "has_domain" : "empty"}
    .wrap
      = render 'hostname', site: site
      .spacer

  %td.usage
    .wrap= render 'td_usage', site: site
  - if early_access?('video')
    %td.videos
      .wrap
        - if site.last_30_days_video_tags > 0
          = link_to site_video_tags_path(site), class: "video_number" do
            %strong= number_with_delimiter(site.last_30_days_video_tags)
            %em= "videos"
        - else
          = link_to site_video_tags_path(site, anchor: 'add'), class: "add_a_video" do
            %span= "Add a video"
  %td.code
    .wrap
      = link_to "Player code", "", class: "player_code embed_code", data: { token: site.token }
      %div{ id: "embed_code_popup_content_#{site.token}", style: 'display:none' }= render 'code', site: site

  %td.status{ data: { 'cdn-updated-at' => cdn_updated_at(site) } }
    .wrap
      - if site.invoices_failed?
        = tooltip_box href: site_invoices_path(site), class: "payment_issue" do
          %span.p= t 'site.status.payment_issue'
      - elsif site.invoices_open?
        = tooltip_box href: site_invoices_path(site), class: "payment_waiting" do
          %span.p= t 'site.status.payment_open'
      - elsif site.invoices_waiting?
        = tooltip_box href: site_invoices_path(site), class: "payment_waiting" do
          %span.p= t 'site.status.payment_waiting'
      - elsif cdn_up_to_date?(site)
        = tooltip_box class: "ok" do
          %span.p= t 'site.status.ok'
      - else
        = tooltip_box class: "in_progress" do
          %span.p= t 'site.status.in_progress'
        .completed{ style: "display:none;" }
          = tooltip_box class: "ok" do
            %span.p= t 'site.status.ok'
