- if @sites.present?
  .main_table_wrap
    .dark_rounded_corners
      %table.main#sites
        %tr
          %th.site
            .wrap
              %strong
                = image_tag "/images/embed/small_spinner.gif", :class => "spinner", :id => "table_spinner", :style => "display:none"
                = "Site"
              - unless @sites.one?
                .sorting
                  = link_to_sort(:date, sites_path, :reverse => true, :default => true)
                  = link_to_sort(:hostname, sites_path)
          -#%th Dev hostnames
          %th.code= "Player Code"
          %th.hits= "Player Hits"
          %th.delete
          
        - @sites.each do |site|
          %tr{ :id => dom_id(site), :class => cycle("", "alt") }
            %td.site
              .wrap
                = link_to truncate_middle(site.hostname), "http://#{site.hostname}", :class => "external_link", :onclick => "window.open(this); return false", :title => site.hostname
                - if site.active?
                  = link_to "", :class => "settings", :title => "Settings", :onclick => "return MySublimeVideo.showSiteSettings(#{site.id})" do
                    %span= "settings"
                - else
                  = link_to "", :class => "settings disabled", :title => "Settings", :onclick => "return false" do
                    %span= "settings"
            %td.code
              - if site.active?
                = link_to "Embed code", "", :class => "embed_code", :onclick => "return MySublimeVideo.showSiteEmbedCode(#{site.id})"
              - else
                .in_progress
                  %em= "In progress"
                  
            %td.hits
              %strong= site.player_hits
              %table
                %tr
                  %th.requests
                    %h5= "Requests"
                  %td.requests= site.license_hits_cache
                %tr
                  %th.player_hits
                    %h5= "Player hits"
                  %td.player_hits= site.js_hits_cache
            %td.delete= button_to 'Delete', site, :confirm => 'Are you sure?', :method => :delete, :remote => true
            
  .pagination_wrap
    = will_paginate(:params => { :format => nil }, :renderer => 'WillPaginate::ViewHelpers::LinkRendererRemote')
    = page_entries_info @sites