#site_settings.settings
  %h4.title Staging and alias domains
  .left.entry.site#site_setup_extra_hostnames
    = f.label :extra_hostnames, "", class: "icon"
    = f.text_field :extra_hostnames, class: "text", placeholder: "staging-yourdomain.com", autocomplete: :off
  %p.info= raw "Add extra domains separated by commas. Extra domains are meant to be used #{content_tag(:strong, "exclusively")} for staging domains and alias domains (multiple domain names leading to the #{content_tag(:strong, "same content")})."
  .spacer

  %h4.title Development domains
  .left.entry.site#site_setup_dev_hostnames
    = f.label :dev_hostnames, "", class: "icon"
    = f.text_field :dev_hostnames, class: "text", placeholder: "127.0.0.1, localhost", autocomplete: :off
  %p.info= "Add (local only) development domains separated by commas."
  .spacer

  %h4.title Path
  .left.entry.path
    = f.label :path, "", class: "icon"
    = f.text_field :path, class: "text small_icon", placeholder: "path", autocomplete: :off, maxlength: 256
  %p.info= "Restrict your player to a specific path. The path will also be added to extra domains (but not to development domains)."
  .spacer

  %h4.title Wildcard
  .left.entry.wildcard.checkbox_wrap
    = f.check_box :wildcard
    = f.label :wildcard, "Enable (*.yourdomain.com)"
  %p.info= "It will also be enabled for extra and development domains."
  .spacer

  = link_to docs_page_url('site-settings'), class: "help", onclick: "window.open(this); return false" do
    %span= "Read more"

  .big_break

-##site_settings.settings
-#  .left
-#    %h4.title Staging and alias domains
-#    %p.info= raw "Add extra domains separated by commas. Extra domains are meant to be used #{content_tag(:strong, "exclusively")} for staging domains and alias domains (multiple domain names that point to the #{content_tag(:strong, "same content")})."
-#    .entry.site#site_setup_extra_hostnames
-#      = f.label :extra_hostnames, "", class: "icon"
-#      = f.text_field :extra_hostnames, class: "text", placeholder: "staging-yourdomain.com", autocomplete: :off
-#
-#    %h4.title Development domains
-#    %p.info= "Add (local only) development domains separated by commas."
-#    .entry.site#site_setup_dev_hostnames
-#      = f.label :dev_hostnames, "", class: "icon"
-#      = f.text_field :dev_hostnames, class: "text", placeholder: "127.0.0.1, localhost", autocomplete: :off
-#
-#  .right
-#    %h4.title= "Advanced settings"
-#    %p.info= "Restrict your player to a specific path. The path will also be added to extra domains (but not to development domains)."
-#    .entry.path
-#      %p
-#        = f.label :path, "", class: "icon"
-#        = f.text_field :path, class: "text small_icon", placeholder: "path", autocomplete: :off, maxlength: 256
-#    .entry.wildcard
-#      .checkbox_wrap
-#        = f.check_box :wildcard
-#        = f.label :wildcard, "Wildcard (*.yourdomain.com)"
-#      %p.info= "It will also be enabled for extra and development domains."
-#  .spacer
-#
-#  = link_to docs_page_url('site-settings'), class: "help", onclick: "window.open(this); return false" do
-#    %span= "Read more"
-#
-#  .big_break
