- if @sites.present?
  .main_table_wrap
    .dark_rounded_corners
      %table.main#sites
        %tr
          %th.site
            .wrap
              %strong
                = image_tag "/images/embed/small_spinner.gif", :class => "spinner", :id => "table_spinner", :style => "display:none"
                = "Site"
              - unless @sites.one?
                .sorting
                  = link_to_sort :date, :default_way => 'desc', :reverse => true, :default => true, :label => "latest"
                  = link_to_sort :hostname
          %th.code= "Player Code"
          %th.hits= "Player Hits"
          %th.delete
          
        = render @sites
        
  .pagination_wrap
    = will_paginate(:params => { :format => nil }, :renderer => 'WillPaginate::ViewHelpers::LinkRendererRemote')
    = page_entries_info @sites