- if @sites.all.present?
  .main_table_wrap
    %table.main
      %col
      %col.usage
      %col.odd
      %col
      %col.odd
      %tr
        %th.site
          .wrap
            %strong
              = image_tag "small_spinner.gif", class: "spinner", id: "table_spinner", style: "display:none"
              Site
            - unless @sites.one?
              .sorting
                = link_to_sort :date, default_way: 'desc', reverse: true, default: true, label: "latest"
                = link_to_sort :hostname
        %th.usage
          .wrap
            - if @sites.one?
              Plays (Last 30 Days)
            - else
              .sorting= link_to_sort :last_30_days_billable_video_views, default_way: 'desc', label: "Plays (Last 30 Days)"
        %th.videos
          .wrap
            - if @sites.one?
              Videos
            - else
              .sorting= link_to_sort :last_30_days_video_tags, default_way: 'desc', label: "Videos"
        %th.code
          .wrap= "Embed code"
        %th.status
          .wrap= "Status"
      = render @sites

  .pagination_wrap
    = paginate @sites
    = page_entries_info @sites
