#site_settings.dark_box
  #hostnames_settings.site
    %h4.title Production domains

    %h5= f.label :hostname, class: 'no_icon'
    %p.info= raw "Use this field to specify the main domain on which you're using SublimeVideo. You can also enter a subdomain (e.g.: #{content_tag(:em, 'blog.mydomain.com')})."
    .entry.hostname
      = f.label :hostname, '', class: 'icon'
      = f.text_field :hostname, class: 'text', placeholder: 'mydomain.com', autocomplete: :off
    .spacer

    %h5= f.label :extra_hostnames
    %p.info
      = raw "Use this field to specify extra domains (e.g.: #{content_tag(:em, 'mydomain.fr, mydomain.ch')}) separated by commas."
      = raw "These domains are meant to be used #{content_tag(:strong, 'exclusively')} for multiple domains leading to the #{content_tag(:strong, 'same or translated content')}."
      = raw "#{link_to 'Learn more', docs_url('site-settings#alias-domains'), onclick: 'window.open(this); return false', class: 'hl'}."
    .entry.extra_hostnames
      = f.label :extra_hostnames, '', class: 'icon'
      = f.text_field :extra_hostnames, class: 'text', placeholder: 'mydomain.fr, mydomain.ch', autocomplete: :off
    .spacer
    %p.note Video plays and page visits are counted for the production domains only.
    .break

    %h4.title Staging and development domains

    %h5= f.label :staging_hostnames
    %p.info
      = raw "Use this field to specify staging domains (e.g.: #{content_tag(:em, 'staging.mydomain.com, mydomain-staging.com')}) separated by commas."
      = raw "#{link_to 'Learn more', docs_url('site-settings#staging-domains'), onclick: 'window.open(this); return false', class: 'hl'}."
    .entry.staging_hostnames
      = f.label :staging_hostnames, '', class: 'icon'
      = f.text_field :staging_hostnames, class: 'text', placeholder: 'staging.mydomain.com, mydomain-staging.com', autocomplete: :off
    .spacer

    %h5= f.label :dev_hostnames
    %p.info
      = raw "Use this field to specify local development domains (e.g.: #{content_tag(:em, 'mydomain.local, mydomain.dev')}) separated by commas."
      = raw "#{link_to 'Learn more', docs_url('site-settings#dev-domains'), onclick: 'window.open(this); return false', class: 'hl'}."
    .entry.dev_hostnames
      = f.label :dev_hostnames, '', class: 'icon'
      = f.text_field :dev_hostnames, class: 'text', placeholder: Site::DEFAULT_DEV_DOMAINS + ', mydomain.local, mydomain.dev', autocomplete: :off
    .spacer
  .break

  #advanced_settings
    %h4.title Advanced settings

    .entry.wildcard.checkbox_wrap
      = f.check_box :wildcard
      = f.label :wildcard, 'Wildcard (*.yourdomain.com)'
      %p.info Extend your SublimeVideo license to any subdomains of the domains above.
    .spacer

    %h5= f.label :path
    %p.info
      Use this to restrict your player to a specific path.
      = raw "#{link_to 'Learn more', docs_url('site-settings#path'), onclick: 'window.open(this); return false', class: 'hl'}."
    .entry.path
      = f.label :path, '', class: 'icon'
      = f.text_field :path, class: 'text short small_icon', placeholder: 'path', autocomplete: :off, maxlength: 256
    .spacer
    %p.note This setting is only applied to production domains.

    = link_to docs_page_url('site-settings'), class: 'help', onclick: 'window.open(this); return false' do
      %span Read more
