%td.site.has_domain
  .wrap
    = link_to url_with_protocol(site.hostname), class: "domain" do
      = image_tag "https://getfavicon.appspot.com/http://#{hostname_with_path(site)}?defaulticon=https://my.sublimevideo.net/assets/sites/default_favicon.png", alt: "Favicon", size: "16x16", id: "site_favicon_#{site.id}"
      = truncate_middle(site.hostname, length: 35)
    - if need_path?(site)
      = tooltip_box href: edit_site_path(site), class: "warning" do
        %span.p= raw t 'site.status.need_path', hostname: site.hostname_with_path_needed
    - if need_subdomain?(site)
      = tooltip_box href: edit_site_path(site), class: "warning" do
        %span.p= raw t 'site.status.need_subdomain', hostname: site.hostname_with_subdomain_needed
    - if site.plan_id?
      .plan= link_to "#{site.plan.title} plan", site_addons_path(site)
    .token= "##{site.token}"
    .actions
      %select.site_actions
        %option{ value: '' } Actions
        %option{ value: site_addons_path(site) } Add-ons
        %option{ value: site_addons_path(site) } Player
        %option{ value: new_site_video_code_path(site) } Video Code
        - if site.realtime_stats_active?
          %option{ value: site_stats_path(site) } Stats
        %option{ value: edit_site_path(site) } Settings
        %option{ value: site_invoices_path(site) } Invoices
