- if plan = site.plan
  - case plan.name
  - when 'dev', 'beta'
    - if site.pending_plan_id?
      = "–"
    - else
      = link_to "Choose a plan", edit_site_plan_path(site), :class => "medium_button"
  - when 'sponsored'
    .usage
      %p= pluralize(number_with_delimiter(site.current_monthly_billable_usage.to_i), "Sponsored hit").html_safe
  - else
    .progress_bar.box_hovering_zone
      - if site.first_plan_upgrade_required_alert_sent_at?
        .usage_bar{ :style => "width:100%"}
        .plan_total= number_with_delimiter(plan.player_hits)
      - else
        .usage_bar{ :style => "width:#{display_percentage(site.current_percentage_of_plan_used)}"}
        .plan_total= number_with_delimiter(plan.player_hits)
        = info_box do
          %p= pluralize(number_with_delimiter(site.current_monthly_billable_usage.to_i), "<br /> Hit").html_safe
    %span.peaks_insurance_label= "Peaks Insurance ON"
    = link_to "Upgrade", edit_site_plan_path(site), :class => "upgrade_button submit_dynamic_button"
