%td.site.has_domain
  .wrap
    %span.domain
      = link_to url_with_protocol(site.hostname), title: "Go to #{site.hostname}", class: "img_wrap", onclick: "window.open(this);return false" do
        = image_tag "https://getfavicon.appspot.com/http://#{hostname_with_path(site)}?defaulticon=https://my.sublimevideo.net/assets/sites/default_favicon.png", alt: "Favicon", size: "16x16", id: "site_favicon_#{site.id}"
      = truncate_middle(site.hostname, length: 35)

    - if need_path?(site)
      = tooltip_box href: edit_site_path(site), class: 'warning' do
        %span.p= raw t 'site.status.need_path', hostname: hostname_with_path_needed(site)
    - if need_subdomain?(site)
      = tooltip_box href: edit_site_path(site), class: 'warning' do
        %span.p= raw t 'site.status.need_subdomain', hostname: hostname_with_subdomain_needed(site)
    .action_popup
      = link_to '', class: 'show_button' do
        %span= "Show actions"
        = svg 8, 5, class: "arrow" do
          %path{ d: "M4,5l4-5H0L4,5z", fill: "rgba(9,23,69,0.5)" }
      %ul.actions{ id: ['site_actions', site.id], style: 'display:none' }
        %li{ class: cycle('','alt', name: "actions")}= link_to 'Add-ons', [site, :addons]
        %li{ class: cycle('','alt', name: "actions")}= link_to 'Players', [site, :kits]
        %li{ class: cycle('','alt', name: "actions")}= link_to 'Loader Code', '', class: 'loader_code', data: { token: site.token }
        - if site.realtime_stats_active?
          %li{ class: cycle('','alt', name: "actions")}= link_to 'Stats', [site, :stats]
        %li{ class: cycle('','alt', name: "actions")}= link_to 'Settings', [:edit, site]
        %li{ class: cycle('','alt', name: "actions")}= link_to 'Invoices', [site, :invoices]
      %div{ id: "loader_code_popup_content_#{site.token}", style: 'display:none' }= render 'sites/code', site: site
    .token
      %small
        = 'token: '
        %strong= "##{site.token}"
    .spacer
