= title_and_content_header("Edit #{content_tag(:strong, truncate_middle(@site.hostname, :length => 30))}")
= content_for :header do
  = javascript_include_tag "hash"
= content_for :bottom do
  %iframe#hidden-iframe
#site.edit
  %ul.segmented_menu
    %li.first.active= link_to "Settings", "", :onclick => "return MySublimeVideo.toggleBoxFromId(this, 'site_settings_box', 'settings')"
    %li.last= link_to "Change plan", "", :onclick => "return MySublimeVideo.toggleBoxFromId(this, 'change_plan_box', 'change_plan')"

  #site_settings_box.section_box
    = form_for @site, :html => { :id => "edit_site_settings", "data-password-protected" => @site.active? } do |f|
      = render 'settings', :f => f
      .actions.center
        = f.submit 'Update settings', :class => "submit big"

  #change_plan_box.section_box{ :style => "display:none" }
    = form_for @site, :html => { :id => "edit_site_plan", "data-password-protected" => @site.active? } do |f|
      = render 'plans', :f => f
      = render 'addons', :f => f
      - unless @site.active?
        .no_plan
          %p><
            ="In case you just want to test SublimeVideo in development, "
            %a{ :href => "", :onclick => "$$('ul#plans li input[type=radio]').each(function(e){e.checked = false;}); MySublimeVideo.SELECTED_PLAN = 0; return false" }= "don’t select any plans"
            = ". No credit card required."
      
      .spacer
      .actions.center
        = f.submit 'Update plan', :class => "submit big"
    - if @site.active?
      :javascript
        MySublimeVideo.ONE_SELECTED_PLAN_AT_LEAST = true;
  .break_line
  = form_for @site, :html => { :method => :delete, :class => "delete", "data-password-protected" => true } do |f|
    = f.submit "Delete my site", :class => "delete_site"
    %p.desc= "If you delete your site, you will be charged only for the period it was active."
