= title_and_content_header "Settings for #{content_tag(:strong, truncate_middle(@site.hostname, :length => 18))}"

%h3 Site settings
= form_for @site, :html => { :class => "edit_settings" } do |f|
  = render 'settings', :f => f
  .actions
    = f.submit 'Update settings', :class => "submit small"
    
%h3 Change your plan
= form_for @site, :html => { :class => "edit_plans" } do |f|
  = render 'plans', :f => f
  .actions
    = f.submit 'Update plans', :class => "submit small"
    
%h3 Addons
= form_for @site, :html => { :class => "edit_addons" } do |f|
  = render 'addons', :f => f
  .actions
    = f.submit 'Update addons', :class => "submit small"
    
%hr

= form_for @site, :html => { :method => :destroy, :class => "edit" } do |f|
  .actions
    = f.submit "! Destroy !", :class => "submit small"