= title_and_content_header("Settings for #{content_tag(:strong, truncate_middle(@site.hostname, :length => 30))}")

= form_for @site, :html => { :id => "edit_site_settings", "data-password-protected" => @site.active? } do |f|
  = render 'settings', :f => f
  .actions
    = f.submit 'Update settings', :class => "submit small"
    
= form_for @site, :html => { :id => "edit_site_plan", "data-password-protected" => @site.active? } do |f|
  = render 'plans', :f => f
  .actions
    = f.submit 'Update plans', :class => "submit small"
    
= form_for @site, :html => { :id => "edit_site_addons", "data-password-protected" => @site.active? } do |f|
  = render 'addons', :f => f
  .actions
    = f.submit 'Update addons', :class => "submit small"
    
%hr

= form_for @site, :html => { :method => :delete, :class => "edit", "data-password-protected" => true } do |f|
  .actions
    = f.submit "! Destroy !", :class => "submit small"