= content_for :title do
  Editing site

%h1 Editing site

= form_for @site do |f|
  .field
    = f.label :dev_hostnames
    = f.text_field :dev_hostnames
  .actions
    = f.submit 'Save'
    or 
    -#= link_to 'Show', @site
    -#\|
    = link_to 'cancel', sites_path