= title_and_content_header(truncate_middle(@site.hostname.present? ?  @site.hostname : @site.hostname_was, :length => 40))

#site.edit
  %ul.segmented_menu
    %li.first.active= link_to "Settings", edit_site_path(@site), :onclick => "MySublimeVideo.makeSticky(this, '.segmented_menu')"
    %li= link_to "Change plan", edit_site_plan_path(@site), :onclick => "MySublimeVideo.makeSticky(this, '.segmented_menu')"
    %li.last= link_to "Invoices", site_invoices_path(@site), :onclick => "MySublimeVideo.makeSticky(this, '.segmented_menu')"


  #site_settings_box.section_box
    = form_for @site, :html => { :id => "edit_site_settings", "data-password-protected" => @site.in_paid_plan? } do |f|
      - if params[:action] == 'update' && @site.errors[:base] && @site.errors[:base].include?(t('activerecord.errors.models.site.attributes.base.current_password_needed'))
        = password_box :resource => @site, :f => f, :cancel_url => [:edit, @site]
      = render 'fields', :f => f
      .actions.center
        = f.submit 'Update settings', :class => "submit big"

  .break_line
  .spacer
  = form_for @site, :html => { :method => :delete, "data-password-protected" => true } do |f|
    - if params[:action] == 'destroy' && @site.errors[:base] && @site.errors[:base].include?(t('activerecord.errors.models.site.attributes.base.current_password_needed'))
      = password_box :resource => @site, :f => f, :cancel_url => [:edit, @site]
    .entry.delete
      = f.submit "Delete my site", :class => "delete_site", :confirm => "Are you really sure?"
      %p.desc= "If you delete your site, you will not be refunded (edit text)."
