= title_and_content_header "Settings for #{content_tag(:strong, truncate_middle(@site.hostname, :length => 18))}"

= form_for @site, :html => { :class => "edit" } do |f|
  
  %h3 Site settings
  = render 'settings', :f => f
  
  %h3 Change your plan
  = render 'plans', :f => f
  
  %h3 Addons
  = render 'addons', :f => f
  
  .actions
    = f.submit 'Update', :class => "submit small"
    
%hr

= form_for @site, :html => { :method => :destroy, :class => "edit" } do |f|
  .actions
    = f.submit "! Destroy !", :class => "submit small"