- title("Settings for #{hostname_or_token(@site)}")
= render '/layouts/site_header'
.big_break
#site.edit
  %h3.assistant_title Edit site settings

  #section_box
    = form_for @site, html: { id: 'edit_site_settings' } do |f|
      = render 'site_settings', site: @site, f: f
      .actions.center
        = f.submit "Save settings", class: "submit blue_button"

  - unless @site.invoices.not_paid.any?
    .big_break
    .spacer
      = form_for @site, html: { method: 'delete', data: { confirm: "Are you really sure?" } } do |f|
        .entry.delete
          = f.submit "Cancel site", class: "delete_site"
          %p.desc
            = raw t 'site.edit.delete_site_info1', domain: hostname_or_token(@site, length: 20)
            = raw t 'site.edit.delete_site_info2'
