= content_for :title do
  Editing site

%h1 Editing site

= form_for @site do |f|
  -if @site.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@site.errors.count, "error")} prohibited this site from being saved:"
      %ul
        - @site.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :dev_hostnames
    = f.text_field :dev_hostnames
  .actions
    = f.submit 'Save'
    or 
    -#= link_to 'Show', @site
    -#\|
    = link_to 'cancel', sites_path