- title("Settings for #{hostname_or_token(@site)}")
= render '/layouts/sites_select_title'

#site.edit
  = render '/layouts/segmented_menu'

  #site_settings_box.section_box
    .big_break
    = form_for @site, html: { id: "edit_site_settings", "data-password-protected" => @site.in_paid_plan? && @site.trial_ended? } do |f|
      - if params[:action] == 'update' && current_password_needed_error?(@site)
        = password_box resource: @site, f: f, cancel_url: [:edit, @site]
      = render 'fields', site: @site, f: f

      .actions.center
        = f.submit "Save settings", class: "submit blue_button"

  .big_break
  .spacer
    = form_for @site, html: { method: 'delete', "data-password-protected" => true } do |f|
      - if params[:action] == 'destroy' && current_password_needed_error?(@site)
        = password_box resource: @site, f: f, cancel_url: [:edit, @site]
      .entry.delete
        = f.submit "Delete site", class: "delete_site", data: { confirm: "Are you really sure?" }
        %p.desc
          = raw t 'site.edit.delete_site_info1', domain: hostname_or_token(@site, length: 20)
          = raw t 'site.edit.delete_site_info2'
