= render 'layouts/sticky_notices'
= render 'layouts/hidable_notices'

#sites
  = title_and_content_header("My sites")

  = render 'deals/deal_available'

  = link_to new_site_path, class: "add_site green_button" do
    %span= "Add a site"
  = link_to "Generate video code", new_site_video_code_path(@sites.first), class: "generate_code hl"

  = render 'initial_help'

  #sites_table_wrap= render 'sites'
