= render 'layouts/sticky_notices'
= render 'layouts/hidable_notices'

#sites
  = title_and_content_header("My sites")

  = link_to new_site_path, class: "add_site green_button" do
    %span= "Add a site"
  -#- unless early_access?('video')
  -#  = link_to "Generate video code", video_code_generator_path, class: "generate_code hl"

  = render 'initial_help'

  #sites_table_wrap= render 'sites'
