= render 'layouts/sticky_notices'
= render 'layouts/hidable_notices'

= content_for :javascript do
  = javascript_include_tag 'https://d3dy5gmtp8yhk7.cloudfront.net/1.11/pusher.min.js'

#sites
  = title_and_content_header("My sites")

  = render 'deals/deal_available'

  = link_to new_site_path, class: "add_site green_button" do
    %span= "Add a site"
  = link_to "Generate video code", video_code_path, class: "generate_code hl"

  = render 'initial_help'

  #sites_table_wrap= render 'sites'
