= content_for :title do
  My sites

%h2= "My sites"
%p.title_desc= "Start to add your sites here by adding each of your domains and subdomains you want to use with SublimeVideo."

- @site ||= current_user.sites.build
= form_for @site, :html => { :class => "sites" } do |f|
  .entry.site
    = f.label :hostname, "", :class => "icon"
    = f.text_field :hostname, :class => "text", :placeholder => "your-domain.com", :required => true
  .actions
    = f.submit 'Add'

%table
  %tr
    %th Hostname
    %th Dev hostnames
    %th State
    %th
    %th
  
  - @sites.each do |site|
    %tr
      %td= site.hostname
      %td= site.dev_hostnames
      %td= site.state
      %td= link_to 'Edit', edit_site_path(site)
      %td= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete