= content_for :title do
  = "My sites"
  
= content_for :bottom do
  - if current_user.welcome? && !params[:trial]
    = render "layouts/welcome"
    
%h2= "My sites"
%p.title_desc= "Start to add your sites here by adding each of your domains or subdomains you want to use with SublimeVideo."

#account_activity_box
  .current_balance
    %h4= "Your current balance"
    %p.price
      %strong= "$14.67"
  = link_to "Billing reports", "/billings_path", :class => "billing_reports"
  
= render "new"

#sites_table_wrap
  = render "sites"
  