= title_and_content_header("Choose a plan for your site")

#site.new
  = render 'deals/deal_available'

  = form_for @site, html: { class: "full", onsubmit: "$('site_submit').disable();" } do |f|

    = render 'plans/fields', site: @site, f: f

    .tagline
      %h3= "All paid plans are free for the first 14 days"
      %h4= "No credit card required"

    .big_break
    = render 'fields', site: @site, f: f

    .checkbox_wrap#badged{ style: 'display:none' }
      = f.check_box :badged, checked: true
      = f.label :badged, "Enable SublimeVideo badge."
      %p.label= "Choose whether you want an unbranded player, or whether you want to display the SublimeVideo seal of quality."

    - if @site.trial_not_started_or_in_trial?
      = render 'skip_trial_box', f: f

    = render 'billing_info_box'

    - if current_user.vat?
      #plan_create_info.update_plan_message_box.notice{ style: "display:none;" }
        %p= vat_price_info("plan_price")

    .actions.center
      = f.submit "#{@site.persisted? ? 'Update' : 'Create'} site", class: "submit green_button", id: 'site_submit'
