= title_and_content_header("Choose a plan for your site")

#site.new
  = form_for @site, :html => { :class => "full" } do |f|

    = render 'plans/fields', :f => f

    -# %h3.headline= "Unlimited Free Testing on All Plans."
    -# %h4.sub_headline= "SublimeVideo is free while you develop your site."
    .spacer
    .break_line
  
    = render 'fields', :f => f
  
    = render 'cc_fields', :f => f, :site => @site
  
    .actions.center
      = f.submit(@site.persisted? ? "Update site" : "Create site", :class => "submit big")
