- title 'Add a site'
= content_header 'Setup assistant'

#site.new.assistant
  = render 'assistant/step_guide', current_step: 'new_site'
  = form_for @site, html: { class: "full" } do |f|
    %h3.title On which site do you need a SublimeVideo player?
    = render 'fields', site: @site, f: f

    .actions.center
      = f.submit 'Next', class: 'submit green_button', id: 'site_submit'
