= title_and_content_header("New site creation")

= form_for @site, :html => { :class => "main_form" } do |f|
  
  %h3 Site settings
  = render 'settings', :f => f
  
  %h3 Choose a plan
  = render 'plans', :f => f
  
  %h3 Choose addons
  = render 'addons', :f => f
  
  - if !current_user.cc? || current_user.cc_expired?
    %h3 Credit card
    - if current_user.cc_expired?
      %p.warning Your credit card is expired. Please update it.
    
    - @user ||= @site.user
    = f.fields_for :user_attributes, @user do |ff|
      = render 'credit_cards/form', :f => ff
      
  .actions
    = f.submit 'Add', :class => "add"
