= content_for :head do
  = stylesheet_link_tag 'stats'

= title_and_content_header("Stats for #{@site.hostname || @site.token}")

:coffeescript
  $ ->
    # Enable pusher logging - don't include this in production
    # Pusher.log = (message) ->
    #   window.console.log(message) if (window.console && window.console.log)
    # Flash fallback logging - don't include this in production
    # WEB_SOCKET_DEBUG = true

    window.MSVStats.pusher = new Pusher('#{PusherConfig.key}', encrypted: true)
    window.MSVStats.sites = new MSVStats.Collections.Sites(#{current_user.sites.order(:hostname).to_backbone_json})
    window.MSVStats.sites.select('#{@site.token}')
    window.MSVStats.statsRouter = new MSVStats.Routers.StatsRouter()
    Backbone.history.start({ pushState: true })

#sites_select

#trial

#period_selectors
  %ul
    %li
      .days365
    %li
      .days30
    %li
      .hours
    %li
      .minutes
    %li
      .seconds

.spacer

%h3#dates_range_title
#date_pickers

#vv
  #vv_content
    #vv_chart
    #vv_chart_legend

.spacer

#bp
  %h3 Browser + OS
  #bp_content

#md
  %h3 HTML5 vs Flash
  #md_content
    #md_legend
    #md_pie_chart

.spacer

#plan_usage

%p Days period are in UTC