= title_and_content_header("Stats for #{@site.hostname || @site.token}")

:coffeescript
  $ ->
    # Enable pusher logging - don't include this in production
    # Pusher.log = (message) ->
    # window.console.log(message) if (window.console && window.console.log)
    # Flash fallback logging - don't include this in production
    # WEB_SOCKET_DEBUG = true

    window.MSVStats.pusher = new Pusher('#{PusherConfig.key}', encrypted: true)
    window.MSVStats.sites = new MSVStats.Collections.Sites(#{current_user.sites.to_json(only: [:token, :hostname])})
    window.MSVStats.sites.select('#{@site.token}')
    window.MSVStats.statsRouter = new MSVStats.Routers.StatsRouter()
    Backbone.history.start({ pushState: true })

#sites_select

#period_selectors
  %ul
    %li
      .custom
        %span.title ALL
    %li
      .days
        %span#period_days_vv_total.total
        #period_days_sparkline.sparkline
        %span.title 30 days
    %li
      .hours
        %span#period_hours_vv_total.total
        #period_hours_sparkline.sparkline
        %span.title 24 hours
    %li
      .minutes
        %span#period_minutes_vv_total.total
        #period_minutes_sparkline.sparkline
        %span.title 60 minutes

.spacer

#vv
  #vv_content
    #vv_chart
    #vv_chart_legend

.spacer

#bp
  %h3 Browser + OS
  #bp_content
    #bp_legend
    #bp_pie_chart

#md
  %h3 HTML5 vs Flash
  #md_content
    #md_legend
    #md_pie_chart

.spacer

#update_date
