= title_and_content_header("Stats for #{@site.hostname || @site.token}")

:coffeescript
  $ ->
    # Enable pusher logging - don't include this in production
    # Pusher.log = (message) ->
    # window.console.log(message) if (window.console && window.console.log)
    # Flash fallback logging - don't include this in production
    # WEB_SOCKET_DEBUG = true

    # Initialize spinners
    $('#vv').spin()
    $('#bp').spin()
    $('#md').spin()

    window.MSVStats.pusher = new Pusher('#{PusherConfig.key}', encrypted: true)
    window.MSVStats.sites = new MSVStats.Collections.Sites()
    window.MSVStats.sites.reset(#{current_user.sites.to_json(only: [:token, :hostname])})
    window.MSVStats.sites.select('#{@site.token}')
    window.MSVStats.period = new MSVStats.Models.Period()
    window.MSVStats.statsRouter = new MSVStats.Routers.StatsRouter()
    Backbone.history.start({ pushState: true })

#sites_select

#periods_select
#custom_dates_pickers
  #start_time
    From:
    #start_time_picker
  #end_time
    To:
    #end_time_picker

.spacer

#vv
  #vv_content
    #vv_numbers
    #vv_chart

#bp
  %h3 Browser + OS
  #bp_content
    #bp_legend
    #bp_pie_chart

#md
  %h3 HTML5 vs Flash
  #md_content
    #md_legend
    #md_pie_chart

.spacer

#update_date
