- invoices = object.invoices.order(:created_at.desc).limit(12).uniq

%h3 Last 12 invoices

%ul
  - invoices.each do |invoice|
    %li
      = link_to(invoice_dates(invoice), [:edit, :admin, invoice])
      = " / "
      = display_amount(invoice.amount)
      = " ( #{invoice.state} on "
      - case invoice.state
      - when 'paid'
        = l(invoice.paid_at, :format => :d_b_Y)
      - when 'failed'
        = l(invoice.last_failed_at, :format => :d_b_Y)
      - if invoice.refunded?
        = ", refunded on #{l(invoice.site.refunded_at, :format => :d_b_Y)}"
      = ")"