- invoices = object.invoices.order(:created_at.desc).limit(12).uniq

%h3 Last 12 invoices

%ul
  - invoices.each do |invoice|
    %li
      = link_to(invoice_dates(invoice), [:edit, :admin, invoice])
      = " / "
      = display_amount(invoice.amount)
      = " (#{invoice.refunded? ? "refunded" : invoice.state})"