- invoices = object.invoices.order(:ended_at.desc).limit(12).uniq

%h3 Last 12 invoices

%table.crado.center
  %tr
    %th Month Year
    %th Amount
    %th Invoice Items
  - invoices.each do |invoice|
    %tr
      %td= link_to(invoice_dates(invoice), [:edit, :admin, invoice])
      %td= display_amount(invoice.amount)
      %td
        %ul
          - invoice_items_grouped_by_site(invoice, site_id: (object.respond_to?(:sites) ? object.site_ids : object.id)).each do |site, invoice_items|
            - plan_invoice_item    = get_plan_invoice_item(invoice_items)

            = link_to(site.hostname, [:edit, :admin, site])
            %p
              = "Plan - #{plan_invoice_item.item.name.humanize}:"
              = display_amount(plan_invoice_item.amount)
