- usages = get_usages_hash(object, last_30_days: true, from: range_start_date, to: range_end_date)

%h3 Usage

%table.crado
  %tr
    %th= "Total between #{l(from, format: :Y_m_d)} and #{l(to, format: :Y_m_d)}"
    %th Total of the last 30 days
    %th Total of all time
  %tr
    - %w[range last_30_days total].each do |key|
      - usage = usages[key.to_sym]
      %td{ style: "text-align:left;" }
        %table
          %tr
            %td= "Player hits: "
            %td
              %strong= number_with_delimiter(usage[:player_hits])
              = "(incl. #{number_with_delimiter(usage[:main_player_hits_cached] + usage[:extra_player_hits_cached] + usage[:dev_player_hits_cached] + usage[:invalid_player_hits_cached])} cached)"
            - %w[main_player_hits extra_player_hits dev_player_hits invalid_player_hits].each do |player_hits_type|
              %tr
                %td= "#{player_hits_type.humanize}: "
                %td
                  = number_with_delimiter(usage[player_hits_type.to_sym] + usage[:"#{player_hits_type}_cached"])
                  = "(incl. #{number_with_delimiter(usage[:"#{player_hits_type}_cached"])} cached)"
          %tr
            %td= "Flash hits: "
            %td= number_with_delimiter(usage[:flash_hits])
          %tr
            %td= "Loader hits: "
            %td= number_with_delimiter(usage[:loader_hits])
          %tr
            %td= "S3 requests: "
            %td= number_with_delimiter(usage[:requests_s3])
          %tr
            %td= "S3 traffic: "
            %td= number_to_human_size(usage[:traffic_s3], significant: false, precision: 2)
          %tr
            %td= "Voxcast traffic: "
            %td= number_to_human_size(usage[:traffic_voxcast], significant: false, precision: 2)
