.main_table_wrap
  %table.main
    %col
    %col.usage
    %col
    %col.odd
    %tr
      %th.video
        .wrap
          %strong
            Video
            = image_tag "small_spinner.gif", class: "spinner", id: "table_spinner", style: "display:none"
          - unless @video_tags.one?
            .sorting
              = link_to_sort :date, default_way: 'desc', default: true, label: "latest"
              = link_to_sort :title
      %th.usage
        .wrap
          - if @video_tags.one?
            Plays (Last 30 Days)
          - else
            .sorting= link_to_sort :last_30_days_starts, default_way: 'desc', label: "Plays (Last 30 Days)"
      %th.code
        .wrap= 'Embed code'
      %th.status
        .wrap= 'Status'
    - if @video_tags.present?
      = render @video_tags
    - else
      %tr
        %td.video_tag{ colspan: 4 } No videos

.pagination_wrap
  = paginate @video_tags
  = page_entries_info @video_tags
