%tr{ id: dom_id(video_tag), data: { video_tag_uid: video_tag.uid }, class: cycle('', 'alt') }
  - cache [video_tag, last_starts_days] do
    - cache [video_tag, 'info'] do
      %td.video_tag
        .wrap
          .poster
            = video_tag_thumbnail(video_tag, size: '84x47')
            .duration= duration_string(video_tag.duration)
          .title
            - if video_tag.title?
              = truncate(video_tag.title, length: 30)
            - else
              = tooltip_box href: docs_url('settings/player-settings#title'), class: 'warning' do
                %span.p= t('video_tag.title.not_present')
              = 'Untitled Video'
          .hosted_on
            = "Hosted on"
            %em= truncate(video_tag.hosted_by, length: 39) || 'unknown domain'
          .uid
            uid:
            %strong= video_tag.uid
    - cache [video_tag, last_starts_days, 'td_stats'] do
      = render 'td_stats', site: @site, video_tag: video_tag
    - cache [video_tag, 'code_and_status'] do
      %td.code
        .wrap
          = link_to "Video code", edit_site_video_code_path(@site, video_tag), class: 'embed_code'
      = render 'td_status', site: @site, video_tag: video_tag
