%tr{ id: dom_id(video_tag), data: { video_tag_uid: video_tag.uid }, class: cycle('', 'alt') }
  %td.video_tag
    .wrap
      .duration= duration_string(video_tag.duration)
      - if video_tag.poster_url?
        .thumbnail= proxied_image_tag(video_tag.poster_url, size: '60x40')
      - else
        .thumbnail= 'default img'
      .name= video_tag.title
      .uid= video_tag.uid
      .date= video_tag.created_at
  %td.usage
    .wrap
      -#= render 'td_usage', site: site
  %td.code
    .wrap
      = link_to "Video code", site_video_code_path(@site, video_tag), class: 'embed_code'

  %td.status
    .wrap
      - if video_tag.sources.any? { |source| source[:issues].include?('not-found') }
        = tooltip_box href: site_invoices_path(@site), class: 'source_not_found' do
          %span.p= t 'video_tag.status.not-found'
      - elsif video_tag.sources.any? { |source| source[:issues].include?('content-type-error') }
        = tooltip_box href: site_invoices_path(@site), class: 'wrong_content_type' do
          %span.p= raw t('video_tag.status.content-type-error', href: docs_url('troubleshooting#videos-wont-play'))
      - else
        .completed
          = tooltip_box class: 'ok' do
            %span.p= t 'video_tag.status.ok'
