%tr{ id: dom_id(video_tag), data: { video_tag_uid: video_tag.uid }, class: cycle('', 'alt') }
  %td.video_tag
    .wrap
      .duration= duration_string(video_tag.duration)
      .thumbnail= playable_lightbox(video_tag, size: '96x54')
      .name= video_tag.name
  %td.usage
    .wrap
      -#= render 'td_usage', site: site
  %td.code
    .wrap
      = link_to "Video code", site_video_code_path(@site, video_tag), class: 'embed_code'
  %td.status
    .wrap
      = tooltip_box class: "in_progress" do
        %span.p= t 'video_tag.status.in_progress'
      .completed{ style: "display:none;" }
        = tooltip_box class: "ok" do
          %span.p= t 'video_tag.status.ok'
