.main_table_wrap
  %table.main
    - cache [params.except(:search, :utf8, :site_id), @video_tags.count] do
      %col
      %col.stats
      %col
      %col.odd
      %tr
        %th.video
          .wrap
            %strong
              Video
              = image_tag "small_spinner.gif", class: "spinner", id: "table_spinner", style: "display:none"
            - unless @video_tags.one?
              .sorting
                = link_to_sort :date, default_way: 'desc', default: true, label: "latest"
                = link_to_sort :title
        %th.stats
          .wrap
            - days = last_starts_days
            - title = "Plays (Last #{days} Days)"
            - if @video_tags.one?
              = title
            - else
              .sorting= link_to_sort "last_days_starts", default_way: 'desc', label: title
        %th.code
          .wrap= 'Embed code'
        %th.status
          .wrap= 'Status'
    - if @video_tags.present?
      = render @video_tags
    - else
      %tr
        %td.no_video_tag{ colspan: 4 } No videos

.pagination_wrap
  = paginate @video_tags
  = page_entries_info @video_tags
