= page_title "Embeds"

:textile
  SublimeVideo embeds allow your audience to easily share your videos by embedding them into their own sites or elsewhere on the web.

  In order for this to work, you need to create an HTML page for every video you'd like to be able to embed, and you need to host this page on one of your registered domains on #{link_to "MySublimeVideo", sites_url(subdomain: 'my')}.

  The final snippet of code that your audience will share is an @<iframe>@ element pointing to that HTML page (a.k.a the _&lt;iframe&gt; content_).

  h3(#iframe-content). "The &lt;iframe&gt; content":#iframe-content

:coderay
  #{coderay_options(:html)}
  <!DOCTYPE html>
  <html>
  <head>
    <title></title>
    <script type="text/javascript" src="http://cdn.sublimevideo.net/js/YOUR_TOKEN.js"></script>
  </head>
  <body>
    <video style="display:none" class="sublime sv_iframe_embed" poster="poster.jpg" preload="none">
      <source src="http://yoursite.com/video.mp4" />
      <source src="http://yoursite.com/video.webm" />
    </video>
  </body>

:textile
  Important information:
  * Replace _YOUR_TOKEN_ with your actual site's token (you can find it in the #{link_to content_tag(:em, '"My sites"'), sites_url(subdomain: 'my')} page after clicking the "embed code" button).
  * %(red)Add the _"sv_iframe_embed"_ @class@ to your @<video>@ element and *omit its @width@ and @height@ attributes*.%
  * @style="display:none"@ is optional, but we recommend it to prevent UI flickering when the iframe is first loaded.
  * Host this file on a domain that is registered on #{link_to "MySublimeVideo", sites_url(subdomain: 'my')}. For instance, if your registered domain is _yourdomain.com_, you could save this page at _http://yourdomain.com/embeds/video1.html_.

  h3(#embed-code). "The embed code":#embed-code

  Here is the sharable snippet of code that your audience can copy and paste into another site.

  <div class="code">

  <pre>
  <iframe src="http://yourdomain.com/embeds/video1.html" width="400" height="168" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
  </pre>

  </div>

:textile
  * Replace _http://yourdomain.com/embeds/video1.html_ with the actual address of your HTML page.
  * Set the @width@ and @height@ attributes according to your actual video dimensions.
  * Leave the other attributes as they are (@frameborder@, @allowfullscreen@, @webkitallowfullscreen@ and @mozallowfullscreen@).
