= content_for :title, "Optimize video elements for stats"
= content_tag :h2, "Optimize <video> elements for stats"

:textile
  Our "real-time statistics":/real-time-stats feature offers a comprehensive picture of your site's video traffic for all #{link_to "Paid plans", page_url('plans', host: request.domain)}.

  You can access the individual statistics page for each of your sites via the "View Stats" button on #{link_to "this page", sites_url(subdomain: 'my')}.

  By default, there is nothing to set up in order to start viewing your video statistics. However, if you think your @<source />@ elements might change in future or if you’d like to customize the name of the videos that are shown in your statistics page, you should read the following sections.

  h4. The _data-uid_ attribute

  Although the default behavior should be totally fine if you never modify your @<source />@ elements, this will cause a problem if you do.
  In fact, the @<source />@ modification will make the video appear as a new video in your statistics page since we use the first @<source />@ to track a video.

  To avoid this, you can set a unique id to your @<video>@ element by adding a @data-uid@ attribute to it. Your video will then be identified by this unique id instead of by its first @<source />@. Here is an example:

:coderay
  #{coderay_options(:html)}
  <video class="sublime" poster="some-great-landscapes.jpg" data-uid="landscape1">
    <source src="http://yoursite.com/some-great-landscapes.mp4" />
    <source src="http://yoursite.com/some-great-landscapes.webm" />
  </video>

:textile
  Although this id can be any string, we recommend that you use small strings (between 4 and 20 characters, probably depending on the number of videos you have).

  Note that if you plan to use video statistics extensively, we recommend that you always set the @data-uid@ attribute to all of your @<video>@ elements.

  h4. The _data-name_ attribute

  By default, we will generate a name based on the first @<source />@'s @src@ value to display your video in the statistics page

  For instance, if you have a @video@ element like the following:

:coderay
  #{coderay_options(:html)}
  <video class="sublime" poster="some-great-landscapes.jpg">
    <source src="http://yoursite.com/some-great-landscapes.mp4" />
    <source src="http://yoursite.com/some-great-landscapes.webm" />
  </video>

:textile
  Your video will appear (along with a small thumbnail of its poster frame) with the name _"Some great landscapes"_.

  However if you'd like to customize the title that appears in your statistics page, you can then add a @data-name@ attribute to your @<video>@. The attribute content will replace the default title we use in your statistics page.

  *Note*: You can update the @data-name@ as often as you’d like. Such changes will be reflected in the statistics page in near real-time.
