= page_title "Paid Plan Migration Information for Existing Customers"

:textile
  Existing customers of our paid plans may be wondering how the introduction of the new plans affects them.

  Don't worry - you've been automatically upgraded to the corresponding new plan.

  Below are the full migration details for each plan:

  h4. Users of the free, LaunchPad plan

  Your account has been upgraded to the new free and unlimited plan.

  h4. Customers of the $9.90/$99 Comet plan & Customers of the $19.90 Planet plan

  Your account has been upgraded to the new #{link_to "Plus plan", page_url('plans', subdomain: 'www')}.

  h4. Customers of the $199/year Planet plan

  Your site plan has been upgraded to the new #{link_to "Plus plan", page_url('plans', subdomain: 'www')}. You've been credited with $100 balance to use towards your next year of service, or when registering a new plan(s).

  h4. Customers of the $49.50/$499 Star plan & Customers of the $99 Galaxy plan

  Your account has been upgraded to the new #{link_to "Premium plan", page_url('plans', subdomain: 'www')}.

  h4. Customers of the $999/year Galaxy plan

  Your site plan has been upgraded to the new #{link_to "Premium plan", page_url('plans', subdomain: 'www')}. You've been credited with $500 balance to use towards your next year of service, or when registering a new plan(s).
