= page_title "Paid Plan Migration Information for Existing Customers"

:textile
  Existing customers of our paid plans may be wondering how the introduction of the new plans affects them.

  Don't worry - you've been automatically upgraded to the corresponding new plan.

  Not only do the new plans include more views, but we've also switched the metric used to measure your usage from _Video Pageviews_ (counted every time the page containing your video loads) to _Video Plays_ (*counted only when playback of your video starts*).

  Below are the full migration details for each plan:

  h4. Users of the free, LaunchPad plan

  Your site plan has been upgraded to the new #{link_to "Free and unlimited plan", page_url('plans', host: request.domain)}. This allows you an unlimited monthly allowance of video plays.

  Most importantly, the player is no longer limited to local domains - you can now use SublimeVideo on any site in production.

  h4. Customers of the $9.90/month or $99/year Comet plan

  Your site plan has been upgraded to the new #{link_to "Plus plan", page_url('plans', host: request.domain)}. Your previous Comet plan's allowance was *3,000* _video page views per month_. Your new allowance is *200,000* _video plays per month_.

  h4. Customers of the $19.90/month Planet plan

  Your site plan has been upgraded to the new #{link_to "Plus plan", page_url('plans', host: request.domain)}. Your previous Planet plan's allowance was *50,000* _video page views_ per month. Your new allowance is *200,000* _video plays per month_.

  h4. Customers of the $199/year Planet plan

  Your site plan has been upgraded to the new #{link_to "Plus plan", page_url('plans', host: request.domain)}. Your previous Planet plan's allowance was *50,000* _video page views per month_. Your new allowance is *200,000* _video plays per month_.

  You've been credited with $100 balance to use towards your next year of service, or when registering a new plan(s).

  h4. Customers of the $49.50/month or $499/year Star plan

  Your site has been upgraded to the new #{link_to "Premium plan", page_url('plans', host: request.domain)}. Your previous Star plan's allowance was *200,000* _video page views per month_. Your new allowance is *1,000,000* _video plays per month_.

  h4. Customers of the $99/month Galaxy plan

  Your account has been upgraded to the new #{link_to "Premium plan", page_url('plans', host: request.domain)}. Your previous Galaxy plan's allowance was *1,000,000* _video page views per month_. Your new allowance is *1,000,000* _video plays per month_.

  h4. Customers of the $999/year Galaxy plan

  Your account has been upgraded to the new #{link_to "Premium plan", page_url('plans', host: request.domain)}. Your previous Galaxy plan's allowance was *1,000,000* _video page views per month_. Your new allowance is *1,000,000* _video plays per month_.

  You've been credited with $500 balance to use towards your next year of service, or when registering a new plan(s).
