= page_title "SSL Serving"

:textile
  SSL Serving of the SublimeVideo Player is included with all paid plans.

  In order to use SublimeVideo on a secure page (https://), you need to check the #{content_tag(:em, '"Deliver with SSL for secure pages"')} checkbox in the #{link_to content_tag(:em, '"My sites"'), sites_url(subdomain: 'my')} page after clicking the "embed code" button.

  h3(#mixed-serving). "Mixed serving":#mixed-serving

  If your site includes both secure (https://) and non-secure (http://) pages, you can also use the following script. This will load the right version of SublimeVideo depending on the page's current security level:

:coderay
  #{coderay_options(:javascript)}
  <script type="text/javascript">
    document.write(unescape("%3Cscript src='" + (("https:" == document.location.protocol) ? "https://4076.voxcdn.com" : "http://cdn.sublimevideo.net") + "/js/YOUR_TOKEN.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

:textile
  All you have to do is replace _YOUR_TOKEN_ with your actual site's token (you can find it in the #{link_to content_tag(:em, '"My sites"'), sites_url(subdomain: 'my')} page after clicking the "embed code" button).
