= content_for :head_before, javascript_include_tag("http://cdn.sublimevideo.net/js/#{SiteToken.docs}.js")

= page_title "WordPress plugin"

:textile
  This plugin allows you to easily integrate SublimeVideo with your WordPress site. It automatically connects to your #{link_to "SublimeVideo", sites_url(subdomain: 'my'), onclick: 'window.open(this); return false'} account, gathers the necessary license information and provide an easy-to-use visual editor that will help you generate "shortcodes":#shortcodes for your videos.

  Check out the short demo video below to see just how easy it is to use.

<div class="video_wrap"><video class="sublime" width="640" height="360" poster="http://media.jilion.com/videos/SublimeVideo-WP-Plugin-Demo.jpg" preload="none" data-uid="wordpress" data-name="WordPress">
<source src="http://media.jilion.com/videos/SublimeVideo-WP-Plugin-Demo.mp4" />
<source src="http://media.jilion.com/videos/SublimeVideo-WP-Plugin-Demo-mobile.mp4" />
</video></div>

:textile
  h3(#installation). "Installation and set up":#installation

  # Download the plugin from the "WordPress Plugin Directory":http://wordpress.org/extend/plugins/sublimevideo-official and upload the @sublimevideo-official@ folder to the @/wp-content/plugins/@ directory. Alternatively, you can install the plugin via the _Install Plugins_ section in your WordPress admin area.
  # Activate the plugin through the 'Plugins' menu item in your WordPress admin area.
  # Go to the SublimeVideo plugin settings page and authorize the plugin to access some of your SublimeVideo data. You will be redirected to the SublimeVideo site to complete the authorization process.
  # Once the authorization is complete, you will see your SublimeVideo sites listed in a drop-down menu in the plugin settings page; you'll have to choose the one matching the domain of your WordPress site. If you only have one site registered in your SublimeVideo account, it'll be selected automatically.
  # In the plugin settings page you can also set the default width for all the videos you will embed.
  # Go to the post editor, you should see the new #{image_tag('docs/wordpress/sv_toolbar_icon.png', class: 'icon', title: 'SV')} button next to the media icons (image, video, audio, etc) – the plugin's installation is now complete. If you don't see it, please refer to the "Troubleshooting":#troubleshooting section below.

  h3(#usage). "Usage":#usage

  Go to your WordPress Media Library and upload some video files and poster images (if your assets are hosted externally, you can skip this step).
  Click the #{image_tag('docs/wordpress/sv_toolbar_icon.png', class: 'icon', title: 'SV')} button to access the "Add SublimeVideo" pop-up panel. It is composed of 3 sections: "Poster frame":#poster-frame, "Video sources":#video-sources and "Live preview":#live-preview (initially hidden).
  _Please note that it's currently not possible to upload media directly from this popup._

  h4(#poster-frame). Poster frame

  #{image_tag('docs/wordpress/poster_frame.png', class: 'screenshot', title: 'Poster frame')}
  _The SublimeVideo WordPress plugin's poster frame browser._

  Images in the browser are ordered decreasingly by date of upload. Simply click an image to choose it as the poster frame.

  If your poster frame is stored on an external server, you can click the "Or use an external URL" link to directly enter the URL of your poster frame.

  h4(#video-sources). Video sources

  #{image_tag('docs/wordpress/video_sources.png', class: 'screenshot', title: 'Video sources')}

  Learn more about video formats and encoding "on this page":/encode-videos-for-the-web.

  You must provide at least one MP4 source. Learn why "here":/write-proper-video-elements.

  You can change your video size, but we recommend always leaving "Keep original ratio" checked to avoid seeing black "letterbox" bars on the top and bottom (or sides) of your video.

  You can also add a mobile-specific version (with a lower resolution/bitrate than your primary MP4 source) by checking "Add a mobile version" and selecting a video file.

  If your video files are stored on an external server, you can click the "Or use an external URL" link to directly enter the URL of a video file.

  h4(#live-preview). Live preview

  The live preview section will appear once you've chosen at least one video source file and is updated each time you make a change (to either the poster frame, video source files or video size).

  h4. Add the video to your post

  When you're satisfied with the result, click the "Add to my post" button. This will generate and insert a "shortcode":http://codex.wordpress.org/Shortcode into your post.
  If you want to modify this shortcode, please see the next section.

  h3(#shortcodes). "Shortcodes":#shortcodes

  A basic generated "shortcode":http://codex.wordpress.org/Shortcode looks like this:

  @[sublimevideo poster="video-poster.jpg" src1="video.mp4" src2="video.ogv" width="640" height="360"]@

  If you want to use the lightbox feature, you can modify this shortcode a bit to make it look like this:

  @[sublimevideo-zoom poster="video-poster.jpg" src1="video.mp4" src2="video.ogv" width="640" height="360"]thumbnail or text[/sublimevideo-zoom]@

  h4. Poster frame

  Usage: @poster="http://yoursite.com/your_video_image.jpg"@

  We recommend using a poster frame with dimensions proportional to the @width@ x @height@ attributes present in the shortcode.

  h4. Sources

  Usage: @src1="http://yoursite.com/video.mp4" src2="http://yoursite.com/video.webm"@

  You can add as many sources as you want with the @srcN@ attribute (as long as @N@ is an integer). Sources are ordered by their @N@ (i.e. @src1@ before @src2@, @src2@ before @src3@ etc...).

  h4. HD sources

  Usage: @src1="http://yoursite.com/video.mp4" src2="(hd)http://yoursite.com/video_hd.mp4" src3="http://yoursite.com/video.webm" src4="(hd)http://yoursite.com/video_hd.webm"@

  You can define a source to be HD by adding @(hd)@ just before the URL. In the example above, "http://yoursite.com/video_hd.mp4" would be the HD version of "http://yoursite.com/video.mp4" and "http://yoursite.com/video_hd.webm" would be the HD version of "http://yoursite.com/video.webm". Learn more about "HD Switching":/hd-switching.

  h4. Preload

  Usage: @preload="none|metadata|auto"@ (defaults to "none")

  Setting @preload@ to "none" will save you bandwidth by preventing preloading (buffering) of the video upon page load.

  h4. Statistics-related attributes

  The following attributes are useful if you're using the "SublimeVideo statistics feature":/optimize-for-stats.

  Usage: @data_uid="unique_id"@ and @data_name="A nice name here"@

  @data_uid@ maps directly to the @data-uid@ attribute while @data_name@ maps to the @data-name@ attribute. To learn more about the @data-uid@ and @data-name@ attributes, please consult our "Optimize &lt;video&gt; elements for stats":/optimize-for-stats page.

  h4. Autoplay

  Usage: @autoplay@ (without value)

  Please note that only the first video with the @autoplay@ attribute will actually autoplay upon page load. SublimeVideo currently doesn't allow multiple videos to play simultaneously.

  h4. Loop

  Usage: @loop@ (without value)

  h4. DOM id

  Usage: @id="a_unique_id"@

  h4. CSS classes

  Usage: @class="sublime another_class"@

  By default, the _"sublime"_ @class@ is used but you can add more classes (space-separated) by setting the @class@ attribute. If you do so, be sure to add the _"sublime"_ @class@ manually since defining @class@ overwrite the default. Or, you can even remove the _"sublime"_ @class@ entirely with @class=""@ if you prefer to use the "JavaScript API":/javascript-api/usage to prepare your @<video>@ elements.

  h4. CSS style

  Usage: @style="display:none;"@

  h3(#troubleshooting). "Troubleshooting":#troubleshooting

  h4. I don't see any sites in the settings page, why?

  It's probably because your WordPress site's domain is not properly registered in your #{link_to "SublimeVideo", sites_url(subdomain: 'my')} account. Please find the possible reasons why in the "Troubleshooting":/troubleshooting#not-properly-registered page.

  h3(#changelog). "Changelog":#changelog

  h4. 1.2.1

  * Fix issue that prevented the HD switch from being displayed in the live preview.
  * Added support for "style" attribute in shortcode.

  h4. 1.2.0

  * Fix issue with SSL certificate verification.
  * Ignore the port if any.
  * Support @data_uid@ and @data_name@ attributes (mapping to @data-uid@ and @data-name@ HTML attribute). See "here":/optimize-for-stats for details.
  * Support HD sources. See "here":/hd-switching for details.

  h4. 1.1.0

  * Update for the new API endpoint which is https://api.sublimevideo.net.

  h4. 1.0.0

  * Initial release
