- loader_hits = SiteUsage.between(range_start_date, range_end_date).sum(:loader_hits).to_i
- player_hits = SiteUsage.between(range_start_date, range_end_date).sum(:player_hits).to_i
- traffic     = SiteUsage.between(range_start_date, range_end_date).sum(:traffic_s3).to_i + SiteUsage.between(range_start_date, range_end_date).sum(:traffic_voxcast).to_i

%h4 Loader hits
%p.summary= number_to_human(loader_hits, significant: false, precision: 3, delimiter: "'")

%h4 Player hits
%p.summary= number_to_human(player_hits, significant: false, precision: 3, delimiter: "'")

%h4 Traffic
%p.summary= number_to_human_size(traffic, significant: false, precision: 2)

- if player_hits > 0 && flash_hits = SiteUsage.between(range_start_date, range_end_date).sum(:flash_hits).to_i
  %h4 Flash
  %p.summary= display_percentage(flash_hits / player_hits.to_f)

  %h4 Loader/Player
  %p.summary= number_with_precision(BigDecimal.new((loader_hits / player_hits.to_f).to_s, 2), significant: false, precision: 2, delimiter: "'")

  %h4 Traffic/Player
  %p.summary= number_to_human_size(traffic / player_hits.to_f, significant: false, precision: 2)
