= title_and_content_header("Stats")

= render '/admin/shared/date_chooser'

%br.spacer
= render :partial => '/admin/stats/all/usage_per_day'

%br.spacer
= render :partial => '/admin/stats/all/videos_served'

%br.spacer
= render :partial => '/admin/stats/all/employees'

%br.spacer
= render :partial => '/admin/stats/all/countries'
