= title_and_content_header("More stats!")

= render '/admin/shared/date_chooser'

- if has_role?('invoices')
  %h2.revenue= "Total revenue: #{display_amount(Invoice.total_revenue)}"
  %h3.revenue= "Date range revenue: #{display_amount(Invoice.between(range_start_date, range_end_date).total_revenue)}"

- not_archived_sites = Site.not_archived.count
- free_sites         = Site.active.in_plan('free').count
- sponsored_sites    = Site.active.in_plan('sponsored').count
- plus_sites         = Site.active.in_plan('plus').count
- premium_sites      = Site.active.in_plan('premium').count
- custom_sites       = Site.active.custom_plan.count

- total_users       = User.active.count
- today_signups     = User.active.where { (created_at >= Time.now.utc.midnight) & (created_at < Time.now.utc.tomorrow.midnight) }
- yesterday_signups = User.active.where { (created_at >= Time.now.utc.yesterday.midnight) & (created_at < Time.now.utc.midnight) }
- paying_users      = User.paying.count
- free_users        = User.free.count

- top_10_countries = User.select("billing_country, COUNT(billing_country) as billing_country_count").where(id: User.select("DISTINCT(users.id)").paying.map(&:id)).group(:billing_country).order("billing_country_count DESC").map { |u| [u.billing_country, u.billing_country_count.to_i] }

%table
  %tr
    %td{ style: "width:400px; border:solid 0px" }
      %table{ style: "float:left; border:solid 1px" }
        %tr
          %th{ colspan: 3 }
            %h3 Sites
        %tr{ style: 'border:solid 1px' }
          %td Free
          %td= free_sites
          %td= display_percentage(free_sites.to_f / not_archived_sites)
        %tr{ style: 'border:solid 1px' }
          %td Sponsored
          %td= sponsored_sites
          %td= display_percentage(sponsored_sites.to_f / not_archived_sites)
        %tr{ style: 'border:solid 1px' }
          %td Plus
          %td= plus_sites
          %td= display_percentage(plus_sites.to_f / not_archived_sites)
        %tr{ style: 'border:solid 1px' }
          %td Premium
          %td= premium_sites
          %td= display_percentage(premium_sites.to_f / not_archived_sites)
        %tr{ style: 'border:solid 1px' }
          %td Custom
          %td= custom_sites
          %td= display_percentage(custom_sites.to_f / not_archived_sites)

      %table{ style: "float:left; border:solid 1px" }
        %tr
          %th{ colspan: 3 }
            %h3 Users
        %tr{ style: 'border:solid 1px' }
          %td New yesterday
          %td= yesterday_signups.count
          %td= "-"
        %tr{ style: 'border:solid 1px' }
          %td New today
          %td= today_signups.count
          - variation = today_signups.count.to_f / yesterday_signups.count
          %td= (variation < 0 ? "-" : "+") + " #{display_percentage(today_signups.count.to_f / total_users)}"
        %tr{ style: 'border:solid 1px' }
          %td
            %strong Free users
          %td
            %strong= free_users
          %td
            %strong= display_percentage(free_users.to_f / total_users)
        %tr{ style: 'border:solid 1px' }
          %td
            %strong Paying users
          %td
            %strong= paying_users
          %td
            %strong= display_percentage(paying_users.to_f / total_users)
        %tr{ style: 'border:solid 1px' }
          %td
            %strong Total
          %td
            %strong= total_users
          %td
            %strong= display_percentage(total_users.to_f / total_users)
      %table{ style: "float:left; border:solid 1px" }
        %tr
          %th{ colspan: 2 }
            %h3 Traffic (New metric)
          %th{ colspan: 2 }
            %h3 Traffic (Old metric)
        %tr{ style: 'border:solid 1px' }
          %td Last 30 days
          %td= "#{number_with_delimiter(@last_30_days_video_views, significant: false, precision: 2, delimiter: "'")} plays"
          %td Last 30 days
          %td= "#{number_with_delimiter(@last_30_days_video_pageviews, significant: false, precision: 2, delimiter: "'")} video pv"
        %tr{ style: 'border:solid 1px' }
          %td Last 30 days avg/day
          %td= "#{number_with_delimiter(@last_30_days_video_views / 30, significant: false, precision: 2, delimiter: "'")} plays"
          %td Last 30 days avg/day
          %td= "#{number_with_delimiter(@last_30_days_video_pageviews / 30, significant: false, precision: 2, delimiter: "'")} video pv"
        %tr{ style: 'border:solid 1px' }
          %td
            %strong All time
          %td
            %strong= "#{number_with_delimiter(@total_video_views, significant: false, precision: 2, delimiter: "'")} plays"
          %td
            %strong All time
          %td
            %strong= "#{number_with_delimiter(@total_video_pageviews, significant: false, precision: 2, delimiter: "'")} video pv"

    %td{ style: "width:350px; border:solid 0px" }
      %table{ style: "float:left; border:solid 1px" }
        %tr
          %th{ colspan: 3 }
            %h3 Customers
        - total_top_ten = 0
        - (0...[top_10_countries.size, 10].min).each do |i|
          - total_top_ten += top_10_countries[i][1]
          %tr{ style: 'border:solid 1px' }
            %td= Country[top_10_countries[i][0]].name
            %td= top_10_countries[i][1]
            %td= display_percentage(top_10_countries[i][1].to_f / paying_users)
        %tr{ style: 'border:solid 1px' }
          %td= "Rest of the world"
          - rest = paying_users - total_top_ten
          %td= rest
          %td= display_percentage(rest.to_f / paying_users)
        %tr{ style: 'border:solid 1px' }
          %td
            %strong Total
          %td
            %strong= paying_users
          %td
            %strong= display_percentage(paying_users.to_f / paying_users)

-#- cache "users_timeline_#{range_start_date.to_i}_#{range_end_date.to_i}", expires_in: (Time.now.utc.end_of_day - Time.now.utc) do
-#  = render 'admin/users/timeline'

%br.spacer
