<p>Your <%= @trial_plan.name.titleize %> plan's <%= BusinessModel.days_for_trial %>-day free trial for <%= @site.hostname %> <strong>has now expired</strong>.</p>

<p>Because you didn't provide valid credit card details, your <%= @trial_plan.name.titleize %> plan has been <strong>downgraded</strong> to our Free plan. That means some features such as Real-Time Stats, Unbranded Player, Email Support and SSL are no longer active.</p>

<p>You can <strong>upgrade</strong> to our Plus or Premium plans at any time via the following link:</p>

<p><%= link_to(edit_site_plan_url(@site, protocol: 'https', subdomain: 'my'), edit_site_plan_url(@site, protocol: 'https', subdomain: 'my')) %></p>

<p>Thanks,</p>