<p>Thank you for taking the time to evaluate SublimeVideo! We hope you're enjoying your trial.</p>

<% end_date = case @days_until_end
  when 1
    "today"
  when 2
    "tomorrow"
  else
    "in #{pluralize(@days_until_end, 'day')}"
  end %>
<p>We'd like to remind you that your <%= @site.plan.name.titleize %> plan's <%= BusinessModel.days_for_trial %>-day free trial for <%= @site.hostname %> <strong>expires <%= end_date %></strong> (on <%= l(@site.trial_end, format: :named_date) %>).</p>

<p>Please make sure to <strong>provide a valid credit card</strong> to continue enjoying all of your current plan's features such as Real-Time Stats, Unbranded Player, Email Support and SSL. You can do so via the following link:</p>

<p><%= link_to(edit_billing_url(protocol: 'https', subdomain: 'my'), edit_billing_url(protocol: 'https', subdomain: 'my')) %></p>

<p>If you do not provide a valid credit card your plan will be <strong>downgraded</strong> to our Free plan. Read more on our <%= link_to("plans and pricing", page_url('plans')) %> page.</p>

<p>If you run into any issues or need additional help you can check out our <%= link_to("help", page_url('help')) %> page.</p>

<p>Thanks again for continuing to evaluate SublimeVideo.</p>