= content_for :header, auto_discovery_link_tag(:atom, "http://feeds.feedburner.com/sublimevideo-releases")

= page_title "Release Notes"

%p= raw "Follow SublimeVideo release notes in your feed reader: #{link_to "Subscribe to the feed", "http://feeds.feedburner.com/sublimevideo-releases", title: "Atom feed"}."

#releases
  - @releases.each do |release|
    - id = release.datetime.strftime("%Y-%m-%d-%H-%M")
    %h4{ id: id }= link_to l(release.datetime, format: :long), "##{id}"
    = release.content