#header
  %h1
    = link_to admin_signed_in? ? sites_path : new_admin_session_path do
      = "#{"DEV" if Rails.env.development?} MySublimeVideo"
      %em= "Admin"
  - if admin_signed_in?
    -#.popup_menu
    -#  %h3= link_to "Menu", "", :onclick => "return false"
    -#  %ul
    -#    %li.users{ :class => ('active' if controller_name == 'users') }= link_to "Users", admin_users_path
    -#    %li.sites{ :class => ('active' if controller_name == 'sites') }= link_to "Sites", admin_sites_path
    -#    %li.delayed_jobs{ :class => ('active' if controller_name == 'delayed_jobs') }= link_to "Delayed Jobs", admin_delayed_jobs_path
    -#    %li.releases{ :class => ('active' if controller_name == 'releases') }= link_to "Player", admin_releases_path
    -#    %li.admins{ :class => ('active' if controller_name == 'admins') }= link_to "Admins", admin_admins_path
    %ul#favorite_links
      - [:sites, :users, [:releases, { :link_text => "Player" }], :delayed_jobs, :admins].each do |r|
        - name = r.is_a?(Array) ? r[0] : r
        - if (current_admin && current_admin.email == "zeno@jilion.com") || name != :releases || Rails.env.development?
          = activatable_menu_item(:li, name, (r.is_a?(Array) ? r[1] : {}).merge(:namespace => 'admin'))
        
  .right
    %ul.extra_links
      - if admin_signed_in?
        %li= link_to "Logout", destroy_admin_session_path
        = activatable_menu_item(:li, :registration, :link_text => current_admin.email, :namespace => %w[edit admin], :controller_name => "registrations", :class => 'user')
      - else
        = link_to "Login", new_admin_session_path, :class => "user"
  .spacer