%footer
  .wrap
    %nav
      .col
        %h4= "Product"
        %ul
          - if request.subdomain != 'my'
            %li= link_to "Home", root_url(subdomain: 'www')
          %li= link_to "Features", page_url('features', subdomain: 'www')
          %li= link_to "Demo", page_url('demo', subdomain: 'www')
          %li= link_to "Plans & Pricing", page_url('plans', subdomain: 'www')
          %li= link_to "My SublimeVideo", root_url(subdomain: 'my')
      .col
        %h4= "Community & Support"
        %ul
          %li= link_to "Customer Showcases", page_url('customer-showcases', subdomain: 'www')
          %li= link_to "Help", page_url('help', subdomain: request.subdomain == 'my' ?  'my' : 'www')
          %li= link_to "Documentation", root_url(subdomain: 'docs')
          %li= link_to "Community Forum", "http://getsatisfaction.com/sublimevideo"
          %li= link_to "Player Releases", docs_releases_url(subdomain: 'docs')
      .col
        %h4= "Stay Connected"
        %ul
          %li= link_to "Blog", page_url('blog', subdomain: 'www')
          %li= link_to "Twitter", ""
          %li= link_to "Contact us", page_url('contact', subdomain: 'www')
          %li= link_to "About", page_url('about', subdomain: 'www')
    .right
      %p
        = "SublimeVideo is a service by"
        = link_to "http://jilion.com", class: "jilion" do
          %span= "Jilion"
      %p.twitter
        = "Follow"
        = link_to "@sublimevideo", "http://twitter.com/sublimevideo"
        = "by"
        = link_to "@jilion", "http://twitter.com/jilion"
    .footer_break
    %p.copyright
      = link_to "Terms & Conditions", page_url('terms', subdomain: 'my')
      = "|" 
      = link_to "Privacy Policy", page_url('privacy', subdomain: 'my')
      = "| Copyright © #{Time.now.utc.year} Jilion® — SublimeVideo and Jilion are registered trademarks."