%footer
  .wrap
    %nav
      .col
        %h4= "Product"
        %ul
          %li= link_to "Home", root_url(host: request.domain)
          %li= link_to "Features", com_page_url('features', host: request.domain)
          %li= link_to "Demo", com_page_url('demo', host: request.domain)
          %li= link_to "Plans & Pricing", com_page_url('plans', host: request.domain)
          %li= link_to "My SublimeVideo", root_url(subdomain: 'my')
      .col
        %h4= "Community & Support"
        %ul
          %li= link_to "Customer Showcases", com_page_url('customer-showcases', host: request.domain)
          %li= link_to "Help", com_page_url('help', host: request.domain)
          %li= link_to "Documentation", root_url(subdomain: 'docs')
          %li= link_to "Community Forum", "http://getsatisfaction.com/sublimevideo"
          %li= link_to "Player Releases", docs_releases_url(subdomain: 'docs')
      .col
        %h4= "Stay Connected"
        %ul
          %li= link_to "Blog", com_page_url('blog', host: request.domain)
          %li= link_to "Twitter", ""
          %li= link_to "Contact us", com_page_url('contact', host: request.domain)
          %li= link_to "About", com_page_url('about', host: request.domain)
    .right
      %p
        = "SublimeVideo is a service by"
        = link_to "http://jilion.com", class: "jilion" do
          %span= "Jilion"
      %p.twitter
        = "Follow"
        = link_to "@sublimevideo", "http://twitter.com/sublimevideo"
        = "by"
        = link_to "@jilion", "http://twitter.com/jilion"
    .footer_break
    %p.copyright
      = link_to "Terms & Conditions", page_url('terms', subdomain: 'my')
      = "|" 
      = link_to "Privacy Policy", page_url('privacy', subdomain: 'my')
      = "| Copyright © #{Time.now.utc.year} Jilion® — SublimeVideo and Jilion are registered trademarks."