%footer
  .wrap
    %nav
      .col
        %h4= "Product"
        %ul
          %li= link_to "Home", root_url(host: request.domain, protocol: 'http')
          %li= link_to "Features", page_url('features', host: request.domain, protocol: 'http')
          %li= link_to "Demo", page_url('demo', host: request.domain, protocol: 'http')
          %li= link_to "Plans & Pricing", page_url('plans', host: request.domain, protocol: 'http')
          %li= link_to "Player Releases", docs_releases_url(subdomain: 'docs', protocol: 'http')
      .col
        %h4= "Community & Support"
        %ul
          %li= link_to "Customer Showcase", page_url('customer-showcase', host: request.domain, protocol: 'http')
          %li= link_to "Help", page_url('help', host: request.domain)
          %li= link_to "Documentation", root_url(subdomain: 'docs', protocol: 'http')
          %li= link_to "Community Forum", "http://getsatisfaction.com/sublimevideo", onclick: "window.open(this); return false"
      .col
        %h4= "Stay Connected"
        %ul
          %li= link_to "News", page_url('news', host: request.domain, protocol: 'http')
          %li= link_to "Blog", "http://blog.jilion.com/tags/sublimevideo", onclick: "window.open(this); return false"
          %li= link_to "Twitter", "http://twitter.com/jilion"
          %li= link_to "Contact", page_url('contact', host: request.domain, protocol: 'http')
          %li= link_to "About", page_url('about', host: request.domain, protocol: 'http')
    .right
      %p.twitter
        = "Follow"
        = link_to "@jilion", "http://twitter.com/jilion"
        = "for the latest news."
      .newsletter
        %form{ action: "http://jilion.createsend.com/t/r/s/shylrr/", method: "post", id: "subForm" }
          %p
            %label{ for: "shylrr-shylrr" }= "Subscribe for news & exclusive promotions"
          .field_wrap
            %input.field{ type: "text", name: "cm-shylrr-shylrr", id: "shylrr-shylrr", size: "25", placeholder: "Email" }
            %button{ type: "submit" }
              %span= "Subscribe"
      .networks
        %a{ href: "http://twitter.com/share", class: "twitter-share-button", data: { url: "http://sublimevideo.net", text: "Check out SublimeVideo HTML5 Video Player by @Jilion -", count: "horizontal", related: "jilion:Follow @Jilion for the latest news!" } } Tweet
        = javascript_include_tag "//platform.twitter.com/widgets.js"
        .g-plusone{ 'data-size' => "small", 'data-href' => "http://sublimevideo.net"}
        :javascript
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        %iframe{ src: "//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fsublimevideo&send=false&layout=button_count&width=130&show_faces=false&action=like&colorscheme=dark&font&height=21", scrolling: "no", frameborder: "0", style: "border:none; overflow:hidden; width:130px; height:21px;", allowTransparency: "true" }
      %p.service_by
        = "SublimeVideo is a service by"
        = link_to "http://jilion.com", class: "jilion" do
          %span= "Jilion"
    .footer_break
    %p.copyright
      = link_to "Terms & Conditions", page_url('terms', subdomain: 'my')
      = "|"
      = link_to "Privacy Policy", page_url('privacy', subdomain: 'my')
      = raw "| Copyright &copy; #{Time.now.utc.year} Jilion&reg; &mdash; SublimeVideo and Jilion are registered trademarks."
          