%footer
  .wrap
    %nav
      .col
        %h4= "Product"
        %ul
          %li= link_to "Home", root_url(subdomain: 'www')
          %li= link_to "Features", page_url('features', subdomain: 'www')
          %li= link_to "Demo", page_url('demo', subdomain: 'www')
          %li= link_to "Plans & Pricing", page_url('plans', subdomain: 'www')
          %li= link_to "Player Releases", docs_releases_url(subdomain: 'docs')
      .col
        %h4= "Community & Support"
        %ul
          %li= link_to "Customer Showcase", page_url('customer-showcase', subdomain: 'www')
          %li= link_to "Help", page_url('help', subdomain: request.subdomain == 'my' ?  'my' : 'www'), class: 'my_link'
          %li= link_to "Documentation", root_url(subdomain: 'docs')
          %li= link_to "Community Forum", "http://getsatisfaction.com/sublimevideo", onclick: "window.open(this); return false"
      .col
        %h4= "Stay Connected"
        %ul
          %li= link_to "Blog", "http://blog.jilion.com/tags/sublimevideo", onclick: "window.open(this); return false"
          %li= link_to "Twitter", "http://twitter.com/jilion"
          %li= link_to "Contact", page_url('contact', subdomain: 'www')
          %li= link_to "About", page_url('about', subdomain: 'www')
    .right
      %p
        = "SublimeVideo is a service by"
        = link_to "http://jilion.com", class: "jilion" do
          %span= "Jilion"
      %p.twitter
        = "Follow"
        = link_to "@jilion", "http://twitter.com/jilion"
        = "for the latest news."
    .footer_break
    %p.copyright
      = link_to "Terms & Conditions", page_url('terms', subdomain: 'my')
      = "|"
      = link_to "Privacy Policy", page_url('privacy', subdomain: 'my')
      = raw "| Copyright &copy; #{Time.now.utc.year} Jilion&reg; &mdash; SublimeVideo and Jilion are registered trademarks."