#header
  #header_wrap
    %h1
      = link_to(user_signed_in? ? sites_path : new_user_session_path) do
        %span= "SublimeVideo"
    - if user_signed_in? && controller_name != 'sessions'
      %ul#main_menu
        %li{ :class => controller_name == "sites" && action_name == "index" ? "active" : "", :onclick => "MySublimeVideo.makeSticky(this, '#header')"}
          = link_to "Sites", sites_path
    .right
      %ul.extra_links
        %li= link_to("Documentation", "http://docs.sublimevideo.net")
        %li= link_to("Support", new_ticket_path)
        - if user_signed_in? && controller_name != 'sessions'
          %li= link_to("Logout", destroy_user_session_path)
      - if user_signed_in? && controller_name != 'sessions'
        = link_to(edit_user_registration_path, :class => "user #{'active' if controller.request.url =~ /account/}", :onclick => "MySublimeVideo.makeSticky(this, '#header')") do
          %strong
            %span.icon= truncate(current_user.full_name, :length => 45)
          %span.corner
      - else
        - if controller_name != 'sessions'
          = link_to(new_user_session_path, :class => "user") do
            %strong
              %span.icon= "Login"
            %span.corner
