#header
  #header_wrap
    %h1
      = link_to(user_signed_in? ? sites_path : new_user_session_path) do
        %span= "SublimeVideo"
    - if user_signed_in? && controller_name != 'sessions'
      %ul#main_menu
        %li{ class: controller_name == "sites" && action_name == "index" ? "active" : "", onclick: "SublimeVideo.makeSticky(this, '#header')"}
          = link_to "Sites", sites_path
    .right
      %ul.extra_links
        %li= link_to("Documentation", root_url(subdomain: 'docs'))
        - if !user_signed_in? || current_user.support == 'forum'
          %li= link_to("Help", "http://sublimevideo.net/help")
        - else
          %li= link_to("Help", new_ticket_path)
        - if user_signed_in?
          %li= link_to("Logout", destroy_user_session_path)
      - if user_signed_in?
        = link_to([:edit, :user], class: "user #{'active' if controller.request.url =~ /account/}", onclick: "SublimeVideo.makeSticky(this, '#header')") do
          %strong
            %span.icon= truncate(current_user.name, length: 45)
          %span.corner
      - else
        - if controller_name != 'sessions'
          = link_to(new_user_session_url(subdomain: 'my'), class: "user") do
            %strong
              %span.icon= "Login"
            %span.corner
