%nav#menu
  %ul
    %li.active= link_to "Features", ""
    %li= link_to "Plans", ""
    %li= link_to "Demo", ""
    %li= link_to "Showcases", ""
    %li= link_to "Help", ""
    %li= link_to "Blog", ""
    %li= link_to "Login", ""
    %li.signup= link_to "Sign Up", ""