%nav#menu
  %ul
    - if request.subdomain == 'my'
      - if user_signed_in?
        = activable_menu_restful_item(:li, :sites, { url_options: { subdomain: 'my' }, link_text: "My Sites" })
        = activable_menu_restful_item(:li, :root, { url_options: { subdomain: 'docs' }, link_text: "Documentation" })
        = activable_menu_restful_item(:li, :page, { url_options: { page: 'help', subdomain: 'my' }, link_text: "Help" })
        %li= link_to "Logout", destroy_user_session_path
        %li
          = link_to(edit_user_registration_path, class: "user #{'active' if controller.request.url =~ /account/}", onclick: "MySublimeVideo.makeSticky(this, '#header')") do
            %strong
              %span.icon= truncate(current_user.name, length: 45)
    - else
      - [:features, :plans, :demo, ['customer-showcases', { link_text: "Showcases" }], :help, :blog].each do |r|
        - name = r.is_a?(Array) ? r[0] : r
        - opts = r.is_a?(Array) ? r[1] : {}
        = activable_menu_item(:li, name, opts)
      %li= link_to "Login", '/?p=login', onclick: "return SublimeVideo.showPopup('login')", id: 'login_link'
      %li.signup= link_to "Sign Up", '/?p=signup', onclick: "return SublimeVideo.showPopup('signup')", id: 'signup_link'