%nav#menu
  %ul
    - if request.subdomain == 'my'
      - if user_signed_in?
        = activable_menu_restful_item(:li, :sites, { url_options: { subdomain: 'my' }, link_text: "My Sites" })
        = activable_menu_restful_item(:li, :root, { url_options: { subdomain: 'docs' }, link_text: "Documentation" })
        = activable_menu_restful_item(:li, :page, { url_options: { page: 'help', subdomain: 'my' }, link_text: "Help", urls: ['support'] })
        %li= link_to "Logout", destroy_user_session_path
        %li{ class: controller.request.url =~ /account/ ? 'active' : nil }
          = link_to(edit_user_registration_path, class: "user", onclick: "MySublimeVideo.makeSticky(this, '#header')") do
            %strong
              %span.icon= truncate(current_user.name, length: 45)
    - else
      - [:features, :plans, :demo, ['customer-showcases', { link_text: "Showcases" }], :help, :blog].each do |r|
        - name = r.is_a?(Array) ? r[0] : r
        - opts = r.is_a?(Array) ? r[1] : { link_text: name.to_s.titleize }
        = activable_menu_item(:li, page_url(name, { host: request.domain }), opts.merge(onclick: "SublimeVideo.makeSticky(this, '#menu')"))
      %li= link_to "Login", root_url(host: request.domain, p: 'login'), onclick: "return SublimeVideo.showPopup('login')"
      %li.signup= link_to "Sign Up", root_url(host: request.domain, p: 'signup'), onclick: "return SublimeVideo.showPopup('signup')"