- if user_signed_in? && !demo_stats_page?
  = content_for :header_menu do
    %nav#menu
      %ul.sticky
        = li_menu_link('my sites', path: 'sites')
        = li_menu_link('documentation', protocol: 'http', subdomain: 'docs', path: '')
        = li_menu_link('help')
        %li{ class: controller.request.url =~ /account/ ? 'active' : nil }
          = link_to(edit_user_url(subdomain: 'my'), class: 'user') do
            %span.icon= truncate(current_user.name_or_email, length: 35)
        %li.no_sticky.logout
          = link_to destroy_user_session_url(subdomain: 'my'), title: "logout"  do
            %span= "logout"