- dont_show_invoices_tab = @site.in_free_plan? && @site.invoices.not_canceled.empty?

%ul.segmented_menu.sticky
  = li_menu_link('Settings', page: edit_site_path(@site), class: 'first' + (%r{sites/#{@site.token}$} =~ request.url ? ' active' : ''))
  = li_menu_link('Plan', page: edit_site_plan_path(@site), class: (dont_show_invoices_tab ? 'last' : '') + (%r{sites/#{@site.token}/plan$} =~ request.url ? ' active' : ''))
  - unless dont_show_invoices_tab
    = li_menu_link('Invoices', page: site_invoices_path(@site), class: 'last')