- sites_item = [:edit_site, { link_text: "Settings", class: 'first', urls: %W[sites/#{@site.token}(/edit)?$] }]
- plans_item = [:edit_site_plan, { link_text: "Plan", class: (@site.in_free_plan? && @site.invoices.not_canceled.empty? ? 'last' : ''), urls: %W[sites/#{@site.token}/plan(/edit)?$] }]
- invoices_item = [:site_invoices, { link_text: "Invoices", class: "last", urls: %W[sites/#{@site.token}/invoices$] }]

%ul.segmented_menu
  - [sites_item, plans_item].each do |i|
    = activable_menu_item(:li, i[0], i[1].merge(resource: @site, onclick: "MySublimeVideo.makeSticky(this, '.segmented_menu')"))
  - if !(@site.in_free_plan? && @site.invoices.not_canceled.empty?)
    = activable_menu_item(:li, invoices_item[0], invoices_item[1].merge(resource: @site, onclick: "MySublimeVideo.makeSticky(this, '.segmented_menu')"))