= render 'layouts/sites_select_title', sites_select: !defined?(sites_select) || sites_select

- dont_show_invoices_tab = @site.in_unpaid_plan? && @site.invoices.not_canceled.empty?

- if early_access?('video')
  %ul.segmented_menu.sticky
    = li_menu_link 'Videos', path: site_video_tags_path(@site), class: 'first'
    = li_menu_link 'Stats', path: site_stats_path(@site)
    = li_menu_link 'Settings', path: edit_site_path(@site)
    -# TODO Octave
    = li_menu_link "&#x25BC;".html_safe, path: '#', class: 'last'
    -#%ul.segmented_dropdown_menu
    -#  = li_menu_link'Plan', path: edit_site_plan_path(@site), class: (dont_show_invoices_tab ? 'last' : '')
    -#  - unless dont_show_invoices_tab
    -#    = li_menu_link'Invoices', path: site_invoices_path(@site), class: 'last'

- else
  %ul.segmented_menu.sticky
    = li_menu_link 'Stats', path: site_stats_path(@site), class: 'first'
    = li_menu_link 'Settings', path: edit_site_path(@site)
    = li_menu_link 'Plan', path: edit_site_plan_path(@site), class: (dont_show_invoices_tab ? 'last' : '')
    - unless dont_show_invoices_tab
      = li_menu_link 'Invoices', path: site_invoices_path(@site), class: 'last'
