- if !user_signed_in?
  - if params[:beta] == "over"
    #sticky_notice
      %h3 We have now launched publicly!
      %p
        The Beta period is over. Please check out our new
        = link_to "Homepage", "http://sublimevideo.net"
        and the
        = link_to "Plans & Pricing", "http://sublimevideo.net/plans"
        page.

- elsif !current_user.suspended? && (current_user.cc_expire_this_month? || current_user.cc_expired? || (current_user.have_beta_sites? && PublicLaunch.days_left_before_end_of_beta_transition >= 0))
  #sticky_notice
    %h3 Warning
    %ul
      - if current_user.cc_expire_this_month? || current_user.cc_expired?
        %li
          - edit_cc_link = link_to('update it', edit_credit_card_path)
          - if current_user.cc_expired?
            = t("user.credit_card.expired")
            = raw t("please_link", :link => edit_cc_link)
          - else
            = raw t("user.credit_card.will_expire_please_link", :link => edit_cc_link)

      - if current_user.have_beta_sites?
        - if PublicLaunch.days_left_before_end_of_beta_transition >= 1
          %li= raw t('days_left_to_choose_a_plan', count: PublicLaunch.days_left_before_end_of_beta_transition)
        - elsif PublicLaunch.days_left_before_end_of_beta_transition == 0
          %li= t('rollbacked_to_dev_today')
