!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= "MySublimeVideo Admin - #{yield :title}"
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1" }
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }
    
    = stylesheet_link_tag "admin"
    
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    
    = yield :header
    = include_javascripts(:default)
    = yield :js
    = csrf_meta_tag
    = javascript_include_tag "http://use.typekit.com/zwt2duv.js"
    == <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    #global
      = render "layouts/admin_header"
      #main
        #content
          - if flash.present?
            #flash
              - if flash[:notice]
                .notice= flash[:notice]
              - if flash[:alert]
                .alert= flash[:alert]
                
          = yield :content_header
          
          = yield
      #footer
        %p= "Copyright © 2010 - SublimeVideo®"
        
    = yield :bottom