!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    - title = yield(:title)
    %title= title_env_prefix + title_subdomain_prefix(request) + (title.present? ? " - #{title}" : '')
    %meta{ "http-equiv" => "X-UA-Compatible", content: "chrome=1" }
    %meta{ "http-equiv" => "Content-Type", content: "text/html;charset=UTF-8" }
    = stylesheet_link_tag 'admin'
    %link{ rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon" }

    - if %w[stats].include?(controller_name)
      = javascript_include_tag 'admin/stats'
    - else
      = javascript_include_tag 'admin'

    = csrf_meta_tag
    = javascript_include_tag "#{request.protocol}use.typekit.com/vcc7hji.js"
    :javascript
      try { Typekit.load(); } catch(e) { }

  %body
    #global
      = render 'admin/layouts/admin_header'
      #main
        #content
          = render 'layouts/flash', flash: flash if flash.present?
          = image_tag "admin/spinner.gif", class: "spinner", id: "table_spinner", style: "display:none"
          = yield
      #footer
        %p= raw "Copyright &copy; 2010 - #{Time.now.utc.year} Jilion&reg; &mdash; SublimeVideo and Jilion are registered trademarks"

    = yield :bottom
