- @page_title_prefix = "AdminSublimeVideo"

!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ "http-equiv" => "X-UA-Compatible", content: "chrome=1" }
    = csrf_meta_tag

    %title= page_title

    = stylesheet_link_tag 'admin'
    %link{ rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon" }

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js'
    = javascript_include_tag "//use.typekit.com/vcc7hji.js"
    = javascript_include_tag 'admin'
    = javascript_tag "try { Typekit.load(); } catch(e) { }"

  %body
    #global
      = render 'admin/layouts/admin_header'
      #main
        #content
          = render 'layouts/flash', flash: flash if flash.present?
          = image_tag "admin/spinner.gif", class: "spinner", id: "table_spinner", style: "display:none"
          = yield
      #footer
        %p= raw "Copyright &copy; 2010 - #{Time.now.utc.year} Jilion&reg; &mdash; SublimeVideo and Jilion are registered trademarks"

    = yield :bottom
