- @ie_min = 9
- @page_title_prefix ||= "MySublimeVideo"
- @body_class = @body_class.to_s + " #{early_access_body_class}"

= content_for :javascript do
  = sublimevideo_include_tag(request.ssl?, :my).html_safe
  = javascript_include_tag 'https://d3dy5gmtp8yhk7.cloudfront.net/1.11/pusher.min.js'
  = javascript_include_tag 'application'

- if flash.present?
  = content_for :middle do
    = render "layouts/flash", flash: flash

= content_for :javascript_bottom do
  - if Rails.env.production? && user_signed_in?
    = render 'layouts/fastpass'
  :coffeescript
    sublimevideo.load()

= render 'layouts/menu'

= render template: 'layouts/sublimevideo'
