!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= "SublimeVideo - #{yield :title}"
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1" }
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }
    = stylesheet_link_tag :all
    =raw include_javascripts :default, :register
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
  %body
    %p.notice= flash[:notice]
    %p.alert= flash[:alert]
    = yield