!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= "SublimeVideo - #{yield :title}"
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1" }
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }
    = stylesheet_link_tag :all
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    
    = include_javascripts(:default).html_safe
    = csrf_meta_tag
    == <script type="text/javascript" src="http://use.typekit.com/zwt2duv.js"></script>
    == <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    #global
      = render "layouts/header"
      #main_wrap
        #main
          #rounded_corners_fix
            #white_halo
              #content
                - if flash.present?
                  #flash
                    - if flash[:notice]
                      .notice= flash[:notice]
                    - if flash[:alert]
                      .alert= flash[:alert]
                      
                = yield :content_header
                
                
                  
                = yield
      #footer
        %p= "Copyright &copy; 2010 SublimeVideo&reg;".html_safe
    
    = yield :bottom