- @ie_min = 8
- @page_title_prefix = "MySublimeVideo"

= content_for :javascript do
  - if %w[site_stats].include?(controller_name)
    = javascript_include_tag 'stats'
  - else
    = javascript_include_tag 'application'

- if flash.present?
  = content_for :middle do
    = render "layouts/flash", flash: flash

- if Rails.env.production? && user_signed_in?
  = content_for :javascript_bottom do
    = render 'layouts/fastpass'

= render 'layouts/menu'

= render template: 'layouts/sublimevideo'
