!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= "SublimeVideo - #{yield :title}"
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1" }
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }
    
    = include_stylesheets :style
    
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    
    = yield :header
    = raw include_javascripts(:default)
    = csrf_meta_tag
    = javascript_include_tag "http://use.typekit.com/zwt2duv.js"
    == <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    #global
      = render "layouts/header"
      
      - if user_signed_in? && current_user.suspended?
        #user_state.suspended
          %p
            = link_to "Your account is suspended, please do something!", page_path('suspended')
      
      #main_wrap
        #main
          #rounded_corners_fix
            #white_halo
              #content
                - if flash.present?
                  #flash
                    - if flash[:notice]
                      .notice= flash[:notice]
                    - if flash[:alert]
                      .alert= flash[:alert]
                      
                = yield :content_header
                
                = yield
      #footer
        %p= raw "Copyright &copy; 2010 SublimeVideo&reg; | #{link_to "Terms &amp; Conditions".html_safe, "/terms"} | #{link_to "Privacy Policy", "/terms/privacy" }"
        
    = yield :bottom