!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= "MySublimeVideo - #{yield :title}"
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1" }
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }
    
    = include_stylesheets :style
    
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    
    /[if lte IE 6]
      %meta{ "http-equiv" => "Refresh", :content => "0;url=http://jilion.com/ie" }
      %style{ :type => "text/css", :media => "screen" }
        == body {background:#fff;display:none;}
    /[if lte IE 8]
      = include_stylesheets(:style_ie, :embed_assets => false)
      
    = include_javascripts(:default)
    = yield :header
    = csrf_meta_tag
    = javascript_include_tag "#{request.protocol}use.typekit.com/zwt2duv.js"
    == <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    #global
      = render 'layouts/header'
      #main_wrap
        = render 'layouts/sticky_notice' if user_signed_in?
        #main
          #rounded_corners_fix
            #white_halo
              #content
                - if flash.present?
                  #flash
                    - if flash[:notice]
                      .notice= flash[:notice]
                    - if flash[:alert]
                      .alert= flash[:alert]
                = yield
      #footer
        %p.right
          = "SublimeVideo® is a service by"
          = link_to "Jilion®", "http://jilion.com"
        %p.links= "#{link_to "SublimeVideo.net", "http://sublimevideo.net"} | #{link_to "Terms & Conditions", page_path(:page => 'terms')} | #{link_to "Privacy Policy", page_path(:page => 'privacy') }".html_safe
        %p.copyright= "Copyright © 2010 Jilion® — SublimeVideo and Jilion are registered trademarks"
        
    = yield :bottom