!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    - title = yield(:title)
    %title= title_env_prefix + title_subdomain_prefix(request) + (title.present? ? " - #{title}" : '')
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1" }
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }
    = stylesheet_link_tag(request.subdomain)
    = airbrake_javascript_notifier
    - unless request.subdomain == 'my'
      %script{ src: "//cdn.optimizely.com/js/#{Optimizely.experiment_id}.js" }
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }

    - if request.subdomain == 'my'
      /[if lte IE 8]
        %meta{ "http-equiv" => "Refresh", :content => "0;url=http://jilion.com/ie" }
        %style{ :type => "text/css", :media => "screen" }
          == body {background:#fff;display:none;}
    - else
      /[if lte IE 6]
        %meta{ "http-equiv" => "Refresh", :content => "0;url=http://jilion.com/ie" }
        %style{ :type => "text/css", :media => "screen" }
          == body {background:#fff;display:none;}
    /[if lte IE 9]
      = javascript_include_tag("#{request.protocol}html5shiv.googlecode.com/svn/trunk/html5.js")
    - if %w[site_stats].include?(controller_name)
      = javascript_include_tag 'stats'
    - else
      = javascript_include_tag(request.subdomain)
    = yield :head

    = javascript_include_tag "#{request.protocol}use.typekit.com/vcc7hji.js"
    :javascript
      try { Typekit.load(); } catch(e) { }

  %body{ class: params[:page] ? h(params[:page]) : nil }
    %header
      .lights
        .shadow
          .stars
            .wrap
              %h1
                = link_to "/" do
                  %span= "SublimeVideo"
              = render "layouts/menu"
              = yield :header
    = yield :middle
    = render "layouts/flash", flash: flash if flash.present? && request.subdomain == 'my'
    = render "layouts/docs/menu" if request.subdomain == 'docs'
    %section#content
      .content_wrapper= yield
    = render "layouts/footer"
    = yield :bottom

    - if request.subdomain == 'www'
      - display_signup = params[:p] == 'signup' || params[:commit] == 'Sign Up'
      #popup_signup.popup{ style: "display:#{display_signup ? 'block' : 'none'}" }
        .wrap
          .content= render template: '/my/users/new'
        = link_to "/", class: 'close', onclick: "return SublimeVideo.hidePopup('signup')" do
          %span Close

      - display_login = params[:p] == 'login' || params[:commit] == 'Login'
      #popup_login.popup{ style: "display:#{display_login ? 'block' : 'none'}" }
        .wrap
          .content= render template: '/my/users/sessions/new'
        = link_to "/", class: 'close', onclick: "return SublimeVideo.hidePopup('login')" do
          %span Close

    - if user_signed_in?
      = raw FastPass.script(GetSatisfaction.consumer_key, GetSatisfaction.consumer_secret, current_user.email, current_user.name, current_user.id, Rails.env.production? || Rails.env.staging?)
    = render 'layouts/gosquared' if Rails.env.production?
