!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= yield(:title) || title_based_on_subdomain(request)
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1" }
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }
    = stylesheet_link_tag(request.subdomain.blank? ? 'com' : request.subdomain)
    = airbrake_javascript_notifier
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }

    /[if lte IE 6]
      %meta{ "http-equiv" => "Refresh", :content => "0;url=http://jilion.com/ie" }
      %style{ :type => "text/css", :media => "screen" }
        == body {background:#fff;display:none;}
    /[if lte IE 9]
      = javascript_include_tag("http://html5shiv.googlecode.com/svn/trunk/html5.js")
    - if %w[site_stats video_tag_builder].include?(controller_name)
      = javascript_include_tag 'application_jquery'
    - else
      = javascript_include_tag 'application'
    = yield :head
    
    = javascript_include_tag "#{request.protocol}use.typekit.com/vcc7hji.js"
    :javascript
      try { Typekit.load(); } catch(e) { }

  %body{ class: params[:page] ? h(params[:page]) : nil }
    %header
      .lights
        .shadow
          .stars
            .wrap
              %h1
                = link_to "/" do
                  %span= "SublimeVideo"
              = render "layouts/menu"
              = yield :header
    = yield :middle
    %section#content
      .content_wrapper= yield
    = render "layouts/footer"
    = yield :bottom

    - unless user_signed_in?
      #login_form= render template: '/my/users/sessions/new'
    - if Rails.env.production?
      :javascript
        var GoSquared={};
        GoSquared.acct = "GSN-706041-F";
        (function(w){
            function gs(){
                w._gstc_lt=+(new Date); var d=document;
                var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
                var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
            }
            w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
        })(window);
