- @ie_min = 8

= content_for :javascript do
  - if %w[site_stats].include?(controller_name)
    = javascript_include_tag 'stats'
  - else
    = javascript_include_tag(request.subdomain.presence || 'www')

= content_for :middle do
  = render "layouts/flash", flash: flash if flash.present?

= render 'layouts/menu'
= render template: 'layouts/sublimevideo'

= content_for :javascript_bottom do
  - if Rails.env.production?
    = render 'layouts/fastpass' if request.subdomain == 'my' && user_signed_in?
    = render 'layouts/gosquared'
