!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= "MySublimeVideo - #{yield :title}"
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1" }
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    
    = include_stylesheets :invoice, :media => :all
    %style{ :type => "text/css", :media => "print" }
      == body {
      ==   background:none;
      == }
      == #global {
      ==   margin-top:0;
      == }
      == a#print {display:none}
    
  %body
    #global
      %a#print{ :href => "", :onclick => "window.print(); return false" }= "Print"
      = yield
