!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= "MySublimeVideo - #{@page_title}"
    %meta{ "http-equiv" => "X-UA-Compatible", content: "chrome=1" }
    %meta{ "http-equiv" => "Content-Type", content: "text/html;charset=UTF-8" }
    %link{ rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon" }
    = stylesheet_link_tag 'invoices'
    = stylesheet_link_tag "invoices_print", media: "print"
  %body
    #global
      %a#print{ href: "", onclick: "window.print(); return false" }= "Print"
      = yield
