- @ie_min = 8
- @page_title_prefix = "SublimeVideo"

!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= page_title
    %meta{ "http-equiv" => "Content-Type", content: "text/html;charset=UTF-8" }

    %meta{ content: 'SublimeVideo - HTML5 Video Player', property: 'og:title' }
    %meta{ content: 'product', property: 'og:type' }
    %meta{ content: 'http://sublimevideo.net', property: 'og:url' }
    %meta{ content: 'http://media.jilion.s3.amazonaws.com/facebook/sublimevideo_facebook.png', property: 'og:image' }
    %meta{ content: "SublimeVideo is the world's first cloud-based HTML5 video player; a universal and pain-free solution that allows video to play flawlessly on any device or browser.", property: 'og:description'}
    = csrf_meta_tag

    = stylesheet_link_tag 'sublimevideo', 'application'
    %link{ rel: "shortcut icon", href: "http://sublimevideo.net/favicon.ico", type: "image/x-icon" }

    = render 'layouts/ie'

    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'

    = javascript_include_tag 'sublimevideo'
    = yield :javascript

    = render 'layouts/typekit'

  %body
    #popup_layout
      %h1
        %span= "SublimeVideo"
      = yield

    = yield :javascript_bottom
    - if Rails.env.production?
      = render 'layouts/gosquared'
