%p
  = link_to "#{content_tag(:strong, Site.not_archived.count)} All (not archived)".html_safe, admin_sites_path
  |
  = link_to "#{content_tag(:strong, Site.beta.count)} Beta".html_safe, admin_sites_path(:with_state => 'beta')
  |
  = link_to "#{content_tag(:strong, Site.active.count)} Active".html_safe, admin_sites_path(:with_state => 'active')
  |
  = link_to "#{content_tag(:strong, Site.dev.count)} Dev".html_safe, admin_sites_path(:with_state => 'dev')
  |
  = link_to "#{content_tag(:strong, Site.suspended.count)} Suspended".html_safe, admin_sites_path(:with_state => 'suspended')
  |
  = link_to "#{content_tag(:strong, Site.archived.count)} Archived".html_safe, admin_sites_path(:with_state => 'archived')
  |
  = link_to "#{content_tag(:strong, Site.with_wildcard.count)} with Wildcard".html_safe, admin_sites_path(:with_wildcard => true)
  |
  = link_to "#{content_tag(:strong, Site.with_path.count)} with Path".html_safe, admin_sites_path(:with_path => true)
  |
  = link_to "#{content_tag(:strong, Site.next_plan_recommended_alert_sent_at_alerted_this_month.count)} Should upgrade plan".html_safe, admin_sites_path(:next_plan_recommended_alert_sent_at_alerted_this_month => true)