%h3 Plan & Cycle (LEGACY)

%p
  = "Plan:"
  %strong= site.plan ? site.plan.title : "–"

%p
  = "First paid plan started at:"
  = display_date(site.first_paid_plan_started_at)

%p
  = "Plan started at:"
  = display_date(site.plan_started_at)
  %strong= "|"
  = "Current cycle:"
  = display_date(site.plan_cycle_started_at)
  = "–"
  = display_date(site.plan_cycle_ended_at)
