%h3 Plan

%p
  = "Trial:"
  - if site.trial_started_at?
    %strong= site.trial_ended? ? "ended" : "in trial"
    = ": #{l(site.trial_started_at, format: :d_b_Y)} - #{l(site.trial_end, format: :d_b_Y)}"
  - else
    = "not started"
%p
  = "Plan:"
  %strong= site.plan ? site.plan.title : "–"
  %strong= "|"
  = "Pending plan:"
  = site.pending_plan ? site.pending_plan.title : "–"
  %strong= "|"
  = "Recommended plan:"
  = site.recommended_plan_name ? site.recommended_plan_name.titleize : "–"
  %strong= "|"
  = "Next plan:"
  = site.next_cycle_plan ? site.next_cycle_plan.title : "–"

%p
  = "First paid plan started at:"
  = site.first_paid_plan_started_at? ? content_tag(:strong, l(site.first_paid_plan_started_at, format: :d_b_Y)) : "–"

%p
  = "Plan started at:"
  = site.plan_started_at? ? content_tag(:strong, l(site.plan_started_at, format: :d_b_Y)) : "–"
  %strong= "|"
  = "Current cycle:"
  = site.plan_cycle_started_at? ? content_tag(:strong, l(site.plan_cycle_started_at, format: :d_b_Y)) : "–"
  = "–"
  = site.plan_cycle_ended_at? ? content_tag(:strong, l(site.plan_cycle_ended_at, format: :d_b_Y)) : "–"

%p
  = "Pending plan started at:"
  = site.pending_plan_started_at? ? content_tag(:strong, l(site.pending_plan_started_at, format: :d_b_Y)) : "–"
  %strong= "|"
  = "Pending cycle:"
  = site.pending_plan_cycle_started_at? ? content_tag(:strong, l(site.pending_plan_cycle_started_at, format: :d_b_Y)) : "–"
  = "–"
  = site.pending_plan_cycle_ended_at? ? content_tag(:strong, l(site.pending_plan_cycle_ended_at, format: :d_b_Y)) : "–"

%p
  = "Overusage notification sent at:"
  = site.overusage_notification_sent_at? ? content_tag(:strong, l(site.overusage_notification_sent_at, format: :d_b_Y)) : "–"
  %strong= "|"
  = "First paid plan upgrade required alert sent at:"
  = site.first_plan_upgrade_required_alert_sent_at? ? content_tag(:strong, l(site.first_plan_upgrade_required_alert_sent_at, format: :d_b_Y)) : "–"