%h3 Settings

%p
  = "Main hostname:"
  %strong= link_to(truncated_hostname(site), "http://#{site.hostname}")
  %strong= "|"
  = "Extra hostnames:"
  - extra_hostnames = site.extra_hostnames.to_s.split(/,\s*/).map { |h| link_to(h, "http://#{h}") }
  %strong= extra_hostnames.present? ? raw(extra_hostnames.join(", ")) : "–"
  %strong= "|"
  = "Dev hostnames:"
  = content_tag(:strong, site.dev_hostnames)
%p
  = "Wildcard: #{content_tag(:strong, site.wildcard? ? 'ON' : 'OFF')}".html_safe
  %strong= "|"
  = "Path: #{content_tag(:strong, site.path? ? "/#{site.path}" : '-')}".html_safe
  %strong= "|"
  = "Badge: #{content_tag(:strong, site.badged? ? 'ON' : 'OFF')}".html_safe
  %strong= "|"
  = "Accessible Stage: #{content_tag(:strong, site.accessible_stage)}".html_safe
  %strong= "|"
  = "Loaders updated_at: #{site.loaders_updated_at}".html_safe
%p
  = "Settings.js updated at: #{site.settings_updated_at}"
  - cdn_base_url = "http://cdn.sublimevideo#{'-staging' if Rails.env.staging?}.net"
  %strong= "|"
  = link_to "See stable loader", cdn_url("js/#{site.token}.js"), onclick: "window.open(this); return false"
  = link_to "See beta loader", cdn_url("js/#{site.token}-beta.js"), onclick: "window.open(this); return false"
  %strong= "|"
  = link_to "See license content (stable)", cdn_url("l/#{site.token}.js"), onclick: "window.open(this); return false"
  %strong= "|"
  = link_to "See settings content (beta)", cdn_url("s/#{site.token}.js"), onclick: "window.open(this); return false"
