%h3 Settings

%p
  = "Main hostname:"
  %strong= link_to(admin_pretty_hostname(site, site.hostname), url_with_protocol(site.hostname))
  %strong= "|"
  = "Extra hostnames:"
  - extra_hostnames = site.extra_hostnames.to_s.split(/,\s*/).map { |h| link_to(h, "http://#{h}") }
  %strong= extra_hostnames.present? ? raw(extra_hostnames.join(", ")) : "–"
  = "Staging hostnames:"
  - staging_hostnames = site.staging_hostnames.to_s.split(/,\s*/).map { |h| link_to(h, "http://#{h}") }
  %strong= staging_hostnames.present? ? raw(staging_hostnames.join(", ")) : "–"
  %strong= "|"
  = "Dev hostnames:"
  = content_tag(:strong, site.dev_hostnames)
%p
  = "Wildcard: #{content_tag(:strong, site.wildcard? ? 'ON' : 'OFF')}".html_safe
  %strong= "|"
  = "Path: #{content_tag(:strong, site.path? ? "/#{site.path}" : '-')}".html_safe
  %strong= "|"
  = "Accessible Stage: #{content_tag(:strong, site.accessible_stage)}".html_safe
  %strong= "|"
  = "Loaders updated_at: #{site.loaders_updated_at}"
%p
  = "settings.js updated at: #{site.settings_updated_at}"
  = ' | '
  = link_to "View settings", cdn_url("s/#{site.token}.js"), onclick: "window.open(this); return false"
