%table.main#sites
  %tr
    %th= "Hostnames"
    %th= "User"
    %th= "State"
    %th= "Loader hits"
    %th= "Player hits"
    %th= "Traffic"
    %th= "Flash %"
    %th= "Loader/Player"
    %th= "Traffic/Player hit"
    %th= "Alexa #"
    %th= "Google #"
  = render @sites
  
.pagination_wrap
  = will_paginate(:params => { :format => nil }, :renderer => 'WillPaginate::ViewHelpers::LinkRendererRemote')
  = page_entries_info @sites