%tr[site]{ class: cycle("", "alt") }
  %td.id
    %small= link_to "##{site.id}", [:edit, :admin, site]

  %td.token
    %small= link_to site.token, [:edit, :admin, site]

  %td.hostname
    %small= links_to_hostnames(site)

  %td.user
    %small
      = viped(site.user) do
        - link_to site.user.name_or_email, [:admin, site.user], title: site.user.email

  %td.state
    %small= site.state.humanize

  %td.plan
    %small= render 'plan', site: site

  %td.number
    %small= number_with_delimiter(site.last_30_days_billable_video_views)

  %td.percentage
    %small
      - if site.plan && site.last_30_days_billable_video_views > 0
        = display_percentage(site.last_30_days_extra_video_views / site.last_30_days_billable_video_views.to_f)
      - else
        = '-'

  %td.percentage
    %small
      - if site.plan && site.plan.video_views > 0
        = display_percentage(site.last_30_days_billable_video_views / site.plan.video_views.to_f)
      - else
        = '-'

  %td
    %small= display_time(site.created_at)

  - if params[:in_trial]
    %td
      %small= display_time(site.trial_end)
