%table.main#sites
  %tr
    %th= "Hostnames"
    %th= "User"
    %th= "Player Hits"
    %th= "Player Mode"
  = render @sites
  
.pagination_wrap
  = will_paginate(:params => { :format => nil }, :renderer => 'WillPaginate::ViewHelpers::LinkRendererRemote')
  = page_entries_info @sites