- last_30_days_billable_player_hits_total_count = site.last_30_days_main_player_hits_total_count.to_i + site.last_30_days_extra_player_hits_total_count.to_i
%tr[site]{ :class => cycle("", "alt") }
  %td.id
    = link_to "##{site.id}", [:edit, :admin, site]
  %td.id
    = link_to site.token, [:edit, :admin, site]
  %td.hostname
    = links_to_hostnames(site)
  %td.user
    %small
      = link_to site.user.full_name, [:admin, site.user], :title => "#{site.user.full_name} <#{site.user.email}>"
  %td.state
    %small= site.state.humanize
  %td.plan
    - if site.plan
      %small
        = site.plan.name.humanize
        - if site.plan.standard_plan?
          = " (" + site.plan.read_attribute(:cycle) + ")"  # conflict with cycle method?
    - else
      %small= '-'
  %td.next_cycle_plan
    - if site.next_cycle_plan
      %small= link_to site.next_cycle_plan.name, admin_plans_path
    - else
      %small= '-'
  %td.number
    %small= number_with_delimiter(last_30_days_billable_player_hits_total_count)
  %td.percentage
    - if site.plan && last_30_days_billable_player_hits_total_count > 0
      %small= display_percentage(site.last_30_days_extra_player_hits_total_count / last_30_days_billable_player_hits_total_count.to_f)
    - else
      %small= '-'
  %td.percentage
    - if site.plan && site.plan.player_hits > 0
      %small= display_percentage(last_30_days_billable_player_hits_total_count / site.plan.player_hits.to_f)
    - else
      %small= '-'
  %td
    %small= display_time(site.created_at)
