- last_30_days_billable_video_views = site.last_30_days_main_video_views.to_i + site.last_30_days_extra_video_views.to_i
%tr[site]{ class: cycle("", "alt") }
  %td.id
    = link_to "##{site.id}", [:edit, :admin, site]
  %td.id
    = link_to site.token, [:edit, :admin, site]
  %td.hostname
    = links_to_hostnames(site)
  %td.user
    %small
      = link_to site.user.name_or_email, [:admin, site.user], title: site.user.email
  %td.state
    %small= site.state.humanize
  %td.plan
    - if site.plan
      %small
        = site.plan.name.humanize
        - if site.plan.standard_plan?
          = " (" + site.plan.read_attribute(:cycle) + ")"  # conflict with cycle method?
          = " [trial]" unless site.trial_ended?
    - else
      %small= '-'
  %td.next_cycle_plan
    - if site.next_cycle_plan
      %small= link_to site.next_cycle_plan.name, admin_plans_path
    - else
      %small= '-'
  %td.number
    %small= number_with_delimiter(last_30_days_billable_video_views)
  %td.percentage
    - if site.plan && last_30_days_billable_video_views > 0
      %small= display_percentage(site.last_30_days_extra_video_views / last_30_days_billable_video_views.to_f)
    - else
      %small= '-'
  %td.percentage
    - if site.plan && site.plan.video_views > 0
      %small= display_percentage(last_30_days_billable_video_views / site.plan.video_views.to_f)
    - else
      %small= '-'
  %td
    %small= display_time(site.created_at)

  - if params[:in_trial]
    %td
      %small= display_time(site.trial_end)
