.pagination_wrap
  = page_entries_info @sites
  = paginate @sites, theme: 'admin'

%table.main#sites
  %tr
    %th ID
    %th Token
    %th= link_to_sort :hostname
    %th= link_to_sort :user
    %th= link_to_sort :state
    %th= link_to_sort :last_30_days_billable_video_views, default_way: 'desc', label: "Last 30d bill. plays", title: "Last 30 days billable (main+extra) plays (+cached)"
    %th= link_to_sort :last_30_days_video_tags, default_way: 'desc', label: "Last 30d video tags"
    %th= link_to_sort :last_30_days_extra_video_views_percentage, default_way: 'desc', label: "Extra hits %", title: "Last 30 days extra hits (+cached) percentage"
    %th= link_to_sort :date, default_way: 'desc', label: "Created"
  = render @sites

.pagination_wrap
  = paginate @sites, theme: 'admin'
  = page_entries_info @sites
