%table.main#sites
  %tr
    %th= link_to_sort :hostname
    %th= link_to_sort :user
    %th= link_to_sort :state
    %th= link_to_sort :plan_price, :label => "Plan", :title => "Sort by plan prices"
    %th= link_to_sort :last_30_days_billable_player_hits_total_count, :default_way => 'desc', :label => "Last 30 days billable hits", :title => "Last 30 days billable (main+extra) hits (+cached)"
    %th= link_to_sort :last_30_days_extra_player_hits_total_percentage, :default_way => 'desc', :label => "Extra hits %", :title => "Last 30 days extra hits (+cached) percentage"
    %th= link_to_sort :last_30_days_plan_usage_persentage, :default_way => 'desc', :label => "Plan %", :title => "Plan usage percentage (base on last 30 days billable (main+extra) hits)"
    %th= link_to_sort :date, :default_way => 'desc', :default => true, :label => "Created at"
  = render @sites

.pagination_wrap
  = remote_will_paginate(@sites, :params => params.merge(:format => nil))
  = page_entries_info(@sites)
