%h3 Update design subscription

= form_for [:update_design_subscription, :admin, site] do |f|
  .entry
    = label_tag :force, 'Design:'
    = select_tag 'design_id', admin_designs_options(site)

  .entry
    = label_tag :state, 'Action:'
    = select_tag :state, options_for_select([['Normal subscribe (auto-subscribe for free, trial or beta)', ''], ['Force subscribe (skip trial)', 'subscribed'], ['Sponsor', 'sponsored'], ['Cancel', 'canceled']], selected: '')

  .actions.center= f.submit "Update design subscription", data: { confirm: "Are you sure?" }
