%p.summary
  - loader_hits = SiteUsage.sum(:loader_hits).to_i
  = "Loader hits: #{number_with_delimiter(loader_hits, :delimiter => "'")}"
  |
  - player_hits = SiteUsage.sum(:player_hits).to_i
  = "Player hits: #{number_with_delimiter(player_hits, :delimiter => "'")}"
  |
  - traffic = SiteUsage.sum(:traffic_s3).to_i + SiteUsage.sum(:traffic_voxcast).to_i
  = "Traffic: #{number_to_human_size(traffic, :precision => 4)}"
  - if player_hits > 0
    %br/
    - flash_hits = SiteUsage.sum(:flash_hits).to_i
    = "Flash: #{display_percentage(flash_hits / player_hits.to_f)}"
    |
    = "Loader/Player: #{number_with_delimiter(BigDecimal.new((loader_hits / player_hits.to_f).to_s, 2).ceil(2), :delimiter => "'")}"
    |
    = "Traffic/Player: #{number_to_human_size(traffic / player_hits.to_f, :precision => 4)}"