- total_video_views = Stat::Site::Day.views_sum(token: site.token)

%h3 Video views

%p
  Last 30 days main traffic:
  = "#{number_with_delimiter(site.last_30_days_main_video_views, significant: false, precision: 2, delimiter: "'")} video views"

%p
  Last 30 days extra traffic:
  = "#{number_with_delimiter(site.last_30_days_extra_video_views, significant: false, precision: 2, delimiter: "'")} video views"

%p
  Last 30 days dev traffic:
  = "#{number_with_delimiter(site.last_30_days_dev_video_views, significant: false, precision: 2, delimiter: "'")} video views"

%p
  Last 30 days invalid traffic:
  = "#{number_with_delimiter(site.last_30_days_invalid_video_views, significant: false, precision: 2, delimiter: "'")} video views"

%p
  Last 30 days embed traffic:
  = "#{number_with_delimiter(site.last_30_days_embed_video_views, significant: false, precision: 2, delimiter: "'")} video views"

%p
  Last 30 days billable traffic:
  = "#{number_with_delimiter(site.last_30_days_billable_video_views, significant: false, precision: 2, delimiter: "'")} video views"

%p
  Last 30 days billable traffic average per day:
  = "#{number_with_delimiter(site.last_30_days_billable_video_views / 30, significant: false, precision: 2, delimiter: "'")} video views"

%p
  All time traffic:
  = "#{number_with_delimiter(total_video_views, significant: false, precision: 2, delimiter: "'")} video views"
