= title_and_content_header("##{@site.id} (#{@site.token}) #{@site.hostname? ? link_to(hostname_with_path_and_wildcard(@site), "http://#{@site.hostname}/#{@site.path}") : "no hostname"}")

%p
  %strong
    = "User: "
    = link_to(@site.user.name, [:admin, @site.user]).html_safe
    = "(beta)" if @site.user.beta?

- if @site.plan_id?
  = render '/admin/shared/date_chooser'
  %br.spacer
  = render 'timeline_usage', site: @site

%h3 Basic infos

%p
  = "State:"
  %strong= @site.state.humanize
  - if @site.archived?
    = "since " + display_time(@site.archived_at)
  = "| Created at: " + l(@site.created_at, format: :seconds_timezone)
  = "| Updated at: " + l(@site.updated_at, format: :seconds_timezone)
%p
  = "Mode: #{content_tag(:strong, @site.player_mode)}".html_safe
  = "| CDN #{@site.cdn_up_to_date ? 'is' : content_tag(:strong, 'IS NOT')} up-to-date".html_safe
%br

%h3 Hostnames

%p
  = "Main hostname:"
  = @site.hostname? ? link_to(hostname_with_path_and_wildcard(@site), "http://#{@site.hostname}/#{@site.path}") : "no hostname"
%p
  = "Extra hostnames:"
  - extra_hostnames = @site.extra_hostnames.to_s.split(", ").map { |h| content_tag(:strong, link_to(h, "http://#{h}")) }
  = extra_hostnames.present? ? raw(extra_hostnames.join(", ")) : "–"
%p
  = "Dev hostnames:"
  = content_tag(:strong, @site.dev_hostnames)
%br

= render 'plan_and_cycle', site: @site
%br

= render 'video_views', site: @site
%br

= render '/admin/shared/invoices_table', object: @site

%br
= render 'referrers_table', site: @site

%br
%hr
%br

- if zeno?
  %h3 Mode update

  = form_for [:admin, @site] do |f|
    = f.select :player_mode, Site::PLAYER_MODES
    = f.submit "Update player mode", confirm: "Are you sure?"

%br

- if (zeno? || mehdi?) && !@site.in_sponsored_plan?
  %h3 Sponsoring
  = form_for [:sponsor, :admin, @site] do |f|
    = f.submit "Change current plan to sponsored plan", confirm: "Are you sure?"

%br
%hr
%br

%p= link_to "Back to sites", [:admin, :sites]
