= title_and_content_header("(#{@site.token}) #{link_to(hostname_with_path_and_wildcard(@site), "http://#{@site.hostname}/#{@site.path}")}")

= render '/admin/shared/date_chooser'
%br.spacer

= render partial: 'timeline_usage', locals: { site: @site }

%p  
  = "State:"
  %strong= @site.state.humanize
  - if @site.archived?
    = "since #{display_date(@site.archived_at)}"
  - elsif @site.active?
    = "since #{display_date(@site.activated_at)}"
  = "| Plan: "
  %strong
    = @site.plan_id? ? @site.plan.name.humanize : "No plan"
    = "with SSL" if @site.addons.include?(Addon.find_by_name('ssl'))
  = "| User: #{content_tag(:strong, link_to(@site.user.full_name, [:admin, @site.user]))}".html_safe
  = "| Created #{time_ago_in_words(@site.created_at)} ago"
  = "| Updated #{time_ago_in_words(@site.updated_at)} ago"

%p
  = "Extra hostnames:"
  - extra_hostnames = @site.extra_hostnames.to_s.split(", ").map { |h| content_tag(:strong, link_to(h, "http://#{h}")) }
  = raw extra_hostnames.join(", ")

%p
  = "Dev hostnames:"
  =content_tag(:strong, @site.dev_hostnames)

%p
  = "Token: #{content_tag(:strong, @site.token)}".html_safe
  = "| Mode: #{content_tag(:strong, @site.player_mode)}".html_safe
  = "| CDN #{@site.cdn_up_to_date ? 'is' : content_tag(:strong, 'IS NOT')} up-to-date".html_safe

= render partial: 'usage_table', locals: { site: @site, from: @date_range_from, to: @date_range_to }
= render partial: 'invoices_table', locals: { site: @site }
= render partial: 'referrers_table', locals: { site: @site }

%br
%hr
%br

- if zeno?
  %h3 Player mode update
  = form_for [:admin, @site] do |f|
    = f.select :player_mode, Site::PLAYER_MODES
    = f.submit "Update player mode"

%br
%hr
%br

%p= link_to "Back to sites", [:admin, :sites]
