- title "Site: ##{@site.id} | #{@site.token} - #{link_to(truncated_hostname(@site), "http://#{@site.hostname}")}"
= content_header("##{@site.id} | #{@site.token} - #{link_to(truncated_hostname(@site), "http://#{@site.hostname}")}")

= render 'admin/shared/tags', object: @site
%br

= render 'basic_info', site: @site
%br

= render 'settings', site: @site
%br

%table
  %tr
    %td= render 'video_plays', site: @site
    %td= render 'page_visits', site: @site
    %td= render 'video_tags', site: @site

= render 'admin/shared/date_chooser'
%br.spacer
= render 'timeline_usage', site: @site
%br

%h3 Billable items
%table
  %tr
    %th Since
    %th Addon
    %th State
  - @site.billable_items.reorder('created_at DESC').each do |billable_item|
    %tr
      %td= display_time(billable_item.created_at)
      %td
        - if billable_item.item.is_a?(App::Design)
          = 'Design: ' + t("app_designs.#{billable_item.item.name}")
        - elsif billable_item.item.is_a?(AddonPlan)
          = 'Add-on: ' + t("addon_plans.#{billable_item.item.addon.name}.#{billable_item.item.name}")
        - else
          = "Plan: #{billable_item.item.title}"
      %td= billable_item.state

%h3 Billable items activities
%table
  %tr
    %th Date
    %th Addon
    %th State
  - @site.billable_item_activities.reorder('created_at DESC').each do |activity|
    %tr
      %td= display_time(activity.created_at)
      %td
        - if activity.item.is_a?(App::Design)
          = 'Design: ' + t("app_designs.#{activity.item.name}")
        - elsif activity.item.is_a?(AddonPlan)
          = 'Add-on: ' + t("addon_plans.#{activity.item.addon.name}.#{activity.item.name}")
        - else
          = "Plan: #{activity.item.title}"
      %td= activity.state

- if has_role?('invoices')
  %h3 Invoices
  = render 'admin/shared/invoices', object: @site
%br

= render 'referrers_table', site: @site

%br
%hr
%br

- if has_role?('god')
  %h3 Mode update

  = form_for [:admin, @site] do |f|
    = f.select :accessible_stage, Stage.stages
    = f.submit "Update accessible stage", data: { confirm: "Are you sure?" }
  %br

  -# TODO: Replace with per-addon sponsoring
  -#- unless @site.in_sponsored_plan?
  -#  %h3 Sponsoring
  -#  = form_for [:sponsor, :admin, @site] do |f|
  -#    = f.submit "Change current plan to sponsored plan", data: { confirm: "Are you sure?" }
  %br
  %hr
  %br

%p= link_to "Back to sites", [:admin, :sites]
