= title_and_content_header("#{@site.hostname} (#{@site.user.full_name})")
- from_days = 60
= render :partial => '/admin/stats/sites/usage_per_day', :locals => { :site => @site, :from_days => from_days }

#usage_per_day{ :width => '900px', :height => '250px' }

%h3 Infos
%h4 Hostnames
%ul
  %li= "Wildcard: #{display_bool(@site.wildcard)}"
  %li= "Path: #{@site.path}"
  %li
    = "Hostname: "
    = link_to(@site.hostname, "http://#{@site.hostname}")
  %li= "Extra hostnames: #{@site.extra_hostnames}"
  %li= "Dev hostnames: #{@site.dev_hostnames}"
  
%br

%h4 General
%ul
  %li
    = "Token: "
    %strong= @site.token
  %li
    = "Plan: "
    %strong= @site.plan_id? ? @site.plan.name.humanize : "No plan (#{@site.state} site)"
  %li
    = "Player Mode: "
    %strong= @site.player_mode
  %li
    = "User: "
    = link_to(@site.user.full_name, [:admin, @site.user])
%br

%h4 Details

%ul
  %li= "State: " + @site.state
  %li= "CDN up-to-date: #{display_bool(@site.cdn_up_to_date)}"
  %li= "Created at: " + display_date(@site.created_at)
  %li= "Updated at: " + display_date(@site.updated_at)
  %li= "Archived at: " + display_date(@site.archived_at)
%br

%h4 Usage
%ul
  %li= "Loader hits: #{number_with_delimiter(@site.usages.sum(:loader_hits).to_i)}"
  %li
    - main_player_hits_cached = @site.usages.sum(:main_player_hits_cached).to_i
    - extra_player_hits_cached = @site.usages.sum(:extra_player_hits_cached).to_i
    - dev_player_hits_cached = @site.usages.sum(:dev_player_hits_cached).to_i
    - invalid_player_hits_cached = @site.usages.sum(:invalid_player_hits_cached).to_i
    = "Player hits: #{number_with_delimiter(@site.usages.sum(:player_hits).to_i)} / #{number_with_delimiter(main_player_hits_cached + extra_player_hits_cached + dev_player_hits_cached + invalid_player_hits_cached)}"
    %ul
      %li= "Main player hits: #{number_with_delimiter(@site.usages.sum(:main_player_hits).to_i)} / #{number_with_delimiter(main_player_hits_cached)}"
      %li= "Extra player hits: #{number_with_delimiter(@site.usages.sum(:extra_player_hits).to_i)} / #{number_with_delimiter(extra_player_hits_cached)}"
      %li= "Dev player hits: #{number_with_delimiter(@site.usages.sum(:dev_player_hits).to_i)} / #{number_with_delimiter(dev_player_hits_cached)}"
      %li= "Invalid player hits: #{number_with_delimiter(@site.usages.sum(:invalid_player_hits).to_i)} / #{number_with_delimiter(invalid_player_hits_cached)}"
  %li= "Flash hits: #{number_with_delimiter(@site.usages.sum(:flash_hits).to_i)}"
  
  %li= "S3 requests: #{number_with_delimiter(@site.usages.sum(:requests_s3).to_i)}"
  %li= "S3 traffic: #{number_to_human_size(@site.usages.sum(:traffic_s3), :precision => 4)}"
  %li= "Voxcast traffic: #{number_to_human_size(@site.usages.sum(:traffic_voxcast), :precision => 4)}"
%br

%h4 Active pages

%h5 Popular
%table
  %tr
    %th URL
    %th Hits
    %th Last hit
  = render :partial => 'referrer', :collection => @site.referrers.by_hits.limit(10)
    
%h5 Last
%table
  %tr
    %th URL
    %th Hits
    %th Last hit
  = render :partial => 'referrer', :collection => @site.referrers.by_updated_at.limit(5)
  
%br
%hr
%br

- if zeno?
  %h3 Mode update
  = form_for [:admin, @site] do |f|
    = f.select :player_mode, Site::PLAYER_MODES
    = f.submit "Update site"
    
%br
%hr
%br

%p= link_to "Back to sites", [:admin, :sites]