= title_and_content_header("##{@site.id} | #{@site.token} - #{link_to(truncated_hostname(@site), "http://#{@site.hostname}")}")

%h3 Basic information

%p
  = "User: "
  = link_to(@site.user.name_or_email, [:admin, @site.user]).html_safe
  = "(#{@site.user.state}#{', beta' if @site.user.beta?})"

%p
  = "State:"
  %strong= @site.state.humanize
  - if @site.archived?
    = "since " + display_time(@site.archived_at)
  %strong= "|"
  = "Created at: " + l(@site.created_at, format: :seconds_timezone)
  %strong= "|"
  = "Updated at: " + l(@site.updated_at, format: :seconds_timezone)
%br

%h3 Settings

%p
  = "Main hostname:"
  %strong= link_to(truncated_hostname(@site), "http://#{@site.hostname}")
%p
  = "Extra hostnames:"
  - extra_hostnames = @site.extra_hostnames.to_s.split(", ").map { |h| link_to(h, "http://#{h}") }
  %strong= extra_hostnames.present? ? raw(extra_hostnames.join(", ")) : "–"
%p
  = "Dev hostnames:"
  = content_tag(:strong, @site.dev_hostnames)
%p
  = "Wildcard: " + display_bool(@site.wildcard)
  %strong= "|"
  = "Path: #{content_tag(:strong, @site.path? ? "/#{@site.path}" : '-')}".html_safe
  %strong= "|"
  = "Badge: #{content_tag(:strong, @site.badged? ? 'ON' : 'OFF')}".html_safe
  %strong= "|"
  = "Mode: #{content_tag(:strong, @site.player_mode)}".html_safe
  %strong= "|"
  = "CDN #{@site.cdn_up_to_date ? 'is' : content_tag(:strong, 'IS NOT')} up-to-date".html_safe
  %strong= "|"
  = link_to "See license content", "http://cdn.sublimevideo.net/l/#{@site.token}.js", onclick: "window.open(this); return false"

%br

= render 'plan_and_cycle', site: @site
%br

= render 'video_views', site: @site
= render 'page_visits', site: @site

- if @site.plan_id?
  = render '/admin/shared/date_chooser'
  %br.spacer
  = render 'timeline_usage', site: @site

%br

- if has_role?('invoices')
  = render '/admin/shared/invoices_table', object: @site
%br

= render 'referrers_table', site: @site

%br
%hr
%br

- if has_role?('god')
  %h3 Mode update

  = form_for [:admin, @site] do |f|
    = f.select :player_mode, Site::PLAYER_MODES
    = f.submit "Update player mode", confirm: "Are you sure?"
  %br

  - unless @site.in_sponsored_plan?
    %h3 Sponsoring
    = form_for [:sponsor, :admin, @site] do |f|
      = f.submit "Change current plan to sponsored plan", confirm: "Are you sure?"
  %br
  %hr
  %br

%p= link_to "Back to sites", [:admin, :sites]
