- title "Site: ##{@site.id} | #{@site.token} - #{link_to(truncated_hostname(@site), "http://#{@site.hostname}")}"
= content_header("##{@site.id} | #{@site.token} - #{link_to(truncated_hostname(@site), "http://#{@site.hostname}")}")

= render 'admin/shared/tags', object: @site
%br

= render 'basic_info', site: @site
%br

= render 'settings', site: @site
%br

%table
  %tr
    %td= render 'video_plays', site: @site
    %td= render 'page_visits', site: @site
    %td= render 'video_tags', site: @site

= render 'admin/shared/date_chooser'
%br.spacer
= render 'timeline_usage', site: @site
%br

- if has_role?('god')
  %table.crado
    %tr
      %td#subscribe_design= render 'subscribe_design', site: @site
      %td#subscribe_addon_plan= render 'subscribe_addon_plan', site: @site

#billable_items= render 'billable_items', site: @site
#billable_items_activities= render 'billable_items_activities', site: @site

- if has_role?('invoices')
  %h3 Invoices
  = render 'admin/shared/invoices', object: @site
%br

= render 'referrers_table', site: @site

%br
%hr
%br

- if has_role?('god')
  %h3 Mode update

  = form_for [:admin, @site] do |f|
    = f.select :accessible_stage, Stage.stages
    = f.submit "Update accessible stage", data: { confirm: "Are you sure?" }
  %br

%br
%hr
%br

%p= link_to "Back to sites", [:admin, :sites]
