- title "Site: ##{@site.id} | #{@site.token} - #{link_to(truncated_hostname(@site), "http://#{@site.hostname}")}"
= content_header("##{@site.id} | #{@site.token} - #{link_to(truncated_hostname(@site), "http://#{@site.hostname}")}")

= render 'admin/shared/tags', object: @site
%br
%hr
%br

= render 'basic_info', site: @site
%br
%hr
%br

= render 'settings', site: @site
%br
%hr
%br

#videos_infos
  %h3= link_to 'View videos infos', videos_infos_admin_site_path(@site), data: { remote: true }
%br
%hr
%br

#stats= render 'stats', site: @site
%br
%hr
%br

= render 'kits', site: @site
%br
%hr
%br

- if has_role?('god')
  %table.crado
    %tr
      %td#subscribe_design= render 'subscribe_design', site: @site
      %td#subscribe_addon_plan= render 'subscribe_addon_plan', site: @site

#billable_items= render 'billable_items', site: @site
#billable_items_activities= render 'billable_items_activities', site: @site
%br
%hr
%br

- if has_role?('invoices')
  #invoices
    %h3= link_to 'View invoices', invoices_admin_site_path(@site), data: { remote: true }
%br
%hr
%br

#active_pages
  %h3= link_to 'View active pages', active_pages_admin_site_path(@site), data: { remote: true }
%br
%hr
%br

- if has_role?('god')
  %h3 Mode update

  = form_for [:admin, @site] do |f|
    = f.select :accessible_stage, Stage.stages
    = f.submit "Update accessible stage", data: { confirm: "Are you sure?" }
  %br
  %hr
  %br

%p= link_to "Back to sites", [:admin, :sites]
