- if @site.hostname.present?
  = title_and_content_header("(#{@site.token}) #{link_to(hostname_with_path_and_wildcard(@site), "http://#{@site.hostname}/#{@site.path}")}")
- else
  = title_and_content_header("#{@site.token}")

= render '/admin/shared/date_chooser'
%br.spacer

- if @site.active?
  = render partial: 'timeline_usage', locals: { site: @site }

%p
  = "State:"
  %strong= @site.state.humanize
  - if @site.archived?
    = "since " + display_date(@site.archived_at)
  = "| User: #{content_tag(:strong, link_to(@site.user.full_name, [:admin, @site.user]))}".html_safe
  = "| Created #{time_ago_in_words(@site.created_at)} ago"
  = "| Updated #{time_ago_in_words(@site.updated_at)} ago"

%p
  = "Plan: "
  %strong= @site.plan.title
  - if @site.in_paid_plan?
    = "(" + l(@site.plan_cycle_started_at, :format => :d_b_Y) + ' - ' + l(@site.plan_cycle_ended_at, :format => :d_b_Y) + ")"

%p
  = "Extra hostnames:"
  - extra_hostnames = @site.extra_hostnames.to_s.split(", ").map { |h| content_tag(:strong, link_to(h, "http://#{h}")) }
  = raw extra_hostnames.join(", ")

%p
  = "Dev hostnames:"
  = content_tag(:strong, @site.dev_hostnames)

%p
  = "Token: #{content_tag(:strong, @site.token)}".html_safe
  = "| Mode: #{content_tag(:strong, @site.player_mode)}".html_safe
  = "| CDN #{@site.cdn_up_to_date ? 'is' : content_tag(:strong, 'IS NOT')} up-to-date".html_safe

= render partial: '/admin/shared/usage_table', locals: { object: @site, from: @date_range_from, to: @date_range_to }
= render partial: '/admin/shared/invoices_table', locals: { object: @site }
= render partial: 'referrers_table', locals: { site: @site }

%br
%hr
%br

%h3 Details

%ul
  %li= "State: " + @site.state
  %li= "Created at: " + display_date(@site.created_at)
  %li= "Updated at: " + display_date(@site.updated_at)
  %li= "Archived at: " + display_date(@site.archived_at)

%br
%hr
%br

- if zeno?
  %h3 Mode update

  = form_for [:admin, @site] do |f|
    = f.select :player_mode, Site::PLAYER_MODES
    = f.submit "Update player mode", :confirm => "Are you sure?"
    
- if (zeno? || mehdi?) && !@site.in_sponsored_plan?
  %h3 Sponsoring
  = form_for [:sponsor, :admin, @site] do |f|
    = f.submit "Change current plan to sponsored plan", :confirm => "Are you sure?"

%br
%hr
%br

%p= link_to "Back to sites", [:admin, :sites]
