= title_and_content_header("##{@site.id} (#{@site.token}) #{@site.hostname? ? link_to(hostname_with_path_and_wildcard(@site), "http://#{@site.hostname}/#{@site.path}") : "no hostname"}")

%p
  %strong
    = "User: "
    = link_to(@site.user.full_name, [:admin, @site.user]).html_safe
    = "(beta)" if @site.user.beta?

- if @site.plan_id?
  = render '/admin/shared/date_chooser'
  %br.spacer
  = render partial: 'timeline_usage', locals: { site: @site }

%p
  = "State:"
  %strong= @site.state.humanize
  - if @site.archived?
    = "since " + display_time(@site.archived_at)
  = "| Created at: " + l(@site.created_at, :format => :seconds_timezone)
  = "| Updated at: " + l(@site.updated_at, :format => :seconds_timezone)
%p
  = "Mode: #{content_tag(:strong, @site.player_mode)}".html_safe
  = "| CDN #{@site.cdn_up_to_date ? 'is' : content_tag(:strong, 'IS NOT')} up-to-date".html_safe

%br
%p
  = "Main hostname:"
  = @site.hostname? ? link_to(hostname_with_path_and_wildcard(@site), "http://#{@site.hostname}/#{@site.path}") : "no hostname"
%p
  = "Extra hostnames:"
  - extra_hostnames = @site.extra_hostnames.to_s.split(", ").map { |h| content_tag(:strong, link_to(h, "http://#{h}")) }
  = extra_hostnames.present? ? raw(extra_hostnames.join(", ")) : "–"
%p
  = "Dev hostnames:"
  = content_tag(:strong, @site.dev_hostnames)

%br
%p
  = "Plan:"
  %strong= @site.plan ? @site.plan.title : "–"
  = "| Pending plan:"
  = @site.pending_plan ? @site.pending_plan.title : "–"
%p
  = "Recommended plan:"
  = @site.recommended_plan_name ? @site.recommended_plan_name.titleize : "–"
%p
  = "Next plan:"
  = @site.next_cycle_plan ? @site.next_cycle_plan.title : "–"

%p
  = "Plan started at:"
  = @site.plan_started_at ? content_tag(:strong, l(@site.plan_started_at, :format => :d_b_Y)) : "–"
  = "| Pending plan started at:"
  = @site.pending_plan_started_at ? content_tag(:strong, l(@site.pending_plan_started_at, :format => :d_b_Y)) : "–"

%p
  = "Current cycle:"
  = @site.plan_cycle_started_at? ? content_tag(:strong, l(@site.plan_cycle_started_at, :format => :d_b_Y)) : "–"
  = "–"
  = @site.plan_cycle_ended_at? ? content_tag(:strong, l(@site.plan_cycle_ended_at, :format => :d_b_Y)) : "–"
%p
  = "Pending cycle:"
  = @site.pending_plan_cycle_started_at? ? content_tag(:strong, l(@site.pending_plan_cycle_started_at, :format => :d_b_Y)) : "–"
  = "–"
  = @site.pending_plan_cycle_ended_at? ? content_tag(:strong, l(@site.pending_plan_cycle_ended_at, :format => :d_b_Y)) : "–"

-# = render partial: '/admin/shared/usage_table', locals: { object: @site, from: @date_range_from, to: @date_range_to }
%br
= render partial: '/admin/shared/invoices_table', locals: { object: @site }

%br
= render partial: 'referrers_table', locals: { site: @site }

%br
%hr
%br

- if zeno?
  %h3 Mode update

  = form_for [:admin, @site] do |f|
    = f.select :player_mode, Site::PLAYER_MODES
    = f.submit "Update player mode", :confirm => "Are you sure?"

%br

- if (zeno? || mehdi?) && !@site.in_sponsored_plan?
  %h3 Sponsoring
  = form_for [:sponsor, :admin, @site] do |f|
    = f.submit "Change current plan to sponsored plan", :confirm => "Are you sure?"

%br
%hr
%br

%p= link_to "Back to sites", [:admin, :sites]
