= title("Sites")
= content_header(admin_sites_page_title(@sites))

.search_form
  = form_tag admin_sites_path, :method => :get, :id => 'search_form' do
    = text_field_tag :search, '', :id => 'search_input', :placeholder => "Search", :type => "search", :autofocus => true, :autosave => "admin_search", :results => "5"

.spacer

= render 'filter_links'


#sites_table_wrap= render 'sites'
