= title_and_content_header("Sites")

.summary
  %ul
    %li= "Total #:#{Site.count}"


%table.main#sites
  %tr
    %th= "Hostnames"
    %th= ""
    %th= ""
    %th= ""
  = render @sites
  
= will_paginate @sites