= title("Sites")
= content_header(admin_sites_page_title(@sites))

= render "filter_links"

-#.summary
-#  %ul
-#    %li= "Total #:#{Site.count}"

= link_to "Active pages", admin_referrers_path, :title => 'aka referrers'
    
#sites_table_wrap
  = render "sites"