- @sites.each do |site|
  - invoices = site.invoices.paid.order(:paid_at)
  = site.hostname
  %span> ,
  = site.state != 'archived'
  %span> ,
  = (site.user.billing_name.presence || site.user.name || '').gsub(',', ' ')
  %span> ,
  = site.user.use_personal
  %span> ,
  = site.user.use_company
  %span> ,
  = site.user.use_clients
  %span> ,
  = (Country[site.user.billing_country].try(:name) rescue 'N/A').gsub(',', ' ')
  %span> ,
  = invoices.first.present? ? l(invoices.first.try(:paid_at), format: :month_fullyear) : 'Not yet invoiced'
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, to: Time.utc(2013, 6, 30).end_of_day)
  %span> ,
  = site.billable_items.with_item(AddonPlan.get('logo', 'disabled')).first.try(:state) || 'N/A'
  %span> ,
  = site.billable_items.with_item(AddonPlan.get('logo', 'custom')).first.try(:state) || 'N/A'
  %span> ,
  = site.billable_items.with_item(AddonPlan.get('social_sharing', 'standard')).first.try(:state) || 'N/A'
  %span> ,
  = site.billable_items.with_item(AddonPlan.get('embed', 'auto')).first.try(:state) || 'N/A'
  %span> ,
  = site.billable_items.with_item(AddonPlan.get('google_analytics', 'standard')).first.try(:state) || 'N/A'
  %span> ,
  = site.billable_items.with_item(AddonPlan.get('stats', 'realtime')).first.try(:state) || 'N/A'
  %span> ,
  = site.billable_items.with_item(AddonPlan.get('support', 'vip')).first.try(:state) || 'N/A'
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2012, 7), to: Time.utc(2012, 7, 31).end_of_day)
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2012, 8), to: Time.utc(2012, 8, 31).end_of_day)
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2012, 9), to: Time.utc(2012, 9, 30).end_of_day)
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2012, 10), to: Time.utc(2012, 10, 31).end_of_day)
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2012, 11), to: Time.utc(2012, 11, 30).end_of_day)
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2012, 12), to: Time.utc(2012, 12, 31).end_of_day)
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2013, 1), to: Time.utc(2013, 1, 31).end_of_day)
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2013, 2), to: Time.utc(2013, 2, 28).end_of_day)
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2013, 3), to: Time.utc(2013, 3, 31).end_of_day)
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2013, 4), to: Time.utc(2013, 4, 30).end_of_day)
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2013, 5), to: Time.utc(2013, 5, 31).end_of_day)
  %span> ,
  = Stat::Site::Day.views_sum(token: site.token, from: Time.utc(2013, 6), to: Time.utc(2013, 6, 30).end_of_day)
  %span> ,
  = invoices.paid_between(Time.utc(2011).beginning_of_year, Time.utc(2011).end_of_year).sum(:amount) / 100.0
  %span> ,
  = invoices.paid_between(Time.utc(2012).beginning_of_year, Time.utc(2012).end_of_year).sum(:amount) / 100.0
  %span> ,
  = invoices.paid_between(Time.utc(2013).beginning_of_year, Time.utc(2013).end_of_year).sum(:amount) / 100.0
  %br
