= title_and_content_header("Site: #{@site.hostname}")

%p
  = "Hostname:"
  = link_to(@site.hostname, edit_admin_site_path(@site))

%p= "Player mode: #{@site.player_mode}"

%p= "Player hits: #{@site.player_hits_cache}"

%p= "User: #{@site.user.full_name}"

%p= link_to "Back to sites", admin_sites_path