= title_and_content_header("Edit My Account")

- if public?
  - if current_user.credit_card?
    #credit_card_summary
      %h3.section_title= "Billing Info"
      %p{ :class => current_user.cc_type }<
        = "#{current_user.credit_card_name} ending in <strong>#{current_user.cc_last_digits}</strong>".html_safe
        = link_to 'Change credit card', edit_credit_card_path
  - else
    #trial_box
      .credit_card
        = link_to edit_credit_card_path, :class => "add_a_credit_card" do
          %strong= "Add a Credit Card"
          %span
            %em= "We invite you to add your credit card to prevent any cut in the player delivery when your trial will end."
            
= render 'users/form'
.spacer

= form_for @user, :url => "/account/credentials", :html => { :method => :put, :class => "main_form", :id => "edit_credentials" } do |f|
  %h3.section_title= "Email & Password"
  .entry.email
    = f.label :email, "", :class => "icon"
    = f.email_field :email, :class => "text", :placeholder => "Email", :required => true
  %p.note= "Leave blank if you don't want to change it"
  .entry.password
    = f.label :password, "", :class => "icon"
    = f.password_field :password, :class => "text show_password", :placeholder => "New password", :autocomplete => "off"
  
  #current_password_wrap{ :style => (@user.errors[:current_password].empty? ? "display:none;" : "") }
    %p.note= "We need your current password to confirm your changes"
    .entry.password
      = f.label :current_password, "", :class => "icon"
      = f.password_field :current_password, :class => "text show_password", :placeholder => "Current password", :required => true
    
  .entry.update
    = f.submit "Update", :class => "submit small", :id => "user_submit_2"
.spacer


- if public?
  = render 'users/email_notifications_form'

-# %h3 Cancel my account
-# 
-# %p
-#   = "Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}."