= title_and_content_header("My Account")

.content_left
  = render 'users/form'
  .spacer

  = form_for @user, :url => users_path, :html => { :method => :put, :class => "main_form", :id => "edit_credentials", "data-password-protected" => true, "data-password-state" => 'current' } do |f|
    - if params[:action] == 'update' && @user.errors[:current_password].present?
      = password_box :resource => @user, :f => f, :cancel_url => edit_user_registration_path, :password_state => "current"

    %h3.section_title= "Email & Password"
    .entry.email
      = f.label :email, "Email", :class => "icon"
      = f.email_field :email, :class => "text", :placeholder => "Email", :required => true
    %p.note= "Leave blank if you don't want to change it"
    .entry.password
      = f.label :password, "New Password", :class => "icon"
      = f.password_field :password, :class => "text show_password", :placeholder => "New password", :autocomplete => "off", :value => params[:user] && params[:user][:password]

    .entry.update
      = f.submit "Update", :class => "submit small_button", :id => "user_credentials_submit"
  .spacer

.content_right
  - if current_user.cc?
    #credit_card_summary
      %h3.section_title= "Billing Info"
      - if current_user.cc_expired?
        %p.alert= "This credit card is expired, please update it as soon as possible to prevent any charging problem."
      %p.card{ :class => current_user.cc_type }<
        = raw "#{t("user.credit_card.type.#{current_user.cc_type}")} ending in #{content_tag(:strong, current_user.cc_last_digits)}"
      %p= "Will expire on: " + l(current_user.cc_expire_on, :format => :month_fullyear)
      %p= link_to "Update credit card", edit_credit_card_path

  #delete_account
    %h3.section_title= "Delete account"
    = form_for @user, :url => "/account", :html => { :method => :delete, "data-password-protected" => true } do |f|
      - if params[:action] == 'destroy' && @user.errors[:current_password].present?
        = password_box :resource => @user, :f => f, :cancel_url => edit_user_registration_path
      %p= "Please understand that:"
      %ul
        %li= raw "All of your #{link_to "sites", sites_path, :class => "hl"} will be deleted."
        %li= "All of your SublimeVideo licenses will be instantly removed from our servers and will no longer be available."
        %li= "We do not offer refunds."
      .entry.delete
        = f.submit "Delete account", :class => "submit link_looks delete", :confirm => "Are you really sure?"

  .spacer
.spacer
