= content_for :title do
  = "Sign Up"
  
%h2= "Sign Up"

= form_for @resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "main_form" } do |f|
  .entry.full_name
    = f.label :full_name, "", :class => "icon"
    = f.text_field :full_name, :class => "text", :placeholder => "Full name", :required => true
    
  .entry.email
    = f.label :email, "", :class => "icon"
    = f.email_field :email, :class => "text", :placeholder => "Email", :required => true
    
  .entry.password
    = f.label :password, "", :class => "icon"
    = f.password_field :password, :class => "text show_password", :placeholder => "Password", :required => true
    
  .entry.terms
    %p= raw "Please review our #{link_to("Terms &amp; Conditions".html_safe, page_path("terms"))}. If you have questions, please contact #{mail_to "sublime@jilion.com", nil, :encode => "hex"}."
    .checkbox_wrap
      = f.check_box :terms_and_conditions, :required => true
      = f.label :terms_and_conditions, "I agree to the Terms &amp; Conditions.".html_safe
      
  .entry.submit.signup
    = f.submit "Register"
    .spacer
    
#signup_quotes
  %blockquote.wired
    = "A uniform, cross-browser, multiple-codec compatible, HTML5 video-embedding solution."
  %p.author.wired= "Webmonkey, Wired, 2010."
  %blockquote.oreilly
    = "Wow. Sublime Video HTML5 video player. Looks awesome."
  %p.author.oreilly= "Tim O'Reilly, 2010."