#signup_steps
  .center_wrap
    %ul
      %li.active
        %strong.number= "1"
        = "Sign Up"
      %li
        %strong.number= "2"
        = "Choose a plan for your site"
  .spacer

= title_and_content_header("Sign Up")

= form_for @resource, :as => resource_name, :url => "/signup", :html => { :class => "main_form" } do |f|

  .entry.email
    = f.label :email, "Email", :class => "icon"
    = f.text_field :email, :class => "text", :placeholder => "Email", :required => true

  .entry.password
    = f.label :password, "", :class => "icon"
    = f.password_field :password, :class => "text show_password", :placeholder => "Password", :required => true

  .entry
    .first_name.left_field
      = f.label :first_name, "First name", :class => "icon"
      = f.text_field :first_name, :class => "text", :placeholder => "First name", :required => true
    .last_name.right_field
      = f.label :last_name, "Last name", :class => "icon"
      = f.text_field :last_name, :class => "text no_icon", :placeholder => "Last name", :required => true
    .spacer

  .entry.select
    .country.left_field
      = f.label :country, "Country", :class => "icon"
      = f.country_select :country, options_for_select("Country", :selected => "Country")
    .last_name.right_field
      = f.label :postal_code, "Zip or Postal Code", :class => "icon"
      = f.text_field :postal_code, :class => "text no_icon", :placeholder => "Zip or Postal Code", :required => true
    .spacer
  .optional_fields
    -# %h4= "Optional fields"
    .entry.company_info.select
      .company_name.left_field
        = f.label :company_name, "Company name", :class => "icon"
        = f.text_field :company_name, :class => "text no_icon", :placeholder => "Company name"
      .company_employees.right_field
        = f.label :company_employees, "Company size", :class => "icon"
        = f.select :company_employees, options_for_select(["Company size", "1 employee", "2-5 employees", "6-20 employees", "21-100 employees", "101-1000 employees", ">1001 employees"], :disabled => "Company size")

      .spacer
    .entry.use
      %label.main= "Use of SublimeVideo:"
      .checkbox_wrap
        - if resource.errors.key?(:use)
          .inline_errors
            %span= resource.errors[:use].first
        = f.check_box :use_personal
        = f.label :use_personal, "Personal"
      .checkbox_wrap
        = f.check_box :use_company
        = f.label :use_company, "For my company"
      .checkbox_wrap
        = f.check_box :use_clients
        = f.label :use_clients, "For my clients"

  .entry.terms
    .checkbox_wrap
      = f.check_box :terms_and_conditions
      = f.label :terms_and_conditions, "I agree to the #{link_to("Terms & Conditions", page_path("terms"), :onclick => "window.open(this); return false")}.".html_safe

  .entry.submit.signup
    = f.submit "Sign Up"
    .spacer

  -# #signup_quotes
  -#   %blockquote.wired
  -#     = "A uniform, cross-browser, multiple-codec compatible, HTML5 video-embedding solution."
  -#   %p.author.wired= "Webmonkey, Wired, 2010."
  -#   %blockquote.oreilly
  -#     = "Wow. Sublime Video HTML5 video player. Looks awesome."
  -#   %p.author.oreilly= "Tim O'Reilly, 2010."